﻿﻿.face-to-ekyc .wrap__two__content__img {
    max-width: 100%!important;
}
.face-to-ekyc .sForm__infoWrap__right__content .wrap__buton__capture {
    position: absolute;
    top: 75% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.face-to-ekyc .card_upload_button .text-first {
    display:none;
}
.face-to-ekyc .wrap__two__content__img__body{
    position: relative;
    /*
    background-image: url(/images/bg-img-one.svg);
    */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.hople{
    color:#5bd210;
}
.sosanh{
    color:#5bd210;
}

#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 60px;
    height: 60px;
    border-style: solid;
    border-color: #f31f1f;
    border-top-color: transparent;
    border-width: 9px;
    border-radius: 58%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}
.thongtincanhan .wrap__two img{
    position:unset!important;
    transform:none;
}
.thongtincanhan #imagefront img{
    border-radius: 10px;
    width: 200px;
    height: auto;
}
.thongtincanhan #imageback img{
    border-radius: 10px;
    width: 200px;
    height: auto;
}
.thongtincanhan #imagecmnd img{
    border-radius: 10px;
    width: 200px;
    height: auto;
}
.thongtincanhan #imageback img{
    margin-top: 30px;
    width: 200px;
    height: auto;
}
.thongtincanhan #imagecmnd img{
    margin-top: 30px;
    width: 200px;
    height: auto;
}
#exampleCheck1{
    height:30px;
    width:30px;
}
.checkbox-rules{
    color:red;
}
#account .card {
    -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
    border-radius: 0px;
    padding:10px 0px 0px!important;
}
#account .card  #button-about {
    padding-top:30px;
    }


#modal-camera .modal-body{
    text-align:center;
}
#modal-camera .modal-body .text-modal{
    margin-top: 20px;
    color: black;
    text-align: center;
}
#modal-camera .modal-footer #btn-close{
    color:#ffffff;
    background: #191919;
}
#modal-camera .modal-footer .btn-yellow{
        color: #ffff;
    background: #ed1c24;
    float: left;
}
#modal-camera .modal-header{
    text-align: -webkit-center;
    width: 100%;
}
#modal-camera .modal-header .modal-title{
    width: 100px;
    color: red;
    font-weight: 700;
    border-bottom: 1px solid;
}

@media (min-width: 1024px) {
    .face-to-ekyc #results_front_camera::before {
        padding-bottom: calc(380 / 680 * 100%);
        width: 100%;
        max-width: 264px;
        margin: auto;
        content: '';
        position: absolute;
        z-index: 5;
        left: 0;
        right: 0;
        top: calc(50% - 20px);
        transform: translateY(-50%);
        background-image: url('../../images/bg-camera.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
    .face-to-ekyc .card_upload_button{
        display:none!important;
    }
}



#modal-error-ekyc .modal-body{
    text-align:center;
}
#modal-error-ekyc .modal-body .text-modal{
    margin-top: 20px;
    color: black;
    text-align: left;
}
#modal-error-ekyc .modal-footer #btn-close{
    color:#ffffff;
    background: #191919;
}
#modal-error-ekyc .modal-footer .btn-yellow{
    color: #ffff;
    background:#ed1c24;
    float: left;
}
#modal-error-ekyc .modal-footer .btn-yellow a{
    color:#ffff;
}
#modal-error-ekyc .modal-header{
    text-align: -webkit-center;
    width: 100%;
}
#modal-error-ekyc .modal-header .modal-title{
    width: 100px;
    color: red;
    font-weight: 700;
    border-bottom: 1px solid;
}
