@import url(fonts-opensans.css);
@import url(fonts-roboto-condensed.css);
@import url(libs.css);
@import url(style.css);
@import url(customize.css);
/*@import url(main.css);*/
.posr {
  position: relative;
}
.posa {
  position: absolute;
}
.posf {
  position: fixed;
}
.fri {
  float: right !important;
}
.pl0 {
  padding-left: 0 !important;
}
.pr0 {
  padding-right: 0 !important;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.taj {
  text-align: justify;
}
.ttu {
  text-transform: uppercase;
}
.tdu {
  text-decoration: underline;
}
.tdn {
  text-decoration: none;
}
.fwb {
  font-weight: bold;
}
.curp {
  cursor: pointer;
}
.ovfh {
  overflow: hidden;
}
.dtb {
  display: table;
}
.dtbc {
  display: table-cell;
}
.table-less {
  display: none;
}
.red {
  color: #f00;
}
.green {
  color: #039a15;
}
select * {
  display: block !important;
  width: auto;
}
.inputDate {
  max-width: 137px;
}
.rangerFilter .table-data > table td .inputFilter {
  width: 120px;
}
.box-flex-item-center {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  .hidden-devide-1024 {
    display: none !important;
  }
}
@media (min-width: 1025px) {
  .show-devide-1024 {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .hidden-devide-768 {
    display: block !important;
  }
}
@media (min-width: 769px) {
  .show-devide-768 {
    display: none !important;
  }
}
/* parttern */
.body-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000000000;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  opacity: 0;
  pointer-events: none;
}
.body-popup > .body-popup-inner {
  position: relative;
  max-width: 1000px;
  width: 92%;
  padding: 40px;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 1s .2s ease;
  -moz-transition: all 1s .2s ease;
  transition: all 1s .2s ease;
  -webkit-transform: scale(0.8, 0.8);
  -moz-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}
.body-popup.active {
  opacity: 1 !important;
  pointer-events: all !important;
}
.body-popup.active > div {
  opacity: 1 !important;
  pointer-events: all !important;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  transform: scale(1, 1);
}
.body-popup:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.body-popup > div {
  position: relative;
  background-color: #fff;
  z-index: 10;
}
.body-popup .body-popup-close {
  position: absolute;
  top: -7px;
  right: 10px;
  font-size: 36px;
  z-index: 1000;
  color: #606060;
}
.box-flex-item-center {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-content: center;
  -moz-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.loading-popup > div {
  padding: 6px;
  width: 200px;
  text-align: center;
  background-color: rgba(250, 250, 250, 0.9);
  border-radius: 5px;
  font-size: 18px;
}
.loading-popup span,
.loading-popup img {
  display: inline-block;
  vertical-align: middle;
}
.loading-popup img {
  width: 50px;
}
/* site partner popup */
@media (max-width: 1024px) {
  .body-popup {
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
    display: block !important;
  }
  .body-popup > .body-popup-inner {
    display: block;
    margin: 40px auto;
  }
}
@media (max-width: 768px) {
  .body-popup > .body-popup-inner {
    padding: 20px;
  }
}
#analyze .nav-finger,
#branch .nav-finger,
#branch-detail .nav-finger {
  padding-bottom: 32px;
}
#analyze .nav.secound,
#branch .nav.secound,
#branch-detail .nav.secound {
  margin-bottom: 28px;
}
#analyze .nav.third,
#branch .nav.third,
#branch-detail .nav.third {
  margin-bottom: 27px;
}
#analyze .nav.fourth,
#branch .nav.fourth,
#branch-detail .nav.fourth {
  margin-top: 36px;
}
#analyze .table-data,
#branch .table-data,
#branch-detail .table-data {
  margin-top: 35px;
  margin-bottom: 35px;
}
.nav-finger {
  width: 100%;
  padding-bottom: 20px;
}
.nav-finger a {
  display: block;
  position: relative;
  text-transform: uppercase;
  color: #414141;
  background-color: #ebebeb;
  font-size: 22.79px;
  padding: 13px 27px 7px 27px;
}
.nav-finger li {
  float: left;
  margin-right: 4px;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
.nav-finger li.active {
  border-right: 3px solid;
  border-bottom: 3px solid rgba(255, 0, 0, 0.2);
  border-color: rgba(255, 0, 0, 0.2) !important;
}
.nav-finger li.active a {
  padding: 10px 27px 7px;
  font-size: 24px;
  color: #fff;
  background-color: #F60101;
}
.nav-finger li.active a:before {
  content: "";
  position: absolute;
  width: 19px;
  left: 50%;
  top: 100%;
  margin-left: -10px;
  border-top: 10px solid #ff0000;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  z-index: 100;
}
@media (max-width: 768px) {
  .nav-finger li.active a:before {
    display: none;
  }
}
.nav.secound {
  border-bottom: 1px solid #a2a2a2;
}
.nav.secound a {
  position: relative;
  display: block;
  font-weight: bold;
  font-size: 18px;
  color: #414141;
  text-transform: uppercase;
  text-align: center;
  border-right: 1px solid #a2a2a2;
  height: 27px;
  line-height: 4px;
  white-space: nowrap;
  padding: 0 !important;
}
.nav.secound a:hover {
  color: #f00 !important;
  background-color: transparent;
}
.nav.secound a img {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -9px;
  width: 18px;
  height: 9px;
  z-index: 1;
  pointer-events: none;
}
.nav.secound li {
  float: left;
  width: 25%;
}
.nav.secound li:last-child a {
  border-right: none;
}
.nav.secound li.active a {
  color: #f00;
}
.nav.secound li.active a img {
  display: block;
}
.nav.third {
  border-bottom: 1px solid #f00;
}
.nav.third a {
  display: block;
  padding: 0 14px;
  font-size: 18px;
  border-radius: none;
  border-top: none !important;
  border-left: none !important;
  border-bottom: none !important;
  border-right: 1px solid #a2a2a2;
  line-height: 16px;
  height: 17px;
}
.nav.third a:hover {
  background-color: transparent;
  color: #f00 !important;
  border-radius: none;
  border-bottom: none !important;
  border-top: none !important;
  border-left: none !important;
}
.nav.third li {
  float: left;
  padding: 7px 0;
}
.nav.third li:first-child a {
  padding-left: 0;
}
.nav.third li:last-child a {
  border-right: none;
}
.nav.third li.active a {
  color: #f00;
}
.nav.fourth {
  border-bottom: none;
}
.nav.five {
  border-bottom: 1px solid #a2a2a2;
}
.nav.five a {
  display: block;
  font-size: 15px;
  font-weight: 500;
  color: #414141;
  text-align: center;
  border-right: 1px solid #a2a2a2;
  height: 19px;
  line-height: 14px;
  padding: 0 25px;
}
.nav.five a:hover {
  color: #f00 !important;
  background-color: transparent;
}
.nav.five a img {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -9px;
  width: 18px;
  height: 9px;
  z-index: 1;
  pointer-events: none;
}
.nav.five li {
  float: left;
}
.nav.five li:last-child a {
  border-right: none;
}
.nav.five li.active a {
  color: #f00;
}
.nav.five li.active a img {
  display: block;
}
.nav-filter {
  overflow: hidden;
  font-size: 16px;
  color: #545454;
}
.nav-filter * {
  display: inline-block;
  vertical-align: middle;
}
.nav-filter > label {
  float: left;
  padding: 0 20px;
  font-weight: normal;
}
.nav-filter > label:first-child {
  padding-left: 0;
}
.nav-filter > label i {
  font-size: 20px;
  margin-left: 3px;
  padding: 0px 5px;
  border: 1px solid #ababab;
}
.nav-filter > label input,
.nav-filter > label select {
  padding: 3px 9px;
  border: 1px solid #ababab;
}
.nav-filter select {
  width: 72px;
  font-size: 15px;
  padding: 3px 5px;
  font-weight: 300;
}
.nav-filter nav > * {
  float: left;
  display: block;
}
.nav-filter nav > * li {
  float: left;
  display: block;
}
.nav-filter nav > * li.active a {
  background-color: #ff0000;
  color: #fff;
}
.nav-filter nav a {
  float: left;
  margin-right: 4px;
  display: block;
  text-align: center;
  padding: 0 6px;
  line-height: 23px;
  font-size: 18px;
  color: #414141;
  background-color: #e6e6e6;
  height: 23px;
}
.nav-filter nav > a {
  line-height: 19px;
}
.btn-view {
  display: block;
}
.btn-view span {
  display: inline-block;
  vertical-align: middle;
}
.btn-view span:nth-child(1) {
  padding: 0 10px;
  line-height: 30px;
  color: #fff;
  background-color: #ff0000;
}
.btn-view span:nth-child(2) {
  margin-left: 3px;
  padding: 3px 5px;
  border: 1px solid #ababab;
}
.btn-view span:nth-child(2) img {
  display: block;
}
.btn-blue {
  font-size: 16px;
  background-color: #262e42;
  color: #fff;
  line-height: 30px;
  padding: 0 15px;
}
.btn-blue:hover {
  color: #fff !important;
}
.tali {
  text-align: left !important;
}
.table-data {
  width: 100%;
  max-width: 1197px;
  margin: 0 auto;
  overflow-x: auto;
}
.table-data > table {
  min-width: 100%;
  margin: 0 auto;
}
.table-data > table td {
  padding: 5px 15px !important;
  text-align: center;
  /*border: 1px solid rgba(97, 48, 48, 0.08);*/
}
.table-data > table tr:nth-of-type(2n+1) {
  background-color: rgba(210, 201, 201, 0.11);
}
.table-data > table thead {
  border-bottom: 1px solid #a2a2a2;
}
.table-data > table thead th {
  text-align: center;
  /*border: 1px solid rgba(97, 48, 48, 0.08);*/
  font-size: 14px;
  padding: 6px 12px;
  font-weight: 500;
  background-color: rgba(210, 201, 201, 0.21);
}
.table-data > .giao-dich-noi-bo table {
  width: 100%;
}
.table-data > .giao-dich-noi-bo table tr:nth-child(2) td {
  color: #414141;
  background-color: #EBEBEB;
}
.table-data > .giao-dich-noi-bo table td {
  padding: 8px 15px;
}
.table-data > .giao-dich-noi-bo > tbody > tr > td:nth-of-type(10),
.table-data > .giao-dich-noi-bo > tbody > tr > td:nth-of-type(11),
.table-data > .giao-dich-noi-bo > tbody > tr > td:nth-of-type(12) {
  background-color: #EBEBEB;
  color: #414141;
}
.table-data.two th {
  padding: 8px 15px;
  font-weight: normal !important;
}
.table-data.two td.active {
  border-top: 1px solid #fff;
  background-color: #DEDCDC;
}
.table-nav-filter {
  font-size: 16px;
  color: #545454;
}
.table-nav-filter i {
  height: 30px;
  font-size: 20px;
  margin-left: 3px;
  padding: 0px 5px;
  border: 1px solid #ababab;
}
.table-nav-filter input,
.table-nav-filter select {
  font-size: 14px;
  padding: 4px 9px;
  border: 1px solid #ababab;
}
.table-nav-filter select {
  width: 110px;
  font-size: 15px;
  padding: 3px 5px;
  font-weight: 300;
}
.table-nav-filter input {
  max-width: 74px;
}
.table-nav-filter td {
  padding-top: 7px;
  padding-bottom: 7px;
}
.table-nav-filter td > * {
  display: inline-block;
  vertical-align: middle;
}
.table-nav-filter td:nth-child(1) {
  padding-left: 70px;
  padding-right: 25px;
}
.table-nav-filter td:nth-child(2) {
  text-align: left;
}
.table-nav-filter a i {
  border: none;
}
.chart {
  padding: 30px 50px;
  border: 1px solid #e9e9e9;
}
.chart-canvas {
  overflow-y: auto;
}
.col-xs-12 > * {
  max-width: 1097px;
  margin: 0 auto;
}
#branch .table-data.one table {
  border: 1px solid #ababab;
}
#branch .table-data.one thead {
  background-color: #f0f0f0;
  border-top: 1px solid #c2c2c2;
  border-bottom: none;
}
#branch .table-data.one thead th {
  font-weight: normal;
  padding: 16px;
}
#branch .table-data.one thead th:last-child {
  border-left: 1px solid #ababab;
}
#branch .table-data.one tbody tr:nth-child(1) td:last-child {
  border-left: 1px solid #ababab;
}
#branch .table-data.two table thead {
  padding-top: 7px;
  background-color: #012233;
  color: #fff !important;
  font-family: "Roboto Condensed";
  font-weight: 300 !important;
}
#branch h3 + .nav-filter {
  margin-top: 10px;
}
#branch .table-data.third tr.child td:nth-child(1) {
  padding-left: 28px;
}
#branch .table-data.third tr.active td:nth-child(1) > a,
#branch .table-data.third tr.active td:nth-child(1) > i {
  color: #f00;
}
#branch .table-data.third td {
  padding: 10px 15px 0px 15px;
}
#branch .table-data.third td:nth-child(1) {
  text-align: left;
}
#branch .table-data.third td:nth-child(1) a {
  padding-left: 10px;
}
#branch .table-data.third td:hover > a,
#branch .table-data.third td:hover > i {
  color: #f00 !important;
}
#branch-detail .box.one {
  max-width: 1097px;
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid #c2c2c2;
}
#branch-detail .box.one .box-head {
  background-color: #f0f0f0;
  padding: 11px 26px;
  font-size: 18px;
}
#branch-detail .box.one .box-head > * {
  display: inline-block;
  vertical-align: middle;
}
#branch-detail .box.one .box-head span {
  margin-right: 23px;
}
#branch-detail .box.one .box-head select {
  line-height: 30px;
  background-color: #fff;
  border-radius: 3px;
  padding: 5px 30px 5px 20px;
  border: none;
}
.tab.child {
  display: none;
}
#branch-detail .table-data td {
  padding: 8px 15px;
}
#branch-detail .table-data thead th {
  padding-bottom: 5px;
}
.table-data.global th {
  font-size: 16px;
  padding-bottom: 5px;
  text-align: center;
}
.table-data.global td {
  padding: 5px 0;
  text-align: center;
}
.nav .bx-controls {
  display: none;
}
.box-pri-fluctuations {
  position: relative;
  margin-top: -29px;
  padding: 23px 50px 15px;
  background-color: #f4f4f4;
  z-index: 100;
  box-shadow: 8px 8px 4px #D8D5D5;
}
.box-pri-fluctuations > h3 {
  text-transform: uppercase;
  font-size: 18px;
  color: #414141;
  line-height: 1.4;
  margin-bottom: 11px;
}
@media (max-width: 768px) {
  .box-pri-fluctuations {
    margin: 0 !important;
    padding: 10px !important;
  }
  .box-pri-fluctuations > * {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .box-pri-fluctuations .table-data {
    display: block;
  }
}
.box-pri-fluctuations > p {
  font-size: 16px;
  color: #6d6d6d;
}
.box-pri-fluctuations .table-data {
  margin-bottom: 0 !important;
  margin-top: 15px !important;
  border-top: 1px solid #adadad;
}
.box-pri-fluctuations .table-data th {
  padding-top: 10px;
}
.box-pri-fluctuations .table-data td,
.box-pri-fluctuations .table-data th {
  padding: 5px;
  text-align: center;
}
.box-pri-fluctuations .table-data td {
  vertical-align: top;
}
.data-fluctuations i {
  font-size: 30px;
  padding-top: 7px;
  padding-right: 8px;
  float: left;
  padding-left: 6px;
}
.data-fluctuations > div {
  overflow: hidden;
  padding: 9px;
}
.data-fluctuations > div > a {
  display: block;
  margin-bottom: 0;
  color: #414141;
  font-size: 14px;
  line-height: 1;
  font-weight: bold;
  padding-bottom: 8px;
  white-space: nowrap;
}
.data-fluctuations > div li {
  line-height: 1;
  white-space: nowrap;
}
.data-fluctuations.active {
  background-color: #ebebeb;
}
.navigation-chart li {
  display: inline-block;
  vertical-align: middle;
  margin: 1.5px;
}
.navigation-chart li a {
  display: block;
  padding: 8px 12px;
  background-color: #d5d5d5;
  color: #414141;
  font-size: 14px;
}
.nav-sub-one {
  border-bottom: 1px solid #adadad;
  padding-bottom: 9px;
}
.nav-sub-one a {
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}
.nav-sub-one a span {
  display: inline-block;
}
.nav-sub-one a i {
  display: inline-block;
  margin-left: 7px;
  float: none;
}
.nav-sub-one li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 70px;
}
.nav-sub-one li.active a {
  color: #f60101;
}
.nav-sub-one li:last-child {
  margin-right: 0;
}
.sidebar-right.one .label.layer {
  display: block;
  border-radius: 0;
  color: #fff;
  font-size: 16px;
  padding: 6px 10px;
  text-align: left;
  background-color: #f00;
}
.sidebar-right.one .sibar-list {
  margin: 13px 0;
}
.sidebar-right.one .sibar-list li {
  display: block;
  margin-bottom: 10px;
}
.sidebar-right.one .sibar-list li a {
  color: #545454;
  display: inline-block;
}
.sidebar-right.one .sibar-list.has-thumbnail li {
  margin-bottom: 16px;
}
.sidebar-right.one .sibar-list.has-thumbnail li a {
  display: table;
}
.sidebar-right.one .sibar-list.has-thumbnail li img {
  width: 50px;
}
.sidebar-right.one .sibar-list.has-thumbnail li span {
  padding-left: 10px;
}
.sidebar-right.one .sibar-list.has-thumbnail li img,
.sidebar-right.one .sibar-list.has-thumbnail li span {
  display: table-cell;
  vertical-align: middle;
}
.thumbnail-news {
  margin: 5px 0;
}
.thumbnail-news a {
  display: table;
}
.thumbnail-news img {
  width: 50px;
}
.thumbnail-news span {
  padding-left: 10px;
}
.thumbnail-news img,
.thumbnail-news span {
  display: table-cell;
  vertical-align: middle;
}
.cur-date {
  float: left;
  width: 70px;
  height: 70px;
  background-color: #f00;
  text-align: center;
  padding: 14px 5px;
  color: #fff;
}
.date-panel {
  float: left;
  width: calc(30%);
  padding-left: 13px;
}
.date-panel .ui-datepicker-inline {
  box-shadow: none;
  border: 1px solid #f3f3f3;
}
.date-panel .ui-datepicker-header {
  border: none !important;
  box-shadow: none;
}
.date-panel .ui-datepicker {
  margin-top: 0;
}
.date-panel .ui-datepicker th {
  font-size: 12px;
  font-weight: bold;
}
.date-panel td,
.date-panel tr {
  border: none !important;
}
.date-panel > div {
  border: 1px solid #BBB;
  width: 100%;
  background-color: #f3f3f3;
}
.date-panel > div * {
  background-color: transparent;
}
.date-panel > div .ui-state-default {
  display: block;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.date-panel > div .ui-state-default.ui-state-active {
  border: none;
  box-shadow: none;
  color: #Fff !important;
  background-color: #f00;
  text-shadow: none !important;
}
.table-nav-filter.two {
  width: 100%;
}
.table-nav-filter.two button {
  border: none;
  background-color: transparent;
}
.table-nav-filter.two td {
  padding: 5px !important;
}
.table-nav-filter.two td input {
  width: 100%;
}
.hover-title {
  cursor: pointer;
}
.hover-title:before {
  content: "";
  display: none;
  position: absolute;
  top: -9px;
  left: 50%;
  margin-left: -4px;
  border-top: 8px solid #262E42;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
.hover-title div.posa {
  display: none;
  bottom: 120%;
  pointer-events: none;
  left: 50%;
  height: auto;
  padding: 15px;
  color: #FFF !important;
  max-width: 350px;
  min-width: 310px;
  background-color: #262E42;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.hover-title div.posa h4 {
  padding-left: 0;
  padding-right: 0;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 10px;
  text-align: left;
  line-height: 22px;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}
.hover-title div.posa p {
  padding: 5px 0;
  margin-bottom: 0;
}
.hover-title:hover:before {
  display: block;
}
.hover-title:hover div.posa {
  display: block;
}
.infor-inside i {
  pointer-events: none;
  opacity: 0;
  margin-left: 5px;
  font-size: 25px;
  cursor: pointer;
  color: #f00;
  vertical-align: middle;
}
.infor-inside i .elementShow {
  opacity: 0;
  pointer-events: none;
  bottom: 90%;
  left: 0;
  z-index: 1;
  min-width: 100%;
  color: #fff !important;
  width: 400px;
  background-color: #262E42;
  z-index: 10000;
}
.infor-inside i.active {
  opacity: 1 !important;
  pointer-events: all !important;
}
.infor-inside i.active .elementShow {
  opacity: 1 !important;
  pointer-events: all !important;
}
.infor-inside:hover i {
  pointer-events: all;
  opacity: 1;
}
.hasborder td,
.hasborder th {
  border: 1px solid #A2A2A2;
  padding: 50px 30px !important;
}
@media (max-width: 1024px) {
  .nav-filter > label {
    padding: 0 10px;
  }
  .nav-filter input {
    width: 90px;
  }
  .table-data > table {
    width: 890px;
  }
  .nav-finger a {
    padding: 8px 14px !important;
    font-size: 14.79px;
  }
  .nav-finger li.active a {
    padding: 5px 18px !important;
    font-size: 18px;
  }
  .nav.secound a {
    font-size: 17px;
    line-height: 13px;
  }
}
@media (max-width: 960px) {
  .table-less {
    display: block !important;
  }
}
@media (max-width: 768px) {
  #analyze > *,
  #branch > * {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  #analyze .nav-finger,
  #analyze .nav.secound,
  #analyze .nav.third,
  #analyze .nav.fourth,
  #analyze .table-data,
  #branch .nav-finger,
  #branch .nav.secound,
  #branch .nav.third,
  #branch .nav.fourth,
  #branch .table-data,
  #branch-detail .nav-finger,
  #branch-detail .nav.secound,
  #branch-detail .nav.third,
  #branch-detail .nav.fourth,
  #branch-detail .table-data {
    padding-bottom: 10px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  #analyze .table-data,
  #branch .table-data,
  #branch-detail .table-data {
    padding-top: 20px !important;
    margin-bottom: 20px !important;
  }
  .nav-finger li a {
    font-size: 15.79px;
  }
  .nav-finger li.active a {
    font-size: 18px;
  }
  .nav.secound {
    border-bottom: none;
    padding-left: 15px;
    padding-right: 15px;
  }
  .nav.secound li {
    width: 100%;
    margin: 5px;
  }
  .nav.secound a {
    font-size: 14px;
    line-height: 1;
    border-right: none;
    text-align: left;
    height: auto !important;
  }
  .nav.secound a img {
    display: none !important;
  }
  .nav.third {
    border-bottom: none;
  }
  .nav.third li {
    width: 100%;
    margin: 6px;
    padding: 0;
  }
  .nav.third a {
    padding: 0 !important;
    font-size: 14px;
    border-bottom: none;
    border-right: none;
    height: auto !important;
  }
  .nav-filter label {
    padding: 5px 0px;
    width: 25%;
  }
  .nav-filter input,
  .nav-filter select {
    display: block;
  }
  .nav-filter input + i,
  .nav-filter select + i {
    display: none;
  }
  .nav-filter .btn-view {
    float: left;
    margin-top: 20px;
  }
  #analyze .nav.secound,
  #branch .nav.secound {
    margin-bottom: 17px;
  }
  #wrapper-top-content .banner h1.title-page {
    padding-left: 4%;
  }
  .nav-filter nav {
    float: left !important;
  }
}
@media (max-width: 640px) {
  .nav-filter br {
    display: none;
  }
  .nav-filter label {
    padding: 5px 0px;
    width: 100%;
  }
  .nav-filter label select,
  .nav-filter label input {
    width: 100% !important;
  }
  .nav-filter .btn-view {
    float: left !important;
  }
  .nav-filter nav {
    margin-top: 10px;
  }
  .nav-filter.bottom select {
    width: 57px;
  }
  .table-nav-filter td:nth-child(1) {
    padding-left: 0px;
    padding-right: 25px;
  }
  #analyze .col-xs-5,
  #analyze .col-xs-7 {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  #analyze .chart {
    display: none;
  }
  #branch-detail .box.one {
    display: none;
  }
}
/* DatePicker Container kiennt delete use jquery_ui*/
#branch .table-data.third tr.child td:nth-child(1) {
  padding-left: 28px;
}
#branch .table-data.third tr.active td:nth-child(1) > a,
#branch .table-data.third tr.active td:nth-child(1) > i {
  color: #f00;
}
#branch .table-data.third td {
  padding: 10px 15px 0px 15px;
}
#branch .table-data.third td:nth-child(1) {
  text-align: left;
}
#branch .table-data.third td:nth-child(1) a {
  padding-left: 10px;
}
#branch .table-data.third td:hover > a,
#branch .table-data.third td:hover > i {
  color: #f00 !important;
}
.table-has-tabs .parent-collap {
  cursor: pointer;
}
.table-has-tabs .parent-collap td:nth-child(1) .fa-minus-square {
  display: none;
}
.table-has-tabs .parent-collap td:nth-child(1) .fa-plus-square {
  display: table-cell;
}
.table-has-tabs .parent-collap.active td:nth-child(1) .fa-minus-square {
  display: table-cell;
}
.table-has-tabs .parent-collap.active td:nth-child(1) .fa-plus-square {
  display: none;
}
.table-has-tabs .collap {
  display: none;
}
.table-has-tabs .collap td:nth-child(1) .fa-circle {
  padding-left: 20px;
}
.table-has-tabs .collap.active {
  display: table-row !important;
}
.table-has-tabs td:nth-child(1) a,
.table-has-tabs td:nth-child(1) i {
  display: table-cell;
}
.table-has-tabs .parent-collap {
  cursor: pointer;
}
.table-has-tabs .parent-collap td:nth-child(1) .fa-minus-square {
  display: none;
}
.table-has-tabs .parent-collap td:nth-child(1) .fa-plus-square {
  display: table-cell;
}
.table-has-tabs .parent-collap.active td:nth-child(1) .fa-minus-square {
  display: table-cell;
}
.table-has-tabs .parent-collap.active td:nth-child(1) .fa-plus-square {
  display: none;
}
.table-has-tabs .collap {
  display: none;
}
.table-has-tabs .collap td:nth-child(1) .fa-circle {
  padding-left: 20px;
}
.table-has-tabs .collap.active {
  display: table-row !important;
}
/* page trung-tam-phan-tich--doanh-nghiep--thong-tin-doanh-nghiep  */
.chart-note {
  padding-top: 20px;
}
.chart-note .item {
  display: block;
}
.chart-note .item:before,
.chart-note .item:after {
  display: table;
  content: "";
}
.chart-note .item .color {
  width: 17px;
  height: 11px;
  float: left;
}
.chart-note .item .text {
  width: calc(100% - 17px);
  float: left;
  padding-left: 10px;
  line-height: 1;
  margin-top: -1px;
}
.download-tai-lieu-theo-nam {
  max-width: 760px;
  margin: 40px auto;
  overflow: hidden;
}
.download-tai-lieu-theo-nam .list-dau-muc {
  display: block;
}
.download-tai-lieu-theo-nam .list-dau-muc i {
  float: left;
  padding-left: 7px;
  color: #bcbcbc;
}
.download-tai-lieu-theo-nam .list-dau-muc span {
  overflow: hidden;
  display: block;
  padding-left: 6px;
  font-size: 15px;
}
.download-tai-lieu-theo-nam .left {
  border-right: 1px solid #bcbcbc;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 0;
}
.download-tai-lieu-theo-nam .left .item {
  position: relative;
  border-top: 1px solid #414141;
  padding-top: 30px;
  padding-bottom: 60px;
}
.download-tai-lieu-theo-nam .left .item:before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bcbcbc;
  z-index: 100;
}
.download-tai-lieu-theo-nam .left .item .date-year {
  display: block;
  position: absolute;
  top: -16px;
  left: 0;
  font-size: 15px;
  padding: 5px 20px;
  background-color: #bcbcbc;
  color: #4c4c4c;
}
.download-tai-lieu-theo-nam .left .item.active {
  border-top: 1px solid #f60101;
}
.download-tai-lieu-theo-nam .left .item.active .date-year {
  background-color: #f60101;
  color: #fff;
  white-space: nowrap;
}
.download-tai-lieu-theo-nam .left .item.active:before {
  background-color: #f60101;
}
.download-tai-lieu-theo-nam .right {
  padding: 30px 40px;
}
.download-tai-lieu-theo-nam .right .label-layout {
  font-size: 15px;
  padding: 5px 20px;
  background-color: #bcbcbc;
  color: #4c4c4c;
  text-transform: uppercase;
}
.download-tai-lieu-theo-nam .right .list-dau-muc {
  padding: 20px 0;
}
.download-tai-lieu-theo-nam .right .list-dau-muc .item {
  margin-bottom: 15px;
}
.download-tai-lieu-theo-nam .right .select-options select {
  display: block;
  margin: 20px auto;
  color: #bcbcbc;
  min-width: 80%;
  border: 1px solid #bcbcbc;
  padding: 4px 7px;
}
/* trang tin tuc menu second */
.nav.secound.news-list-term {
  margin-bottom: 42px !important;
}
.nav.secound.news-list-term ul li {
  width: 25%;
}
@media (max-width: 768px) {
  .nav.secound.news-list-term ul li {
    width: 100%;
  }
}
/* trang tin tuc danh sach */
.news-layer {
  margin-bottom: 20px;
}
.news-layer .layer-label {
  display: block;
  border-radius: 0;
  color: #fff;
  font-size: 16px;
  padding: 6px 10px;
  text-align: left;
  background-color: #f00;
  margin-bottom: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.news-layer .viewmore {
  color: #4254c0;
  font-size: 13px;
  text-decoration: underline;
  display: inline-block;
  font-style: italic;
}
.news-layer a:hover {
  color: inherit;
}
.news-layer-thumnails {
  overflow: hidden;
}
.news-layer-thumnails h3 {
  margin-top: 15px;
}
.news-layer-thumnails h3 a {
  display: block;
  font-size: 15px;
  line-height: 21px;
  color: #414141;
  font-weight: bold;
}
.news-layer-thumnails.category.hightlights {
  margin-bottom: 30px;
  display: table;
}
.news-layer-thumnails.category.hightlights .img {
  display: table-cell;
  width: 50%;
  height: 180px;
  background-position: center center;
  background-size: cover;
}
.news-layer-thumnails.category.hightlights .text {
  display: table-cell;
  overflow: hidden;
  padding-left: 22px;
  vertical-align: top;
}
.news-layer-thumnails.category.hightlights .text h3 {
  margin-top: 0;
  margin-bottom: 20px;
}
.news-layer-thumnails.category.hightlights .text h3 a {
  font-size: 19px;
  font-weight: normal;
  line-height: 24px;
  text-transform: none;
}
.news-layer-list {
  margin-top: -2px;
}
.news-layer-list > ul li {
  margin-bottom: 3px;
}
.news-layer-list > ul li a {
  display: block;
  overflow: hidden;
  color: #414141;
  height: 46px;
}
.news-layer-list > ul li a > i {
  float: left;
  width: 15px;
}
.news-layer-list > ul li a > span {
  float: left;
  width: calc(100% - 15px);
  line-height: 22px;
}
/* trang tin tuc chi tiet */
.news-details-content h1 {
  font-weight: bold;
  /*text-transform: uppercase;*/
  color: #414141;
  margin-bottom: 15px;
  font-size: 26px;
}
.news-details-content .post-tools-share {
  text-align: right;
}
.news-details-content .time {
  padding-top: 9px;
}
.news-details-content .facebook-post {
  margin: 15px 0 30px;
}
.news-details-content .the-content {
  font-size: 17px;
}
.news-details-content .news-excerpt {
  font-weight: bold;
  font-size: 17px;
  margin: 20px 0;
}
.post-tools-share li {
  display: inline-block;
  margin: 5px 6px;
}
.post-tools-share li a {
  display: block;
  color: #414114;
  font-size: 19px;
}
.wrap-note {
  margin: 15px 0;
  padding: 20px;
  color: #414141;
  background-color: #efefef;
  overflow: hidden;
}
/*kien modify width 60px change 50px */
.wrap-note > span {
  float: left;
  width: 50px;
}
.wrap-note > div.text {
  float: left;
  width: calc(100% - 60px);
  padding-left: 5px;
}
.icon-btn-gray {
  display: inline-block;
  border: 1px solid #A2A2A2;
  padding: 3px;
}
.icon-btn-gray img {
  display: block;
  -webkit-filter: grayscale(100%);
  /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}
/* news relate */
.news-relative-title {
  margin: 30px 0 10px;
  padding-bottom: 5px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid #bfbdbd;
}
/* cong cu loc doanh nghiep */
.cong-cu-nav-filter .site-group-form {
  margin: 5px 5px 5px 15px;
  display: inline-block;
  vertical-align: middle;
}
.cong-cu-nav-filter .site-group-form label,
.cong-cu-nav-filter .site-group-form select {
  display: inline-block;
  vertical-align: middle;
}
.cong-cu-nav-filter .site-group-form label {
  margin-right: 5px;
  font-weight: normal;
}
.cong-cu-nav-filter .btn-red {
  color: #fff;
  background-color: #f00;
  border: none;
  outline: none;
  padding: 0 59px;
  line-height: 30px;
  border-radius: 0;
  white-space: nowrap;
}
.site-group-form select {
  display: block;
  height: 30px;
  padding: 0 27px 0px 10px;
  min-width: 100px;
  border: 1px solid #b5b0b0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-image: url("../../images/caret-down.png");
}
.cong-cu-bang-ket-qua thead tr:nth-child(1) {
  font-weight: bold;
  text-transform: uppercase;
}
.cong-cu-bang-ket-qua thead tr:nth-child(1) input {
  display: inline-block;
  min-width: 0;
  text-align: center;
  color: #0d52a0;
  font-size: 15px;
  padding: 5px 0px;
  margin: 5px 0;
  border: 1px solid #ded8d8;
  width: 90px;
  background-color: rgba(250, 250, 250, 0.5);
  outline: none !important;
}
.cong-cu-bang-ket-qua thead tr:nth-child(1) span {
  display: block;
  text-align: center;
  color: #0d52a0;
  font-size: 15px;
  padding: 10px 0px;
}
.cong-cu-bang-ket-qua thead tr:nth-child(1) th:nth-child(1) {
  text-align: left;
  font-weight: bold;
}
.cong-cu-bang-ket-qua tbody tr:not(.point) td {
  padding: 8px 15px !important;
}
.cong-cu-bang-ket-qua tbody tr:not(.point) td:nth-child(1) {
  text-align: left;
  padding-left: 30px !important;
}
.cong-cu-bang-ket-qua tbody tr.point {
  font-weight: bold;
  padding-left: 10px;
  border-bottom: 1px solid #e0e0e0;
}
.cong-cu-bang-ket-qua tbody tr.point td {
  padding-top: 30px !important;
  padding-bottom: 10px !important;
}
.cong-cu-bang-ket-qua tbody tr.point td:nth-child(1) {
  text-align: left;
  font-size: 16px;
}
.cong-cu-chon-tieu-chi .panel-heading {
  background-image: none;
  padding: 0;
  background-color: transparent;
}
.cong-cu-chon-tieu-chi .cccct-children {
  max-height: 300px;
  overflow-y: auto;
}
.cong-cu-chon-tieu-chi .wrap-options {
  margin: 10px 0;
  padding: 20px;
  background-color: rgba(210, 201, 201, 0.11);
}
.cong-cu-chon-tieu-chi .wrap-options .list-one {
  border: none;
}
.cong-cu-chon-tieu-chi .wrap-options .list-one li {
  position: relative;
  display: block;
  margin-bottom: 5px;
  width: 100%;
}
.cong-cu-chon-tieu-chi .wrap-options .list-one li a {
  padding: 3px 10px;
  border: none !important;
  outline: none !important;
  background-color: transparent!important;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
.cong-cu-chon-tieu-chi .wrap-options .list-one li a:before {
  content: "\f0da";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  font-family: FontAwesome;
  display: block;
  line-height: 26px;
  color: transparent;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
.cong-cu-chon-tieu-chi .wrap-options .list-one li a:hover {
  color: #f00 !important;
}
.cong-cu-chon-tieu-chi .wrap-options .list-one li a:hover:before {
  color: #f00;
}
.cong-cu-chon-tieu-chi .wrap-options .list-one li.active a {
  color: #f00 !important;
}
.cong-cu-chon-tieu-chi .wrap-options .list-one li.active a:before {
  color: #f00;
}
.cong-cu-chon-tieu-chi .wrap-options .list-two {
  border: none;
  padding-top: 6px;
}
.cong-cu-chon-tieu-chi .wrap-options .list-two li {
  position: relative;
  display: block;
  margin-bottom: 3px;
  width: 100%;
}
.cong-cu-chon-tieu-chi .wrap-options .list-two li a {
  font-weight: normal;
  padding: 3px 8px;
  border: none !important;
  outline: none !important;
  background-color: transparent!important;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
.cong-cu-chon-tieu-chi .wrap-options .list-two li a:hover {
  color: #f00 !important;
}
.cong-cu-chon-tieu-chi .wrap-options .list-two li.active a {
  color: #f00 !important;
}
.cong-cu-chon-tieu-chi .wrap-options .list-two li.active a:before {
  color: #f00;
}
.cong-cu-chon-tieu-chi .wrap-options .list-two li .form-group input {
  float: left;
}
.cong-cu-chon-tieu-chi .wrap-options .list-two li .form-group label {
  display: block;
  padding-left: 10px;
  padding: 0px !important;
  overflow: hidden;
}
.cong-cu-chon-tieu-chi .dtb .dtbc:nth-child(1) {
  width: 30%;
}
.cong-cu-chon-tieu-chi .dtb .dtbc:nth-child(2) {
  width: 25%;
  vertical-align: top;
}
.cong-cu-chon-tieu-chi .dtb .dtbc:nth-child(3) {
  background-color: rgba(210, 201, 201, 0.11);
  padding: 20px;
}
.cong-cu-chon-tieu-chi .options-anchor-details {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
.cong-cu-chon-tieu-chi .options-anchor-details.active,
.cong-cu-chon-tieu-chi .options-anchor-details:hover {
  color: #ff0000;
}
.cong-cu-chon-tieu-chi .options-details {
  display: none;
}
.cong-cu-chon-tieu-chi .options-details.active {
  display: block !important;
}
.show-details {
  position: relative;
}
.show-details .tab-content {
  max-height: 145px;
  overflow: hidden;
}
.show-details .buttons {
  position: absolute;
  bottom: 12px;
  left: 17px;
  right: 0;
}
.show-details .buttons .btn-submit,
.show-details .buttons .btn-reset {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  padding: 0 17px;
  line-height: 27px;
  border-radius: 0;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
}
.show-details .buttons .btn-submit {
  color: #fff;
  background-color: rgba(13, 82, 160, 0.9);
}
.show-details .buttons .btn-reset {
  color: #6d6d6d;
  background-color: #efefef;
}
#btn-show-loc-doanh-nghiep {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
#btn-show-loc-doanh-nghiep.active {
  color: #f00 !important;
}
.list-words {
  display: inline-block;
  padding: 5px 0;
}
.list-words .word {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  color: #0d52a0;
  line-height: 23px;
  margin: 2px 1px;
  padding: 0px 6px;
  border: 1px solid #a2a2a2;
  font-size: 11px;
}
.cong-cu-btn-undo,
.cong-cu-btn-reset {
  border: none !important;
  outline: none !important;
  background-color: transparent;
}
.tin-tuc-chuyen-muc-title {
  text-transform: uppercase;
  font-size:22px;
  color: #f00;
  margin-bottom: 20px;
}
.excerpt {
    text-align:justify;
}
.news-list.has-thumbnails .news-item {
  display: block;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
}
.news-list.has-thumbnails .news-item .img {
  float: left;
  width: 50px;
}
.news-list.has-thumbnails .news-item .img .inner {
  height: 50px;
  width: 50px;
  background-size: cover;
  background-position: center center;
}
.news-list.has-thumbnails .news-item .text {
  float: left;
  width: calc(100% - 50px);
  overflow: hidden;
  padding-left: 20px;
}
.news-list.has-thumbnails .news-item .text .title {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 15px;
  margin-bottom: 10px;
  max-height: 22px;
  line-height: 20px;
}
.news-list.has-thumbnails .news-item .text .date {
  font-style: italic;
}
.main-login .section-login {
  background: #c8d7ee;
  /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#e4e7ec, #e4e7ec, #c8d7ee);
  /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#e4e7ec, #e4e7ec, #c8d7ee);
  /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#e4e7ec, #e4e7ec, #c8d7ee);
  /* For Firefox 3.6 to 15 */
  background: radial-gradient(#e4e7ec, #e4e7ec, #c8d7ee);
  /* Standard syntax */
}
.main-login .layout-left {
  overflow: hidden;
  padding-top: 84px;
  position: relative;
  padding-bottom: 80px;
}
.main-login .layout-left h1 {
  color: red;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}
.main-login .layout-left h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #071e4d;
  font-size: 30px;
  text-transform: uppercase;
}
.main-login .layout-left h3 {
  color: #071e4d;
  font-size: 19px;
  font-weight: normal;
  text-transform: uppercase;
}
.main-login .layout-left .img {
  float: right;
  margin-top: -107px;
}
.main-login .layout-left .news-top {
  position: absolute;
  bottom: 0;
  left: 0;
}
.main-login .layout-left .news-top .btn-tin-nong {
  color: #fff;
  background-color: red;
  display: inline-block;
  vertical-align: middle;
  padding: 4px 15px;
  text-transform: uppercase;
}
.main-login .layout-left .news-top .item {
  display: inline-block;
  vertical-align: middle;
}
.main-login .layout-left .news-top .item > * {
  display: inline-block;
  vertical-align: middle;
}
.main-login .layout-left .news-top .item > i {
  margin-left: 10px;
  margin-right: 3px;
}
.main-login .layout-left .news-top .item > i,
.main-login .layout-left .news-top .item > span {
  color: #f00;
  font-weight: bold;
}
.main-login .layout-right {
  padding-top: 40px;
}
.main-login .layout-right .form-login {
  width: 100%;
}
.main-login .layout-right .form-login .form-logo {
  padding: 10px;
  background-color: #fff;
  text-align: right;
}
.main-login .layout-right .form-login .site-form {
  background-color: #eaeff6;
  padding: 20px;
}
.main-login .layout-right .form-login .site-form i.fa-caret-right {
  color: #fd2e2e;
  margin-right: 3px;
}
.main-login .layout-right .form-login .site-form .btn-submit {
  color: #fff;
  background-color: #fd2e2e;
  border: 2px solid #e98f95;
  border-radius: 4px;
  padding: 0 15px;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: bold;
  width: 110px;
  line-height: 40px;
  font-size: 16px;
  margin-top: 5px;
}
.main-login .layout-right .form-login .site-form .site-form-group {
  margin-bottom: 7px;
}
.main-login .layout-right .form-login .site-form .site-form-group input {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 1px solid #a4a6ab;
  line-height: 40px;
  padding: 0 15px;
  outline: none !important;
}
.main-login .layout-right .support .item {
  display: block;
  margin: 10px auto;
}
.main-login .layout-right .support .item img {
  display: block;
  margin: 5px auto;
}
.main-login .layout-right .support .item span {
  display: block;
  margin-top: 5px;
  text-align: center;
}
/* rps page login */
@media (max-width: 768px) {
  .main-login .layout-left {
    display: none;
  }
  .main-login .layout-right .btn-submit {
    display: block;
    margin: 0 auto;
  }
}
.section-intro {
  padding: 30px 0;
}
.section-intro .item-intro {
  height: 131px;
  border-radius: 6px;
  background: #405a8d;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#405a8d, #304063);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#405a8d, #304063);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#405a8d, #304063);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#405a8d, #304063);
  /* Standard syntax */
  color: #fff;
  text-transform: uppercase;
}
.section-intro .item-intro .text-one {
  font-size: 18px;
}
.section-intro .item-intro .text-two {
  font-size: 30px;
}
.section-intro #slide-intro {
  position: relative;
}
.section-intro #slide-intro-prev,
.section-intro #slide-intro-next {
  position: absolute;
  top: 50%;
  color: transparent;
  margin-top: -29px;
}
.section-intro #slide-intro-prev i,
.section-intro #slide-intro-next i {
  color: #d2d2d2;
  font-size: 40px;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
.section-intro #slide-intro-prev i:hover,
.section-intro #slide-intro-next i:hover {
  color: #f00;
}
.section-intro #slide-intro-prev a,
.section-intro #slide-intro-next a {
  position: absolute;
  opacity: 0;
}
.section-intro #slide-intro-prev a:hover,
.section-intro #slide-intro-next a:hover {
  color: transparent;
}
.section-intro #slide-intro-next {
  right: 10px;
}
.section-intro #slide-intro-prev {
  left: 10px;
}
.block-flex-item-center {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.cong-cu-wrap-range-slide {
  position: relative;
  width: 500px;
  margin: 0 auto;
}
.cong-cu-wrap-range-slide .chart-range img {
  width: 100%;
}
.cong-cu-wrap-range-slide .slide-range {
  background-color: transparent;
  border: none !important;
  position: absolute;
  left: 0px !important;
  right: 0px !important;
  top: 16px;
}
.cong-cu-wrap-range-slide .slide-range .ui-slider-range {
  background-color: transparent;
}
.cong-cu-wrap-range-slide .slide-range .ui-slider-handle {
  background-color: transparent;
  border: none !important;
  outline: none !important;
  background-size: 80% 80%;
  height: 28px;
  width: 10px;
  top: -15px;
  background-repeat: no-repeat;
  background-image: url(../../images/upload/slider-range-icon-current-point.gif);
}
@media (min-width: 769px) {
  .show-devide-768 {
    display: none;
  }
}
/* page login */
.section-intro .item-intro {
  padding: 20px;
}
.section-intro .item-intro .text-one {
  font-size: 14px;
}
.section-intro .item-intro .text-two {
  font-size: 18px;
}
.section-intro .item-intro .text-two span {
  font-size: 12px;
}
@media (max-width: 1200px) {
  .page-login-menu li {
    padding: 9px 0 !important;
  }
  .page-login-menu li a {
    font-size: 9px  !important;
  }
  .main-login .layout-right .form-login .form-logo {
    text-align: center;
  }
}
@media (max-width: 640px) {
  .page-login-menu li {
    padding: 0px 0px  !important;
  }
  .page-login-menu li a {
    padding: 7px 0  !important;
    font-size: 16px  !important;
  }
}
/* cong-cu--so-sanh-nganh */
.cong-cu--so-sanh-nganh-table .site-group-form select {
  max-width: 120px;
  text-overflow: hidden;
  overflow: hidden;
}
.table-fullscreen-wrapper {
  display: block;
  overflow: auto;
  background-color: #fff;
}
.table-fullscreen-wrapper .content {
  width: auto;
}
.table-fullscreen-wrapper .content .table-data {
  width: auto;
  overflow: visible;
  max-width: none;
}
.table-fullscreen-wrapper .close {
  position: fixed;
  top: 5px;
  right: 0;
  z-index: 100;
  color: #414141;
  font-style: italic;
  width: auto;
  font-weight: 100;
  left: auto;
  background-image: none !important;
  font-size: 12px;
}
.event-details-content .post-head .su-kien-table-thong-so {
  margin: 20px 0;
  padding: 10px 10px;
  font-size: 15px;
  border: 1px solid #A2A2A2;
}
.event-details-content .post-head .su-kien-table-thong-so td {
  padding: 5px 30px 10px 5px;
}
.event-details-content .post-head .su-kien-content-layout {
  margin-bottom: 17px;
}
.event-details-content .post-head .excerpt {
  margin-top: 10px;
  margin-bottom: 15px;
}
.ho-so-doanh-nghiep-table .table-label {
  display: block;
  font-size: 20px;
  margin: 25px 0 10px;
}
.ho-so-doanh-nghiep-table table {
  width: 100%;
}
.ho-so-doanh-nghiep-table td {
  padding: 7px 15px;
  font-size: 15px;
}
.ho-so-doanh-nghiep-table tr:nth-of-type(2n+1) {
  background-color: rgba(210, 201, 201, 0.11);
}
.ho-so-doanh-nghiep-main-left > .title {
  margin: 20px 0;
}
.lich-su-hinh-thanh,
.linh-vuc-kinh-doanh {
  margin-top: 10px;
}
.lich-su-hinh-thanh .title,
.linh-vuc-kinh-doanh .title {
  background-image: none;
  background-color: rgba(210, 201, 201, 0.31);
}
.lich-su-hinh-thanh .content,
.linh-vuc-kinh-doanh .content {
  padding-top: 15px;
}
.ho-so-doanh-nghiep-right .table .table-label {
  display: block;
  font-size: 20px;
  margin: 30px 0 10px;
}
.ho-so-doanh-nghiep-right .table .label-head {
  font-weight: bold;
}
.ho-so-doanh-nghiep-right .table table {
  width: 100%;
}
.ho-so-doanh-nghiep-right .table td {
  padding: 7px 15px;
  font-size: 15px;
}
.ho-so-doanh-nghiep-right .table td:nth-child(2) {
  text-align: right;
}
.ho-so-doanh-nghiep-right .table tr:nth-of-type(2n+1) {
  background-color: rgba(210, 201, 201, 0.11);
}
/* tong quan doanh nghiep tab-content-wrap */
.tab-content-wrap .ho-so-doanh-nghiep-main-left .ho-so-doanh-nghiep-table:nth-child(1) .table-label,
.tab-content-wrap .ho-so-doanh-nghiep-right .table:nth-child(1) .table-label {
  margin-top: 0;
}
.table-data .controller .control,
.table-data .controller .line {
  display: none;
}
.table-data .controller tr {
  background-color: transparent!important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
}
.table-data .controller tr td > .label {
  display: block;
  float: right;
  text-align: left;
  color: #606060;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.4;
  white-space: normal !important;
  padding: 0;
}
.table-data .controller tr td > .label * {
  font-weight: normal;
  font-size: 13px;
  white-space: normal !important;
  color: #606060 !important;
  max-width: 180px;
  display: block;
  line-height: 1.4;
  overflow: hidden;
  text-align: left;
}
.table-data .controller tr.has-child.contracted .label {
  font-weight: bold;
}
.table-data .controller tr.l1 td:nth-child(1) > .label {
  width: calc(100% - 0px);
}
.table-data .controller tr.l2 td:nth-child(1) > .label {
  width: calc(100% - 18px);
}
.table-data .controller tr.l3 td:nth-child(1) > .label {
  width: calc(100% - 36px);
}
.table-data .controller tr.l4 td:nth-child(1) > .label {
  width: calc(100% - 52px);
}
.table-data .controller tr.l5 td:nth-child(1) > .label {
  width: calc(100% - 70px);
}
.table-data .controller tr td:nth-child(1) > .label {
  position: relative;
}
.table-data .controller tr td:nth-child(1) > .label:before {
  content: "\f068";
  font-size: 8px;
  font-family: "FontAwesome";
  position: absolute;
  display: block;
  top: 7px;
  left: -8px;
}
.table-data .controller tr.level-last-child td:nth-child(1) > .label:before {
  display: none !important;
}
.table-data .controller tr.contracted td:nth-child(1) > .label:before {
  content: "\f067";
}
.nav.third .nav-item-right > * {
  display: inline-block;
  vertical-align: middle;
  margin: 3px;
  font-size: 14px;
  border-right: none;
}
.site-table-mobile {
  position: relative;
  max-width: 100%;
  padding-left: 100px;
  margin: 30px 0;
}
.site-table-mobile .sidebar-left {
  position: absolute;
  padding: 0 10px;
  top: 0;
  left: 0;
  right: 0;
  width: 100px;
  z-index: 10;
}
.site-table-mobile .sidebar-left .item {
  font-size: 11px;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px solid rgba(210, 201, 201, 0.11);
}
.site-table-mobile .table-new {
  display: block;
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}
.site-table-mobile .table-new .table-data-mobile {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.site-table-mobile .table-new .table-data-mobile td {
  font-size: 11px;
  text-align: center;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(210, 201, 201, 0.11);
}
.site-table-mobile .table-new .table-data-mobile td:nth-of-type(2n+1) {
  background-color: rgba(210, 201, 201, 0.11);
}
.back-to-top {
  opacity: 0;
  pointer-events: none ;
  -webkit-transform: all .3s ease;
  -moz-transform: all .3s ease;
  transform: all .3s ease;
  display: block;
  position: fixed;
  bottom: 100px;
  right: 50px;
  z-index: 1000;
  max-width: 80px;
}
.back-to-top.active {
  opacity: 1 !important;
  pointer-events: all !important;
}
@media (max-width: 768px) {
  .back-to-top {
    max-width: 30px;
    bottom: 26px;
    right: 26px;
  }
  .back-to-top img {
    max-width: 100%;
  }
}