@media screen and (min-width: 1400px) {
    #main-slider .thumb.lg {
        display: block;
    }

    #main-slider .thumb.md {
        display: none;
    }

    #main-slider .bx-prev {
        left: 100px;
    }

    #main-slider .bx-next {
        right: 100px;
    }
}

@media screen and (max-width: 1399px) {
    #main-slider .thumb.lg {
        display: none;
    }

    #main-slider .thumb.md {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    #transaction-network .item:nth-child(5n + 1) {
        clear: both;
    }

    .dropdown-menu.customize-1 {
        top: 100px !important;
    }

    #featured-boxes .featured-box ul li {
        line-height: 2.6em;
    }

    #featured-boxes .featured-box ul li i {
        line-height: inherit;
    }

    #featured-boxes .featured-box .wrapper a {
        font-size: 18px;
    }

    .container {
        width: 1200px;
    }

    header .row {
        display: table;
        margin: 0;
        width: 100%;
    }

    header .row .logo {
        width: 185px;
    }

    header .row .logo, header .row .main-header {
        /*display: table-cell;*/
        vertical-align: -webkit-baseline-middle;
        margin: 0;
        padding: 0;
    }

    #main-slider .bx-prev {
        left: 50px;
    }

    #main-slider .bx-next {
        right: 50px;
    }

    .hot-line i {
        display: none;
    }

    .hot-line .text {
        display: inline-block;
    }

    .top-header {
        position: relative;
    }

    #transaction-network .item:nth-child(5n + 1) {
        clear: both;
    }
}

@media screen and (max-width: 1199px) {
    .shareholders img {
        margin: 0;
    }
    #development-stage .list-media .item:nth-child(4n + 1){
        clear: both;
    }
    .dropdown-menu.customize-1 .part-menu {
        padding-left: 15px;
        padding-right: 10px;
    }

    #quick-link-slider .bx-wrapper .bx-viewport {
        padding-left: 42px;
        padding-right: 42px;
    }

    /*#quick-link-slider .bx-wrapper .bx-viewport .item{
        width: 25% !important;
        height: 73px;
    }*/
    .my-customize-menu .nav > li {
        padding: 7px 0;
    }

    .container {
        max-width: 960px;
    }

    .footer-menu .container .row {
        margin: 0 -30px;
    }

    .footer-menu .wrapper-list .bottom-menu-box {
        padding: 0 30px;
    }

    .my-customize-menu .nav > li > a {
        font-size: 16px;
    }

    .search-box {
        width: 170px;
        height: 25px;
    }

    .search-box .search-input {
        line-height: 23px;
        height: 23px;
        font-size: 14px;
    }

    .search-box .search-button {
        line-height: 23px;
        height: 23px;
        font-size: 14px;
    }

    .top-header {
        margin-bottom: 2px;
    }

    header .row {
        display: table;
        width: 100%;
        margin: 0;
    }

    header .row .logo, header .row .main-header {
        display: table-cell;
        vertical-align: bottom;
        margin: 0;
        padding: 0;
    }

    .hot-line i {
        display: inline-block;
    }

    .hot-line .text {
        display: none;
    }

    .language-box {
        display: inline-block;
    }

    .language-box a {
        width: 20px;
        height: 13px;
    }

    header .row .logo {
        width: 100px;
        vertical-align: top;
    }

    header .logo img {
        width: 100px;
    }
}

@media screen and (min-width: 992px) {
    .row.di-table{
        margin-right: 0;
        margin-left: 0;
    }
    .t-right {
        text-align: right;
    }

    .group-form {
        line-height: 35px;
    }

    .typical-number img {
        width: 32%;
    }

    #transaction-network .item {
        float: left;
        width: 20%;
        padding: 0 15px;
        margin-bottom: 30px;
    }

    #transaction-network .item:nth-child(5n+1) {
        clear: both;
    }

    .col-55.col {
        width: 55%;
    }

    .col.col-45 {
        width: 45%;
    }

    .info-for-shareholders .item {
        display: table;
        width: 100%;
    }

    .info-for-shareholders .item .left, .info-for-shareholders .item .right {
        display: table-cell;
        vertical-align: top;
    }

    .info-for-shareholders .item .left {
        width: 270px;
    }

    .annual-reports .item {
        width: 33.33333333%;
    }

    .dropdown-menu.customize-1 {
        position: fixed;
        top: 64px;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 10000;
    }

    .dropdown-menu .container {
        padding: 0;
    }

    .main-content.di-table-cell {
        width: calc(100% - 282px);
        width: -moz-calc(100% - 282px);
    }

    #chairman-of-the-managing-board .wrapper, .member-of-management-council .item {
        display: table;
        padding: 30px 0;
    }

    #chairman-of-the-managing-board .info-part:first-child, .member-of-management-council .item .title {
        width: 300px;
    }

    #chairman-of-the-managing-board .info-part, .member-of-management-council .item .title, .member-of-management-council .item .wrapper {
        display: table-cell;
        border-right: 1px dashed #606060;
        padding: 0 30px;
    }

    #chairman-of-the-managing-board .info-part:last-child, .member-of-management-council .item .wrapper {
        border-right: none;
    }
}

@media screen and (max-width: 991px) {
    #wrapper-top-content .banner img.background-banner {
        left: 20%;
    }

    .my-customize-menu .navbar-nav > li > a {
        padding: 0 19px;
    }

    #quick-link-slider .bx-wrapper .bx-viewport {
        padding-left: 0px;
        padding-right: 0px;
    }

    .desktop, .mobile {
        display: none;
    }

    header .ta .row .logo, header .tab .row .main-header {
        display: table-cell;
        vertical-align: middle;
        margin: 0;
        padding: 0;
    }

    .tab {
        display: block;
    }

    .tab > .row:nth-child(2) {
        background: #ffffff;
    }

    /*#logo{
        float: left;
    }
    .top-header{
        float: right;
    }*/
    header .row .logo, header .row .main-header {
        display: table-cell;
        vertical-align: top;
        margin: 0;
        padding: 0;
        margin-top:5px;
    }

    .annual-reports .item {
        width: 50%;
    }

    .sidebar {
        display: none;
    }

    .row.di-table {
        display: block;
        width: auto;
    }

    .my-customize-menu {
        float: none;
        clear: both;
    }

    #chairman-of-the-managing-board .info-part {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 767px) {
    .dropdown-menu.customize-1 .part-menu .title-part > span br {
        display: none !important;
    }

    .home {
        display: block !important;
    }

    .sidebar {
        display: block;
        width: 100%;
    }

    .sidebar .sidebar-box {
        width: 100%;
    }

    .about-team .nav-tabs > li {
        float: none;
        width: 100%;
    }

    .about-team .nav-tabs > li > a {
        line-height: 20px;
        padding: 10px;
    }

    .member-of-management-council .item {
        margin-bottom: 20px;
    }

    .typical-number img {
        margin-bottom: 10px;
    }

    #timeline-slider > .content {
        padding-right: 10px;
    }

    .search-box .search-input {
        height: 22px;
        line-height: 22px;
        font-size: 12px;
    }

    #transaction-network .item {
        float: left;
        width: 50%;
    }

    #transaction-network .item:nth-child(2n+1) {
        clear: both;
    }

    .bottom-footer .text-right {
        text-align: center;
    }

    footer .bottom-footer {
        text-align: center;
    }

    #development-stage .list-media .item {
        width: 50%;
    }
    #development-stage .list-media .item:nth-child(2n + 1){
        clear: both;
    }
    #wrapper-top-content .featured-box .tab-news {
        position: static;
        margin: 10px auto;
    }

    #wrapper-top-content .featured-box {
        position: static;
    }

    .detail-content .list-features .item {
        width: 50%;
    }

    .paperwork .item {
        width: 50%;
        padding: 10px;
    }

    .paperwork .item:nth-child(2n+1) {
        clear: both;
    }

    .dropdown-menu.customize-1 .part-menu > .wrapper {
        display: none;
    }

    .footer-menu .container .row {
        margin: 0 -10px;
    }

    .footer-menu .wrapper-list {
        display: block;
    }

    .footer-menu .wrapper-list .bottom-menu-box {
        display: block;
        float: left;
        width: 50%;
        padding: 10px;
        border: none;
    }
    /*Xu ly box left dau tien*/
    .footer-menu .wrapper-list .bottom-menu-box-left-firt {
        display: block;
        float: left;
        width: 50%;
        padding: 10px;
        border: none;
    }
     /*End Xu ly box left dau tien*/
    .footer-menu .wrapper-list .bottom-menu-box:nth-child(2n+1) {
        clear: both;
    }

    #transaction-network .item {
        width: 50%;
    }

    #transaction-network .item:nth-child(2n+1) {
        clear: both;
    }

    .reward-box > .wrapper .item {
        width: 50%;
    }

    .chart-box .chart-item {
        width: 100%;
    }

    #main-slider .item .caption {
        display: none;
    }

    .navbar-nav {
        margin-left: 0;
        margin-right: 0;
    }

    .my-customize-menu .navbar-nav > li > a {
        margin: 0;
        border: none;
    }

    .my-customize-menu .nav > li:hover, .my-customize-menu .nav > li.active {
        background: transparent;
        color: #ed1c24;
    }

    .navbar-nav .open .dropdown-menu {
        background: #ffffff;
    }

    .my-customize-menu .nav > li {
        border-top: 1px solid #e6e6e6;
        border-radius: 0;
        box-shadow: none;
        padding-left: 0 !important;
    }

    .my-customize-menu .nav > li:hover:before, .my-customize-menu .nav > li.active:before,
    .my-customize-menu .nav > li:hover:after, .my-customize-menu .nav > li.active:after {
        display: none;
    }

    .dropdown-menu.customize-1 .part-menu {
        padding: 5px 0;
        display: block;
    }

    .dropdown-menu.customize-1 .part-menu .title-part {
        margin-bottom: 0;

    }

    .my-customize-menu .navbar-nav > li > a {
        padding-left: 10px;
    }

    .dropdown-menu:after {
        display: none;
    }

    .dropdown-menu.customize-1 .part-menu .title-part > span {
        font-size: 14px !important;
    }

    .dropdown-menu.customize-1 .part-menu .title-part i {
        font-size: 24px !important;
        width: 35px;
        float: none;
        display: table-cell;
        vertical-align: middle;
    }

    .dropdown-menu.customize-1 {
        position: static;
        display: none;

    }

    .my-customize-menu .nav > li:hover > a, .my-customize-menu .nav > li.active > a {
        color: #ed1c24 !important;
    }

    .navbar-nav .open .dropdown-menu {
        display: block;
        border-top: 1px solid #e6e6e6;
    }

    .my-customize-menu .nav > li {
        padding: 0;
    }

    .my-customize-menu .nav > li > a {
        padding: 7px 0;
    }

}

@media screen and (min-width: 481px) {
    .table-default.col2 tr > th:first-child, .table-default.col2 tr > td:first-child {
        width: 65% !important;
    }

    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }
    .desktop.sidebar.di-table-cell{display: table-cell !important;}
}

@media screen and (max-width: 480px) {

    .main-content {
        display: block;
    }
    .detail-content .panel-group .panel-heading, .detail-content .panel-group .panel-body{
        padding: 10px 0;
    }
    .tab-pt-default .item {
        position: relative;
        padding: 10px 0;
    }

    .tab-pt-default .item:focus {
        padding: 10px;
    }

    .tab-pt-default .item .tab-cnt {
        width: 280px;
        background: #ffffff;
        z-index: 2;
    }

    .tab-pt-default .item:nth-child(2n+1) .tab-cnt {
        float: left;
    }

    .tab-pt-default .item:nth-child(2n) .tab-cnt {
        float: right;
    }

    /*.table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th{
        white-space: normal;
        min-width: 200px;
    }*/
    /*.table-responsive>.table>tbody>tr>td:first-child, .table-responsive>.table>thead>tr>th:first-child{
        min-width: 30px;
    }*/
    p {
        float: none;
    }

    .detail-content .list-features img {
        width: auto !important;
    }

    .has-title-part.detail-content .part > .wrapper, .has-title-part.detail-content .part > .wrapper p, .has-title-part.detail-content .part > .wrapper p:first-child > strong {
        font-size: 14px;
        font-weight: 400 !important;
    }

    .has-title-part.detail-content .part > .wrapper p:first-child {
        font-size: 16px !important;
    }

    #wrapper-top-content .banner img.background-banner {
        height: 110px;
        left: 10%;
    }

    .detail-content img.nhaykep {
        width: 20px !important;
    }

    .intent-box .item {
        float: none;
        display: block;
        width: 100%;
        padding: 10px 0;
    }

    .intent-box .item .thumb .border {
        margin: 0 5px;
    }

    .intent-box .item .wrapper {
        text-align: justify;
        padding-left: 10px;
    }

    .intent-box .item .thumb img {
        width: auto !important;
    }

    .trading-volume:before {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        line-height: 0;
        visibility: hidden;

    }

    html, body {
        font-size: 12px;
    }

    .language-box {
        margin-right: 5px;
        float: none;
    }

    #development-stage .list-media .item {
        width: 100%;
    }

    #wrapper-top-content .banner {
        height: 110px !important;
    }

    #wrapper-top-content .banner h1.title-page {
        top: auto;
        bottom: 0;
        padding: 5px 10px;
        width: 100%;
        left: 0;
        color: #ffffff !important;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        background: rgba(0, 0, 0, 0.5);
    }
    .my-customize-menu .nav>li.dropdown .dropdown-menu, .my-customize-menu .nav > li.open{
        background: #f1f1f1;
    }
    .desktop {
        display: none;
    }
    .dropdown-menu.customize-1 .part-menu .title-part i.demo-icon{
        color: #414141;
    }
    .mobile {
        display: block;
    }

    header .row .logo, header .row .main-header {
        display: block;
        margin-bottom: 5px;
    }

    .has-title-part.detail-content .part .wrapper {
        padding-left: 0;
    }

    .annual-reports .item {
        width: 100%;
    }

    #wrapper-top-content .banner h1.title-page {
        font-size: 22px;
    }

    header .row {
        display: block;
    }

    .detail-content img {
        clear: both;
        margin-bottom: 10px;
    }

    .detail-content img + div {
        clear: both;
    }

    header {
        background: none;
    }

    .bottom-footer .text-right {
        text-align: center;
    }

    .logo {
        float: none;
        width: 100% !important;
        display: block !important;
        /*background: #ed1c24;*/
        text-align: center;
    }

    .logo img {
        /*-webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;*/
        /*margin: 0 auto;*/
           margin-left: 40px;
        margin-top: 10px;
    }

    #quick-link-status {
        position: static;
    }

    #quick-link-slider .item {
        padding: 5px;
    }

    .tab-news .nav-tabs > li > a {
        padding-left: 15px;
        padding-right: 15px;
    }

    #quick-link-slider .ctrl a {
        width: 15px;
    }

    #transaction-network .item {
        width: 50%;
    }

    #transaction-network .item:nth-child(2n + 1) {
        clear: both;
    }

    .reward-box > .wrapper .item {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .footer-menu .wrapper-list .bottom-menu-box {
        width: 100%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .intent-box {
        padding: 10px;
    }

    .intent-box .item {
        padding: 10px;
    }

    .intent-box .item .thumb {
        width: 72px;
    }

    .intent-box .item .wrapper {
        overflow: hidden;
    }
}

@media screen and (min-width: 1200px) {
    .intent-box .item .thumb {
        width: 72px;
    }
    .dropdown-menu.customize-1 .part-menu .title-part i.demo-icon{
        margin-right: 8px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .inner-page {
        min-width: 385px;
    }

    #quick-link {
        margin-top: 30px;
    }

    .main-content {
        display: block;
    }

    .typical-number img {
        width: 32%;
    }

    #timeline-slider > .content {
        padding-right: 30px;
    }

    #transaction-network .item {
        width: 50%;
    }

    #transaction-network .item:nth-child(2n+1) {
        clear: both;
    }

    .tab-news.open .chart .exchangeable-value, .tab-news.open .chart .trading-volume, .tab-news.open .statechart .index {
        font-size: 11px;
    }

    #featured-boxes .featured-box .title {
        font-size: 16px;
        padding: 0 17px;
    }

    #featured-boxes .featured-box .list {
        padding: 10px 20px;
    }

    #wrapper-top-content .featured-box {
        position: static;
    }

    .featured-box.analysis-tools .list .item {
        height: 30px;
    }

    .icon-calendar {
        width: 40px;
        background-size: 100% auto;
    }

    #featured-boxes .featured-box ul li {
        line-height: 1.41em;
    }

    .top-header {
        float: right;
        margin-left: 20px;
        margin-right: 190px;
        line-height: 25px
    }

    .footer-menu .wrapper-list .bottom-menu-box {
        padding-right: 0px;
    }

    .footer-menu .wrapper-list {
        margin-left: -10px;
        margin-right: -10px;
    }

    #featured-boxes .featured-box {
        margin-left: -10px;
        margin-right: -10px;
    }

    #featured-boxes .featured-box .title
    #wrapper-top-content .featured-box {
        position: static;
        overflow: hidden;
    }

    #wrapper-top-content .featured-box .tab-news {
        position: static;
        float: left;
        padding: 5px;
    }

    .search-box {
        position: absolute;
        right: 10px;
    }

    .dropdown-menu.customize-1 {
        /*max-width: 320px;
        max-height: 400px;*/
        position: fixed;
        top: 64px;
        left: 0;
        right: 0;
        width: 100%;
    }

    .dropdown-menu.customize-1 .part-menu {
        float: left;
        padding: 10px;
        border-bottom: none !important;
    }

    .dropdown-menu.customize-1 .part-menu > .wrapper {
        padding-left: 0;
        padding-right: 10px;
    }

    .my-customize-menu .nav > li:first-child .dropdown-menu.customize-1 .part-menu {
        width: 33.333333%;
    }

    .my-customize-menu .nav > li:nth-child(2) .dropdown-menu.customize-1 .part-menu,
    .my-customize-menu .nav > li:nth-child(3) .dropdown-menu.customize-1 .part-menu {
        display: table-cell;
        padding-left: 10px;
        padding-right: 10px;
    }

    .my-customize-menu .nav > li:nth-child(2) .dropdown-menu.customize-1 .part-menu:nth-child(3n+1),
    .my-customize-menu .nav > li:nth-child(3) .dropdown-menu.customize-1 .part-menu:nth-child(3n+1),
    .my-customize-menu .nav > li:first-child .dropdown-menu.customize-1 .part-menu:nth-child(3n+1) {
        clear: both;
    }

    .my-customize-menu .nav > li:nth-child(4) .dropdown-menu.customize-1 .part-menu {
        width: 50%;
    }

    .my-customize-menu .nav > li:nth-child(4) .dropdown-menu.customize-1 .part-menu:nth-child(2n+1) {
        clear: both;
    }

    .dropdown-menu.customize-1 .container {
        /*max-width: 300px;
        max-height: 400px;
        overflow: auto;*/
    }

    .dropdown-menu.customize-1 .part-menu {
        display: block;
        border-left: none;
        border-bottom: 1px dashed #080808;
        overflow: hidden;
        padding: 20px 0;
    }

    .dropdown-menu.customize-1 .part-menu .break-line {
        display: none;
    }

    .part-menu.featured {
        width: 100%;
    }

    .dropdown-menu.customize-1 .part-menu.featured > .wrapper li {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .dropdown-menu.customize-1 .part-menu .break-line {
        display: none;
    }

    .dropdown-menu.customize-1 .part-menu .title-part > span {
        color: #414141;
    }
}

@media screen and (max-width: 1200px) {
    #development-stage .tab {
        width: 100%;
        max-width: 850px;
    }

    #development-stage .tab ul {
        display: table;
    }

    #development-stage .tab ul li {
        display: table-cell;
        float: none;
    }

    #development-stage .tab ul li img {
        height: 100%;
    }
}

@media screen and (min-width: 768px) {
    .my-customize-menu .nav > li > a:focus:hover, .my-customize-menu .nav > li:hover > a {
        color: #fff !important;
    }
}