﻿
.input[type="checkbox"][readonly] {
    pointer-events: none;
}

.text-bank p {
    text-align: center;
}

.group-form .row {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 15px;
    color: #222222
}

.tooltip-noti {
    padding: 2px 6px;
    border: 1px solid #7c7c7c;
    background-color: #FFFFFF;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    font-size: 10px;
}

.wrapper {
    margin-top: 0px;
}

.userInput input {
    margin: 10px;
    height: 35px;
    width: 35px;
    border: 1px solid;
    border-radius: 0px;
    text-align: center;
    font-size: 1.2rem;
    background: #eef2f3;

}

#otp-form {
    display: flex;
    justify-content: center;
}

#modal-confirm-code-ekyc .modal-title {
    text-align: center;
    font-size: 25px;
}

#modal-confirm-code-ekyc .modal-footer .btn-back-modal {
    background: #FDD401;
    color: #FFFFFF;
    float: left;
    border-radius: 20px;
}

#modal-confirm-code-ekyc .modal-footer .btn-secondary {
    background: #ED1C24;
    border-radius: 20px;
    color: #FFFFFF;
}

.checkbox-primary input[name="agreepolicy"]:checked + label::before {
    background-color: #64C870;
    border-color: #64C870;
}

.text-title-bank {
    padding: 10px 0;
}

@media only screen and (max-width: 992px) {
    .text-title-bank {
        display: none;
    }

    #text-title .ribbon {
        margin-bottom: 30px;
    }

    .ribbon {
        width: 100%;
    }

    .text-title-right {
        margin-left: 0px !important;
    }
}

#text-title .ribbon {
    margin-bottom: 30px;
    position: inherit;
}

.text-title-right {
    margin-left: 50px;
}

.optinal-usa p {
    font-size: 15px;
}

.text-bank p {
    font-size: 15px;
}

/*Form steps*/
* {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

p {
    color: grey
}

#heading {
    text-transform: uppercase;
    color: #673AB7;
    font-weight: normal
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform label {
    font-size: 15px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.form-card {
    text-align: left
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input,
#msform textarea {
    padding: 8px 10px 8px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    background-color: #ffffff;
    font-size: 15px;
    letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #673AB7;
    outline-width: 0
}

#msform .action-button {
    width: 150px;
    background: #E83231;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right;
}

#msform .action-button:hover,
#msform .action-button:focus {
    /*
    background-color: #311B92
    */
}

#msform .action-button-previous {
    width: 150px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: left;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #000000
}

.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #673AB7;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #673AB7;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.rule-tvsi {
    margin: 30px 0px;
    background-color: #FFF5F1;
    padding: 20px;
}

.rule-tvsi p {
    font-size: 14px;
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #E83231
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 20%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #account:before {
    content: "\e900";
    background-color: #fff;
    font-family: "icomoon";
    speak: none;
    font-size: 65px;
}

#progressbar #personal:before {
    content: "\e901";
    background-color: #fff;
    font-family: "icomoon";
    speak: none;
    font-size: 65px;
}

#progressbar #payment:before {
    content: "\e903";
    background-color: #fff;
    font-family: "icomoon";
    speak: none;
    font-size: 65px;
}

#progressbar #profile:before {
    content: "\e904";
    background-color: #fff;
    font-family: "icomoon";
    speak: none;
    font-size: 65px;
}

#progressbar #confirm:before {
    content: "\e902";
    background-color: #fff;
    font-family: "icomoon";
    speak: none;
    font-size: 65px;
}

#progressbar li:before {
    width: 65px;
    height: 65px;
    line-height: 65px;
    display: block;
    font-size: 20px;
    /*    color: #ffffff;
        background: lightgray;*/
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 35px;
    z-index: -1
}

#progressbar li.active:after {
    background: #ed1c24
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #E83231
}

.fit-image {
    width: 100%;
    object-fit: cover
}

.text-infor-address p {
    line-height: 3;
    text-align: center;
    color: #D41C1C;
    font-size: 20px;
}


/*Css sale*/
#saletinfoxt {
    background-color: #F1F1F1 !important;
}

/* CSS Required*/
.error-messenger {
    border: 1px solid #E83231 !important;
}

.text-error-messenger {
    font-size: 12px;
    float: right;
    color: #E83231;
    font-style: italic;
    display: none;
}

.sRegister {
    position: unset !important;
    /*    display: block!important;*/
}

.sRegister .sForm__infoWrap {
    display: block !important;
}

.form-card .tab-pane input {
    background-color: unset !important;
    color: #fff !important;
    width: 85% !important;
}

.form-card .tab-pane .upload-button--add {
    padding: 10px 0px;
    width: 85% !important;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.step-ekyc-face-fieldset .wrap__two__content__img__body input{
    border-radius: 10px!important;
}

.btn-danger:hover {
    background-position: 0px;
}

﻿.face-to-ekyc .wrap__two__content__img {
    max-width: 100% !important;
}

.wrap__two__content__img {
    margin: auto;
}

.question-tvsi-note {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 40px;
}

.content-service {
    height: 60px;
    padding: 10px 0;
}

.content-service .checkbox, .radio {
    margin-bottom: 0px;
}

.question-tvsi-note textarea {
    width: 95%;
}

.warp__content__img_bottom {
    text-align: center;
    padding: 10px 0;
}

.warp__content__img_bottom span {
    font-size: 15px;
    font-weight: 700;
    padding: 10px 0;
}

.face-to-ekyc .sForm__infoWrap__right__content .wrap__buton__capture {
    position: absolute;
    top: 85% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.face-to-ekyc .card_upload_button .text-first {
    display: none;
}

.face-to-ekyc .wrap__two__content__img__body {
    position: relative;
    /*
    background-image: url("/images/bg-img.svg");
    */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.hople {
    color: #5bd210;
}

.sosanh {
    color: #5bd210;
}

#cover-spin {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: none;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#cover-spin::after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 60px;
    height: 60px;
    border-style: solid;
    border-color: #f31f1f;
    border-top-color: transparent;
    border-width: 9px;
    border-radius: 58%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

.thongtincanhan .wrap__two img {
    position: unset !important;
    transform: none;
}

.thongtincanhan #imagefront img {
    border-radius: 10px;
    margin-bottom: 10px;
    height: 190px;
    width: -webkit-fill-available;
}

.thongtincanhan #imageback img {
    border-radius: 10px;
    margin-bottom: 10px;
    height: 190px;
    width: -webkit-fill-available;

}

.thongtincanhan #imagecmnd img {
    border-radius: 10px;
    margin-bottom: 10px;
    height: 190px;
    width: -webkit-fill-available;
}

#exampleCheck1 {
    height: 30px;
    width: 30px;
}

.checkbox-primary input[name="exampleCheck1"]:checked + label::before {
    background-color: #0BB126;
    border-color: #0BB126;
}

#account .card {
    -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
    border-radius: 0px;
    padding: 10px 0px 0px !important;
}

#account .card #button-about {
    padding-top: 30px;
}





#modal-camera .modal-body {
    text-align: center;
}

#modal-camera .modal-body .text-modal {
    margin-top: 20px;
    color: black;
    text-align: center;
}

#modal-camera .modal-footer #btn-close {
    border-radius: 10px;
    color: #ffffff;
    background: #191919;
}

#modal-camera .modal-footer .btn-yellow {
    color: #ffff;
    background: #ed1c24;
    float: left;
}

#modal-camera .modal-header {
    text-align: -webkit-center;
    width: 100%;
}

#modal-camera .modal-header .modal-title {
    width: 100px;
    color: red;
    font-weight: 700;
    border-bottom: 1px solid;
}

#modal-customer .modal-content{
    min-height: 200px;
}
#modal-customer .modal-footer{
    text-align: center;
}
#modal-customer .modal-body {
    text-align: center;
}

#modal-customer .modal-body .text-modal {
    margin-top: 20px;
    color: black;
    text-align: center;
}

#modal-customer .modal-footer #btn-close {
    border-radius: 10px;
    color: #ffffff;
    background: red;
}

#modal-customer .modal-footer .btn-yellow {
    color: #ffff;
    background: #ed1c24;
    float: left;
}

#modal-customer .modal-header {
    text-align: -webkit-center;
    width: 100%;
}

#modal-customer .modal-header .modal-title {
    width: 100px;
    color: red;
    font-weight: 700;
    border-bottom: 1px solid;
}


#modal-customer-custcode .modal-content{
    min-height: 200px;
}
#modal-customer-custcode .modal-footer{
    text-align: center;
}
#modal-customer-custcode .modal-body {
    text-align: center;
}

#modal-customer-custcode .modal-body .text-modal {
    margin-top: 20px;
    color: black;
    text-align: center;
}

#modal-customer-custcode .modal-footer #btn-close {
    border-radius: 10px;
    color: #ffffff;
    background: red;
}

#modal-customer-custcode .modal-footer .btn-yellow {
    color: #ffff;
    background: #ed1c24;
    float: left;
}

#modal-customer-custcode .modal-header {
    text-align: -webkit-center;
    width: 100%;
}

#modal-customer-custcode .modal-header .modal-title {
    width: 100px;
    color: red;
    font-weight: 700;
    border-bottom: 1px solid;
}
#modal-customer-ekyc-fail .modal-content{
    min-height: 200px;
}
#modal-customer-ekyc-fail .modal-footer{
    text-align: center;
}
#modal-customer-ekyc-fail .modal-body {
    text-align: center;
}

#modal-customer-ekyc-fail .modal-body .text-modal {
    margin-top: 20px;
    color: black;
    text-align: center;
}

#modal-customer-ekyc-fail .modal-footer #btn-close {
    border-radius: 10px;
    color: #ffffff;
    background: red;
}

#modal-customer-ekyc-fail .modal-footer .btn-yellow {
    color: #ffff;
    background: #ed1c24;
    float: left;
}

#modal-customer-ekyc-fail .modal-header {
    text-align: -webkit-center;
    width: 100%;
}

#modal-customer-ekyc-fail .modal-header .modal-title {
    width: 100px;
    color: red;
    font-weight: 700;
    border-bottom: 1px solid;
}
#modal-customer-ekyc-fail .button-left button{
    float: left;
    background: #ffffff!important;
    color:black!important;
    border-radius: 10px;
    border: 2px solid black;
}
#modal-customer-ekyc-fail .button-right a{

}
#modal-customer-ekyc-fail .button-right{
    float: right;
    border-radius: 10px;
}






@media (min-width: 1024px) {
    .face-to-ekyc .results_front_camera::before {
        padding-bottom: calc(380 / 680 * 100%);
        width: 100%;
        max-width: 190px;
        margin: auto;
        content: '';
        position: absolute;
        z-index: 5;
        left: 0;
        right: 0;
        top: calc(60% - 20px);
        transform: translateY(-50%);
        background-image: url('../../images/Camface.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    .face-to-ekyc .results_front_camera_second::before {
        padding-bottom: calc(380 / 680 * 100%);
        width: 100%;
        max-width: 190px;
        margin: auto;
        content: '';
        position: absolute;
        z-index: 5;
        left: 0;
        right: 0;
        top: calc(60% - 20px);
        transform: translateY(-50%);
        background-image: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    .face-to-ekyc .card_upload_button {
        display: none !important;
    }
}

#modal-error-ekyc .modal-body {
    text-align: center;
}

#modal-error-ekyc .modal-body .text-modal {
    margin-top: 20px;
    color: black;
    text-align: left;
}

#modal-error-ekyc .modal-footer #btn-close {
    color: #ffffff;
    background: #191919;
}

#modal-error-ekyc .modal-footer .btn-yellow {
    color: #ffff;
    background: #ed1c24;
    float: left;
}

#modal-error-ekyc .modal-footer .btn-yellow a {
    color: #ffff;
}

#modal-error-ekyc .modal-header {
    text-align: -webkit-center;
    width: 100%;
}

#modal-error-ekyc .modal-header .modal-title {
    width: 100px;
    color: red;
    font-weight: 700;
    border-bottom: 1px solid;
}


/*CSS Spinner*/

.spinner-loader {
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #f1f1f1cf;
}

.loader {
    left: 50%;
    margin-left: -4em;
    font-size: 10px;
    border: .8em solid rgba(218, 219, 223, 1);
    border-left: .8em solid #ed1c24;
    animation: spin 1.1s infinite linear;
}

.loader, .loader:after {
    border-radius: 50%;
    width: 8em;
    height: 8em;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -4.05em;
}

@keyframes spin {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/*End spinner*/

/*Info OCR*/
#ngaycaptxt, #ngaysinhtxt {
    width: 150px !important;
}

.fa-angle-down:before {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 22px;
    z-index: 2;
}

#gioitinhtxt {
    width: 90px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 5px;
}

.ekyc-step-2-2:enabled {
    background: #ffff00;
}

.ekyc-step-2-2:disabled {
    background: #B0B0B0 !important;
}

.btn-firm-otp:disabled {
    background: #B0B0B0 !important;
}

.fa-check-square:before {
    font-size: 16px;
    color: #0BB126;
}

.fa-minus-square:before {
    font-size: 16px;
    color: #E83231;
}

.detail-customer {
    display: none;
}
.QA{
    padding-right: 16px;
}
.QA .radio label {
    display: initial;
}

.QA .radio label::after {
    top: 2px !important;
}

#progressbar li.active:after {
    left: 70px;
}

#progressbar li.confirm:after {
    right: 70px;
    left: unset !important;
}
.face-to-ekyc .results_front_camera::before{
    padding-bottom: calc(380 / 680 * 100%);
    width: 100%;
    max-width: 190px;
    margin: auto;
    content: '';
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    top: calc(60% - 20px);
    transform: translateY(-50%);
    background-image: url('../../images/Camface.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.infomation-kyc{
    padding-bottom: 20px;
}
@media only screen and (max-width: 767px) {
    .address-detail{
        padding-bottom: 15px;
    }
    .infomation-kyc{
        padding-bottom: 0px;
    }
    .question-tvsi-note {
        margin-right: 15px;
    }
    .text-infor-address p {
        font-size: 17px;
    }
    #progressbar #account:before{
        font-size: 55px;
    }
    #progressbar #personal:before{
        font-size: 55px;
    }
    #progressbar #payment:before{
        font-size: 55px;
    }
    #progressbar #profile:before{
        font-size: 55px;
    }
    #progressbar #confirm:before{
        font-size: 55px;
    }
    
    
}
@media (min-width: 768px) and (max-width: 992px){
    .question-tvsi-note{
        margin-right: 15px;
    }
}
.QA b{
    font-family: "Roboto Condensed";
}
.tooltip{
    font-family: "Roboto Condensed";
}
