@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?65435838');
  src: url('../font/fontello.eot?65435838#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?65435838') format('woff'),
       url('../font/fontello.ttf?65435838') format('truetype'),
       url('../font/fontello.svg?65435838#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?65435838#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-icon_sosanhnganh-:before { content: '\e800'; } /* '' */
.icon-icon_tindoanhnghiep-:before { content: '\e801'; } /* '' */
.icon-icon_tintuc-:before { content: '\e802'; } /* '' */
.icon-icon_tintuchoatdong-:before { content: '\e803'; } /* '' */
.icon-icon_tongquantvsi-:before { content: '\e804'; } /* '' */
.icon-icon_ttck-:before { content: '\e805'; } /* '' */
.icon-icon_tuvanthitruongno:before { content: '\e806'; } /* '' */
.icon-icon_tuvanthitruongvon-:before { content: '\e807'; } /* '' */
.icon-icon_tvsi-:before { content: '\e808'; } /* '' */
.icon-icon_tvsimobile:before { content: '\e809'; } /* '' */
.icon-icon_tvsiprice:before { content: '\e80a'; } /* '' */
.icon-icon_tvsivoibaochi-:before { content: '\e80b'; } /* '' */
.icon-icon_tvsivoicongdong-:before { content: '\e80c'; } /* '' */
.icon-icon_thanhtuunoibat-:before { content: '\e80d'; } /* '' */
.icon-icon_thongkethitruong:before { content: '\e80e'; } /* '' */
.icon-icon_thongtincongbo--67:before { content: '\e80f'; } /* '' */
.icon-icon_thongtincongbo--69:before { content: '\e810'; } /* '' */
.icon-icon_tracuuquacc-:before { content: '\e811'; } /* '' */
.icon-icon_tracuuquasms:before { content: '\e812'; } /* '' */
.icon-icon_vetvsi-:before { content: '\e813'; } /* '' */
.icon-icon_hdgiaodichcophieu:before { content: '\e814'; } /* '' */
.icon-icon_hdchuyentien-:before { content: '\e815'; } /* '' */
.icon-icon_giatridoanhnghiep-:before { content: '\e816'; } /* '' */
.icon-icon_dulieu-:before { content: '\e817'; } /* '' */
.icon-icon_doingu-:before { content: '\e818'; } /* '' */
.icon-icon_doanhnghiep:before { content: '\e819'; } /* '' */
.icon-icon_dichvutaichinh:before { content: '\e81a'; } /* '' */
.icon-icon_dichvuchungkhoan-11:before { content: '\e81b'; } /* '' */
.icon-icon_dichvuchungkhoan-04:before { content: '\e81c'; } /* '' */
.icon-icon_congcugiaodichtructuyen:before { content: '\e81d'; } /* '' */
.icon-icon_congcu-:before { content: '\e81e'; } /* '' */
.icon-icon_cohoinghenghiep:before { content: '\e81f'; } /* '' */
.icon-icon_cacmaubieukhac-:before { content: '\e820'; } /* '' */
.icon-icon_cacmaubieu-:before { content: '\e821'; } /* '' */
.icon-icon_bieuphidichvu-:before { content: '\e822'; } /* '' */
.icon-icon_baocaothuongnien-:before { content: '\e823'; } /* '' */
.icon-icon_baocaotaichinh-:before { content: '\e824'; } /* '' */
.icon-icon_bantintvsi:before { content: '\e825'; } /* '' */
.icon-icon_vitriungtuyen-:before { content: '\e826'; } /* '' */
.icon-icon_vimo-:before { content: '\e827'; } /* '' */
.icon-icon_hdgiaodichkyquy-:before { content: '\e828'; } /* '' */
.icon-icon_hdmotaikhoan-:before { content: '\e829'; } /* '' */
.icon-icon_hdnoptien-:before { content: '\e82a'; } /* '' */
.icon-icon_hdtracuutaikhoankyquy-:before { content: '\e82b'; } /* '' */
.icon-icon_hdtracuuvaquanlytaisan-:before { content: '\e82c'; } /* '' */
.icon-icon_hoatdongtvsi:before { content: '\e82d'; } /* '' */
.icon-icon_hoidapfaq-:before { content: '\e82e'; } /* '' */
.icon-icon_hdungtruoctienban-:before { content: '\e82f'; } /* '' */
.icon-icon_huongdangiaodich:before { content: '\e830'; } /* '' */
.icon-icon_huongdangiaodichtien-:before { content: '\e831'; } /* '' */
.icon-icon_itradehome:before { content: '\e832'; } /* '' */
.icon-icon_itradepro:before { content: '\e833'; } /* '' */
.icon-icon_kienthuc-:before { content: '\e834'; } /* '' */
.icon-icon_kienthucvahoidap-:before { content: '\e835'; } /* '' */
.icon-icon_kinhnghiem:before { content: '\e836'; } /* '' */
.icon-icon_khachhangcanhan:before { content: '\e837'; } /* '' */
.icon-icon_khachhangdoanhnghiep:before { content: '\e838'; } /* '' */
.icon-icon_lichsukien:before { content: '\e839'; } /* '' */
.icon-icon_loccophieutheochibaophantichkythuat:before { content: '\e83a'; } /* '' */
.icon-icon_loccophieutheokhoanggiatri:before { content: '\e83b'; } /* '' */
.icon-icon_sosanhdoanhnghiep-:before { content: '\e83c'; } /* '' */
.icon-icon_sosanhcotuctheonam-:before { content: '\e83d'; } /* '' */
.icon-icon_quantridoanhngiep-:before { content: '\e83e'; } /* '' */
.icon-icon_quanlydoanhmucdautu:before { content: '\e83f'; } /* '' */
.icon-icon_quanhecodong-:before { content: '\e840'; } /* '' */
.icon-icon_nghiepvunganhangdautu-:before { content: '\e841'; } /* '' */
.icon-icon_nganh:before { content: '\e842'; } /* '' */
.icon-icon_nopcv:before { content: '\e843'; } /* '' */
.icon-icon_motaikhoanvadangkydichvu:before { content: '\e844'; } /* '' */
.icon-icon_moitruonglamviec-:before { content: '\e845'; } /* '' */
.icon-icon_moigioichungkhoan-:before { content: '\e846'; } /* '' */
.icon-icon_mocsonlichsu-:before { content: '\e847'; } /* '' */
.icon-icon_maunopvaruttien-:before { content: '\e848'; } /* '' */
.icon-icon_loccophieutheotopdoanhnghiep-:before { content: '\e849'; } /* '' */