#featured-boxes .featured-box .title {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#50d4d4d4, endColorstr=#50d4d4d4);
    zoom: 1;
}

#featured-boxes .featured-box .list {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3C000000, endColorstr=#3C000000);
    zoom: 1;
}

.tab-news.news {
    left: 45px;
}

.tab-news.market-indicators {
    left: 465px;
}

.tab-news .list-simple .item.featured .thumb {
    width: 94px;
    display: block;
}

.statechart .index {
    width: 200px;
}

.my-customize-menu .nav > li.dropdown .dropdown-menu {
    opacity: 0;
}

.my-customize-menu .nav > li {
    -webkit-border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    border-radius: 7px 7px 0 0;
    position: relative;
    zoom: 1;
    behavior: url(asset/PIE/PIE.htc);
}

#quick-link-status .fa{
    -webkit-border-radius: 50% 0 0 50%;
    -moz-border-radius: 50% 0 0 50%;
    border-radius: 50% 0 0 50%;
    position: relative;
    zoom: 1;
    behavior: url(asset/PIE/PIE.htc);
}
.detail-content .list-services li .count, .intent-box .item .thumb .border,
#timeline-slider > .slider > .item a{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    zoom: 1;
    behavior: url(asset/PIE/PIE.htc);
}
.reward-box {
    position: relative;
    zoom: 1;
    behavior: url(asset/PIE/PIE.htc);
    -webkit-box-shadow: 0 0 5px 0 rgba(222, 222, 222, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(222, 222, 222, 0.75);
    box-shadow: 0 0 5px 0 rgba(222, 222, 222, 0.75);
}

.default-select {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 3px 0 rgba(96, 96, 96, 0.5);
    -moz-box-shadow: 0 0 3px 0 rgba(96, 96, 96, 0.5);
    box-shadow: 0 0 3px 0 rgba(96, 96, 96, 0.5);
    position: relative;
    zoom: 1;
    behavior: url(asset/PIE/PIE.htc);
}

.paperwork .item .tab-top .around {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    zoom: 1;
    behavior: url(asset/PIE/PIE.htc);
}

.main-header {
    -webkit-border-radius: 0 0 0 10px;
    -moz-border-radius: 0 0 0 10px;
    border-radius: 0 0 0 10px;
    position: relative;
    zoom: 1;
    behavior: url(asset/PIE/PIE.htc);
}

#wrapper-top-content .banner img.background-banner {
    margin-left: -820px !important;
}

.my-customize-menu .nav > li:after, .my-customize-menu .nav > li:before {
    display: none;
}

@media screen and (max-width: 1280px){
    .search-box{
        width: 170px;
    }
}
header{
    background-image: url("../../images/header-bgr.png");
}
@media screen and (min-width: 992px){
    #transaction-network .item{
        height: 130px;
    }
}
.social{
    float:right;
    min-width: 208px;
}
#wrapper-top-content .banner h1.title-page{
    top: 90px;
}