﻿body {
    /*
    margin-top:40px;
    */
}
.captcha-checked{
    padding-bottom: 60px;
    margin-top: 20px;

}
.register-account-foreign{
    padding: 50px 0px 15px 15px;
}
.register-account-foreign .image-foreign{
    text-align: right;
}
.ribbon-wrapper, .ribbon-wrapper-reverse, .ribbon-wrapper-bottom, .ribbon-wrapper-right-bottom{
    padding: 50px 15px 15px 0px;
}

.stepwizard-step label{
    margin-right: 12px;
    width: 52%;
    white-space: nowrap;
    float: left;
    color: #FFFFFF;
    margin-top: 10px;
    /* margin-left: -15px; */
    display: table-cell;
    text-align: center;
    position: initial;
   
}
.stepwizard-step a{
}
.stepwizard-row {
    float: right;
    display: inline-grid;
}
.stepwizard {
    left: 30px;
/*    float: right;
    display: table;
    width:65%;*/
    position: absolute;
}
.image-foreign img{
    width: 90%;
    height: 750px;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
/*.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}*/
.stepwizard-step {
    margin-left: 15px;
    margin: 90px 0;
    display: table-cell;
    text-align: center;
    position: initial;
}
.btn-circle {
    /*
    background: red;
    */
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 5px 0;
    font-size: 22px;
    font-weight: 800;
    border-radius: 30px;
}
.btn-primary:hover {
    color: #fff;
    /*
    background-color: red!important;
    */
    border-color: #ffffff;
}
a:hover{
    /*
    color: #ffffff!important;
    */
 }
.btn-danger {
    color: #fff;
    /* background-color: white; */
    /* border-color: #e4e4e4; */
    /*
    border: 5px solid #d4d4d4;
    */
}
.btn-lg{
    padding: 5px 16px;
}
.btn-default[disabled]{
    /*
    background-color: #f7f7f7;
    */
    border: 5px solid #909090;
    opacity: unset;
}
.btn-default{
    background-image: none;
    /*
    background-color: #337ab7;
    */
    border: 5px solid #909090;
    opacity: unset;
}
.ribbon{
    width: auto;
}
.has-error .form-control{
    border: 1px solid #a94442;
}
.nextBtn {
    padding: 0px 20px;
    border: none;
}
.text-header-form{
    color: red;
    font-weight: 700;
}
.form-input-code-left{
    text-align: right;
}
.form-input-code-right{
    text-align: left;
}
.icon-center{
    margin: 25px 0px;
    text-align: center;
}
.text-confirm-header{
    padding: 30px 0;
}


#step-3 #wrapper {
    font-family: "Open Sans Condensed";
    margin-top: 130px;
    font-size: 1.5rem;
    text-align: center;
    box-sizing: border-box;
    color: #333;
}
#step-3 #wrapper #dialog {
    text-align: left;
    margin: 10px auto;
    padding: 20px 30px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    max-width: max-content;
}
#step-3 #wrapper #dialog h3 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 10px;
    padding: 0;
    line-height: 1.25;
}
#step-3 #wrapper #dialog span {
    font-size: 90%;
}
#step-3 #wrapper #dialog #form {
    /*
    max-width: 340px;
    */
    margin: 25px auto 0;
}
#step-3 #wrapper #dialog #form input {
    text-align: center;
    line-height: 80px;
    font-size: 50px;
    border: solid 1px #ccc;
    box-shadow: 0 0 5px #ccc inset;
    outline: none;
    width: 30%;
    transition: all .2s ease-in-out;
    border-radius: 3px;
}
#step-3 #wrapper #dialog #form input:focus {
    border-color: purple;
    box-shadow: 0 0 5px purple inset;
}
#step-3 #wrapper #dialog #form input::selection {
    background: transparent;
}
#step-3 #wrapper #dialog #form button {
    margin: 30px 0 50px;
    width: 100%;
    padding: 6px;
    background-color: #B85FC6;
    border: none;
    text-transform: uppercase;
}
#step-3 #wrapper #dialog button.close {
    border: solid 2px;
    border-radius: 30px;
    line-height: 19px;
    font-size: 120%;
    width: 22px;
    position: absolute;
    right: 5px;
    top: 5px;
}
#step-3 #wrapper #dialog div {
    position: relative;
    z-index: 1;
}
#step-3 #wrapper #dialog img {
    position: absolute;
    bottom: -70px;
    right: -63px;
}
#step-3 #wrapper label{
    font-size: 17px;
}
#step-3 .text-confirm-footer{
    padding: 30px 0;
}
#step-3 .text-confirm-footer a{
    color: #0d52a0;
}
.prevBtn{
    color: #FFFFFF;
    background-color: #000000;
    border-color: #000000;
}
.prevBtn:hover{
    color: #FFFFFF;
    background-color: #000000;
    border-color: #000000;
}
/*SCREEN MOBILE*/
@media only screen and (max-width: 1023px) {
    .register-account-foreign {
        display: none;
    }
}
 