﻿@{
    Layout = "~/Views/Home/Share/_Layout.cshtml";
    var stage = ViewBag.stage;
    var thong_tin_selected = (System.Data.DataTable)ViewBag.thong_tin_selected;
    var thong_tin_selected_tab2 = (System.Data.DataTable)ViewBag.thong_tin_selected_tab2;
}

<section id="wrapper-top-content">
    <div class="banner">
        <img src="/images/banner/Khachhangdoanhnghiep.png" alt="" class="background-banner">

        @*<div class="container">
            <h1 class="title-page dark">@Website_tvsi_v1.App_Resources.Website.Txt_CorporateCustomersIndex</h1>
        </div>*@
    </div>
</section>
<section id="wrapper-content" class="inner-page">
    <div class="container">
        <div class="row di-table">
            <div class="sidebar di-table-cell vertical-top">
                <div class="sidebar-box">
                    <div class="title">
                        @Website_tvsi_v1.App_Resources.Website.Txt_CorporateCustomersIndex
                    </div>
                    <div class="wrapper">
                        <ul class="list-unstyled">
                            <li><a href="/product-services/customer-business/@Website_tvsi_v1.App_Resources.IdMapper.id_spTuvanthitruongvon"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_CapitalMarketConsultancy</a></li>
                            <li><a href="/product-services/customer-business/@Website_tvsi_v1.App_Resources.IdMapper.id_spTuvanthitruongno"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_DebtMarketConsultancy</a></li>
                            <li><a href="/product-services/customer-business/@Website_tvsi_v1.App_Resources.IdMapper.id_spNghiepvunhdt"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_MAConsultancy</a></li>
                            <li><a href="/product-services/customer-business/@Website_tvsi_v1.App_Resources.IdMapper.id_spDichvuchungkhoan"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Text_SecurityServices</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main-content di-table-cell vertical-top">
                <div class="detail-content has-title-part">
                    <div class="part">
                        <h3 class="title">@Website_tvsi_v1.App_Resources.Website.Txt_dichvukhdn</h3>
                    <div class="wrapper">
                            <p style="font-size: 18px; margin-bottom: 20px; color: #414141;"><strong>@Website_tvsi_v1.App_Resources.Website.Txt_dichvukhdn2: 
                            </strong></p>
                            <br>
                            <div class="over-div">
                                <div id="development-stage" class="tab-customize">
                                    <div class="tab default-skin">
                                        <ul class="list-unstyled">
                                             @if(stage==1){
                                                <li class="active"><a href="/product-services/tvsi-customer-business?stage=1"><img src="/images/upload/TaiCauTruc_StartUp.png"></a></li>
                                             }else{
                                                <li><a href="/product-services/tvsi-customer-business?stage=1"><img src="/images/upload/TaiCauTruc_StartUp.png"></a></li>
                                             }@if (stage == 2)
                                              {
                                                <li class="active"><a href="/product-services/tvsi-customer-business?stage=2"><img src="/images/upload/TaiCauTruc_Rapid.png"></a></li>      
                                              }else{
                                                <li ><a href="/product-services/tvsi-customer-business?stage=2"><img src="/images/upload/TaiCauTruc_Rapid.png"></a></li>      
                                              }
                                               @if (stage == 3)
                                               {
                                                   <li class="active"><a href="/product-services/tvsi-customer-business?stage=3"><img src="/images/upload/TaiCauTruc_Maturity.png"></a></li>       
                                               }else{
                                                   <li><a href="/product-services/tvsi-customer-business?stage=3"><img src="/images/upload/TaiCauTruc_Maturity.png"></a></li>       
                                               }
                                            @if (stage == 4)
                                            {
                                                <li class="active"><a href="/product-services/tvsi-customer-business?stage=4"><img src="/images/upload/TaiCauTruc_Decline.png"></a></li>
                                            }else
                                            {
                                                <li><a href="/product-services/tvsi-customer-business?stage=4"><img src="/images/upload/TaiCauTruc_Decline.png"></a></li>
                                            }
                                            @if (stage ==5)
                                            {
                                                <li class="active"><a href="/product-services/tvsi-customer-business?stage=5"><img src="/images/upload/TaiCauTruc_ReBirth.png"></a></li>
                                            }else{
                                                <li><a href="/product-services/tvsi-customer-business?stage=5"><img src="/images/upload/TaiCauTruc_ReBirth.png"></a></li>
                                            }
                                            
                                        </ul>
                                    </div>
                                    <div class="wrapper-cnt">
                                          <div class="panel-group collapse-180" id="accordion" role="tablist" aria-multiselectable="true">
                                                  @if(stage!=5){
                                                      @Html.Raw(thong_tin_selected.Rows[0]["noi_dung"].ToString())
                                                  }
                                                  @Html.Raw(thong_tin_selected_tab2.Rows[0]["noi_dung"].ToString())
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

