﻿@{
    Layout = "~/Views/Home/Share/_Layout.cshtml";
    var thongtin_spdv_select = (System.Data.DataTable)ViewBag.thongtin_spdv_select;
    var giao_dich_truc_tuyen=ViewBag.giao_dich_truc_tuyen;
}

<section id="wrapper-top-content">
    <div class="banner">
        <img src="/images/upload/sanphamdichvu_CongCuGiaoDichTrucTuyen.png" alt="" class="background-banner">
        @*<div class="container">
            <h1 class="title-page dark">@thongtin_spdv_select.Rows[0]["tieu_de"]</h1>
        </div>*@
    </div>
</section>
<section id="wrapper-content" class="inner-page">
    <div class="container">
        <div class="row di-table">
            <div class="sidebar di-table-cell vertical-top">
                <div class="sidebar-box">
                    <div class="title">
                        @Website_tvsi_v1.App_Resources.Website.Txt_OnlineTradingTool2
                    </div>
                    <div class="wrapper">
                        <ul class="list-unstyled">
                            @for (int i = 0; i < giao_dich_truc_tuyen.Rows.Count; i++)
                            {
                                if (thongtin_spdv_select.Rows[0]["thong_tin_spdvid"].ToString().Trim() == giao_dich_truc_tuyen.Rows[i]["thong_tin_spdvid"].ToString().Trim())
                                {
                                    <li class="active"><a href="/product-services/trading-online/@giao_dich_truc_tuyen.Rows[i]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i> @giao_dich_truc_tuyen.Rows[i]["tieu_de"]</a></li>
                                }
                                else
                                {
                                    <li><a href="/product-services/trading-online/@giao_dich_truc_tuyen.Rows[i]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i> @giao_dich_truc_tuyen.Rows[i]["tieu_de"]</a></li>
                                }
                            }

                        </ul>
                    </div>
                </div>
            </div>
            <div class="main-content di-table-cell vertical-top">
                @Html.Raw(thongtin_spdv_select.Rows[0]["noi_dung"].ToString())
            </div>
        </div>
    </div>
</section>