﻿@{
    Layout = "~/Views/Home/Share/_Layout.cshtml";
    var thongtin_spdv_select = (System.Data.DataTable)ViewBag.thongtin_spdv_select;
    var Khach_hang_doanh_nghiep = (System.Data.DataTable)ViewBag.Khach_hang_doanh_nghiep;
    var beta = "";
}

<section id="wrapper-top-content">
    <div class="banner">
        <img src="@beta/images/banner/Khachhangdoanhnghiep.png" alt="" class="background-banner">
        @*<div class="container">
                <h1 class="title-page dark">@thongtin_spdv_select.Rows[0]["tieu_de"]</h1>
            </div>*@
    </div>
</section>
<section id="wrapper-content" class="inner-page">

    <div class="container">
        <div class="row di-table">
            <div class="sidebar di-table-cell vertical-top">
                <div class="sidebar-box">
                    <div class="title">
                        @Website_tvsi_v1.App_Resources.Website.Txt_CorporateCustomersIndex
                    </div>
                    <div class="wrapper">
                        <ul class="list-unstyled">
                            @for (int i = 0; i < Khach_hang_doanh_nghiep.Rows.Count; i++)
                            {

                                //TIENG VIET
                                if (Khach_hang_doanh_nghiep.Rows[i]["thong_tin_spdvid"].ToString().Trim() != "108" && Khach_hang_doanh_nghiep.Rows[i]["thong_tin_spdvid"].ToString().Trim() != "109")
                                {
                                    if (thongtin_spdv_select.Rows[0]["thong_tin_spdvid"].ToString().Trim() == Khach_hang_doanh_nghiep.Rows[i]["thong_tin_spdvid"].ToString().Trim())
                                    {

                                        <li class="active"><a href="@beta/product-services/customer-business/@Khach_hang_doanh_nghiep.Rows[i]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i> @Khach_hang_doanh_nghiep.Rows[i]["tieu_de"]</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="@beta/product-services/customer-business/@Khach_hang_doanh_nghiep.Rows[i]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i> @Khach_hang_doanh_nghiep.Rows[i]["tieu_de"]</a></li>
                                    }
                                }
                                if (Khach_hang_doanh_nghiep.Rows[i]["thong_tin_spdvid"].ToString().Trim() == "76")
                                {
                                    if (thongtin_spdv_select.Rows[0]["thong_tin_spdvid"].ToString().Trim() == "108")
                                    {
                                        <li style="padding-left:20px;" class="active"><a href="@beta/product-services/customer-business/108"><i class="fa fa-caret-right"></i>Tư vấn phát hành trái phiếu</a></li>
                                    }
                                    else
                                    {
                                        <li style="padding-left:20px;"><a href="@beta/product-services/customer-business/108"><i class="fa fa-caret-right"></i>Tư vấn phát hành trái phiếu</a></li>
                                    }
                                }
                                if (Khach_hang_doanh_nghiep.Rows[i]["thong_tin_spdvid"].ToString().Trim() == "93")
                                {
                                    if (thongtin_spdv_select.Rows[0]["thong_tin_spdvid"].ToString().Trim() == "109")
                                    {
                                        <li style="padding-left:20px;" class="active"><a href="@beta/product-services/customer-business/109"><i class="fa fa-caret-right"></i>Consulting on bond issuance</a></li>
                                    }
                                    else
                                    {
                                        <li style="padding-left:20px;"><a href="@beta/product-services/customer-business/109"><i class="fa fa-caret-right"></i>Consulting on bond issuance</a></li>
                                    }
                                }
                                //TIENG VIET



                                //TIENG ANH
                                @*if (Khach_hang_doanh_nghiep.Rows[i]["thong_tin_spdvid"].ToString().Trim() != "109")
                                    {
                                        if (thongtin_spdv_select.Rows[0]["thong_tin_spdvid"].ToString().Trim() == Khach_hang_doanh_nghiep.Rows[i]["thong_tin_spdvid"].ToString().Trim())
                                        {

                                            <li class="active"><a href="@beta/product-services/customer-business/@Khach_hang_doanh_nghiep.Rows[i]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i> @Khach_hang_doanh_nghiep.Rows[i]["tieu_de"]</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="@beta/product-services/customer-business/@Khach_hang_doanh_nghiep.Rows[i]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i> @Khach_hang_doanh_nghiep.Rows[i]["tieu_de"]</a></li>
                                        }
                                    }
                                    if (Khach_hang_doanh_nghiep.Rows[i]["thong_tin_spdvid"].ToString().Trim() == "93")
                                    {
                                        if (thongtin_spdv_select.Rows[0]["thong_tin_spdvid"].ToString().Trim() == "109")
                                        {
                                            <li style="padding-left:20px;" class="active"><a href="@beta/product-services/customer-business/109"><i class="fa fa-caret-right"></i>Tư vấn phát hành trái phiếu EN</a></li>
                                        }
                                        else
                                        {
                                                <li style="padding-left:20px;"><a href="@beta/product-services/customer-business/109"><i class="fa fa-caret-right"></i>Tư vấn phát hành trái phiếu EN</a></li>
                                        }
                                    }*@
                                //TIENG ANH
                            }

                        </ul>
                    </div>
                </div>
            </div>


            @*dsds*@
            @*<div class="container" style="width:100%;">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">

                        <div class="carousel-inner">
                            <div class="item active">
                                <img style="width: 100%" src="https://znews-photo.zadn.vn/w660/Uploaded/natmzz/2018_11_14/1.jpg" alt="Los Angeles" />
                            </div>
                            <div class="item">
                                <img style="width: 100%" src="https://znews-photo.zadn.vn/w660/Uploaded/natmzz/2018_11_14/2.jpg" alt="Chicago" />
                            </div>
                            <div class="item">
                                <img style="width: 100%" src="https://znews-photo.zadn.vn/w660/Uploaded/natmzz/2018_11_14/3.jpg" alt="New york" />
                            </div>
                        </div>

                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>*@
            <div class="main-content di-table-cell vertical-top">
                @Html.Raw(thongtin_spdv_select.Rows[0]["noi_dung"].ToString())
                <script>
                    $(".panel-title a").attr("data-toggle", "collapse");
                    $(".panel-title a").attr("data-parent", "#accordion");
                </script>
            </div>
        </div>
    </div>

</section>
