﻿@{
    Layout = "~/Views/Home/Share/_Layout.cshtml";
    var thongtin_spdv_select = (System.Data.DataTable)ViewBag.thongtin_spdv_select;
    var thongtin_spdv1 = (System.Data.DataTable)ViewBag.thongtin_spdv1;
    var thongtin_spdv2 = (System.Data.DataTable)ViewBag.thongtin_spdv2;
    var thongtin_spdv3 = (System.Data.DataTable)ViewBag.thongtin_spdv3;
    var thongtin_spdv4 = (System.Data.DataTable)ViewBag.thongtin_spdv4;
    var thongtin_spdv5 = (System.Data.DataTable)ViewBag.thongtin_spdv5;
    var thongtin_spdv6 = (System.Data.DataTable)ViewBag.thongtin_spdv6;
    var thongtin_spdv7 = (System.Data.DataTable)ViewBag.thongtin_spdv7;
    var thongtin_spdv8 = (System.Data.DataTable)ViewBag.thongtin_spdv8;
    var thongtin_spdv9 = (System.Data.DataTable)ViewBag.thongtin_spdv9;
}
<style type="text/css">
    .nav.secound {
        border-bottom: 1px solid #a2a2a2;
    }

        .nav.secound a {
            position: relative;
            display: block;
            font-weight: bold;
            font-size: 18px;
            color: #414141;
            text-transform: uppercase;
            text-align: center;
            border-right: 1px solid #a2a2a2;
            height: 27px;
            line-height: 4px;
            white-space: nowrap;
            padding: 0 !important;
        }

            .nav.secound a:hover {
                color: #f00 !important;
                background-color: transparent;
            }

            .nav.secound a img {
                display: none;
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -9px;
                width: 18px;
                height: 9px;
                z-index: 1;
                pointer-events: none;
            }

        .nav.secound li {
            float: left;
            width: 25%;
        }

            .nav.secound li:last-child a {
                border-right: none;
            }

            .nav.secound li.active a {
                color: #000;
            }

                .nav.secound li.active a img {
                    display: block;
                }
</style>
<section id="wrapper-top-content">
    <div class="banner">
        <img src="/images/banner/@thongtin_spdv_select.Rows[0]["logo_spdv"]" alt="" class="background-banner">
        @*<div class="container">
            @if (thongtin_spdv_select.Rows[0]["logo_spdv"].ToString().Trim() == "Bieuphidichvu.png")
            {
                <h1 class="title-page">@thongtin_spdv_select.Rows[0]["tieu_de"]</h1>
            }
            else
            {
                <h1 class="title-page dark">@thongtin_spdv_select.Rows[0]["tieu_de"]</h1>
            }
        </div>*@
    </div>
</section>
<section id="wrapper-content" class="inner-page">
    <div class="container">
        <div class="row di-table">
            <div class="sidebar di-table-cell vertical-top desktop">
                <div class="sidebar-box">
                    <div class="title">
                        @Website_tvsi_v1.App_Resources.Website.Txt_IndividualCustomers
                    </div>
                    <div class="wrapper">
                        <ul class="list-unstyled">
                            <li><a href="/home/open-account"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Text_OpenAccount</a></li>
                             @*  ------------------Chứng khoán cơ sở-----------------------*@
                            @if (thongtin_spdv_select.Rows[0]["danh_muc_spdvid"].ToString().Trim() == thongtin_spdv1.Rows[0]["danh_muc_spdvid"].ToString().Trim())
                            {
                                <li class="active"><a href="/product-services/customer-personal/@thongtin_spdv1.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Text_Brokerage</a>
                                </li>
                            }
                            else
                            {
                                <li><a href="/product-services/customer-personal/@thongtin_spdv1.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Text_Brokerage</a></li>
                            }

                              @*  ------------------Chứng khoán phái sinh-----------------------*@

                            @if (thongtin_spdv_select.Rows[0]["danh_muc_spdvid"].ToString().Trim() == thongtin_spdv9.Rows[0]["danh_muc_spdvid"].ToString().Trim())
                            {
                                <li class="active"><a href="/product-services/customer-personal/@thongtin_spdv9.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Txt_Derivatives</a>
                                     <ul class="list-unstyled sub">
                                        @for (int i = 0; i < thongtin_spdv9.Rows.Count; i++)
                                        {
                                            if (thongtin_spdv_select.Rows[0]["thong_tin_spdvid"].ToString().Trim() == thongtin_spdv9.Rows[i]["thong_tin_spdvid"].ToString().Trim())
                                            {
                                            <li class="active"><a href="/product-services/customer-personal/@thongtin_spdv9.Rows[i]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@thongtin_spdv9.Rows[i]["tieu_de"].ToString()</a></li>   
                                            }
                                            else
                                            {
                                            <li><a href="/product-services/customer-personal/@thongtin_spdv9.Rows[i]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@thongtin_spdv9.Rows[i]["tieu_de"].ToString()</a></li>       
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li><a href="/product-services/customer-personal/@thongtin_spdv9.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Txt_Derivatives</a></li>
                            }

                              @*  ------------------Chứng quyền có bảo đảm-----------------------*@

                            @if (thongtin_spdv_select.Rows[0]["danh_muc_spdvid"].ToString().Trim() == thongtin_spdv7.Rows[0]["danh_muc_spdvid"].ToString().Trim())
                            {
                                <li class="active"><a href="/product-services/customer-personal/@thongtin_spdv7.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Txt_CoveredWarrantsService</a>
                                    <ul class="list-unstyled sub">
                                        @for (int i = 0; i < thongtin_spdv7.Rows.Count; i++)
                                        {
                                            if (thongtin_spdv_select.Rows[0]["thong_tin_spdvid"].ToString().Trim() == thongtin_spdv7.Rows[i]["thong_tin_spdvid"].ToString().Trim())
                                            {
                                            <li class="active"><a href="/product-services/customer-personal/@thongtin_spdv7.Rows[i]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@thongtin_spdv7.Rows[i]["tieu_de"].ToString()</a></li>   
                                            }
                                            else
                                            {
                                            <li><a href="/product-services/customer-personal/@thongtin_spdv7.Rows[i]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@thongtin_spdv7.Rows[i]["tieu_de"].ToString()</a></li>       
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li><a href="/product-services/customer-personal/@thongtin_spdv7.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Txt_CoveredWarrantsService</a></li>   
                            }

                            @*  ------------------Dịch vụ chứng khoán-----------------------*@

                            @if (thongtin_spdv_select.Rows[0]["danh_muc_spdvid"].ToString().Trim() == thongtin_spdv3.Rows[0]["danh_muc_spdvid"].ToString().Trim())
                            {
                                <li class="active"><a href="/product-services/customer-personal/@thongtin_spdv3.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Text_SecurityServices</a>
                                    <ul class="list-unstyled sub">
                                        @for (int i = 0; i < thongtin_spdv3.Rows.Count; i++)
                                        {
                                            if (thongtin_spdv_select.Rows[0]["thong_tin_spdvid"].ToString().Trim() == thongtin_spdv3.Rows[i]["thong_tin_spdvid"].ToString().Trim())
                                            {
                                            <li class="active"><a href="/product-services/customer-personal/@thongtin_spdv3.Rows[i]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@thongtin_spdv3.Rows[i]["tieu_de"].ToString()</a></li>   
                                            }
                                            else
                                            {
                                            <li><a href="/product-services/customer-personal/@thongtin_spdv3.Rows[i]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@thongtin_spdv3.Rows[i]["tieu_de"].ToString()</a></li>       
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li><a href="/product-services/customer-personal/@thongtin_spdv3.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Text_SecurityServices</a></li>   
                            }

                            @*  ------------------Dịch vụ tài chính-----------------------*@

                            @if (thongtin_spdv_select.Rows[0]["danh_muc_spdvid"].ToString().Trim() == thongtin_spdv2.Rows[0]["danh_muc_spdvid"].ToString().Trim())
                            {
                                <li class="active"><a href="/product-services/customer-personal/@thongtin_spdv2.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Txt_FinancialServices</a>
                                    <ul class="list-unstyled sub">
                                        @for (int i = 0; i < thongtin_spdv2.Rows.Count; i++)
                                        {
                                            if (thongtin_spdv_select.Rows[0]["thong_tin_spdvid"].ToString().Trim() == thongtin_spdv2.Rows[i]["thong_tin_spdvid"].ToString().Trim())
                                            {
                                            <li class="active"><a href="/product-services/customer-personal/@thongtin_spdv2.Rows[i]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@thongtin_spdv2.Rows[i]["tieu_de"].ToString()</a></li>   
                                            }
                                            else
                                            {
                                            <li><a href="/product-services/customer-personal/@thongtin_spdv2.Rows[i]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@thongtin_spdv2.Rows[i]["tieu_de"].ToString()</a></li>       
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li><a href="/product-services/customer-personal/@thongtin_spdv2.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Txt_FinancialServices</a></li>   
                            }

                          

                             @*  ------------------Quản lý danh mục đầu tư-----------------------*@

                          @*  @if (thongtin_spdv_select.Rows[0]["danh_muc_spdvid"].ToString().Trim() == thongtin_spdv4.Rows[0]["danh_muc_spdvid"].ToString().Trim())
                            {
                                <li class="active"><a href="/product-services/customer-personal/@thongtin_spdv4.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@thongtin_spdv4.Rows[0]["tieu_de"].ToString()</a></li>   
                            }
                            else
                            {
                                <li><a href="/product-services/customer-personal/@thongtin_spdv4.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@thongtin_spdv4.Rows[0]["tieu_de"].ToString()</a></li>   
                            }*@


                           

                            @*  ------------------Giao dịch trái phiếu-----------------------*@

                            @if (thongtin_spdv_select.Rows[0]["danh_muc_spdvid"].ToString().Trim() == thongtin_spdv8.Rows[0]["danh_muc_spdvid"].ToString().Trim())
                            {
                              
                                <li class="active">
                                    <a href="/product-services/customer-personal/@thongtin_spdv8.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Txt_Bonds</a>
                                    <ul class="list-unstyled sub">
                                        @for (int i = 0; i < thongtin_spdv8.Rows.Count; i++)
                                        {
                                            if (thongtin_spdv_select.Rows[0]["thong_tin_spdvid"].ToString().Trim() == thongtin_spdv8.Rows[i]["thong_tin_spdvid"].ToString().Trim())
                                            {
                                                <li class="active"><a href="/product-services/customer-personal/@thongtin_spdv8.Rows[i]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@thongtin_spdv8.Rows[i]["tieu_de"].ToString()</a></li>
                                            }
                                            else
                                            {
                                                <li><a href="/product-services/customer-personal/@thongtin_spdv8.Rows[i]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@thongtin_spdv8.Rows[i]["tieu_de"].ToString()</a></li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li><a href="/product-services/customer-personal/@thongtin_spdv8.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Txt_Bonds</a></li>
                            }
                         
                             @*  ------------------Biểu phí dịch vụ-----------------------*@
                            
                            @if (thongtin_spdv_select.Rows[0]["danh_muc_spdvid"].ToString().Trim() == thongtin_spdv5.Rows[0]["danh_muc_spdvid"].ToString().Trim())
                            {
                                <li class="active"><a href="/product-services/customer-personal/@thongtin_spdv5.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Text_ServicePrice</a></li>
                            }
                            else
                            {
                                <li><a href="/product-services/customer-personal/@thongtin_spdv5.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Text_ServicePrice</a></li>
                            }

                          
                            @*  ------------------Cam kết chất lượng SLA-----------------------*@


                            @if (thongtin_spdv_select.Rows[0]["danh_muc_spdvid"].ToString().Trim() == thongtin_spdv6.Rows[0]["danh_muc_spdvid"].ToString().Trim())
                            {
                                <li class="active"><a href="/product-services/customer-personal/@thongtin_spdv6.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Txt_SLA</a></li>
                            }
                            else
                            {
                                <li><a href="/product-services/customer-personal/@thongtin_spdv6.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Txt_SLA</a></li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
            <div class="main-content di-table-cell vertical-top">
                @Html.Raw(thongtin_spdv_select.Rows[0]["noi_dung"].ToString())
                <script>
                    $(".panel-title a").attr("data-toggle", "collapse");
                    $(".panel-title a").attr("data-parent", "#accordion");
                </script>
                <div class="sidebar di-table-cell vertical-top mobile">
                    <div class="sidebar-box">
                        <div class="title">
                            @Website_tvsi_v1.App_Resources.Website.Txt_IndividualCustomers
                        </div>
                        <div class="wrapper">
                             <ul class="list-unstyled">
                            <li><a href="/home/open-account"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Text_OpenAccount</a></li>
                             @*  ------------------Chứng khoán cơ sở-----------------------*@
                            @if (thongtin_spdv_select.Rows[0]["danh_muc_spdvid"].ToString().Trim() == thongtin_spdv1.Rows[0]["danh_muc_spdvid"].ToString().Trim())
                            {
                                <li class="active"><a href="/product-services/customer-personal/@thongtin_spdv1.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Text_Brokerage</a>
                                </li>
                            }
                            else
                            {
                                <li><a href="/product-services/customer-personal/@thongtin_spdv1.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Text_Brokerage</a></li>
                            }

                              @*  ------------------Chứng khoán phái sinh-----------------------*@

                            @if (thongtin_spdv_select.Rows[0]["danh_muc_spdvid"].ToString().Trim() == thongtin_spdv9.Rows[0]["danh_muc_spdvid"].ToString().Trim())
                            {
                                <li class="active"><a href="/product-services/customer-personal/@thongtin_spdv9.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Txt_Derivatives</a>
                                     <ul class="list-unstyled sub">
                                        @for (int i = 0; i < thongtin_spdv9.Rows.Count; i++)
                                        {
                                            if (thongtin_spdv_select.Rows[0]["thong_tin_spdvid"].ToString().Trim() == thongtin_spdv9.Rows[i]["thong_tin_spdvid"].ToString().Trim())
                                            {
                                            <li class="active"><a href="/product-services/customer-personal/@thongtin_spdv9.Rows[i]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@thongtin_spdv9.Rows[i]["tieu_de"].ToString()</a></li>   
                                            }
                                            else
                                            {
                                            <li><a href="/product-services/customer-personal/@thongtin_spdv9.Rows[i]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@thongtin_spdv9.Rows[i]["tieu_de"].ToString()</a></li>       
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li><a href="/product-services/customer-personal/@thongtin_spdv9.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Txt_Derivatives</a></li>
                            }

                              @*  ------------------Chứng quyền có bảo đảm-----------------------*@

                            @if (thongtin_spdv_select.Rows[0]["danh_muc_spdvid"].ToString().Trim() == thongtin_spdv7.Rows[0]["danh_muc_spdvid"].ToString().Trim())
                            {
                                <li class="active"><a href="/product-services/customer-personal/@thongtin_spdv7.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Txt_CoveredWarrantsService</a>
                                    <ul class="list-unstyled sub">
                                        @for (int i = 0; i < thongtin_spdv7.Rows.Count; i++)
                                        {
                                            if (thongtin_spdv_select.Rows[0]["thong_tin_spdvid"].ToString().Trim() == thongtin_spdv7.Rows[i]["thong_tin_spdvid"].ToString().Trim())
                                            {
                                            <li class="active"><a href="/product-services/customer-personal/@thongtin_spdv7.Rows[i]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@thongtin_spdv7.Rows[i]["tieu_de"].ToString()</a></li>   
                                            }
                                            else
                                            {
                                            <li><a href="/product-services/customer-personal/@thongtin_spdv7.Rows[i]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@thongtin_spdv7.Rows[i]["tieu_de"].ToString()</a></li>       
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li><a href="/product-services/customer-personal/@thongtin_spdv7.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Txt_CoveredWarrantsService</a></li>   
                            }

                            @*  ------------------Dịch vụ chứng khoán-----------------------*@

                            @if (thongtin_spdv_select.Rows[0]["danh_muc_spdvid"].ToString().Trim() == thongtin_spdv3.Rows[0]["danh_muc_spdvid"].ToString().Trim())
                            {
                                <li class="active"><a href="/product-services/customer-personal/@thongtin_spdv3.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Text_SecurityServices</a>
                                    <ul class="list-unstyled sub">
                                        @for (int i = 0; i < thongtin_spdv3.Rows.Count; i++)
                                        {
                                            if (thongtin_spdv_select.Rows[0]["thong_tin_spdvid"].ToString().Trim() == thongtin_spdv3.Rows[i]["thong_tin_spdvid"].ToString().Trim())
                                            {
                                            <li class="active"><a href="/product-services/customer-personal/@thongtin_spdv3.Rows[i]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@thongtin_spdv3.Rows[i]["tieu_de"].ToString()</a></li>   
                                            }
                                            else
                                            {
                                            <li><a href="/product-services/customer-personal/@thongtin_spdv3.Rows[i]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@thongtin_spdv3.Rows[i]["tieu_de"].ToString()</a></li>       
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li><a href="/product-services/customer-personal/@thongtin_spdv3.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Text_SecurityServices</a></li>   
                            }

                            @*  ------------------Dịch vụ tài chính-----------------------*@

                            @if (thongtin_spdv_select.Rows[0]["danh_muc_spdvid"].ToString().Trim() == thongtin_spdv2.Rows[0]["danh_muc_spdvid"].ToString().Trim())
                            {
                                <li class="active"><a href="/product-services/customer-personal/@thongtin_spdv2.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Txt_FinancialServices</a>
                                    <ul class="list-unstyled sub">
                                        @for (int i = 0; i < thongtin_spdv2.Rows.Count; i++)
                                        {
                                            if (thongtin_spdv_select.Rows[0]["thong_tin_spdvid"].ToString().Trim() == thongtin_spdv2.Rows[i]["thong_tin_spdvid"].ToString().Trim())
                                            {
                                            <li class="active"><a href="/product-services/customer-personal/@thongtin_spdv2.Rows[i]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@thongtin_spdv2.Rows[i]["tieu_de"].ToString()</a></li>   
                                            }
                                            else
                                            {
                                            <li><a href="/product-services/customer-personal/@thongtin_spdv2.Rows[i]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@thongtin_spdv2.Rows[i]["tieu_de"].ToString()</a></li>       
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li><a href="/product-services/customer-personal/@thongtin_spdv2.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Txt_FinancialServices</a></li>   
                            }

                          

                             @*  ------------------Quản lý danh mục đầu tư-----------------------*@

                          @*  @if (thongtin_spdv_select.Rows[0]["danh_muc_spdvid"].ToString().Trim() == thongtin_spdv4.Rows[0]["danh_muc_spdvid"].ToString().Trim())
                            {
                                <li class="active"><a href="/product-services/customer-personal/@thongtin_spdv4.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@thongtin_spdv4.Rows[0]["tieu_de"].ToString()</a></li>   
                            }
                            else
                            {
                                <li><a href="/product-services/customer-personal/@thongtin_spdv4.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@thongtin_spdv4.Rows[0]["tieu_de"].ToString()</a></li>   
                            }*@


                           

                            @*  ------------------Giao dịch trái phiếu-----------------------*@

                            @if (thongtin_spdv_select.Rows[0]["danh_muc_spdvid"].ToString().Trim() == thongtin_spdv8.Rows[0]["danh_muc_spdvid"].ToString().Trim())
                            {
                                <li class="active"><a href="/product-services/customer-personal/@thongtin_spdv8.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Txt_BondTrading</a></li>
                            }
                            else
                            {
                                <li><a href="/product-services/customer-personal/@thongtin_spdv8.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Txt_BondTrading</a></li>
                            }

                             @*  ------------------Biểu phí dịch vụ-----------------------*@
                            
                            @if (thongtin_spdv_select.Rows[0]["danh_muc_spdvid"].ToString().Trim() == thongtin_spdv5.Rows[0]["danh_muc_spdvid"].ToString().Trim())
                            {
                                <li class="active"><a href="/product-services/customer-personal/@thongtin_spdv5.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Text_ServicePrice</a></li>
                            }
                            else
                            {
                                <li><a href="/product-services/customer-personal/@thongtin_spdv5.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Text_ServicePrice</a></li>
                            }

                          
                            @*  ------------------Cam kết chất lượng SLA-----------------------*@


                            @if (thongtin_spdv_select.Rows[0]["danh_muc_spdvid"].ToString().Trim() == thongtin_spdv6.Rows[0]["danh_muc_spdvid"].ToString().Trim())
                            {
                                <li class="active"><a href="/product-services/customer-personal/@thongtin_spdv6.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Txt_SLA</a></li>
                            }
                            else
                            {
                                <li><a href="/product-services/customer-personal/@thongtin_spdv6.Rows[0]["thong_tin_spdvid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Txt_SLA</a></li>
                            }

                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function ClosePopup() {
        //$('#succesModal').modal('hide');
        window.location = "/product-services/customer-personal/106";

    }
</script>
<script>
    $(document).ready(function () {
        $("#succesModal").modal('show');

    });

</script>
@if (TempData["khachhang"] != null ||  TempData["CBNV"] != null)
{
    <div class="modal fade" id="succesModal" tabindex="-1" role="dialog" aria-labelledby="succesModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="min-height: 200px">
                <div class="modal-body">
                    <button type="button" class="close" aria-label="Close" onclick="ClosePopup();"><span aria-hidden="true"></span></button>
                    <div class="messages-cnt">
                        <div style="font-weight: bold;text-align: left;">
                            Trân trọng cảm ơn sự đóng góp quý báu của @(TempData["khachhang"] != null ? "Qúy Khách" : "Anh/Chị")

                        </div>
                        <div style="font-weight: normal; margin-top: 7px; line-height: 2; text-align: left;">

                            TVSI sẽ không ngừng nỗ lực, hoàn thiện để mang đến cho @(TempData["khachhang"] != null ? " Quý khách những sản phẩm và dịch vụ tốt nhất." : "Anh/Chị một môi trường làm việc lý tưởng nhất với những sản phẩm và dịch vụ tốt nhất.") 


                        </div>
                        <div style="font-weight: bold;text-align: left;margin-top: 7px;">
                            Chúc @(TempData["khachhang"] != null ? "Qúy Khách" : "Anh/Chị") sức khỏe, hạnh phúc và thành công!
                            <br/>
                            Trân trọng.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

