﻿@{
    Layout = null;
    var chuyenmuc =(System.Data.DataTable) ViewBag.chuyenmuckh;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>laychuyenmuc_kh</title>
</head>
<body>
    <div>
        @for (int i = 0; i < chuyenmuc.Rows.Count; i++)
        {
            <b>@chuyenmuc.Rows[i]["ten_danh_muc_spdv"].ToString()/@chuyenmuc.Rows[i]["danh_muc_spdvid"].ToString()</b>
        }
    </div>
</body>
</html>
