﻿@{
    Layout = "~/Views/Home/Share/_Layout.cshtml";
    var count = ViewBag.account;
}
@model PagedList.IPagedList<System.Data.DataRow>
@using PagedList.Mvc;
<section id="wrapper-top-content">
    <div class="banner">
        <img src="/images/upload/gioithieu_QuanHeCoDong_BaoCaoThuongNien_banner.png" alt="" class="background-banner">

        @*<div class="container">
            <h1 class="title-page dark">@Website_tvsi_v1.App_Resources.Website.Text_AnnualReport</h1>
        </div>*@
    </div>
</section>
<section id="wrapper-content" class="inner-page">
    <div class="container">
        <div class="row di-table">
            <div class="sidebar di-table-cell vertical-top">
                <div class="sidebar-box">
                    <div class="title">
                        @Html.Raw(Website_tvsi_v1.App_Resources.Website.Txt_ShareholderrelationsF)
                    </div>
                    <div class="wrapper">
                        <ul class="list-unstyled">
                            <li><a href="/introduction/report-finance"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Text_FinanceReport</a></li>
                            <li><a href="/introduction/information-publish"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_Publishedinfor</a></li>
                            <li><a href="/introduction/admin-business"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_CorporateGovernance</a></li>
                            <li><a href="/introduction/information-shareholder"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_Shareholderinfor</a></li>
                            <li class="active"><a href="/introduction/report-annual"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Text_AnnualReport</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main-content di-table-cell vertical-top">
                <div class="detail-content has-title-part">
                    <div class="part">
                        <!--<h3 class="title">Báo cáo thường niên</h3>-->

                        <div class="wrapper">
                            <div class="list-media annual-reports">
                                @foreach(var item in Model){
                                    <div class="item text-center">
                                    <div class="thumb">
                                        <a target="_blank" href="@item["noi_dung"]" title="">
                                            <img src="/images/baocaothuongnien/@item["duong_dan_file_anh"]" alt="..">
                                        </a>
                                    </div>
                                    <div class="wrapper">
                                        <a target="_blank" href="@item["noi_dung"]" title="">@item["tieu_de"]
                                        </a>
                                    </div>
                                </div>
                                }
                            </div>
                            @if(count>6){
                              <div class="pager">
                                <ul class="list-unstyled">
                                  <li>@Html.PagedListPager(Model, page => Url.Action("baocaothuongnien","Qhcodong", new {page}),PagedListRenderOptions.OnlyShowFivePagesAtATime)</li>
                                </ul>
                              </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>