﻿@{
    Layout = "~/Views/Home/Share/_Layout.cshtml";
    var thong_tin_selected = (System.Data.DataTable)ViewBag.thong_tin_selected;
}

<section id="wrapper-top-content">
    <div class="banner">
        <img src="/images/upload/gioithieu_QuanHeCoDong_ThongTinCoDong_banner.png" alt="" class="background-banner">

        @*<div class="container">
            <h1 class="title-page dark">@Website_tvsi_v1.App_Resources.Website.Txt_Shareholderinfor</h1>
        </div>*@
    </div>
</section>
<section id="wrapper-content" class="inner-page">
    <div class="container">
        <div class="row di-table">
            <div class="sidebar di-table-cell vertical-top">
                <div class="sidebar-box">
                    <div class="title">
                        @Html.Raw(Website_tvsi_v1.App_Resources.Website.Txt_ShareholderrelationsF)
                    </div>
                    <div class="wrapper">
                        <ul class="list-unstyled">
                            <li><a href="/introduction/report-finance"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Text_FinanceReport</a></li>
                            <li><a href="/introduction/information-publish"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_Publishedinfor</a></li>
                            <li><a href="/introduction/admin-business"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_CorporateGovernance</a></li>
                            <li class="active"><a href="/introduction/information-shareholder"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_Shareholderinfor</a></li>
                            <li ><a href="/introduction/report-annual"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Text_AnnualReport</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main-content di-table-cell vertical-top">
                @Html.Raw(thong_tin_selected.Rows[0]["noi_dung"].ToString())
                 <script>
                     $(".panel-title a").attr("data-toggle", "collapse");
                     $(".panel-title a").attr("data-parent", "#accordion");
                </script>
           </div>
        </div>
    </div>
</section>
