﻿@{
    Layout = "~/Views/Home/Share/_Layout_khaosat.cshtml";
}
@model Website_tvsi_v1.Models.KhaoSatYkienKhachHangModel

@using (Html.BeginForm())
{
   
    <section id="wrapper-content" class="inner-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="detail-content has-title-part" id="register">
                        <div class="part">
                            <h3 style="color: #414141; font-size: 20px; font-weight: normal; display: inline-block; border-bottom: solid 4px #f00; font-family: Roboto Condensed; margin-bottom: 20px; margin-top: 5px;">II. DỊCH VỤ MÔI GIỚI</h3>
                            <div class="wrapper">
                                <div class="group-form">
                                    <div class="row">
                                        <div class="col-sm-12" style="font-weight: bold;">
                                            Câu 1. Tài khoản của Quý khách đã có nhân viên Môi giới chăm sóc chuyên biệt chưa? 
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">&nbsp;</div>
                                        <div class="col-sm-2">
                                            <div class="radio radio-primary" style ="font-size:13px;">
                                                @Html.RadioButtonFor(model => model.tkduocnvmoigioicsoc, 29, new { id = "tkduocnvmoigioicsoc1" })
                                                <label for="tkduocnvmoigioicsoc1">
                                                    Có
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="radio radio-primary" style ="font-size:13px;">
                                                @Html.RadioButtonFor(model => model.tkduocnvmoigioicsoc, 30, new { id = "tkduocnvmoigioicsoc2" })
                                                <label for="tkduocnvmoigioicsoc2">
                                                    Không
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="show_question1_1" style="display: none;">
                                        <div class="row">
                                            <div class="col-sm-12" style="font-weight: bold;">
                                                Câu 1.2: Quý khách có mong muốn được quản lý tài khoản bởi Nhân viên Môi giới chuyên biệt của TVSI để được nhận sự hỗ trợ tư vấn giao dịch trong ngắn và dài hạn không?
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2">&nbsp;</div>
                                            <div class="col-sm-2">
                                                <div class="radio radio-primary" style ="font-size:13px;">
                                                    @Html.RadioButtonFor(model => model.mongmuontkduocqlyboinvmoigioi, 31, new { id = "mongmuontkduocqlyboinvmoigioi1" })
                                                    <label for="mongmuontkduocqlyboinvmoigioi1">
                                                        Có
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="radio radio-primary" style ="font-size:13px;">
                                                    @Html.RadioButtonFor(model => model.mongmuontkduocqlyboinvmoigioi, 32, new { id = "mongmuontkduocqlyboinvmoigioi2" })
                                                    <label for="mongmuontkduocqlyboinvmoigioi2">
                                                        Không
                                                    </label>
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                    <div id="show_question1_2" style="display: none;">
                                        <div class="row">
                                            <div class="col-sm-12" style="font-weight: bold;">
                                                Câu 1.1: Quý khách đánh giá như thế nào chất lượng dịch vụ Môi giới của TVSI?
                                            </div>
                                        </div>
                                        <div class="row">
                                            <table class="table table-striped">
                                                <thead class="thead-default">
                                                    <tr>
                                                        <th style="width: 25%">&nbsp;</th>
                                                        <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Chưa lần nào</th>
                                                        <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Năm 1-2 lần</th>
                                                        <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Quý 1-2 lần</th>
                                                        <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Tháng 1-2 lần  </th>
                                                        <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Thường xuyên </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row" style="font-weight: normal; font-size: 13px; line-height: 2.5;">Duy trì liên hệ với khách hàng</th>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <div class="radio radio-primary">
                                                                @Html.RadioButtonFor(model => model.duytrilienhekhachhang, 34, new { id = "duytrilienhekhachhang1" })
                                                                <label for="duytrilienhekhachhang1">
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <div class="radio radio-primary">
                                                                @Html.RadioButtonFor(model => model.duytrilienhekhachhang, 35, new { id = "duytrilienhekhachhang2" })
                                                                <label for="duytrilienhekhachhang2">
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <div class="radio radio-primary">
                                                                @Html.RadioButtonFor(model => model.duytrilienhekhachhang, 36, new { id = "duytrilienhekhachhang3" })
                                                                <label for="duytrilienhekhachhang3">
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <div class="radio radio-primary">
                                                                @Html.RadioButtonFor(model => model.duytrilienhekhachhang, 37, new { id = "duytrilienhekhachhang4" })
                                                                <label for="duytrilienhekhachhang4">
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <div class="radio radio-primary">
                                                                @Html.RadioButtonFor(model => model.duytrilienhekhachhang, 38, new { id = "duytrilienhekhachhang5" })
                                                                <label for="duytrilienhekhachhang5">
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                            <table class="table table-striped">
                                                <thead class="thead-default">
                                                    <tr>
                                                        <th style="width: 25%">&nbsp;</th>
                                                        <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Không quan tâm, thiếu chuyên nghiệp</th>
                                                        <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Có phục vụ, thiếu chuyên nghiệp</th>
                                                        <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Nhiệt tình, thiếu chuyên nghiệp</th>
                                                        <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Chuyên nghiệp nhưng không thân thiện</th>
                                                        <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Chuyên nghiệp và thân thiện</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row" style="font-weight: normal; font-size: 13px; line-height: 2.5;">Thái độ khi phục vụ Khách hàng</th>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <div class="radio radio-primary">
                                                                @Html.RadioButtonFor(model => model.thaidophucvu, 39, new { id = "thaidophucvu1" })
                                                                <label for="thaidophucvu1">
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <div class="radio radio-primary">
                                                                @Html.RadioButtonFor(model => model.thaidophucvu, 40, new { id = "thaidophucvu2" })
                                                                <label for="thaidophucvu2">
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <div class="radio radio-primary">
                                                                @Html.RadioButtonFor(model => model.thaidophucvu, 41, new { id = "thaidophucvu3" })
                                                                <label for="thaidophucvu3">
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <div class="radio radio-primary">
                                                                @Html.RadioButtonFor(model => model.thaidophucvu, 42, new { id = "thaidophucvu4" })
                                                                <label for="thaidophucvu4">
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <div class="radio radio-primary">
                                                                @Html.RadioButtonFor(model => model.thaidophucvu, 43, new { id = "thaidophucvu5" })
                                                                <label for="thaidophucvu5">
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table class="table table-striped">
                                                <thead class="thead-default">
                                                    <tr>
                                                        <th style="width: 25%">&nbsp;</th>
                                                        <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Không hỗ trợ</th>
                                                        <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Hỗ trợ không hiệu quả</th>
                                                        <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Đáp ứng khi yêu cầu</th>
                                                        <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Nhiệt tình và hiệu quả</th>
                                                        <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Rất hiệu quả và nhiệt tình</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row" style="font-weight: normal; font-size: 13px; line-height: 1.5;">Hỗ trợ giao dịch (<span style="font-size: 12px; font-style: italic;">hỗ trợ đặt lệnh, thực hiện các giao dịch, cung cấp thông tin tài khoản, giải đáp thắc mắc,…</span>)</th>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <div class="radio radio-primary">
                                                                @Html.RadioButtonFor(model => model.khananghotrogiaodich, 44, new { id = "khananghotrogiaodich1" })
                                                                <label for="khananghotrogiaodich1">
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <div class="radio radio-primary">
                                                                @Html.RadioButtonFor(model => model.khananghotrogiaodich, 45, new { id = "khananghotrogiaodich2" })
                                                                <label for="khananghotrogiaodich2">
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <div class="radio radio-primary">
                                                                @Html.RadioButtonFor(model => model.khananghotrogiaodich, 46, new { id = "khananghotrogiaodich3" })
                                                                <label for="khananghotrogiaodich3">
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <div class="radio radio-primary">
                                                                @Html.RadioButtonFor(model => model.khananghotrogiaodich, 47, new { id = "khananghotrogiaodich4" })
                                                                <label for="khananghotrogiaodich4">
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <div class="radio radio-primary">
                                                                @Html.RadioButtonFor(model => model.khananghotrogiaodich, 48, new { id = "khananghotrogiaodich5" })
                                                                <label for="khananghotrogiaodich5">
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table class="table table-striped">
                                                <thead class="thead-default">
                                                    <tr>
                                                        <th style="width: 25%">&nbsp;</th>
                                                        <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Không có thông tin</th>
                                                        <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Thông tin Không hiệu quả</th>
                                                        <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Thông tin chỉ tham khảo</th>
                                                        <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Có giao dịch theo tin tư vấn</th>
                                                        <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Giao dịch theo tư vấn trên 50%</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row" style="font-weight: normal; font-size: 13px; line-height: 2.5;">Tư vấn đầu tư</th>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <div class="radio radio-primary">
                                                                @Html.RadioButtonFor(model => model.tuvandautu, 49, new { id = "tuvandautu1" })
                                                                <label for="tuvandautu1">
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <div class="radio radio-primary">
                                                                @Html.RadioButtonFor(model => model.tuvandautu, 50, new { id = "tuvandautu2" })
                                                                <label for="tuvandautu2">
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <div class="radio radio-primary">
                                                                @Html.RadioButtonFor(model => model.tuvandautu, 51, new { id = "tuvandautu3" })
                                                                <label for="tuvandautu3">
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <div class="radio radio-primary">
                                                                @Html.RadioButtonFor(model => model.tuvandautu, 52, new { id = "tuvandautu4" })
                                                                <label for="tuvandautu4">
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <div class="radio radio-primary">
                                                                @Html.RadioButtonFor(model => model.tuvandautu, 53, new { id = "tuvandautu5" })
                                                                <label for="tuvandautu5">
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="font-weight: bold; line-height:1.5">Câu 2: Với mong muốn dịch vụ Môi giới tư vấn đầu tư chứng khoán sẽ mang lại sự hài lòng cho khách hàng hơn nữa, xin hãy nêu ý kiến đánh giá khác của Quý khách về dịch vụ của chúng tôi.</div>
                                        <div class="col-sm-12" style="margin-top:10px;">
                                            @Html.TextAreaFor(model => model.ykiendanhgiadvmg, 2, 0, new { id = "ykiendanhgiadvmg", style = "width:100%;", value = "ykiendanhgiadvmg" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="group text-center">
                                            <button type="submit" class="button-default" id="btnSubmit">Tiếp theo >></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<script>

    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            if (!$("input[name=tkduocnvmoigioicsoc]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 1.");
                return false; 
            }

            if ($("input[id=tkduocnvmoigioicsoc1]:checked").val() && !$("input[name=duytrilienhekhachhang]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 1.1 : Duy trì liên hệ khách hàng");
                return false;
            }

            if ($("input[id=tkduocnvmoigioicsoc1]:checked").val() && !$("input[name=thaidophucvu]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 1.1 : Thái độ phục vụ khách hàng");
                return false;
            }

            if ($("input[id=tkduocnvmoigioicsoc1]:checked").val() && !$("input[name=khananghotrogiaodich]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 1.1 : Hỗ trợ giao dịch");
                return false;
            }

            if ($("input[id=tkduocnvmoigioicsoc1]:checked").val() && !$("input[name=tuvandautu]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 1.1 : Tư vấn đầu tư");
                return false;
            }
            

            if ($("input[id=tkduocnvmoigioicsoc2]:checked").val() && !$("input[name=mongmuontkduocqlyboinvmoigioi]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 1.2");
                return false;
            }
        });
    });

    //Check show div

    $('input[type="radio"]').click(function () {

        if ($(this).attr('id') == 'tkduocnvmoigioicsoc2' || $(this).attr('id') == 'mongmuontkduocqlyboinvmoigioi1' || $(this).attr('id') == 'mongmuontkduocqlyboinvmoigioi2' || $(this).attr('id') == 'mongmuontkduocqlyboinvmoigioi3') {
            $('#show_question1_1').show();
            $('#show_question1_2').hide();
        }
        if ($(this).attr('id') == 'tkduocnvmoigioicsoc1') {
            $("#duytrilienhekhachhang1").prop("checked", false);
            $("#duytrilienhekhachhang2").prop("checked", false);
            $("#duytrilienhekhachhang3").prop("checked", false);
            $("#duytrilienhekhachhang4").prop("checked", false);
            $("#duytrilienhekhachhang5").prop("checked", false);
            $("#thaidophucvu1").prop("checked", false);
            $("#thaidophucvu2").prop("checked", false);
            $("#thaidophucvu3").prop("checked", false);
            $("#thaidophucvu4").prop("checked", false);
            $("#thaidophucvu5").prop("checked", false);
            $("#khananghotrogiaodich1").prop("checked", false);
            $("#khananghotrogiaodich2").prop("checked", false);
            $("#khananghotrogiaodich3").prop("checked", false);
            $("#khananghotrogiaodich4").prop("checked", false);
            $("#khananghotrogiaodich5").prop("checked", false);
            $("#tuvandautu1").prop("checked", false);
            $("#tuvandautu2").prop("checked", false);
            $("#tuvandautu3").prop("checked", false);
            $("#tuvandautu4").prop("checked", false);
            $("#tuvandautu5").prop("checked", false);
        }

    });

    

    $('input[type="radio"]').click(function () {
        if ($(this).attr('id') == 'tkduocnvmoigioicsoc1' ) {
            $('#show_question1_2').show();
            $('#show_question1_1').hide();

            
            
        }

        if ($(this).attr('id') == 'tkduocnvmoigioicsoc2') {
            $("#mongmuontkduocqlyboinvmoigioi1").prop("checked", false);
            $("#mongmuontkduocqlyboinvmoigioi2").prop("checked", false);
            $("#mongmuontkduocqlyboinvmoigioi3").prop("checked", false);
        }
    });

</script>
