﻿@{
    Layout = "~/Views/Home/Share/_Layout_khaosat.cshtml";
}

@model Website_tvsi_v1.Models.KhaoSatYkienKhachHangModel
@using (Html.BeginForm())
{
   
    <section id="wrapper-content" class="inner-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="detail-content has-title-part" id="register">
                        <div class="part">
                            <h3 style="color: #414141; font-size: 20px; font-weight: normal; display: inline-block; border-bottom: solid 4px #f00; font-family: Roboto Condensed; margin-bottom: 20px; margin-top: 5px;">PHẦN IV: DỊCH VỤ HỖ TRỢ VỐN</h3>
                            <div class="wrapper">
                                <div class="group-form">
                                    <div class="row">
                                        <div class="col-sm-12" style="font-weight: bold;">
                                            Câu 1.  Quý khách có sử dụng dịch vụ hỗ trợ vốn giao dịch ký quỹ (Margin) nào tại TVSI không?
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">&nbsp;</div>

                                        <div class="col-sm-2">
                                            <div class="radio radio-primary" style="font-size:13px;">
                                                @Html.RadioButtonFor(model => model.sudungdichvugdkyquy, 167, new { id = "sudungdichvugdkyquy1" })
                                                <label for="sudungdichvugdkyquy1">
                                                    Có
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="radio radio-primary" style="font-size:13px;">
                                                @Html.RadioButtonFor(model => model.sudungdichvugdkyquy, 168, new { id = "sudungdichvugdkyquy2" })
                                                <label for="sudungdichvugdkyquy2">
                                                    Không
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="show_question2_1" style="display: none;">
                                        <div class="row">
                                            <div class="col-sm-12" style="font-weight: bold;">Câu 1.2.  Quý khách có thể cho biết lý do vì sao không sử dụng dịch vụ hỗ trợ vốn giao dịch ký quỹ tại TVSI không?</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="checkbox checkbox-primary" style="font-size:13px;">
                                                    @*@Html.CheckBoxFor(model => model.lydokhongconhucaugdkquy, new { id = "lydokhongconhucaugdkquy1", value = 169 })*@
                                                    <input type="checkbox" name="lydokhongconhucaugdkquy" id="lydokhongconhucaugdkquy1" value="169" />
                                                    <label for="lydokhongconhucaugdkquy1">
                                                        Không có nhu cầu
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                               <div class="checkbox checkbox-primary" style="font-size:13px;">
                                                    @*@Html.CheckBoxFor(model => model.lydokhongconhucaugdkquy, new { id = "lydokhongconhucaugdkquy2", value = 170 })*@
                                                   <input type="checkbox" name="lydokhongconhucaugdkquy" id="lydokhongconhucaugdkquy2" value="170" />
                                                    <label for="lydokhongconhucaugdkquy2">
                                                        Không biết dịch vụ này
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                               <div class="checkbox checkbox-primary" style="font-size:13px;">
                                                    @*@Html.CheckBoxFor(model => model.lydokhongconhucaugdkquy, new { id = "lydokhongconhucaugdkquy3", value = 171 })*@
                                                   <input type="checkbox" name="lydokhongconhucaugdkquy" id="lydokhongconhucaugdkquy3" value="171" />
                                                    <label for="lydokhongconhucaugdkquy3">
                                                        Biết dịch vụ nhưng không hiểu và không được tư vấn nên chưa dùng
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                               <div class="checkbox checkbox-primary" style="font-size:13px;">
                                                    @*@Html.CheckBoxFor(model => model.lydokhongconhucaugdkquy, new { id = "lydokhongconhucaugdkquy4", value = 172 })*@
                                                   <input type="checkbox" name="lydokhongconhucaugdkquy" id="lydokhongconhucaugdkquy4" value="172" />
                                                    <label for="lydokhongconhucaugdkquy4">
                                                        Biết dịch vụ nhưng thủ tục phức tạp nên không dùng
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="show_question2_2" style="display: none;">
                                        <div class="row">
                                            <div class="col-sm-12" style="font-weight: bold;">Câu 1.1.  Tại TVSI, Quý khách thường sử dụng dịch vụ hỗ trợ vốn nào sau đây?</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                               <div class="checkbox checkbox-primary" style="font-size:13px;">
                                                    @*@Html.CheckBoxFor(model => model.dichvuhotrovon, new { id = "dichvuhotrovon1", value = 173 })*@
                                                   <input type="checkbox" name="dichvuhotrovon" id="dichvuhotrovon1" value="173" />
                                                    <label for="dichvuhotrovon1">
                                                        Ký quỹ (Vay Margin)
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                               <div class="checkbox checkbox-primary" style="font-size:13px;">
                                                    @*@Html.CheckBoxFor(model => model.dichvuhotrovon, new { id = "dichvuhotrovon2", value = 174 })*@
                                                   <input type="checkbox" name="dichvuhotrovon" id="dichvuhotrovon2" value="174" />
                                                    <label for="dichvuhotrovon2">
                                                        Ứng trước tiền bán chứng khoán
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                               <div class="checkbox checkbox-primary" style="font-size:13px;">
                                                    @*@Html.CheckBoxFor(model => model.dichvuhotrovon, new { id = "dichvuhotrovon3", value = 175 })*@
                                                   <input type="checkbox" name="dichvuhotrovon" id="dichvuhotrovon3" value="175" />
                                                    <label for="dichvuhotrovon3">
                                                        Biết dịch vụ nhưng không hiểu và không được tư vấn nên chưa dùng
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                               <div class="checkbox checkbox-primary" style="font-size:13px;">
                                                    @*@Html.CheckBoxFor(model => model.dichvuhotrovon, new { id = "dichvuhotrovon4", value = 176 })*@
                                                   <input type="checkbox" name="dichvuhotrovon" id="dichvuhotrovon4" value="176" />
                                                    <label for="dichvuhotrovon4">
                                                        Khác
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="font-weight: bold;">Câu 2.  Quý khách biết đến đến những gói dịch vụ hỗ trợ vốn giao dịch ký quỹ nào tại TVSI?</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                           <div class="checkbox checkbox-primary" style="font-size:13px;">
                                               @* @Html.CheckBoxFor(model => model.goidichvuhotrovongdkquy, new { id = "goidichvuhotrovongdkquy1", value = 177 })*@
                                               <input type="checkbox" name="goidichvuhotrovongdkquy" id="goidichvuhotrovongdkquy1" value="177" />
                                                <label for="goidichvuhotrovongdkquy1">
                                                    Gói Cơ bản (13.9%)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                           <div class="checkbox checkbox-primary" style="font-size:13px;">
                                                @*@Html.CheckBoxFor(model => model.goidichvuhotrovongdkquy, new { id = "goidichvuhotrovongdkquy2", value = 178 })*@
                                               <input type="checkbox" name="goidichvuhotrovongdkquy" id="goidichvuhotrovongdkquy2" value="178" />
                                                <label for="goidichvuhotrovongdkquy2">
                                                    Gói linh hoạt (Gói Linh hoạt (HF-High Flexible): 14.76%; Gói Siêu linh hoạt (SF-Super Flexible): 15.01%).
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                           <div class="checkbox checkbox-primary" style="font-size:13px;">
                                                @*@Html.CheckBoxFor(model => model.goidichvuhotrovongdkquy, new { id = "goidichvuhotrovongdkquy3", value = 179 })*@
                                               <input type="checkbox" name="goidichvuhotrovongdkquy" id="goidichvuhotrovongdkquy3" value="179" />
                                                <label for="goidichvuhotrovongdkquy3">
                                                    Gói dành cho khách VIP (Gói Kim Cương: 13.5%; Gói Bạch Kim: 16.5%; Gói Vàng: 13.8%)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                           <div class="checkbox checkbox-primary" style="font-size:13px;">
                                                @*@Html.CheckBoxFor(model => model.goidichvuhotrovongdkquy, new { id = "goidichvuhotrovongdkquy4", value = 180 })*@
                                               <input type="checkbox" name="goidichvuhotrovongdkquy" id="goidichvuhotrovongdkquy4" value="180" />
                                                <label for="goidichvuhotrovongdkquy4">
                                                    Gói Top 30 (12%)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                           <div class="checkbox checkbox-primary" style="font-size:13px;">
                                                @*@Html.CheckBoxFor(model => model.goidichvuhotrovongdkquy, new { id = "goidichvuhotrovongdkquy5", value = 181 })*@
                                               <input type="checkbox" name="goidichvuhotrovongdkquy" id="goidichvuhotrovongdkquy5" value="181" />
                                                <label for="goidichvuhotrovongdkquy5">
                                                    Gói hỗ trợ lãi suất vay thấp từ ngân hàng liên kết với TVSI
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="font-weight: bold;">Câu 3.  Quý khách hàng đánh giá cao tiêu chí nào nhất trong về sự linh hoạt trong dịch vụ hỗ trợ vốn giao dịch ký quỹ tại TVSI?</div>
                                    </div>
                                    <div class="row">
                                        
                                        <div class="col-sm-12">
                                            <div class="radio radio-primary" style="font-size:13px;">
                                                @Html.RadioButtonFor(model => model.tieuchidichvugdkyquy, 182, new { id = "tieuchidichvugdkyquy1" })
                                                <label for="tieuchidichvugdkyquy1">
                                                    Thời hạn giao dịch cho vay (không cần tất toán sau 3 tháng)    
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="radio radio-primary" style="font-size:13px;">
                                                @Html.RadioButtonFor(model => model.tieuchidichvugdkyquy, 183, new { id = "tieuchidichvugdkyquy2" })
                                                <label for="tieuchidichvugdkyquy2">
                                                    Sự đa dạng của danh mục chứng khoán cho vay (400 mã chứng khoán)
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="font-weight: bold;">Câu 4.  Quý khách vui lòng cho biết đánh giá của mình về dịch vụ hỗ trợ vốn giao dịch ký quỹ tại TVSI?</div>
                                    </div>
                                    <div class="row">
                                        <table class="table table-striped">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th style="width: 25%">&nbsp;</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Phức tạp và mất nhiều thời gian</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Đơn giản nhưng thời gian chờ thủ tục phê duyệt lâu</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Bình thường</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Đơn giản</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Đơn giản và nhanh</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row" style="font-weight: normal; font-size: 13px; line-height: 2.5;">Thủ tục hỗ trợ vốn</th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.thutucgiaodichkyquy, 184, new { id = "thutucgiaodichkyquy1" })
                                                            <label for="thutucgiaodichkyquy1">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.thutucgiaodichkyquy, 185, new { id = "thutucgiaodichkyquy2" })
                                                            <label for="thutucgiaodichkyquy2">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.thutucgiaodichkyquy, 186, new { id = "thutucgiaodichkyquy3" })
                                                            <label for="thutucgiaodichkyquy3">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.thutucgiaodichkyquy, 187, new { id = "thutucgiaodichkyquy4" })
                                                            <label for="thutucgiaodichkyquy4">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.thutucgiaodichkyquy, 188, new { id = "thutucgiaodichkyquy5" })
                                                            <label for="thutucgiaodichkyquy5">
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                         <table class="table table-striped">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th style="width: 25%">&nbsp;</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Rất cao</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Cao</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Bình thường</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Cạnh tranh trên thị trường</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Thấp</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row" style="font-weight: normal; font-size: 13px; line-height: 2.5;">Phí dịch vụ</th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.phidichvugiaodichkyquy, 189, new { id = "phidichvugiaodichkyquy1" })
                                                            <label for="phidichvugiaodichkyquy1">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.phidichvugiaodichkyquy, 190, new { id = "phidichvugiaodichkyquy2" })
                                                            <label for="phidichvugiaodichkyquy2">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.phidichvugiaodichkyquy, 191, new { id = "phidichvugiaodichkyquy3" })
                                                            <label for="phidichvugiaodichkyquy3">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.phidichvugiaodichkyquy, 192, new { id = "phidichvugiaodichkyquy4" })
                                                            <label for="phidichvugiaodichkyquy4">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.phidichvugiaodichkyquy, 193, new { id = "phidichvugiaodichkyquy5" })
                                                            <label for="phidichvugiaodichkyquy5">
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                    <div class="row">
                                         <table class="table table-striped">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th style="width: 25%">&nbsp;</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Quá ít mã chứng khoán, và cần bổ sung thêm mã chứng khoán</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Ít mã chứng khoán</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Bình thường, đáp ứng đủ nhu cầu</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Đa dạng nhưng chưa được cập nhật</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Đa dạng và cập nhật</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row" style="font-weight: normal; font-size: 13px; line-height: 2.5;">Độ đa dạng, cập nhật của danh mục ký quỹ</th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.capnhatdanhmucgiaodichkyquy, 194, new { id = "capnhatdanhmucgiaodichkyquy1" })
                                                            <label for="capnhatdanhmucgiaodichkyquy1">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.capnhatdanhmucgiaodichkyquy, 195, new { id = "capnhatdanhmucgiaodichkyquy2" })
                                                            <label for="capnhatdanhmucgiaodichkyquy2">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.capnhatdanhmucgiaodichkyquy, 196, new { id = "capnhatdanhmucgiaodichkyquy3" })
                                                            <label for="capnhatdanhmucgiaodichkyquy3">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.capnhatdanhmucgiaodichkyquy, 197, new { id = "capnhatdanhmucgiaodichkyquy4" })
                                                            <label for="capnhatdanhmucgiaodichkyquy4">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.capnhatdanhmucgiaodichkyquy, 198, new { id = "capnhatdanhmucgiaodichkyquy5" })
                                                            <label for="capnhatdanhmucgiaodichkyquy5">
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                    <div class="row">
                                         <table class="table table-striped">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th style="width: 25%">&nbsp;</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Rất thấp</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Thấp</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Bình thường</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Cao</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Rất cao</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row" style="font-weight: normal; font-size: 13px; line-height: 2.5;">Tỷ lệ hỗ trợ vốn trên TKGDKQ</th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.tylehtrovontkgiaodichkyquy, 199, new { id = "tylehtrovontkgiaodichkyquy1" })
                                                            <label for="tylehtrovontkgiaodichkyquy1">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.tylehtrovontkgiaodichkyquy, 200, new { id = "tylehtrovontkgiaodichkyquy2" })
                                                            <label for="tylehtrovontkgiaodichkyquy2">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.tylehtrovontkgiaodichkyquy, 201, new { id = "tylehtrovontkgiaodichkyquy3" })
                                                            <label for="tylehtrovontkgiaodichkyquy3">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.tylehtrovontkgiaodichkyquy, 202, new { id = "tylehtrovontkgiaodichkyquy4" })
                                                            <label for="tylehtrovontkgiaodichkyquy4">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.tylehtrovontkgiaodichkyquy, 203, new { id = "tylehtrovontkgiaodichkyquy5" })
                                                            <label for="tylehtrovontkgiaodichkyquy5">
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                    <div class="row">
                                        <table class="table table-striped">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th style="width: 25%">&nbsp;</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Kém linh hoạt</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Chưa được linh hoạt</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Bình thường</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Linh hoạt</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Rất linh hoạt</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row" style="font-weight: normal; font-size: 13px; line-height: 1.5;">Độ linh hoạt của các gói sản phẩm hỗ trợ tài chính</th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.goisphamgiaodichkyquy, 204, new { id = "goisphamgiaodichkyquy1" })
                                                            <label for="goisphamgiaodichkyquy1">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.goisphamgiaodichkyquy, 205, new { id = "goisphamgiaodichkyquy2" })
                                                            <label for="goisphamgiaodichkyquy2">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.goisphamgiaodichkyquy, 206, new { id = "goisphamgiaodichkyquy3" })
                                                            <label for="goisphamgiaodichkyquy3">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.goisphamgiaodichkyquy, 207, new { id = "goisphamgiaodichkyquy4" })
                                                            <label for="goisphamgiaodichkyquy4">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.goisphamgiaodichkyquy, 208, new { id = "goisphamgiaodichkyquy5" })
                                                            <label for="goisphamgiaodichkyquy5">
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                    <div class="row">
                                         <table class="table table-striped">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th style="width: 25%">&nbsp;</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Thiếu thông tin, không rõ ràng</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Đủ thông tin nhưng khó hiểu</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Đầy đủ thông tin</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Đủ thông tin và dễ hiểu</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Đủ thông tin và rất tiện dụng</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row" style="font-weight: normal; font-size: 13px; line-height: 1.5;">Hệ thống quản lý Hỗ trợ tính toán, tiện ích của giao dịch ký quỹ</th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.hthonghotrogiaodichkyquy, 209, new { id = "hthonghotrogiaodichkyquy1" })
                                                            <label for="hthonghotrogiaodichkyquy1">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.hthonghotrogiaodichkyquy, 210, new { id = "hthonghotrogiaodichkyquy2" })
                                                            <label for="hthonghotrogiaodichkyquy2">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.hthonghotrogiaodichkyquy, 211, new { id = "hthonghotrogiaodichkyquy3" })
                                                            <label for="hthonghotrogiaodichkyquy3">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.hthonghotrogiaodichkyquy, 212, new { id = "hthonghotrogiaodichkyquy4" })
                                                            <label for="hthonghotrogiaodichkyquy4">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.hthonghotrogiaodichkyquy, 213, new { id = "hthonghotrogiaodichkyquy5" })
                                                            <label for="hthonghotrogiaodichkyquy5">
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                    <div class="row">
                                         <table class="table table-striped">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th style="width: 25%">&nbsp;</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Gửi muộn và không hướng dẫn rõ ràng</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Gửi muộn và hướng dẫn rõ ràng</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Bình thường</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Gửi sớm và có hướng dẫn thủ tục</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Sớm và rõ ràng</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row" style="font-weight: normal; font-size: 13px; line-height: 2.5;">TVSI gửi thông tin trao đổi về tài sản đảm bảo</th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.guithongtintraodoitsdb, 214, new { id = "guithongtintraodoitsdb1" })
                                                            <label for="guithongtintraodoitsdb1">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.guithongtintraodoitsdb, 215, new { id = "guithongtintraodoitsdb2" })
                                                            <label for="guithongtintraodoitsdb2">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.guithongtintraodoitsdb, 216, new { id = "guithongtintraodoitsdb3" })
                                                            <label for="guithongtintraodoitsdb3">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.guithongtintraodoitsdb, 217, new { id = "guithongtintraodoitsdb4" })
                                                            <label for="guithongtintraodoitsdb4">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.guithongtintraodoitsdb, 218, new { id = "guithongtintraodoitsdb5" })
                                                            <label for="guithongtintraodoitsdb5">
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                    <div class="row">
                                         <table class="table table-striped">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th style="width: 25%">&nbsp;</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Không cập nhật cho khách hàng</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Ít cập nhật cho khách hàng</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Bình thường</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Cập nhật chưa thường xuyên</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle;font-size:11px;">Cập nhật thường xuyên</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row" style="font-weight: normal; font-size: 13px; line-height: 1.5;">Điều chỉnh các chính sách cho vay trên TKGDKQ</th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.chinhsachchovaygdichkquy, 219, new { id = "chinhsachchovaygdichkquy1" })
                                                            <label for="chinhsachchovaygdichkquy1">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.chinhsachchovaygdichkquy, 220, new { id = "chinhsachchovaygdichkquy2" })
                                                            <label for="chinhsachchovaygdichkquy2">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.chinhsachchovaygdichkquy, 221, new { id = "chinhsachchovaygdichkquy3" })
                                                            <label for="chinhsachchovaygdichkquy3">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.chinhsachchovaygdichkquy, 222, new { id = "chinhsachchovaygdichkquy4" })
                                                            <label for="chinhsachchovaygdichkquy4">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.chinhsachchovaygdichkquy, 223, new { id = "chinhsachchovaygdichkquy5" })
                                                            <label for="chinhsachchovaygdichkquy5">
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="font-weight: bold;">Câu 5: Quý khách có đang sử dụng dịch vụ hỗ trợ vốn tại công ty nào khác ngoài TVSI không?</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="margin-top: 15px;">
                                            @Html.TextAreaFor(model => model.sdungdvctyngoai, 2, 0, new { id = "sdungdvctyngoai", style = "width:100%;", value = "sdungdvctyngoai" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="font-weight: bold;">Quý khách vui lòng cho biết lý do lựa chọn dịch vụ tại các công ty trên:</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                           <div class="checkbox checkbox-primary" style="font-size:13px;">
                                                @*@Html.CheckBoxFor(model => model.lydoluachonctykhac, new { id = "lydoluachonctykhac1", value = 357 })*@
                                               <input type="checkbox" name="lydoluachonctykhac" id="lydoluachonctykhac1" value="357" />
                                                <label for="lydoluachonctykhac1">
                                                    Danh mục
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                           <div class="checkbox checkbox-primary" style="font-size:13px;">
                                                @*@Html.CheckBoxFor(model => model.lydoluachonctykhac, new { id = "lydoluachonctykhac2", value = 358 })*@
                                               <input type="checkbox" name="lydoluachonctykhac" id="lydoluachonctykhac2" value="358" />
                                                <label for="lydoluachonctykhac2">
                                                    Tính linh hoạt
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                           <div class="checkbox checkbox-primary" style="font-size:13px;">
                                                @*@Html.CheckBoxFor(model => model.lydoluachonctykhac, new { id = "lydoluachonctykhac3", value = 359 })*@
                                               <input type="checkbox" name="lydoluachonctykhac" id="lydoluachonctykhac3" value="359" />
                                                <label for="lydoluachonctykhac3">
                                                    Lãi suất
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                           <div class="checkbox checkbox-primary" style="font-size:13px;">
                                                @*@Html.CheckBoxFor(model => model.lydoluachonctykhac, new { id = "lydoluachonctykhac4", value = 360 })*@
                                               <input type="checkbox" name="lydoluachonctykhac" id="lydoluachonctykhac4" value="360" />
                                                <label for="lydoluachonctykhac4">
                                                    Nguồn vốn
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                           <div class="checkbox checkbox-primary" style="font-size:13px;">
                                                @*@Html.CheckBoxFor(model => model.lydoluachonctykhac, new { id = "lydoluachonctykhac5", value = 361 })*@
                                               <input type="checkbox" name="lydoluachonctykhac" id="lydoluachonctykhac5" value="361" />
                                                <label for="lydoluachonctykhac5">
                                                    Chất lượng dịch vụ
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="font-weight: bold;">Gói dịch vụ tài chính nào ở các công ty này được Quý khách hàng đánh giá cao hoặc sử dụng nhiều nhất?</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="margin-top: 15px;">
                                            @Html.TextAreaFor(model => model.goidvutchinhctyngoai, 2, 0, new { id = "goidvutchinhctyngoai", style = "width:100%;", value = "goidvutchinhctyngoai" })
                                        </div>
                                    </div>

                                     <div class="row">
                                        <div class="col-sm-12" style="font-weight: bold;">Câu 6:  Quý khách hàng vui lòng cho biết các ý kiến đóng góp khác.</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="margin-top: 15px;">
                                            @Html.TextAreaFor(model => model.donggopykienkhac, 2, 0, new { id = "donggopykienkhac", style = "width:100%;", value = "donggopykienkhac" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="group text-center">
                                            <button type="submit" class="button-default" id="btnSubmit">Tiếp theo >></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<script>

    $('input[type="radio"]').click(function () {
        if ($(this).attr('id') == 'sudungdichvugdkyquy1') {
            $('#show_question2_2').show();
            $('#show_question2_1').hide();

            //

            $("#lydokhongconhucaugdkquy1").prop("checked", false);
            $("#lydokhongconhucaugdkquy2").prop("checked", false);
            $("#lydokhongconhucaugdkquy3").prop("checked", false);
            $("#lydokhongconhucaugdkquy4").prop("checked", false);

        }

        
        //show div_accoun
    });

    $('input[type="radio"]').click(function () {
        if ($(this).attr('id') == 'sudungdichvugdkyquy2') {
            $('#show_question2_1').show();
            $('#show_question2_2').hide();

            //
            $("#dichvuhotrovon1").prop("checked", false);
            $("#dichvuhotrovon2").prop("checked", false);
            $("#dichvuhotrovon3").prop("checked", false);
            $("#dichvuhotrovon4").prop("checked", false);
        }


        

    });


    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            if (!$("input[name=sudungdichvugdkyquy]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 1.");
                return false;
            }
            if ($("input[id=sudungdichvugdkyquy1]:checked").val() && !$("input[name=dichvuhotrovon]:checked").val())
            {
                 alert("Quý khách hãy hoàn thành câu hỏi số 1.1");
                 return false;
            }
            if ($("input[id=sudungdichvugdkyquy2]:checked").val() && !$("input[name=lydokhongconhucaugdkquy]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 1.2");
                return false;
            }
            if (!$("input[name=goidichvuhotrovongdkquy]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 2.");
                return false;
            }
            if (!$("input[name=tieuchidichvugdkyquy]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 3.");
                return false;
            }


            if (!$("input[name=capnhatdanhmucgiaodichkyquy]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 4: Độ đa dạng, cập nhật của danh mục ký quỹ.");
                return false;
            }

            if (!$("input[name=tylehtrovontkgiaodichkyquy]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 4: Tỷ lệ hỗ trợ vốn trên TKGDKQ.");
                return false;
            }

            if (!$("input[name=goisphamgiaodichkyquy]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 4: Độ linh hoạt của các gói sản phẩm hỗ trợ tài chính.");
                return false;
            }

            if (!$("input[name=hthonghotrogiaodichkyquy]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 4: Hệ thống quản lý Hỗ trợ tính toán, tiện ích của giao dịch ký quỹ.");
                return false;
            }
            if (!$("input[name=guithongtintraodoitsdb]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 4: TVSI gửi thông tin trao đổi về tài sản đảm bảo.");
                return false;
            }


            if (!$("input[name=chinhsachchovaygdichkquy]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 4: Điều chỉnh các chính sách cho vay trên TKGDKQ.");
                return false;
            }
            if ($("#sdungdvctyngoai").val() && !$("input[name=lydoluachonctykhac]:checked").val()) {
                alert("Quý khách vui lòng cho biết lý do lựa chọn dịch vụ tại các công ty trên.");
                return false;
            }

            return true;

        });
    });
</script>
