﻿@{
    Layout = "~/Views/Home/Share/_Layout_khaosat.cshtml";
}
@model Website_tvsi_v1.Models.KhaoSatYkienKhachHangModel
@using (Html.BeginForm())
{
   
    <section id="wrapper-content" class="inner-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="detail-content has-title-part" id="register">
                        <div class="part">
                            <h3 style="color: #414141; font-size: 20px; font-weight: normal; display: inline-block; border-bottom: solid 4px #f00; font-family: Roboto Condensed; margin-bottom: 20px; margin-top: 5px;">PHẦN V: WEBSITE, BẢNG GIÁ,  TRUNG TÂM PHÂN TÍCH</h3>
                            <div class="wrapper">
                                <div class="group-form">
                                    <div class="row">
                                        <div class="col-sm-12" style="font-weight: bold; line-height: 1.5;">
                                            Câu 1: Quý khách vui lòng cho biết ý kiến của mình về :<br />
                                            Giao diện website TVSI (www.tvsi.com.vn)
                                        </div>
                                    </div>

                                    <div class="row">
                                        <table class="table table-striped">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th style="width: 25%">&nbsp;</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Rất xấu và bất tiện</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Đẹp nhưng bất tiện</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Thuận tiện nhưng chưa đẹp</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Đẹp và khá thuận tiện</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Đẹp và rất thuận tiện</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row" style="font-weight: normal; font-size: 13px; line-height: 2.5;">Hình thức/Giao diện</th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.hinhthucgiaodienweb, 224, new { id = "hinhthucgiaodienweb1" })
                                                            <label for="hinhthucgiaodienweb1">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.hinhthucgiaodienweb, 225, new { id = "hinhthucgiaodienweb2" })
                                                            <label for="hinhthucgiaodienweb2">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.hinhthucgiaodienweb, 226, new { id = "hinhthucgiaodienweb3" })
                                                            <label for="hinhthucgiaodienweb3">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.hinhthucgiaodienweb, 227, new { id = "hinhthucgiaodienweb4" })
                                                            <label for="hinhthucgiaodienweb4">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.hinhthucgiaodienweb, 228, new { id = "hinhthucgiaodienweb5" })
                                                            <label for="hinhthucgiaodienweb5">
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <table class="table table-striped">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th style="width: 25%">&nbsp;</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Không có thông tin</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Thông tin không hữu ích và ít được cập nhật</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Thông tin hữu ích và không được cập nhật thường xuyên</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Thông tin hữu ích và ít được cập nhật thường xuyên</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Thông tin hữu ích và cập nhật thường xuyên</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row" style="font-weight: normal; font-size: 13px; line-height: 2.5;">Nội dung thông tin</th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.noidungweb, 229, new { id = "noidungweb1" })
                                                            <label for="noidungweb1">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.noidungweb, 230, new { id = "noidungweb2" })
                                                            <label for="noidungweb2">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.noidungweb, 231, new { id = "noidungweb3" })
                                                            <label for="noidungweb3">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.noidungweb, 232, new { id = "noidungweb4" })
                                                            <label for="noidungweb4">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.noidungweb, 233, new { id = "noidungweb5" })
                                                            <label for="noidungweb5">
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <table class="table table-striped">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th style="width: 25%">&nbsp;</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Rắc rối và khó tìm kiếm thông tin</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Rắc rối và phải bấm chuột nhiều lần mới tìm kiếm được thông tin</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Bình thường/Chấp nhận được</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Rõ ràng, dễ dàng tìm kiếm thông tin</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Rõ ràng, khoa học và thuận tiện cho việc tìm kiếm thông tin</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row" style="font-weight: normal; font-size: 13px; line-height: 2.5;">Bố cục và chức năng</th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.bocucchucnangweb, 234, new { id = "bocucchucnangweb1" })
                                                            <label for="bocucchucnangweb1">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.bocucchucnangweb, 235, new { id = "bocucchucnangweb2" })
                                                            <label for="bocucchucnangweb2">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.bocucchucnangweb, 236, new { id = "bocucchucnangweb3" })
                                                            <label for="bocucchucnangweb3">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.bocucchucnangweb, 237, new { id = "bocucchucnangweb4" })
                                                            <label for="bocucchucnangweb4">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.bocucchucnangweb, 238, new { id = "bocucchucnangweb5" })
                                                            <label for="bocucchucnangweb5">
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <table class="table table-striped">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th style="width: 25%">&nbsp;</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Rất chậm (trên 3s)</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Chậm (2-3s)</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Bình thường (khoảng 1s)</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Nhanh (dưới 1s)</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Rất nhanh (tức thì)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row" style="font-weight: normal; font-size: 13px; line-height: 2.5;">Tốc độ</th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.tocdoweb, 239, new { id = "tocdoweb1" })
                                                            <label for="tocdoweb1">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.tocdoweb, 240, new { id = "tocdoweb2" })
                                                            <label for="tocdoweb2">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.tocdoweb, 241, new { id = "tocdoweb3" })
                                                            <label for="tocdoweb3">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.tocdoweb, 242, new { id = "tocdoweb4" })
                                                            <label for="tocdoweb4">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.tocdoweb, 243, new { id = "tocdoweb5" })
                                                            <label for="tocdoweb5">
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="font-weight: bold;">
                                            Bảng giá TVSI
                                        </div>
                                    </div>
                                    <div class="row">
                                        <table class="table table-striped">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th style="width: 25%">&nbsp;</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Không cập nhật và sai thông tin</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Chính xác nhưng không được cập nhật thường xuyên</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Bình thường</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Chính xác, chưa cập nhật thường xuyên</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Chính xác và được cập nhật thường xuyên</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row" style="font-weight: normal; font-size: 13px; line-height: 2.5;">Tính chính xác và cập nhật</th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.tinhcxaccapnhatbgia, 244, new { id = "tinhcxaccapnhatbgia1" })
                                                            <label for="tinhcxaccapnhatbgia1">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.tinhcxaccapnhatbgia, 245, new { id = "tinhcxaccapnhatbgia2" })
                                                            <label for="tinhcxaccapnhatbgia2">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.tinhcxaccapnhatbgia, 246, new { id = "tinhcxaccapnhatbgia3" })
                                                            <label for="tinhcxaccapnhatbgia3">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.tinhcxaccapnhatbgia, 247, new { id = "tinhcxaccapnhatbgia4" })
                                                            <label for="tinhcxaccapnhatbgia4">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.tinhcxaccapnhatbgia, 248, new { id = "tinhcxaccapnhatbgia5" })
                                                            <label for="tinhcxaccapnhatbgia5">
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <table class="table table-striped">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th style="width: 25%">&nbsp;</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Rất chậm (trên 3s)</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Chậm (2-3s)</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Bình thường (khoảng 1s)</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Nhanh (dưới 1s)</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Rất nhanh (tức thì)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row" style="font-weight: normal; font-size: 13px; line-height: 2.5;">Tốc độ</th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.tocdobgia, 249, new { id = "tocdobgia1" })
                                                            <label for="tocdobgia1">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.tocdobgia, 250, new { id = "tocdobgia2" })
                                                            <label for="tocdobgia2">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.tocdobgia, 251, new { id = "tocdobgia3" })
                                                            <label for="tocdobgia3">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.tocdobgia, 252, new { id = "tocdobgia4" })
                                                            <label for="tocdobgia4">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.tocdobgia, 253, new { id = "tocdobgia5" })
                                                            <label for="tocdobgia5">
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <table class="table table-striped">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th style="width: 25%">&nbsp;</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Rất xấu và bất tiện</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Đẹp nhưng bất tiện</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Thuận tiện nhưng chưa đẹp</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Đẹp và khá thuận tiện</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Đẹp và rất thuận tiện</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row" style="font-weight: normal; font-size: 13px; line-height: 2.5;">Giao diện</th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.giaodienbgia, 254, new { id = "giaodienbgia1" })
                                                            <label for="giaodienbgia1">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.giaodienbgia, 255, new { id = "giaodienbgia2" })
                                                            <label for="giaodienbgia2">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.giaodienbgia, 256, new { id = "giaodienbgia3" })
                                                            <label for="giaodienbgia3">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.giaodienbgia, 257, new { id = "giaodienbgia4" })
                                                            <label for="giaodienbgia4">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.giaodienbgia, 258, new { id = "giaodienbgia5" })
                                                            <label for="giaodienbgia5">
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="font-weight: bold;">
                                            Trung tâm phân tích
                                        </div>
                                    </div>
                                    <div class="row">
                                        <table class="table table-striped">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th style="width: 25%">&nbsp;</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Không có thông tin</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Thông tin không hiệu quả</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Bình thường</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Cập nhật, thông tin hữu ích</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Cập nhật thường xuyên, thông tin hữu ích</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row" style="font-weight: normal; font-size: 13px; line-height: 2.5;">Thông tin thị trường</th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.ttthitruongttptich, 259, new { id = "ttthitruongttptich1" })
                                                            <label for="ttthitruongttptich1">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.ttthitruongttptich, 260, new { id = "ttthitruongttptich2" })
                                                            <label for="ttthitruongttptich2">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.ttthitruongttptich, 261, new { id = "ttthitruongttptich3" })
                                                            <label for="ttthitruongttptich3">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.ttthitruongttptich, 262, new { id = "ttthitruongttptich4" })
                                                            <label for="ttthitruongttptich4">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.ttthitruongttptich, 263, new { id = "ttthitruongttptich5" })
                                                            <label for="ttthitruongttptich5">
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <table class="table table-striped">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th style="width: 25%">&nbsp;</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Chậm và không chính xác</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Chậm và chính xác</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Bình thường</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Nhanh và chính xác</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Rất nhanh và chính xác</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row" style="font-weight: normal; font-size: 13px; line-height: 2.5;">Trung tâm phân tích, lọc cổ phiếu</th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.loccophieuttptich, 264, new { id = "loccophieuttptich1" })
                                                            <label for="loccophieuttptich1">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.loccophieuttptich, 265, new { id = "loccophieuttptich2" })
                                                            <label for="loccophieuttptich2">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.loccophieuttptich, 266, new { id = "loccophieuttptich3" })
                                                            <label for="loccophieuttptich3">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.loccophieuttptich, 267, new { id = "loccophieuttptich4" })
                                                            <label for="loccophieuttptich4">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.loccophieuttptich, 268, new { id = "loccophieuttptich5" })
                                                            <label for="loccophieuttptich5">
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <table class="table table-striped">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th style="width: 25%">&nbsp;</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Chậm và không chính xác</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Chậm và chính xác</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Bình thường</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Nhanh và chính xác</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Rất nhanh và chính xác</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row" style="font-weight: normal; font-size: 13px; line-height: 2.5;">Biểu đồ phân tích kỹ thuật và bộ lọc</th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.bieudobolocttptich, 269, new { id = "bieudobolocttptich1" })
                                                            <label for="bieudobolocttptich1">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.bieudobolocttptich, 270, new { id = "bieudobolocttptich2" })
                                                            <label for="bieudobolocttptich2">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.bieudobolocttptich, 271, new { id = "bieudobolocttptich3" })
                                                            <label for="bieudobolocttptich3">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.bieudobolocttptich, 272, new { id = "bieudobolocttptich4" })
                                                            <label for="bieudobolocttptich4">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.bieudobolocttptich, 273, new { id = "bieudobolocttptich5" })
                                                            <label for="bieudobolocttptich5">
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <table class="table table-striped">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th style="width: 25%">&nbsp;</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Không có thông tin</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Thông tin không hiệu quả</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Thông tin chỉ mang tính chất tham khảo</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Sử dụng thông tin để giao dịch đầu tư 30%</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Sử dụng thông tin để giao dịch đầu tư trên 50%</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row" style="font-weight: normal; font-size: 13px; line-height: 2.5;">Bản tin Phân tích thị trường</th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.bantinphantichttruong, 274, new { id = "bantinphantichttruong1" })
                                                            <label for="bantinphantichttruong1">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.bantinphantichttruong, 275, new { id = "bantinphantichttruong2" })
                                                            <label for="bantinphantichttruong2">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.bantinphantichttruong, 276, new { id = "bantinphantichttruong3" })
                                                            <label for="bantinphantichttruong3">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.bantinphantichttruong, 277, new { id = "bantinphantichttruong4" })
                                                            <label for="bantinphantichttruong4">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.bantinphantichttruong, 278, new { id = "bantinphantichttruong5" })
                                                            <label for="bantinphantichttruong5">
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="font-weight: bold;">
                                            Câu 2: Quý khách có hay tham khảo thông tin từ Bản tin Phân tích thị trường của TVSI? 
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">&nbsp;</div>
                                        <div class="col-sm-2">
                                            <div class="radio radio-primary" style="font-size: 13px;">
                                                @Html.RadioButtonFor(model => model.thamkhaobantinphantichttruong, 279, new { id = "thamkhaobantinphantichttruong1" })
                                                <label for="thamkhaobantinphantichttruong1">
                                                    Có
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="radio radio-primary" style="font-size: 13px;">
                                                @Html.RadioButtonFor(model => model.thamkhaobantinphantichttruong, 280, new { id = "thamkhaobantinphantichttruong2" })
                                                <label for="thamkhaobantinphantichttruong2">
                                                    Không
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="font-weight: bold;">
                                            Câu 3: Quý khách đánh giá như thế nào về bản tin phân tích thị trường hàng ngày của TVSI? 
                                        </div>
                                    </div>
                                    <div class="row">
                                        <table class="table table-striped">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th style="width: 25%">&nbsp;</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Chỉ mang tính tổng hợp và không có phân tích</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Tổng hợp và ít phân tích</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Tổng hợp và có phân tích</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Tổng hợp và đưa ra phân tích xu hướng thị trường</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Tổng hợp, và đưa ra dự báo thị trường chính xác</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row" style="font-weight: normal; font-size: 13px; line-height: 2.5;">Nội dung</th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.noidungbantinphantichttruong, 281, new { id = "noidungbantinphantichttruong1" })
                                                            <label for="noidungbantinphantichttruong1">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.noidungbantinphantichttruong, 282, new { id = "noidungbantinphantichttruong2" })
                                                            <label for="noidungbantinphantichttruong2">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.noidungbantinphantichttruong, 283, new { id = "noidungbantinphantichttruong3" })
                                                            <label for="noidungbantinphantichttruong3">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.noidungbantinphantichttruong, 284, new { id = "noidungbantinphantichttruong4" })
                                                            <label for="noidungbantinphantichttruong4">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.noidungbantinphantichttruong, 285, new { id = "noidungbantinphantichttruong5" })
                                                            <label for="noidungbantinphantichttruong5">
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <table class="table table-striped">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th style="width: 25%">&nbsp;</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Không có thông tin</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Thông tin không hiệu quả</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Thông tin chỉ mang tính chất tham khảo</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Sử dụng thông tin để giao dịch đầu tư 30%</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Sử dụng thông tin để giao dịch đầu tư trên 50%</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row" style="font-weight: normal; font-size: 13px; line-height: 2.5;">Khuyến nghị đầu tư/Tư vấn đầu tư</th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.khuyennghidautubantinpttt, 286, new { id = "khuyennghidautubantinpttt1" })
                                                            <label for="khuyennghidautubantinpttt1">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.khuyennghidautubantinpttt, 287, new { id = "khuyennghidautubantinpttt2" })
                                                            <label for="khuyennghidautubantinpttt2">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.khuyennghidautubantinpttt, 288, new { id = "khuyennghidautubantinpttt3" })
                                                            <label for="khuyennghidautubantinpttt3">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.khuyennghidautubantinpttt, 289, new { id = "khuyennghidautubantinpttt4" })
                                                            <label for="khuyennghidautubantinpttt4">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.khuyennghidautubantinpttt, 290, new { id = "khuyennghidautubantinpttt5" })
                                                            <label for="khuyennghidautubantinpttt5">
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <table class="table table-striped">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th style="width: 25%">&nbsp;</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Thua lỗ</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Không hiệu quả</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Bình thường</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Hiệu quả</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Rất hiệu quả</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row" style="font-weight: normal; font-size: 13px; line-height: 2.5;">Hiệu quả đầu tư</th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.hieuquadautubantinpttt, 291, new { id = "hieuquadautubantinpttt1" })
                                                            <label for="hieuquadautubantinpttt1">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.hieuquadautubantinpttt, 292, new { id = "hieuquadautubantinpttt2" })
                                                            <label for="hieuquadautubantinpttt2">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.hieuquadautubantinpttt, 293, new { id = "hieuquadautubantinpttt3" })
                                                            <label for="hieuquadautubantinpttt3">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.hieuquadautubantinpttt, 294, new { id = "hieuquadautubantinpttt4" })
                                                            <label for="hieuquadautubantinpttt4">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.hieuquadautubantinpttt, 295, new { id = "hieuquadautubantinpttt5" })
                                                            <label for="hieuquadautubantinpttt5">
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">Ý kiến bổ sung khác:</div>
                                        <div class="col-sm-9">
                                            @Html.TextAreaFor(model => model.ykienbantinpttt, 2, 0, new { id = "ykienbantinpttt", style = "width:100%;", value = "ykienbantinpttt" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="group text-center">
                                            <button type="submit" class="button-default" id="btnSubmit">Tiếp theo >></button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            if (!$("input[name=hinhthucgiaodienweb]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 1 - Giao diện website TVSI(www.tvsi.com.vn): Hình thức/Giao diện.");
                return false;
            }
            if (!$("input[name=noidungweb]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 1 - Giao diện website TVSI(www.tvsi.com.vn): Nội dung thông tin.");
                return false;
            }
            if (!$("input[name=bocucchucnangweb]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 1 - Giao diện website TVSI(www.tvsi.com.vn): Bố cục và chức năng.");
                return false;
            }

            if (!$("input[name=tocdoweb]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 1 - Giao diện website TVSI(www.tvsi.com.vn): Tốc độ.");
                return false;
            }




            if (!$("input[name=tinhcxaccapnhatbgia]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 1 - Bảng giá TVSI: Tính chính xác và cập nhật.");
                return false;
            }


            if (!$("input[name=tocdobgia]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 1 - Bảng giá TVSI: Tốc độ.");
                return false;
            }


            if (!$("input[name=giaodienbgia]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 1 - Bảng giá TVSI: Giao diện.");
                return false;
            }


            if (!$("input[name=ttthitruongttptich]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 1 - Trung tâm phân tích: Thông tin thị trường.");
                return false;
            }

            if (!$("input[name=loccophieuttptich]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 1 - Trung tâm phân tích: Trung tâm phân tích, lọc cổ phiếu.");
                return false;
            }

            if (!$("input[name=bieudobolocttptich]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 1 - Trung tâm phân tích: Biểu đồ phân tích kỹ thuật và bộ lọc.");
                return false;
            }

            if (!$("input[name=bantinphantichttruong]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 1 - Trung tâm phân tích: Bản tin Phân tích thị trường.");
                return false;
            }


            if (!$("input[name=thamkhaobantinphantichttruong]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 2.");
                return false;
            }

            if (!$("input[name=noidungbantinphantichttruong]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 3: Nội dung.");
                return false;
            }
            if (!$("input[name=khuyennghidautubantinpttt]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 3: Khuyến nghị đầu tư/Tư vấn đầu tư.");
                return false;
            }
            if (!$("input[name=hieuquadautubantinpttt]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 3: Hiệu quả đầu tư.");
                return false;
            }
        });
    });
</script>
