﻿@{
    Layout = "~/Views/Home/Share/_Layout_khaosat.cshtml";
}

@using (Html.BeginForm())
{
    
    <section id="wrapper-content" class="inner-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="detail-content has-title-part" id="register">
                        <div class="part">
                            <h3 style="color: #414141; font-size: 20px; font-weight: normal; display: inline-block; border-bottom: solid 4px #f00; font-family: Roboto Condensed; margin-bottom: 20px;">DÀNH CHO KHÁCH HÀNG CHƯA CÓ GIAO DỊCH ĐẦU TƯ TẠI TVSI
                            </h3>
                            <div class="wrapper">
                                <div class="group-form">
                                    <div class="row">
                                        <div class="col-sm-12" style="font-weight: bold;">Câu 1: Hiện nay Quý khách đang sử dụng những kênh đầu tư nào?</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                                                <input type="checkbox" name="A1" id="A1_1" value="A1_1" />
                                                <label for="A1_1">
                                                    Bất động sản
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                                                <input type="checkbox" name="A1" id="A1_2" value="A1_2" />
                                                <label for="A1_2">
                                                    Chứng khoán
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                                                <input type="checkbox" name="A1" id="A1_3" value="A1_3" />
                                                <label for="A1_3">
                                                    Tiền gửi
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                                                <input type="checkbox" name="A1" id="A1_4" value="A1_4" />
                                                <label for="A1_4">
                                                    Vàng, Bitcoin
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                                                <input type="checkbox" name="A1" id="A1_5" value="A1_5" />
                                                <label for="A1_5">
                                                    Trái phiếu
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                                                <input type="checkbox" name="A1" id="A1_6" value="A1_6" />
                                                <label for="A1_6">
                                                    Khác
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mtRow">
                                        <div class="col-sm-12" style="font-weight: bold;">Câu 2: Quý khách biết đến TVSI qua kênh thông tin nào? </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                                                <input type="checkbox" name="A2" id="A2_1" value="A2_1" />
                                                <label for="A2_1">
                                                    Báo chí/Truyền hình/ Quảng cáo
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                                                <input type="checkbox" name="A2" id="A2_2" value="A2_2" />
                                                <label for="A2_2">
                                                    Bạn bè
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                                                <input type="checkbox" name="A2" id="A2_3" value="A2_3" />
                                                <label for="A2_3">
                                                    Môi giới/Nhân viên TVSI
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                                                <input type="checkbox" name="A2" id="A2_4" value="A2_4" />
                                                <label for="A2_4">
                                                    Website www.tvsi.com.vn
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                                                <input type="checkbox" name="A2" id="A2_5" value="A2_5" />
                                                <label for="A2_5">
                                                    Công cụ tìm kiếm
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                                                <input type="checkbox" name="A2" id="A2_6" value="A2_6" />
                                                <label for="A2_6">
                                                    Facebook/fanpage
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                                                <input type="checkbox" name="A2" id="A2_7" value="A2_7" />
                                                <label for="A2_7">
                                                    Khác
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mtRow">
                                        <div class="col-sm-12" style="font-weight: bold;">Câu 3: Tiêu chí quan trọng để Quý khách lựa chọn sử dụng dịch vụ tại công ty chứng khoán là gì? <font style="font-weight: normal"> (Chỉ chọn 2 đáp án)</font></div>
                                    </div>
                                    <div class="row">

                                        <div class="col-sm-4">
                                            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                                                <input type="checkbox" name="A3" id="A3_1" value="A3_1" />
                                                <label for="A3_1">
                                                    Công ty có tên tuổi trên thị trường 
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                                                <input type="checkbox" name="A3" id="A3_2" value="A3_2" />
                                                <label for="A3_2">
                                                    Sản phẩm dịch vụ đa dạng 
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                                                <input type="checkbox" name="A3" id="A3_3" value="A3_3" />
                                                <label for="A3_3">
                                                    Công cụ giao dịch trực tuyến tốt
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                                                <input type="checkbox" name="A3" id="A3_4" value="A3_4" />
                                                <label for="A3_4">
                                                    Dịch vụ Tư vấn tốt
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                                                <input type="checkbox" name="A3" id="A3_5" value="A3_5" />
                                                <label for="A3_5">
                                                    Dịch vụ/Nhân viên chuyên nghiệp
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                                                <input type="checkbox" name="A3" id="A3_6" value="A3_6" />
                                                <label for="A3_6">
                                                    Phí dịch vụ thấp
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                                                <input type="checkbox" name="A3" id="A3_7" value="A3_7" />
                                                <label for="A3_7">
                                                    Địa điểm giao dịch thuận tiện
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                                                <input type="checkbox" name="A3" id="A3_8" value="A3_8" />
                                                <label for="A3_8">
                                                    Khác
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mtRow">
                                        <div class="col-sm-12" style="font-weight: bold;">Thông tin cá nhân</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-2">@Website_tvsi_v1.App_Resources.Website.Txt_Fullname (<span style="color: red">*</span>):</div>
                                        <div class="col-sm-10">
                                            <input class="input-data" id="hoten" name="hoten" type="text" value="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">Số điện thoại (<span style="color: red">*</span>):</div>
                                        <div class="col-sm-10">
                                            <input class="input-data" id="dienthoai" name="dienthoai" type="text" value="" >
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">Email (<span style="color: red">*</span>):</div>
                                        <div class="col-sm-10">
                                            <input class="input-data" id="email" name="email" type="email" value="">
                                        </div>
                                    </div>
<div class="row">
                                        <div class="col-sm-2">@Website_tvsi_v1.App_Resources.Website.Txt_Securitycharacter (<span style="color: red">*</span>):</div>
                                        <div class="col-sm-4">
                                            <input class="input-data" id="kytubaomatcn" maxlength="20" name="kytubaomatcn" required="true" type="text" value="">
                                        </div>
                                        <div class="col-sm-4">
                                            <img src="@Url.Action("GetCaptChaImageCanhan", "CaptCha")" />
                                            @if (ViewBag.captcha != null)
                                            {
                                            <div style="border: 0px solid; color: red;">
                                                @ViewBag.captcha
                                            </div>
                                            }
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">&nbsp;</div>
                                        <div class="col-sm-10">
                                            @if (ViewBag.Message != null)
                                            {
                                                <p style="border: 0px solid; color: red; font-size: 14px;">
                                                    @ViewBag.Message
                                                </p>
                                            }
                                           
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <span style="font-size: 14px; font-weight: normal;">Câu trả lời của Quý khách đã được ghi lại<br />
Chân thành cảm ơn Quý khách đã hoàn thiện bản khảo sát này. 
                                            </span>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="group text-center">
                                            <button id="btnSubmit" type="submit" class="button-default">Hoàn thành</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <script>
            function ClosePopup() {
                //$('#succesModal').modal('hide');
                window.location = "/home/index";
                $('#succesModal').modal('hide');
            }
        </script>

        <div class="modal fade" id="succesModal" tabindex="-1" role="dialog" aria-labelledby="succesModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" aria-label="Close" onclick="ClosePopup();"><span aria-hidden="true"></span></button>
                        <div class="messages-cnt">
                            <div class="md-text">
                                Cảm ơn những ý kiến của Quý khách.
                            </div>
                            @*
                            <div class="sm-text">
                            </div>
                            *@
                            <div style="font-weight: normal; margin-top: 7px; line-height: 2; text-align: left;">
                                Những nhận xét và góp ý của Quý khách sẽ giúp TVSI nâng cao chất lượng dịch vụ có thêm sản phẩm phù hợp hơn với nhu cầu của Quý khách.
                               <br />
                                Thông tin về chương trình quà tặng sẽ được chúng tôi cập nhật trên fanpage TVSI, hãy like <a href="https://www.facebook.com/tvsichungkhoantanviet/" style="color: #0026ff; text-decoration: underline;">fanpage TVSI</a> để nắm bắt kết quả nhanh nhất.
                            </div>
                            <div class="contact-bottom" style="margin-top: 7px;">
                                <div class="social">
                                    <a href="https://www.facebook.com/tvsichungkhoantanviet/" class="appStore facebook">
                                        <img src="/images/like-button.png" style="height: 30px;">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            if (!$("input[name=A1]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 1.");
                return false;
            }
            if (!$("input[name=A2]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 2.");
                return false;
            }
            if (!$("input[name=A3]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 3.");
                return false;
            }
            if (!$("#hoten").val()) {
                window.alert("Quý khách vui lòng nhập Họ & Tên.");
                hoten.focus();
                return false;
            }
            if (!$("#dienthoai").val()) {
                window.alert("Quý khách vui lòng nhập số điện thoại.");
                dienthoai.focus();
                return false;
            }
            if (!$("#email").val()) {
                window.alert("Quý khách vui lòng nhập email.");
                email.focus();
                return false;
            }
          
            return true;
        });

    });
    $("#dienthoai").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
    

</script>
