﻿@{
    Layout = "~/Views/Home/Share/_Layout_khaosat.cshtml";
}

@using (Html.BeginForm())
{
    
    <section id="wrapper-content" class="inner-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="detail-content has-title-part" id="register">
                        <div class="part">
                            <h3 style="color: #414141; font-size: 20px; font-weight: normal; display: inline-block; border-bottom: solid 4px #f00; font-family: Roboto Condensed; margin-bottom: 20px;">DÀNH CHO KHÁCH HÀNG ĐẦU TƯ TRÁI PHIẾU TẠI TVSI  
                            </h3>
                            <div class="wrapper">
                                <div class="group-form">

                                    <div class="row">
                                        <div class="col-sm-12" style="font-weight: bold;">
                                            Câu 1: Tiêu chí quan trọng khi Quý khách lựa chọn Công ty để đầu tư trái phiếu là gì?
                                            <input type="hidden" id="idks" name="idks" value="@ViewBag.idks" />
                                            <br />
                                            <font style="font-weight: normal">(Vui lòng chọn đáp án từ 1 đến 5 theo đánh giá từ <b>Hoàn toàn không quan trọng</b> đến <b>Hết sức quan trọng</b>)
                                            </font>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <table class="table table-bordered ">
                                            <tbody>
                                                <tr>
                                                    <th wid scope="row" style="font-weight: bold; font-size: 15px; line-height: 1.8.3; width: 50%; padding-left: 16px;">Lợi tức hấp dẫn</th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C1_1" id="C1_1_1" value="C1_1_1" />
                                                            <label for="C1_1_1">1
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C1_1" id="C1_1_2" value="C1_1_2" />
                                                            <label for="C1_1_2">2
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C1_1" id="C1_1_3" value="C1_1_3" />
                                                            <label for="C1_1_3">3
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C1_1" id="C1_1_4" value="C1_1_4" />
                                                            <label for="C1_1_4">4
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C1_1" id="C1_1_5" value="C1_1_5" />
                                                            <label for="C1_1_5">5
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th wid scope="row" style="font-weight: bold; font-size: 15px; line-height: 1.8.3; width: 30%; padding-left: 16px;">Công ty có uy tín trên thị trường </th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C1_2" id="C1_2_1" value="C1_2_1" />
                                                            <label for="C1_2_1">1
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C1_2" id="C1_2_2" value="C1_2_2" />
                                                            <label for="C1_2_2">2
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C1_2" id="C1_2_3" value="C1_2_3" />
                                                            <label for="C1_2_3">3
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C1_2" id="C1_2_4" value="C1_2_4" />
                                                            <label for="C1_2_4">4
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C1_2" id="C1_2_5" value="C1_2_5" />
                                                            <label for="C1_2_5">5
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th wid scope="row" style="font-weight: bold; font-size: 15px; line-height: 1.8.3; width: 30%; padding-left: 16px;">Thủ tục đơn giản, nhanh </th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C1_3" id="C1_3_1" value="C1_3_1" />
                                                            <label for="C1_3_1">1
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C1_3" id="C1_3_2" value="C1_3_2" />
                                                            <label for="C1_3_2">2
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C1_3" id="C1_3_3" value="C1_3_3" />
                                                            <label for="C1_3_3">3
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C1_3" id="C1_3_4" value="C1_3_4" />
                                                            <label for="C1_3_4">4
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C1_3" id="C1_3_5" value="C1_3_5" />
                                                            <label for="C1_3_5">5
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th wid scope="row" style="font-weight: bold; font-size: 15px; line-height: 1.8.3; width: 30%; padding-left: 16px;">Phí dịch vụ cạnh tranh </th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C1_4" id="C1_4_1" value="C1_4_1" />
                                                            <label for="C1_4_1">1
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C1_4" id="C1_4_2" value="C1_4_2" />
                                                            <label for="C1_4_2">2
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C1_4" id="C1_4_3" value="C1_4_3" />
                                                            <label for="C1_4_3">3
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C1_4" id="C1_4_4" value="C1_4_4" />
                                                            <label for="C1_4_4">4
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C1_4" id="C1_4_5" value="C1_4_5" />
                                                            <label for="C1_4_5">5
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th wid scope="row" style="font-weight: bold; font-size: 15px; line-height: 1.8.3; width: 30%; padding-left: 16px;">Nhân viên phục vụ chuyên nghiệp, tận tình</th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C1_5" id="C1_5_1" value="C1_5_1" />
                                                            <label for="C1_5_1">1
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C1_5" id="C1_5_2" value="C1_5_2" />
                                                            <label for="C1_5_2">2
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C1_5" id="C1_5_3" value="C1_5_3" />
                                                            <label for="C1_5_3">3
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C1_5" id="C1_5_4" value="C1_5_4" />
                                                            <label for="C1_5_4">4
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C1_5" id="C1_5_5" value="C1_5_5" />
                                                            <label for="C1_5_5">5
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th wid scope="row" style="font-weight: bold; font-size: 15px; line-height: 1.8.3; width: 30%; padding-left: 16px;">Ý kiến khác</th>
                                                    <td colspan="5" style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <textarea id="C1_6_text" name="C1_6_text" rows="2" style="width: 100%; border: none; padding: 10px" maxlength="500"></textarea>
                                                    </td>

                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>


                                    <div class="row mtRow">
                                        <div class="col-sm-12" style="font-weight: bold;">Câu 2: Quý khách biết đến TVSI qua kênh thông tin nào? </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                                                <input type="checkbox" name="C2" id="C2_1" value="C2_1" />
                                                <label for="C2_1">
                                                    Báo chí/Truyền hình/ Quảng cáo
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                                                <input type="checkbox" name="C2" id="C2_2" value="C2_2" />
                                                <label for="C2_2">
                                                    Bạn bè
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                                                <input type="checkbox" name="C2" id="C2_3" value="C2_3" />
                                                <label for="C2_3">
                                                    Môi giới/Nhân viên TVSI
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                                                <input type="checkbox" name="C2" id="C2_4" value="C2_4" />
                                                <label for="C2_4">
                                                    Website www.tvsi.com.vn
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                                                <input type="checkbox" name="C2" id="C2_5" value="C2_5" />
                                                <label for="C2_5">
                                                    Công cụ tìm kiếm
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                                                <input type="checkbox" name="C2" id="C2_6" value="C2_6" />
                                                <label for="C2_6">
                                                    Facebook/fanpage
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                                                <input type="checkbox" name="C2" id="C2_7" value="C2_7" />
                                                <label for="C2_7">
                                                    Khác
                                                </label>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row mtRow">
                                        <div class="col-sm-12" style="font-weight: bold;">
                                            Câu 3: Quý khách đánh giá dịch vụ đầu tư trái phiếu của TVSI như thế nào?
                                            <br />
                                            <font style="font-weight: normal">(Vui lòng chọn đáp án từ 1 đến 5 theo đánh giá từ <b>Rất không đồng ý</b> đến <b>Hoàn toàn đồng ý</b>)
                                            </font>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <table class="table table-bordered ">
                                            <tbody>
                                                <tr>
                                                    <th wid scope="row" style="font-weight: bold; font-size: 15px; line-height: 1.8.3; width: 50%; padding-left: 16px;">Lợi tức hấp dẫn</th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C3_1" id="C3_1_1" value="C3_1_1" />
                                                            <label for="C3_1_1">1
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C3_1" id="C3_1_2" value="C3_1_2" />
                                                            <label for="C3_1_2">2
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C3_1" id="C3_1_3" value="C3_1_3" />
                                                            <label for="C3_1_3">3
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C3_1" id="C3_1_4" value="C3_1_4" />
                                                            <label for="C3_1_4">4
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C3_1" id="C3_1_5" value="C3_1_5" />
                                                            <label for="C3_1_5">5
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th wid scope="row" style="font-weight: bold; font-size: 15px; line-height: 1.8.3; width: 30%; padding-left: 16px;">Các tiện ích đi kèm của trái phiếu (Được bán lại trước hạn, được ứng trước tiền bán trái phiếu, được xác nhận số dư chứng minh tài chính)	 </th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C3_2" id="C3_2_1" value="C3_2_1" />
                                                            <label for="C3_2_1">1
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C3_2" id="C3_2_2" value="C3_2_2" />
                                                            <label for="C3_2_2">2
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C3_2" id="C3_2_3" value="C3_2_3" />
                                                            <label for="C3_2_3">3
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C3_2" id="C3_2_4" value="C3_2_4" />
                                                            <label for="C3_2_4">4
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C3_2" id="C3_2_5" value="C3_2_5" />
                                                            <label for="C3_2_5">5
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th wid scope="row" style="font-weight: bold; font-size: 15px; line-height: 1.8.3; width: 30%; padding-left: 16px;">Phí dịch vụ cạnh tranh	</th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C3_3" id="C3_3_1" value="C3_3_1" />
                                                            <label for="C3_3_1">1
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C3_3" id="C3_3_2" value="C3_3_2" />
                                                            <label for="C3_3_2">2
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C3_3" id="C3_3_3" value="C3_3_3" />
                                                            <label for="C3_3_3">3
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C3_3" id="C3_3_4" value="C3_3_4" />
                                                            <label for="C3_3_4">4
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C3_3" id="C3_3_5" value="C3_3_5" />
                                                            <label for="C3_3_5">5
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th wid scope="row" style="font-weight: bold; font-size: 15px; line-height: 1.8.3; width: 30%; padding-left: 16px;">Kỹ năng tư vấn của chuyên viên</th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C3_4" id="C3_4_1" value="C3_4_1" />
                                                            <label for="C3_4_1">1
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C3_4" id="C3_4_2" value="C3_4_2" />
                                                            <label for="C3_4_2">2
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C3_4" id="C3_4_3" value="C3_4_3" />
                                                            <label for="C3_4_3">3
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C3_4" id="C3_4_4" value="C3_4_4" />
                                                            <label for="C3_4_4">4
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C3_4" id="C3_4_5" value="C3_4_5" />
                                                            <label for="C3_4_5">5
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th wid scope="row" style="font-weight: bold; font-size: 15px; line-height: 1.8.3; width: 30%; padding-left: 16px;">Thủ tục đơn giản, nhanh</th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C3_5" id="C3_5_1" value="C3_5_1" />
                                                            <label for="C3_5_1">1
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C3_5" id="C3_5_2" value="C3_5_2" />
                                                            <label for="C3_5_2">2
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C3_5" id="C3_5_3" value="C3_5_3" />
                                                            <label for="C3_5_3">3
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C3_5" id="C3_5_4" value="C3_5_4" />
                                                            <label for="C3_5_4">4
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary" style="font-size: 14px;">
                                                            <input type="radio" name="C3_5" id="C3_5_5" value="C3_5_5" />
                                                            <label for="C3_5_5">5
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th wid scope="row" style="font-weight: bold; font-size: 15px; line-height: 1.8.3; width: 30%; padding-left: 16px;">Ý kiến khác</th>
                                                    <td colspan="5" style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <textarea id="C3_6_text" name="C3_6_text" rows="2" style="width: 100%; border: none; padding: 10px" maxlength="500"></textarea>
                                                    </td>

                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
<div class="row mtRow">
                                        <div class="col-sm-12" style="font-weight: bold;">
                                            Câu 4: Trong danh mục sản phẩm trái phiếu TVSI đang cung cấp, Quý khách ưa thích sản phẩm nào nhất? Vui lòng cho biết lý do? 
                                            <br />
                                            <font style="font-weight: normal">(Quý khách có thể chọn nhiều đáp án)
                                            </font>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <table class="table table-bordered ">
                                                <tbody>
                                                   <tr style="background-color: #c5bdbd">
                                                        <th wid scope="row" style="font-weight: bold; font-size: 15px; line-height: 1.8; width: 48%; padding-left: 16px; text-align:center">Loại trái phiếu  </th>
                                                        <th wid scope="row" style="font-weight: bold; font-size: 15px; line-height: 1.8; width: 25%; padding-left: 16px;text-align:center">Vui lòng nêu lý do yêu thích hoặc không yêu thích</th>
                                                        <th wid scope="row" style="font-weight: bold; font-size: 15px; line-height: 1.8; width: 25%; padding-left: 16px;text-align:center">Quý khách mong muốn thêm tiện ích gì/ Cần cải tiến gì?</th>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle; padding: 10px; text-align: left">
                                                            Trái phiếu Outright 
NĐT sẽ nắm giữ trái phiếu đến ngày đáo hạn, hưởng lợi tức theo thông báo của TCPH 

                                                        </td>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <textarea id="C4_1_reason_text" name="C4_1_reason_text" rows="2" style="width: 100%; border: none; padding: 10px" maxlength="500"></textarea>
                                                        </td>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <textarea id="C4_1_other_text" name="C4_1_other_text" rows="2" style="width: 100%; border: none; padding: 10px" maxlength="500"></textarea>
                                                        </td>
                                                    </tr>
<tr>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle; padding: 10px; text-align: left">
                                                           Trái phiếu cố định và trái phiếu linh hoạt:
NĐT hưởng lợi tức theo thời gian thực tế nắm giữ, được quyền bán lại trước hạn cho TVSI, được ứng trước tiền bán trái phiếu, Kỳ hạn đa dạng từ 1 tháng đến 24 tháng


                                                        </td>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <textarea id="C4_2_reason_text" name="C4_2_reason_text" rows="2" style="width: 100%; border: none; padding: 10px" maxlength="500"></textarea>
                                                        </td>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <textarea id="C4_2_other_text" name="C4_2_other_text" rows="2" style="width: 100%; border: none; padding: 10px" maxlength="500"></textarea>
                                                        </td>
                                                    </tr>

<tr>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle; padding: 10px; text-align: left">
                                                           Trái phiếu lĩnh lãi coupon 3 tháng/lần:
Có các kỳ hạn từ 6 tháng trở lên, KH được nhận lợi tức 3 tháng/lần, được bán lại trước hạn cho TVSI, nhưng không được ứng trước tiền bán trái phiếu



                                                        </td>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <textarea id="C4_3_reason_text" name="C4_3_reason_text" rows="2" style="width: 100%; border: none; padding: 10px" maxlength="500"></textarea>
                                                        </td>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <textarea id="C4_3_other_text" name="C4_3_other_text" rows="2" style="width: 100%; border: none; padding: 10px" maxlength="500"></textarea>
                                                        </td>
                                                    </tr>

<tr>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle; padding: 10px; text-align: left">
                                                          Ý kiến khác


                                                        </td>
                                                        <td colspan="2"  style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <textarea id="C4_4_other_text" name="C4_4_other_text" rows="2" style="width: 100%; border: none; padding: 10px" maxlength="500"></textarea>
                                                        </td>
                                                      
                                                    </tr>
                                                </tbody>

                                            </table>
                                    </div>


                                     <div class="row">
                                        <div class="col-sm-12" style="font-weight: bold; line-height: 1.5">Câu 5: Ngoài danh mục sản phẩm trái phiếu TVSI đang cung cấp, Quý khách mong muốn nhận được thêm thông tin/dịch vụ gì từ TVSI?</div>
                                        <div class="col-sm-12" style="margin-top: 10px;">
                                            <textarea id="C5_text" name="C5_text" rows="2" style="width: 100%;" maxlength="500"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="font-weight: bold; line-height: 1.5">Câu 6: Nếu Quý khách có đề xuất hoặc góp ý khác vui lòng điền thông tin bên dưới, chúng tôi sẽ sử dụng các ý kiến này làm tiền đề để hoàn thiện và nâng cao chất lượng dịch vụ của TVSI.</div>
                                        <div class="col-sm-12" style="margin-top: 10px;">
                                            <textarea id="C6_text" name="C6_text" rows="2" style="width: 100%;" maxlength="500"></textarea>
                                        </div>
                                    </div>

                                   
                             <div class="row mtRow">
                                        <div class="col-sm-2" style="font-weight: bold">@Website_tvsi_v1.App_Resources.Website.Txt_Securitycharacter (<span style="color: red">*</span>):</div>
                                        <div class="col-sm-4">
                                            <input class="input-data" id="kytubaomatcn" maxlength="20" name="kytubaomatcn" type="text" value="">
                                        </div>
                                        <div class="col-sm-2">
                                           <img src="@Url.Action("GetCaptChaImageKhaoSat", "CaptCha")" id="imgCaptcha" />
                                        </div>

                                    </div>
                              <div class="row">
                                    <div class="col-sm-12" style="color: red;margin-top: 14px;">
                                    @if (ViewBag.captcha != null)
                                            {
                                            <div style="border: 0px solid; color: red;">
                                                @ViewBag.captcha
                                            </div>
                                            }
                                    </div>
                            </div>
                                  
                                    <div class="row">
                                        <div class="col-sm-2">&nbsp;</div>
                                        <div class="col-sm-10">
                                            @if (ViewBag.Message != null)
                                            {
                                                <p style="border: 0px solid; color: red; font-size: 14px;">
                                                    @ViewBag.Message
                                                </p>
                                            }
                                           
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="group text-center">
                                            <button id="btnSubmit" type="submit" class="button-default">Hoàn thành</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <script>
            function ClosePopup() {
                //$('#succesModal').modal('hide');
                window.location = "/home/index";
                $('#succesModal').modal('hide');
            }
        </script>

        <div class="modal fade" id="succesModal" tabindex="-1" role="dialog" aria-labelledby="succesModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" aria-label="Close" onclick="ClosePopup();"><span aria-hidden="true"></span></button>
                        <div class="messages-cnt">
                            <div class="md-text">
                                Cảm ơn những ý kiến của Quý khách.
                            </div>
                            @*
                            <div class="sm-text">
                            </div>
                            *@
                            <div style="font-weight: normal; margin-top: 7px; line-height: 1.8; text-align: left;">
                                Những nhận xét và góp ý của Quý khách sẽ giúp TVSI nâng cao chất lượng dịch vụ có thêm sản phẩm phù hợp hơn với nhu cầu của Quý khách.
                               <br />
                                Thông tin về chương trình quà tặng sẽ được chúng tôi cập nhật trên fanpage TVSI, hãy like <a href="https://www.facebook.com/tvsichungkhoantanviet/" style="color: #0026ff; text-decoration: underline;">fanpage TVSI</a> để nắm bắt kết quả nhanh nhất.
                            </div>
                            <div class="contact-bottom" style="margin-top: 7px;">
                                <div class="social">
                                    <a href="https://www.facebook.com/tvsichungkhoantanviet/" class="appStore facebook">
                                        <img src="/images/like-button.png" style="height: 30px;">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<script>
    $(document).ready(function () {
        $('div[style*="display: none"] input[type=radio]').each(function () {
            $(this).attr("tocheck", "0");
        });

        $('div[style*="display: none"] input[type=checkbox]').each(function () {
            $(this).attr("tocheck", "0");
        });

        var isOk = false;
        $("#btnSubmit").click(function () {
            var ischeckall = true;
            var name = "";
            var idFC = "";
            $("#wrapper-content input[type=radio][tocheck!=0]").each(function () {
                name = $(this).attr('name');
                idFC = $(this).attr('id');
                if ($("input:radio[name=" + name + "]:checked").length == 0) {
                    ischeckall = false;
                    return false;
                }

            });
            if (ischeckall) {
                $("#wrapper-content input[type=checkbox][tocheck!=0]").each(function () {
                    name = $(this).attr('name');
                    idFC = $(this).attr('id');
                    if ($("input:checkbox[name=" + name + "]:checked").length == 0) {
                        ischeckall = false;
                        return false;
                    }

                });
            }
            if (!ischeckall) {
                var numberQ = "";
                if (name.length <= 2) {
                    numberQ = name.substring(1).replace("_", ".");
                }
                else {
                    numberQ = name.substring(1).split("_").join(".").substring(0, name.length - 3);;
                }
                alert("Quý khách vui lòng chọn đủ thông tin câu số " + numberQ + " để hoàn thành thông tin khảo sát.");
                $('#' + idFC + '').focus();
                return false;
            }

            if (!$("#kytubaomatcn").val()) {
                window.alert("Quý khách vui lòng nhập ký tự bảo mật.");
                kytubaomatcn.focus();
                return false;
            }
            $.ajax({
                url: '/Khaosat/CheckCaptCha',
                data: { captcha: $("#kytubaomatcn").val() },
                async: false,
                datatype: "json",
                type: "POST",
                success: function (data) {
                    if (data.status == true) {
                        isOk = true;
                        $('form').attr('action', '/khao-sat/khach-hang-dau-tu-trai-phieu-tai-tvsi/@ViewBag.idks');
                        $('form').submit();

                    } else {
                        $('#imgCaptcha').attr('src', '/CaptCha/GetCaptChaImageKhaoSat');
                        alert(data.message);

                    }

                }
            });
            return isOk;

        });

    });
    $("#dienthoai").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });


</script>