﻿@{
    Layout = "~/Views/Home/Share/_Layout_KSTPKH.cshtml";
}
@model Website_tvsi_v1.Models.KhaoSatYkienKhachHangModel

<style>
    .form-survey-sanphamtraiphieu tbody tr td{
    padding: 10px;
    }
    .table tbody tr th{
      border:1px solid rgb(133, 133, 133); ;
    }
     .table tbody tr td{
          border:1px solid rgb(133, 133, 133); ;
        }
    .tvsicungcap-text{
      border: 1px solid;
      border-color: rgb(133, 133, 133); 
    padding: 10px;
    margin-bottom: 5px;
    }
    #thaidophucvutvsi tbody tr th{
        padding: 10px;
        text-align: center;
        font-size: 14px;
        font-weight: normal;
    }  
      #khtrainghiemapptvsi tbody tr th{
        padding: 10px;
        text-align: center;
        font-size: 14px;
        font-weight: normal;
    }
    #thaidophucvutvsi tbody tr th p {
    text-align: left;
    }
      #khtrainghiemapptvsi tbody tr th p {
    text-align: left;
    }
    input[name="tieuchiquantrong"]:checked{
        color: red!important;
        background-color: #ed1c24!important;
        border-color: #ed1c24!important;
    }
   .checkbox-primary td label::before {
    background-color: #ed1c24;
           border-color: #ed1c24;
   }
   .mucdoyeuthich,.chualuachonthamgia{
   display: none;
   }
   #khtrainghiemapptvsi{
   display: none;
   }
   .khtt1,.khtt2{
   display: none;
   }
    
</style>
@using (Html.BeginForm())
{

    <section id="wrapper-content" class="inner-page">
    <div class="container">
    <div class="row">
    <div class="col-sm-12">
    <div class="detail-content has-title-part" id="register">
    <div class="part">
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="note-form" style="text-align: justify;">

                        <p>
                            <b>Kính gửi Quý khách hàng,</b><br/>
                            <br/>
                        </p>
                        <p>
                            Công ty Cổ phần chứng khoán Tân Việt (TVSI) xin trân trọng cảm ơn Quý khách đã luôn đồng hành, tin tưởng sử dụng dịch vụ của TVSI trong thời gian vừa qua.

                        </p>

                        <p>
                            Để nâng cao chất lượng sản phẩm, dịch vụ đầu tư Trái phiếu Doanh nghiệp và xây dựng những chương trình ưu đãi phù hợp với Quý Khách hàng, TVSI mong muốn nhận được ý kiến của Quý khách cho nội dung khảo sát ngắn dưới đây.
                        </p>


                        <p>Chỉ với <b> 05 phút </b>tham gia khảo sát, Quý khách may mắn trở thành <b> 1 trong 50 chủ nhân của Thẻ mua hàng VinID trị giá 500.000 VNĐ. </b></p>
                        <p>Chúng tôi cam kết bảo mật toàn bộ các thông tin khách hàng cung cấp và chỉ sử dụng cho mục đích đánh giá chất lượng dịch vụ tại TVSI.</p>
                        <p>
                            <b>Trân trọng cảm ơn,</b><br/>
                            <b>Công ty CP Chứng khoán Tân Việt (TVSI) </b>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
    <div class="group-form">
    @*<div class="row">
                                        <div class="col-sm-12">
                                            @Html.ValidationSummary()
                                        </div>
                                    </div>*@
    <div class="row">
        <div class="col-sm-6" style="font-weight: bold;">Vui lòng cho chúng tôi biết số tài khoản của Quý khách tại TVSI?</div>
        <div class="col-sm-1" style="font-weight: bold;text-align: right;margin-right: 10px;">
            044C
        </div>
        <div class="col-sm-4">
            <input class="input-data" id="sotaikhoan" name="sotaikhoan" type="text" value="" maxlength="6" placeholder="Nhập 6 số đầu tài khoản">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="font-weight: bold;">
            (Tài khoản của Quý khách được sử dụng để TVSI lựa chọn khách hàng may mắn)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 style="margin-top: 10px;color: #414141; font-size: 20px; font-weight: normal; display: inline-block; border-bottom: solid 4px #f00; font-family: Roboto Condensed; margin-bottom: 20px;">
                A. THÔNG TIN CHUNG:
            </h3>
        </div>
    </div>
    <div class="form-survey-thongtinchung" style="margin-left: 15px">
        <div class="row mtRow">
            <div class="col-sm-12" style="font-weight: bold;">
                Câu 1. Vui lòng cho TVSI biết độ tuổi của Quý khách (Người ủy quyền giao dịch).
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered ">
                    <tbody>
                    <tr>
                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                            <div class="radio radio-primary" style="font-size: 14px;">
                                <input type="radio" name="DoTuoiKhachHang" id="DoTuoiKhachHang_1" value="1"/>
                                <label for="DoTuoiKhachHang_1">
                                    Dưới 30 tuổi
                                </label>
                            </div>
                        </td>
                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                            <div class="radio radio-primary" style="font-size: 14px;">
                                <input type="radio" name="DoTuoiKhachHang" id="DoTuoiKhachHang_2" value="2"/>
                                <label for="DoTuoiKhachHang_2">
                                    Từ 31 - 40 tuổi
                                </label>
                            </div>
                        </td>
                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                            <div class="radio radio-primary" style="font-size: 14px;">
                                <input type="radio" name="DoTuoiKhachHang" id="DoTuoiKhachHang_3" value="3"/>
                                <label for="DoTuoiKhachHang_3">
                                    Từ 41 - 50 tuổi
                                </label>
                            </div>
                        </td>
                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                            <div class="radio radio-primary" style="font-size: 14px;">
                                <input type="radio" name="DoTuoiKhachHang" id="DoTuoiKhachHang_4" value="4"/>
                                <label for="DoTuoiKhachHang_4">
                                    Từ 51 - 60 tuổi
                                </label>
                            </div>
                        </td>
                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                            <div class="radio radio-primary" style="font-size: 14px;">
                                <input type="radio" name="DoTuoiKhachHang" id="DoTuoiKhachHang_5" value="5"/>
                                <label for="DoTuoiKhachHang_5">
                                    Trên 60 tuổi
                                </label>
                            </div>
                        </td>
                    </tr>

                    </tbody>

                </table>
            </div>
        </div>
        <div class="row mtRow">
            <div class="col-sm-5" style="font-weight: bold;">Câu 2: Quý khách biết TVSI qua phương tiện thông tin nào?</div>
            <div class="col-sm-4">(Có thể chọn nhiều đáp án)</div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="checkbox checkbox-primary" style="font-size: 14px;">
                    <input type="checkbox" name="PhuongTienThongTin" id="PhuongTienThongTin_1" value="1"/>
                    <label for="PhuongTienThongTin_1"> 1. Internet</label>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="checkbox checkbox-primary" style="font-size: 14px;">
                    <input type="checkbox" name="PhuongTienThongTin" id="PhuongTienThongTin_2" value="2"/>
                    <label for="PhuongTienThongTin_2">2. Báo chí/Truyền hình/Quảng cáo</label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="checkbox checkbox-primary" style="font-size: 14px;">
                    <input type="checkbox" name="PhuongTienThongTin" id="PhuongTienThongTin_3" value="3"/>
                    <label for="PhuongTienThongTin_3"> 3. Website: https://www.tvsi.com.vn/</label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="checkbox checkbox-primary" style="font-size: 14px;">
                    <input type="checkbox" name="PhuongTienThongTin" id="PhuongTienThongTin_4" value="4"/>
                    <label for="PhuongTienThongTin_4">4. Gia đình/ Bạn bè</label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="checkbox checkbox-primary" style="font-size: 14px;">
                    <input type="checkbox" name="PhuongTienThongTin" id="PhuongTienThongTin_5" value="5">
                    <label for="PhuongTienThongTin_5"> 5. Nhân viên TVSI</label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="checkbox checkbox-primary" style="font-size: 14px;">
                    <input type="checkbox" name="PhuongTienThongTin" id="PhuongTienThongTin_6" value="6">
                    <label for="PhuongTienThongTin_6">6. Facebook/fanpage</label>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="checkbox checkbox-primary" style="font-size: 14px;">
                    <input type="checkbox" name="PhuongTienThongTin" id="PhuongTienThongTin_7" value="7">
                    <label for="PhuongTienThongTin_7">7. Nguồn khác, cụ thể</label>
                </div>
                <div class="col-sm-12">
                    <textarea id="ykienkhacphuongtienthongtin" name="ykienkhacphuongtienthongtin" rows="2" style="width:100%;height: 80px" ></textarea>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 style="margin-top: 10px;color: #414141; font-size: 20px; font-weight: normal; display: inline-block; border-bottom: solid 4px #f00; font-family: Roboto Condensed; margin-bottom: 20px;">
                B. SẢN PHẨM ĐẦU TƯ TRÁI PHIẾU
            </h3>
        </div>
    </div>
    <div class="form-survey-sanphamtraiphieu" style="margin-left: 15px;">
    <div class="row mtRow">
        <div class="col-sm-12" style="font-weight: bold;">
            Câu 1: Thời gian đầu tư mà Quý khách ưu tiên lựa chọn nếu tham gia vào 01 sản phẩm Trái phiếu
        </div>
        <div class="col-sm-12"><p>
             (Có thể lựa chọn nhiều kỳ hạn)
        </p></div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                <input id="thoigiandautukhuutien1" name="thoigiandautukhuutien" type="checkbox" value="1">
                <label for="thoigiandautukhuutien1">
                    Dưới 3 tháng
                </label>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                <input id="thoigiandautukhuutien2" name="thoigiandautukhuutien" type="checkbox" value="2" >
                <label for="thoigiandautukhuutien2">
                    Từ 3 đến 6 tháng
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                <input id="thoigiandautukhuutien3" name="thoigiandautukhuutien" type="checkbox" value="3">
                <label for="thoigiandautukhuutien3">
                    Từ 6 đến 12 tháng
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                <input id="thoigiandautukhuutien4" name="thoigiandautukhuutien" type="checkbox" value="4">
                <label for="thoigiandautukhuutien4">
                    Từ 12 tháng đến 18 tháng
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                <input id="thoigiandautukhuutien5" name="thoigiandautukhuutien" type="checkbox" value="5">
                <label for="thoigiandautukhuutien5">
                    Trên 18 tháng
                </label>
            </div>
        </div>  

        
    </div>
    <div class="row mtRow">
        <div class="col-sm-12" style="font-weight: bold;">
            Câu 2: Tiêu chí quan trọng khi Quý khách lựa chọn để đầu tư trái phiếu là gì?
        </div>
        <div class="col-sm-12">
                <p style="font-size: 14px">(Chọn 3 tiêu chí quan trọng nhất)</p>
       </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-12">
                <div class="checkbox checkbox-primary" style="font-size: 14px;">
                    <input type="checkbox" name="tieuchiquantrong" id="tieuchiquantrong_1" value="1">
                    <label for="tieuchiquantrong_1">
                        Tổ chức bán Trái phiếu có uy tín trên thị trường
                    </label>
                </div>

            </div>
            <div class="col-sm-12">
                <div class="checkbox checkbox-primary" style="font-size: 14px;">
                    <input type="checkbox" name="tieuchiquantrong" id="tieuchiquantrong_2" value="2">
                    <label for="tieuchiquantrong_2">
                        Lợi tức hấp dẫn
                    </label>
                </div>

            </div>
            <div class="col-sm-12">
                <div class="checkbox checkbox-primary" style="font-size: 14px;">
                    <input type="checkbox" name="tieuchiquantrong" id="tieuchiquantrong_3" value="3">
                    <label for="tieuchiquantrong_3">
                        Đặc tính sản phẩm (Linh hoạt, ứng trước tiền bán, bán trước hạn…….)
                    </label>
                </div>

            </div>
            <div class="col-sm-12">
                <div class="checkbox checkbox-primary" style="font-size: 14px;">
                    <input type="checkbox" name="tieuchiquantrong" id="tieuchiquantrong_4" value="4">
                    <label for="tieuchiquantrong_4">
                        Tổ chức phát hành trái phiếu uy tín, kết quả kinh doanh khả quan…
                    </label>
                </div>

            </div>
            <div class="col-sm-12">
                <div class="checkbox checkbox-primary" style="font-size: 14px;">
                    <input type="checkbox" name="tieuchiquantrong" id="tieuchiquantrong_5" value="5">
                    <label for="tieuchiquantrong_5">
                        Đặc tính lô trái phiếu (tài sản đảm bảo, ngân hàng bảo lãnh, đơn vị định giá…)
                    </label>
                </div>

            </div>
            <div class="col-sm-12">
                <div class="checkbox checkbox-primary" style="font-size: 14px;">
                    <input type="checkbox" name="tieuchiquantrong" id="tieuchiquantrong_6" value="6">
                    <label for="tieuchiquantrong_6">
                        Nhân viên chăm sóc chuyên nghiệp, giao dịch nhanh chóng tiện lợi.
                    </label>
                </div>

            </div>
            <div class="col-sm-12">
                <div class="checkbox checkbox-primary" style="font-size: 14px;">
                    <input type="checkbox" name="tieuchiquantrong" id="tieuchiquantrong_7" value="7">
                    <label for="tieuchiquantrong_7">
                        Ý kiến khác
                    </label>
                </div>
                <textarea id="ykienkhactieuchiquantrong" name="ykienkhactieuchiquantrong" rows="2" style="width:100%;height: 80px" value="ykienkhactieuchiquantrong"></textarea>


            </div>


            @*<table class="table table-bordered">

                <tbody>
                <tr>
                    <div class="checkbox checkbox-primary" style="font-size: 14px;">
                        <td style="text-align: center;">
                            
                        </td>
                        <td>
                            Tổ chức bán Trái phiếu có uy tín trên thị trường
                        </td>

                    </div>
                </tr>
                <tr>
                    <td style="text-align: center;">
                      
                    </td>
                    <td>
                        Lợi tức hấp dẫn
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                       
                    </td>
                    <td>Đặc tính sản phẩm (Linh hoạt, ứng trước tiền bán, bán trước hạn…….) </td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        
                    </td>
                    <td>Tổ chức phát hành trái phiếu uy tín, kết quả kinh doanh khả quan…</td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                     
                    </td>
                    <td>Đặc tính lô trái phiếu (tài sản đảm bảo, ngân hàng bảo lãnh, đơn vị định giá…)</td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                       
                    </td>
                    <td>Nhân viên chăm sóc chuyên nghiệp, giao dịch nhanh chóng tiện lợi.</td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <div class="checkbox checkbox-primary" style="font-size: 14px;">
                            <input type="checkbox" name="tieuchiquantrong" id="tieuchiquantrong_7" value="7">
                            <label for="tieuchiquantrong_7">
                                Ý kiến khác
                            </label>
                        </div>
                    </td>
                    <td>
                        Ý kiến khác <br>
                        <textarea id="ykienkhactieuchiquantrong" name="ykienkhactieuchiquantrong" rows="2" style="width:100%;height: 40px" value="ykienkhactieuchiquantrong"></textarea>

                    </td>

                </tr>
                </tbody>
            </table>*@
        </div>
    </div>
    <div class="row mtRow">
        <div class="col-sm-12" style="font-weight: bold;">
            Câu 3: Trong danh mục sản phẩm trái phiếu TVSI đang cung cấp, Quý khách quan tâm đến sản phẩm nào của chúng tôi?
        </div>
        <div class="col-sm-12">
            (Có thể lựa chọn nhiều sản phẩm)
        </div>
    </div>
    <div class="row">

        <div class="col-sm-12">
            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                <input type="checkbox" name="danhmucsanphamtvsicc" id="danhmucsanphamtvsicc_1" value="1">
                <label for="danhmucsanphamtvsicc_1" style="width: 100%">
                    <div class="tvsicungcap-text">
                        <p style="font-weight: bold;">
                            1. Trái phiếu kỳ hạn cố định (Fix) <br> Là sản phẩm Trái phiếu có kỳ hạn cố định từ 1 đến 24 tháng.
                        </p>
                        + Được lựa chọn kỳ hưởng lợi tức.<br>
                        + Được ứng trước tiền bán trái phiếu.
                    </div>
                </label>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                <input type="checkbox" name="danhmucsanphamtvsicc" id="danhmucsanphamtvsicc_2" value="2">
                <label for="danhmucsanphamtvsicc_2" style="width: 100%">
                    <div class="tvsicungcap-text">
                        <p style="font-weight: bold;">
                            2. Trái phiếu Kỳ hạn linh hoạt (Flex)
                            <br> Là sản phẩm Trái phiếu TVSI cam kết mua lại trong vòng 12 tháng nắm giữ tại mọi thời điểm với mức lợi tức hưởng theo thời gian thực tế đầu tư.
                        </p>
                        + Được ứng trước tiền bán trái phiếu.
                    </div>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                <input type="checkbox" name="danhmucsanphamtvsicc" id="danhmucsanphamtvsicc_3" value="3">
                <label for="danhmucsanphamtvsicc_3" style="width: 100%">
                    <div class="tvsicungcap-text">
                        <p style="font-weight: bold;">
                            3. Outright kỳ hạn (OutCut) <br>
                            Là sản phẩm Trái phiếu có kỳ hạn cố định từ 6 tháng trở lên và hưởng lợi tức (Coupon) theo thông báo từ TCPH, lợi tức cố định theo thời hạn Hợp đồng, được tất toán trước hạn hưởng lợi tức.
                        </p>
                    </div>

                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                <input type="checkbox" name="danhmucsanphamtvsicc" id="danhmucsanphamtvsicc_4" value="4">
                <label for="danhmucsanphamtvsicc_4" style="width: 100%">
                    <div class="tvsicungcap-text">
                        <p style="font-weight: bold;">
                            4. OUTRIGHT
                            <br> Là sản phẩm Trái phiếu mà NĐT đầu tư nắm giữ đến ngày đáo hạn TP và hưởng lợi tức (Coupon) theo thông báo từ TCPH.
                        </p>
                    </div>
                </label>

            </div>
        </div>

    </div>
    <div class="row" style="margin-left: 20px;">
        <p style="font-weight: bold">
            Vui lòng cho chúng tôi biết quý khách mong muốn thêm tiện ích, cải tiến gì với sản phẩm?
        </p>
        <textarea id="quykhmongmuoncaitien" name="quykhmongmuoncaitien" rows="2" style="width:100%;height: 80px" value="quykhmongmuoncaitien"></textarea>

    </div>
    <div class="row mtRow">
        <div class="col-sm-12" style="font-weight: bold;">
            Câu 4: Quý khách đã biết đến sản phẩm Môi giới Trái phiếu (HĐMG) của TVSI chưa?
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="radio radio-primary" style="font-size: 14px;">
                <input id="bietsanphammoigioi1" name="bietsanphammoigioi" type="radio" value="1" >
                <label for="bietsanphammoigioi1">
                    1. Đã tham gia
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="radio radio-primary" style="font-size: 14px;">
                <input id="bietsanphammoigioi2" name="bietsanphammoigioi" type="radio" value="2">
                <label for="bietsanphammoigioi2">
                    2. Chưa tham gia
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 mucdoyeuthich" style="border: 1px solid rgb(133, 133, 133);padding: 10px;">
            <p style="font-weight: bold">
                Quý khách vui lòng đánh giá mức độ yêu thích.
            </p>
            <div class="col-sm-12">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input id="mucdoyeuthich_5" name="mucdoyeuthich" type="radio" value="5" >
                    <label for="mucdoyeuthich_5">
                        Rất thích
                    </label>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input id="mucdoyeuthich_4" name="mucdoyeuthich" type="radio" value="4">
                    <label for="mucdoyeuthich_4">
                        Thích
                    </label>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input id="mucdoyeuthich_3" name="mucdoyeuthich" type="radio" value="3">
                    <label for="mucdoyeuthich_3">
                        Bình thường
                    </label>
                </div>

            </div>
            <div class="col-sm-12">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input id="mucdoyeuthich_2" name="mucdoyeuthich" type="radio" value="2">
                    <label for="mucdoyeuthich_2">
                        Không thích
                    </label>
                </div>

            </div>
            <div class="col-sm-12">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input id="mucdoyeuthich_1" name="mucdoyeuthich" type="radio" value="1">
                    <label for="mucdoyeuthich_1">
                        Rất Không thích
                    </label>
                </div>
            </div>
            <div class="col-sm-12">
                <p style="font-weight: bold">
                    Vui lòng cho chúng tôi biết quý khách mong muốn thêm tiện ích, cải tiến gì với sản phẩm?
                </p>
                <textarea id="mucdoyeuthich_0" name="mucdoyeuthichtext" rows="2" style="width:100%;height: 77px" value=""></textarea>
            </div>
        </div>
        <div class="col-sm-12 chualuachonthamgia" style="border: 1px solid rgb(133, 133, 133);padding: 10px;line-height: 25px">
            <p style="font-weight: bold">
                Là một sản phẩm đầu tư ngắn hạn với giá trị đầu tư chỉ tối thiểu 50 triệu, an toàn, vượt trội về lợi tức (rút đúng hạn và rút trước hạn) <br>so với các gói tiết kiệm tại Ngân hàng cùng kỳ hạn.<br>
                Quý khách vui lòng cho chúng tôi biết lý do Quý khách chưa lựa chọn tham gia sản phẩm?
            </p>
            <div class="col-sm-12">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input id="luachonthamgiasp_5" name="luachonthamgiasp" type="radio" value="5">
                    <label for="luachonthamgiasp_5">
                        Chưa được tư vấn về sản phẩm
                    </label>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input id="luachonthamgiasp_4" name="luachonthamgiasp" type="radio" value="4">
                    <label for="luachonthamgiasp_4">
                        Chưa có nguồn tiền đầu tư
                    </label>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input id="luachonthamgiasp_3" name="luachonthamgiasp" type="radio" value="3">
                    <label for="luachonthamgiasp_3">
                        Chưa hiểu về sản phẩm đầu tư
                    </label>
                </div>

            </div>
            <div class="col-sm-12">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input id="luachonthamgiasp_2" name="luachonthamgiasp" type="radio" value="2">
                    <label for="luachonthamgiasp_2">
                        Lãi suất chưa phù hợp với nhu cầu
                    </label>
                </div>

            </div>
            <div class="col-sm-12">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input id="luachonthamgiasp_1" name="luachonthamgiasp" type="radio" value="1">
                    <label for="luachonthamgiasp_1">
                        Chỉ muốn đầu tư vào các sản phẩm Trái phiếu
                    </label>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input id="luachonthamgiasp_0" name="luachonthamgiasp" type="radio" value="0">
                    <label for="luachonthamgiasp_0">
                        Lý do khác
                    </label>
                </div>
                <div class="row">
                                        <textarea id="luachonthamgiasp_text" name="luachonthamgiasp_text" rows="2" style="width:100%;height: 80px" ></textarea>

                </div>
            </div>
        </div>
    </div>
    <div class="row mtRow">
        <div class="col-sm-12" style="font-weight: bold;">
            Câu 5. Quý khách hàng đánh giá như thế nào về thái độ phục vụ/tư vấn của nhân viên và quy trình xử lý tại TVSI?
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered" id="thaidophucvutvsi">
                <thread>
                    <tr style="">
                        <th scope="col" style="font-weight: bold;width: 50%">
                            <p>Tiêu chí</p>
                        </th>
                        <th scope="col" style="width: 10%">Hoàn toàn hài lòng</th>
                        <th scope="col" style="width: 10%">Hài lòng</th>
                        <th scope="col" style="width: 10%;">Bình thường</th>
                        <th scope="col" style="width: 10%;">Không hài lòng</th>
                        <th scope="col" style="width: 10%;">Rất không hài lòng</th>
                    </tr>
                </thread>
                <tbody>
                <tr>
                    <td>Thái độ khi phục vụ Khách hàng.</td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="thaidokhiphucvukhtvsi" id="thaidokhiphucvukhtvsi_5" value="5">
                            <label for="thaidokhiphucvukhtvsi_5">

                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="thaidokhiphucvukhtvsi" id="thaidokhiphucvukhtvsi_4" value="4">
                            <label for="thaidokhiphucvukhtvsi_4">

                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="thaidokhiphucvukhtvsi" id="thaidokhiphucvukhtvsi_3" value="3">
                            <label for="thaidokhiphucvukhtvsi_3">

                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="thaidokhiphucvukhtvsi" id="thaidokhiphucvukhtvsi_2" value="2">
                            <label for="thaidokhiphucvukhtvsi_2">

                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="thaidokhiphucvukhtvsi" id="thaidokhiphucvukhtvsi_1" value="1">
                            <label for="thaidokhiphucvukhtvsi_1">

                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Hiệu quả thông tin tư vấn.</td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">

                            <input type="radio" name="hieuquathongtintuvantvsi" id="hieuquathongtintuvantvsi_5" value="5">
                            <label for="hieuquathongtintuvantvsi_5">

                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="hieuquathongtintuvantvsi" id="hieuquathongtintuvantvsi_4" value="4">
                            <label for="hieuquathongtintuvantvsi_4">

                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">

                            <input type="radio" name="hieuquathongtintuvantvsi" id="hieuquathongtintuvantvsi_3" value="3">
                            <label for="hieuquathongtintuvantvsi_3">

                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="hieuquathongtintuvantvsi" id="hieuquathongtintuvantvsi_2" value="2">
                            <label for="hieuquathongtintuvantvsi_2"></label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="hieuquathongtintuvantvsi" id="hieuquathongtintuvantvsi_1" value="1">
                            <label for="hieuquathongtintuvantvsi_1"></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Chăm sóc khách hàng (các dịp lễ, sinh nhật,… duy trì liên lạc…..…)</td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="chamsockhachhangtvsi" id="chamsockhachhangtvsi_5" value="5">
                            <label for="chamsockhachhangtvsi_5">
                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="chamsockhachhangtvsi" id="chamsockhachhangtvsi_4" value="4">
                            <label for="chamsockhachhangtvsi_4">
                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="chamsockhachhangtvsi" id="chamsockhachhangtvsi_3" value="3">
                            <label for="chamsockhachhangtvsi_3">
                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="chamsockhachhangtvsi" id="chamsockhachhangtvsi_2" value="2">
                            <label for="chamsockhachhangtvsi_2">
                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="chamsockhachhangtvsi" id="chamsockhachhangtvsi_1" value="1">
                            <label for="chamsockhachhangtvsi_1">
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Thời gian xử lý hồ sơ, hỗ trợ và giải quyết vấn đề trong giao dịch</td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="thoigianxulyhoso" id="thoigianxulyhoso_5" value="5">
                            <label for="thoigianxulyhoso_5">
                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="thoigianxulyhoso" id="thoigianxulyhoso_4" value="4">
                            <label for="thoigianxulyhoso_4">
                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="thoigianxulyhoso" id="thoigianxulyhoso_3" value="3">
                            <label for="thoigianxulyhoso_3">
                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="thoigianxulyhoso" id="thoigianxulyhoso_2" value="2">
                            <label for="thoigianxulyhoso_2">
                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">

                            <input type="radio" name="thoigianxulyhoso" id="thoigianxulyhoso_1" value="1">
                            <label for="thoigianxulyhoso_1">
                            </label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12" style="font-weight: bold;">
            <div class="col-sm-12" style="font-weight: bold;">
                Vui lòng cho chúng tôi biết trở ngại Quý khách đã gặp phải khi giao dịch tại TVSI (nếu có)
            </div>
            <textarea id="trongaikhigiaodichtvsi" name="trongaikhigiaodichtvsi" rows="2" style="width:100%;height: 80px" value="trongaikhigiaodichtvsi"></textarea>
        </div>
    </div>

    <div class="row mtRow">
        <div class="col-sm-12" style="font-weight: bold;">
            Câu 6. Quý khách mong muốn giao dịch Trái phiếu thường xuyên bằng các hình thức nào:
        </div>
        <div class="col-sm-12">
            (Có thể chọn nhiều phương án)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="checkbox checkbox-primary">
                <input type="checkbox" name="giaodichthuongxuyen" id="giaodichthuongxuyen_1" value="1"/>
                <label for="giaodichthuongxuyen_1"> Online (giao dịch trực tuyến)</label>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="checkbox checkbox-primary">
                <input type="checkbox" name="giaodichthuongxuyen" id="giaodichthuongxuyen_2" value="2"/>
                <label for="giaodichthuongxuyen_2"> Trực tiếp tại các điểm giao dịch của TVSI</label>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="checkbox checkbox-primary">
                <input type="checkbox" name="giaodichthuongxuyen" id="giaodichthuongxuyen_3" value="3"/>
                <label for="giaodichthuongxuyen_3">Qua chuyên viên chăm sóc khách hàng</label>
            </div>
        </div>
    </div>
    <div class="row mtRow">
        <div class="col-sm-12" style="font-weight: bold;">
            Câu 7. Quý khách đã trải nghiệm app trái phiếu của TVSI chưa?
        </div>
    </div>
    <div class="row">
        
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="radio radio-primary" style="font-size: 14px;">
                <input id="trainghiemapptraiphieu_1" name="trainghiemapptraiphieu" type="radio" value="1">
                <label for="trainghiemapptraiphieu_1">
                    1. Đã trải nghiệm
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="radio radio-primary" style="font-size: 14px;">
                <input id="trainghiemapptraiphieu_2" name="trainghiemapptraiphieu" type="radio" value="2">
                <label for="trainghiemapptraiphieu_2">
                    2. Chưa trải nghiệm
                </label>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="khtrainghiemapptvsi" id="khtrainghiemapptvsi">

                <div class="col-sm-12">
                    Vui lòng đánh giá mức độ hài lòng khi sử dụng: (chỉ dành cho KH đã trải nghiệm)
                </div>
                <table class="table table-bordered">
        
                    <thread>
                        <tr style="">
                            <th scope="col" style="font-weight: bold;width: 50%">
                                <p>Tiêu chí</p>
                            </th>
                            <th scope="col" style="width: 10%">Rất thích</th>
                            <th scope="col" style="width: 10%">Thích</th>
                            <th scope="col" style="width: 10%;">Bình thường</th>
                            <th scope="col" style="width: 10%;">Không thích</th>
                            <th scope="col" style="width: 10%;">Rất không thích</th>
                        </tr>
                    </thread>
                    <tbody>
                    <tr>
                        <td>Giao diện</td>
                        <td style="text-align: center;">
                            <div class="radio radio-primary" style="font-size: 14px;">
                                <input type="radio" name="giaodienapptraiphieu" id="giaodienapptraiphieu_5" value="5">
                                <label for="giaodienapptraiphieu_5">

                                </label>
                            </div>
                        </td>
                        <td style="text-align: center;">
                            <div class="radio radio-primary" style="font-size: 14px;">
                                <input type="radio" name="giaodienapptraiphieu" id="giaodienapptraiphieu_4" value="4">
                                <label for="giaodienapptraiphieu_4">

                                </label>
                            </div>
                        </td>
                        <td style="text-align: center;">
                            <div class="radio radio-primary" style="font-size: 14px;">

                                <input type="radio" name="giaodienapptraiphieu" id="giaodienapptraiphieu_3" value="3">
                                <label for="giaodienapptraiphieu_3">

                                </label>
                            </div>
                        </td>
                        <td style="text-align: center;">
                            <div class="radio radio-primary" style="font-size: 14px;">
                                <input type="radio" name="giaodienapptraiphieu" id="giaodienapptraiphieu_2" value="2">
                                <label for="giaodienapptraiphieu_2">

                                </label>
                            </div>
                        </td>
                        <td style="text-align: center;">
                            <div class="radio radio-primary" style="font-size: 14px;">
                                <input type="radio" name="giaodienapptraiphieu" id="giaodienapptraiphieu_1" value="1">
                                <label for="giaodienapptraiphieu_1">

                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Tốc độ truy cập và xử lý</td>
                        <td style="text-align: center;">
                            <div class="radio radio-primary" style="font-size: 14px;">
                                <input type="radio" name="tocdoxulyapptraiphieu" id="tocdoxulyapptraiphieu_5" value="5">
                                <label for="tocdoxulyapptraiphieu_5">

                                </label>
                            </div>
                        </td>
                        <td style="text-align: center;">
                            <div class="radio radio-primary" style="font-size: 14px;">
                                <input type="radio" name="tocdoxulyapptraiphieu" id="tocdoxulyapptraiphieu_4" value="4">
                                <label for="tocdoxulyapptraiphieu_4">

                                </label>
                            </div>
                        </td>
                        <td style="text-align: center;">
                            <div class="radio radio-primary" style="font-size: 14px;">
                                <input type="radio" name="tocdoxulyapptraiphieu" id="tocdoxulyapptraiphieu_3" value="3">
                                <label for="tocdoxulyapptraiphieu_3">

                                </label>
                            </div>
                        </td>
                        <td style="text-align: center;">
                            <div class="radio radio-primary" style="font-size: 14px;">

                                <input type="radio" name="tocdoxulyapptraiphieu" id="tocdoxulyapptraiphieu_2" value="2">
                                <label for="tocdoxulyapptraiphieu_2">

                                </label>
                            </div>
                        </td>
                        <td style="text-align: center;">
                            <div class="radio radio-primary" style="font-size: 14px;">
                                <input type="radio" name="tocdoxulyapptraiphieu" id="tocdoxulyapptraiphieu_1" value="1">
                                <label for="tocdoxulyapptraiphieu_1">

                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Đáp ứng đầy đủ các thông tin tra cứu</td>
                        <td style="text-align: center;">
                            <div class="radio radio-primary" style="font-size: 14px;">
                                <input type="radio" name="dapungthongtinapptraiphieu" id="dapungthongtinapptraiphieu_5" value="5">
                                <label for="dapungthongtinapptraiphieu_5">

                                </label>
                            </div>
                        </td>
                        <td style="text-align: center;">
                            <div class="radio radio-primary" style="font-size: 14px;">

                                <input type="radio" name="dapungthongtinapptraiphieu" id="dapungthongtinapptraiphieu_4" value="4">
                                <label for="dapungthongtinapptraiphieu_4">

                                </label>
                            </div>
                        </td>
                        <td style="text-align: center;">
                            <div class="radio radio-primary" style="font-size: 14px;">

                                <input type="radio" name="dapungthongtinapptraiphieu" id="dapungthongtinapptraiphieu_3" value="3">
                                <label for="dapungthongtinapptraiphieu_3">

                                </label>
                            </div>
                        </td>
                        <td style="text-align: center;">
                            <div class="radio radio-primary" style="font-size: 14px;">

                                <input type="radio" name="dapungthongtinapptraiphieu" id="dapungthongtinapptraiphieu_2" value="2">
                                <label for="dapungthongtinapptraiphieu_2">

                                </label>
                            </div>
                        </td>
                        <td style="text-align: center;">
                            <div class="radio radio-primary" style="font-size: 14px;">

                                <input type="radio" name="dapungthongtinapptraiphieu" id="dapungthongtinapptraiphieu_1" value="1">
                                <label for="dapungthongtinapptraiphieu_1">

                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Ý kiến khác</td>
                        <td colspan="5">
                            <textarea name="ykienkhacapptraiphieu" id="ykienkhacapptraiphieu" style="width: 100%"></textarea>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row mtRow">
        <div class="col-sm-12" style="font-weight: bold;">
            Quý khách hàng mong muốn sử dụng App Trái phiếu của TVSI cho những mục đích nào sau đây?
        </div>
        <div class="col-sm-12">
            <p> (Có thể chọn nhiều phương án)</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                <input id="mongmuonsudungapptraiphieu_1" name="mongmuonsudungapptraiphieu" type="checkbox" value="1">
                <label for="mongmuonsudungapptraiphieu_1">
                    Theo dõi, thống kê danh mục đầu tư
                </label>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                <input id="mongmuonsudungapptraiphieu_2" name="mongmuonsudungapptraiphieu" type="checkbox" value="2" >
                <label for="mongmuonsudungapptraiphieu_2">
                    Theo dõi thông tin về Trái phiếu, dịch vụ, sản phẩm.
                </label>
            </div>
        </div>
        <div class="col-sm-12">
             <div class="checkbox checkbox-primary" style="font-size: 14px;">
                <input id="mongmuonsudungapptraiphieu_3" name="mongmuonsudungapptraiphieu" type="checkbox" value="3" >
                <label for="mongmuonsudungapptraiphieu_3">
                    Đặt lệnh giao dịch Trái phiếu và các sản phẩm đầu tư khác.
                </label>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                <input id="mongmuonsudungapptraiphieu_4" name="mongmuonsudungapptraiphieu" type="checkbox" value="4">
                <label for="mongmuonsudungapptraiphieu_4">
                    Khác
                </label>
            </div>

            <textarea id="mongmuonsudungapptraiphieutext" name="mongmuonsudungapptraiphieutext" rows="2" style="width:100%;height: 80px" value="mongmuonsudungapptraiphieutext"></textarea>


        </div>
    </div>
    <div class="row mtRow">
        <div class="col-sm-12" style="font-weight: bold;">
            Câu 8. Ưu đãi Quý khách mong muốn nhận được khi trở thành khách hàng thân thiết của TVSI?
        </div>
        <div class="col-sm-12">
            (Chọn 2 ưu đãi yêu thích nhất)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                <input type="checkbox" name="trothanhkhthanthiet" id="trothanhkhthanthiet_1" value="1"/>
                <label for="trothanhkhthanthiet_1">Nhận quà bằng hiện vật.</label>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                <input type="checkbox" name="trothanhkhthanthiet" id="trothanhkhthanthiet_2" value="2"/>
                <label for="trothanhkhthanthiet_2">
                    Tăng lợi tức khi đầu tư Trái phiếu và/hoặc các sản phẩm đầu tư khác của TVSI.
                </label>
            </div>

        </div>
        <div class="col-sm-12">
            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                <input type="checkbox" name="trothanhkhthanthiet" id="trothanhkhthanthiet_3" value="3"/>
                <label for="trothanhkhthanthiet_3">
                    Ưu đãi đặc biệt liên quan đến sản phẩm (ưu tiên mua một số mã TP, ưu đãi được bán TP trước hạn với một số sản phẩm, ưu đãi về giá trị đầu tư tối thiểu/tối đa…).
                </label>
            </div>

        </div>
        <div class="col-sm-12">
            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                <input type="checkbox" name="trothanhkhthanthiet" id="trothanhkhthanthiet_4" value="4"/>
                <label for="trothanhkhthanthiet_4">Giảm phí dịch vụ khi sử dụng các dịch vụ gia tăng.</label>
            </div>

        </div>
        <div class="col-sm-12">
            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                <input type="checkbox" name="trothanhkhthanthiet" id="trothanhkhthanthiet_5" value="5"/>
                <label for="trothanhkhthanthiet_5"> ý kiến khác </label>
            </div>
        </div>
        <textarea id="trothanhkhthanthiettext" name="trothanhkhthanthiettext" rows="2" style="width:100%;height: 80px" value="trothanhkhthanthiettext"></textarea>

    </div>
    <div class="row mtRow">
        <div class="col-sm-12" style="font-weight: bold;">
            Câu 9: Là khách hàng thân thiết của TVSI, Quý khách có sẵn sàng giới thiệu người thân, bạn bè về các sản phẩm đầu tư của TVSI không?
        </div>
    </div>
    <div class="row">
     <div class="col-sm-4">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input id="gioithieunguoithanbb_2" name="gioithieunguoithanbb" type="radio" value="1" >
                    <label for="gioithieunguoithanbb_2">
                        Có
                    </label>
                </div>
            </div>
        <div class="col-sm-4">
            <div class="radio radio-primary" style="font-size: 14px;">
                <input id="gioithieunguoithanbb_1" name="gioithieunguoithanbb" type="radio" value="2" >
                <label for="gioithieunguoithanbb_1">
                    Không
                </label>
            </div>
        </div>
       
        <div class="col-sm-4">
            <div class="radio radio-primary" style="font-size: 14px;">
                <input id="gioithieunguoithanbb_3" name="gioithieunguoithanbb" type="radio" value="3" >
                <label for="gioithieunguoithanbb_3">
                    Không chắc
                </label>
            </div>
        </div>
        <div class="khtt1">
            <div class="col-sm-9">
                <div class="col-sm-12">
                    Vui lòng cho chúng tôi biết lý do nếu Quý khách không muốn/không chắc giới thiệu
                </div>
            </div>
            <div class="col-sm-9">
                <textarea name="khongthamgiagioithieubb" id="khongthamgiagioithieubb" style="width: 100%"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
                
        <div class="col-sm-12" style="font-weight: bold;;line-height: 22px;margin-top: 20px">
            Nếu TVSI đưa ra gói chính sách ưu đãi dành cho khách hàng khi giới thiệu thành công khách hàng mới tham gia các gói sản phẩm đầu tư tại TVSI. <br> Quý khách có đồng ý tham gia không?
        </div>

        <div class="col-sm-4">
            <div class="radio radio-primary" style="font-size: 14px;">
                <input id="chinhsachuudaikhmoi_1" name="chinhsachuudaikhmoi" type="radio" value="1">
                <label for="chinhsachuudaikhmoi_1">
                    Có
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="radio radio-primary" style="font-size: 14px;">
                <input id="chinhsachuudaikhmoi_2" name="chinhsachuudaikhmoi" type="radio" value="2">
                <label for="chinhsachuudaikhmoi_2">
                    Không
                </label>
            </div>
        </div>
        <div class="col-sm-4">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input id="chinhsachuudaikhmoi_3" name="chinhsachuudaikhmoi" type="radio" value="3">
                    <label for="chinhsachuudaikhmoi_3">
                        Không chắc
                    </label>
                </div>
            </div>
        
        <div class="khtt2">
        <div class="col-sm-9">
            <div class="col-sm-12">
                Vui lòng cho chúng tôi biết lý do nếu Quý khách không muốn/không chắc tham gia:
            </div>
        </div>
        <div class="col-sm-9">
            <textarea name="khongchacthamgia" id="khongchacthamgia" style="width: 100%"></textarea>
        </div>
        </div>
    </div>
    <div class="row mtRow">
        <div class="col-sm-12" style="font-weight: bold;">
            Câu 10: Theo Quý khách TVSI cần cải thiện điều gì để nâng cao trải nghiệm của khách hàng (chọn tối đa 02)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                <input type="checkbox" name="nangcaotrainghiemkh" id="nangcaotrainghiemkh_1" value="1"/>
                <label for="nangcaotrainghiemkh_1">
                    Đa dạng sản phẩm dịch vụ.
                </label>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                <input type="checkbox" name="nangcaotrainghiemkh" id="nangcaotrainghiemkh_2" value="2"/>
                <label for="nangcaotrainghiemkh_2">
                    Tiện ích, ưu đãi sản phẩm.
                </label>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                <input type="checkbox" name="nangcaotrainghiemkh" id="nangcaotrainghiemkh_3" value="3"/>
                <label for="nangcaotrainghiemkh_3">
                    Tốc độ xử lý giao dịch.
                </label>

            </div>
        </div>
        <div class="col-sm-12">
            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                <input type="checkbox" name="nangcaotrainghiemkh" id="nangcaotrainghiemkh_4" value="4"/>
                <label for="nangcaotrainghiemkh_4">
                    Kỹ năng tư vấn của chuyên viên chăm sóc khách hàng.
                </label>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                <input type="checkbox" name="nangcaotrainghiemkh" id="nangcaotrainghiemkh_5" value="5"/>
                <label for="nangcaotrainghiemkh_5">
                    Hệ thống hỗ trợ (WEB/APP, hệ thống bản tin, báo cáo phân tích thị trường …)
                </label>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                <input type="checkbox" name="nangcaotrainghiemkh" id="nangcaotrainghiemkh_6" value="6"/>
                <label for="nangcaotrainghiemkh_6"> ý kiến khác</label>
            </div>
        </div>

        <textarea id="nangcaotrainghiemkhtext" name="nangcaotrainghiemkhtext" rows="2" style="width:100%;height: 80px" value="nangcaotrainghiemkhtext"></textarea>

    </div>
    <div class="row">
        <div class="col-sm-12" style="font-weight: bold">
            Trân trọng cảm ơn sự đóng góp quý báu của Quý khách!
            TVSI sẽ không ngừng nỗ lực, hoàn thiện để đảm bảo mang đến cho Quý khách những sản phẩm và dịch vụ tốt nhất.
        </div>
    </div>
    </div>

    </div>


    <div class="row mtRow">
        <div class="col-sm-2" style="font-weight: bold">@Website_tvsi_v1.App_Resources.Website.Txt_Securitycharacter (<span style="color: red">*</span>):</div>
        <div class="col-sm-4">
            <input class="input-data" id="kytubaomatcn" maxlength="20" name="kytubaomatcn" type="text" value="">
        </div>
        <div class="col-sm-2">
            <img src="@Url.Action("GetCaptChaImageKhaoSat", "CaptCha")" id="imgCaptcha"/>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12" style="color: red;margin-top: 14px;">
            @if (ViewBag.captcha != null)
            {
                <div style="border: 0px solid; color: red;">
                    @ViewBag.captcha
                </div>
            }
        </div>
    </div>
    <div class="group text-center">
        @*
                                    <button type="submit" class="button-default" id="btnSubmit">Tiếp theo >></button>
                                    <a id="linkkhachhang" href="/home/index" class="button-default">Tiếp theo >></a>*@
        <input type="hidden" id="ckOK" value="0"/>
        <button id="btnSubmit" type="submit" class="button-default">Hoàn thành >></button>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

    </section>
}
<script>
    $(document).ready(function () {
        
        var isOk = false;
        $("#btnSubmit").click(function () {
            

            if (!$("#sotaikhoan").val()) {
                window.alert("Quý khách vui lòng nhập số tài khoản.");
                 $("input[name=sotaikhoan]").focus();
                return false;
            } 
            
            if (!$("input[name=DoTuoiKhachHang]:checked").val()) {
                window.alert("Quý khách vui lòng lựa chọn câu 1 phần A.");
               $("input[name=DoTuoiKhachHang]").focus();
                return false;
            }
            if (!$("input[name=PhuongTienThongTin]:checked").val()) {
                window.alert("Quý khách vui lòng lựa chọn câu 2 phần A.");
                 $("input[name=PhuongTienThongTin]").focus();
                return false;
            }
            if (!$("input[name=thoigiandautukhuutien]:checked").val()) {
                window.alert("Quý khách vui lòng lựa chọn câu 1 phần B.");
                $("input[name=thoigiandautukhuutien]").focus();
                return false;
            }    
            if (!$("input[name=tieuchiquantrong]:checked").val()) {
                window.alert("Quý khách vui lòng lựa chọn câu 2 phần B.");
                 $("input[name=tieuchiquantrong]").focus();
                return false;
            } 
            if (!$("input[name=danhmucsanphamtvsicc]:checked").val()) {
                window.alert("Quý khách vui lòng lựa chọn câu 3 phần B.");
                 $("input[name=danhmucsanphamtvsicc]").focus();
                return false;
            }
            if (!$("input[name=bietsanphammoigioi]:checked").val()) {
                window.alert("Quý khách vui lòng lựa chọn câu 4 phần B. ");
                 $("input[name=bietsanphammoigioi]").focus();
                return false;
            }
            if ($("input[name=bietsanphammoigioi]:checked").val() != "" || $("input[name=bietsanphammoigioi]:checked").val() != null){
                if ($("input[name=bietsanphammoigioi]:checked").val() === 1){
                    if (!$("input[name=mucdoyeuthich]:checked").val()) {
                                    window.alert("Quý khách vui lòng đánh giá mức độ yêu thích.");
                                     $("input[name=mucdoyeuthich]").focus();
                                    return false;
                }
            }
                if($("input[name=bietsanphammoigioi]:checked").val() ===  2){
                         if (!$("input[name=luachonthamgiasp]:checked").val()) {
                                                       window.alert("Quý khách vui lòng cho biết lý do.");
                                                       $("input[name=luachonthamgiasp]").focus();
                                                       return false; } }
                }
            
            
                        if (!$("input[name=thaidokhiphucvukhtvsi]:checked").val()) {
                            window.alert("Quý khách vui lòng lựa chọn đầy đủ câu 5 phần B.");
                             $("input[name=thaidokhiphucvukhtvsi]").focus();
                            return false;
                        }
                        if (!$("input[name=hieuquathongtintuvantvsi]:checked").val()) {
                            window.alert("Quý khách vui lòng lựa chọn đầy đủ câu 5 phần B.");
                             $("input[name=hieuquathongtintuvantvsi]").focus();
                            return false;
                        }   
                        if (!$("input[name=chamsockhachhangtvsi]:checked").val()) {
                            window.alert("Quý khách vui lòng lựa chọn đầy đủ câu 5 phần B.");
                             $("input[name=chamsockhachhangtvsi]").focus();
                            return false;
                        }   
                        if (!$("input[name=thoigianxulyhoso]:checked").val()) {
                            window.alert("Quý khách vui lòng lựa chọn đầy đủ câu 5 phần B.");
                             $("input[name=thoigianxulyhoso]").focus();
                            return false;
                        }     
                        if (!$("input[name=giaodichthuongxuyen]:checked").val()) {
                            window.alert("Quý khách vui lòng lựa chọn đầy đủ câu 6 phần B.");
                            $("input[name=giaodichthuongxuyen]").focus();
                            return false;
                        }     
                        if (!$("input[name=trainghiemapptraiphieu]:checked").val()) {
                            window.alert("Quý khách vui lòng lựa chọn đầy đủ câu 7phần B.");
                            $("input[name=trainghiemapptraiphieu]").focus();
                            return false;
                        }
                        if($("input[name=trainghiemapptraiphieu]:checked").val() != "" && $("input[name=trainghiemapptraiphieu]:checked").val() != null){
                            if ($("input[name=trainghiemapptraiphieu]:checked").val() == 1){
                                if (!$("input[name=giaodienapptraiphieu]:checked").val()) {
                                  window.alert("Quý khách vui lòng đánh giá mức độ yêu thích.");
                                    $("input[name=giaodienapptraiphieu]").focus();
                                   return false;
                                   }
                                if (!$("input[name=tocdoxulyapptraiphieu]:checked").val()) {
                                  wwindow.alert("Quý khách vui lòng đánh giá mức độ yêu thích.");
                                    $("input[name=tocdoxulyapptraiphieu]").focus();
                                   return false;
                                   }
                                if (!$("input[name=dapungthongtinapptraiphieu]:checked").val()) {
                                  window.alert("Quý khách vui lòng đánh giá mức độ yêu thích.");
                                    $("input[name=dapungthongtinapptraiphieu]").focus();
                                   return false;
                                   }
                            }
                        }
                        if (!$("input[name=mongmuonsudungapptraiphieu]:checked").val()) {
                            window.alert("Quý khách vui lòng chọn phương án câu 7 phần B.");
                             $("input[name=mongmuonsudungapptraiphieu]").focus();
                            return false;
                        }     
                        if (!$("input[name=trothanhkhthanthiet]:checked").val()) {
                            window.alert("Quý khách vui lòng lựa chọn câu 8 phần B.");
                             $("input[name=trothanhkhthanthiet]").focus();
                            return false;
                        }    
                        if (!$("input[name=gioithieunguoithanbb]:checked").val()) {
                            window.alert("Quý khách vui lòng lựa chọn câu 9 phần B.");
                             $("input[name=gioithieunguoithanbb]").focus();
                            return false;
                        }    
                        if (!$("input[name=chinhsachuudaikhmoi]:checked").val()) {
                            window.alert("Quý khách vui lòng lựa chọn gói ưu đãi câu 9 phần B.");
                             $("input[name=chinhsachuudaikhmoi]").focus();
                            return false;
                        }   
                        if (!$("input[name=nangcaotrainghiemkh]:checked").val()) {
                            window.alert("Quý khách vui lòng lựa câu 10 phần B.");
                             $("input[name=nangcaotrainghiemkh]").focus();
                            return false;
                        }                        


            
            
            

            if (!$("#kytubaomatcn").val()) {
                window.alert("Quý khách vui lòng nhập ký tự bảo mật.");
                kytubaomatcn.focus();
                return false;
            }
            $.ajax({
                url: '/Khaosat/CheckCaptCha',
                data: { captcha: $("#kytubaomatcn").val() },
                async: false,
                datatype: "json",
                type: "POST",
                success: function (data) {
                    if (data.status == true) {
                        isOk = true;
                       /* $('form').attr('action', '/khao-sat');*/
                        $('form').submit();
                        
                    } else {
                        $('#imgCaptcha').attr('src', '/CaptCha/GetCaptChaImageKhaoSat');
                        alert(data.message);
                        
                    }
                    
                }
            });
            return isOk;
           
        });

    });
    $("#sotaikhoan").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
    $("input[name='tieuchiquantrong']").on('change', function() {
     
        if ($('input[name="tieuchiquantrong"]:checked').length > 3) {
              $(this).prop('checked', false);
              window.alert("Chỉ được chọn tối đa 3 tiêu chí.");
              
          }
    });
    $("input[name='trothanhkhthanthiet']").on('change', function() {
     
        if ($('input[name="trothanhkhthanthiet"]:checked').length > 2) {
              $(this).prop('checked', false);
              window.alert("Chỉ được chọn tối đa 2 ưu đãi yêu thích.");
              
          }
    }); 
    $("input[name='nangcaotrainghiemkh']").on('change', function() {
     
        if ($('input[name="nangcaotrainghiemkh"]:checked').length > 2) {
              $(this).prop('checked', false);
              window.alert("Chỉ được chọn tối đa 2.");
              
          }
    });
    
    $("#bietsanphammoigioi1").click(function (){
        let click = $(this).find('input[name="bietsanphammoigioi"]').prop('checked',true)
        if (click){
           $(".mucdoyeuthich").show();
           $(".chualuachonthamgia").hide();
           
        }
    });  
    $("#bietsanphammoigioi2").click(function (){
         let click =  $(this).find('input[name="bietsanphammoigioi"]').prop('checked',true)
        if (click){
           $(".chualuachonthamgia").show();
           $(".mucdoyeuthich").hide();
        }
    });  
    $("#trainghiemapptraiphieu_1").click(function (){
        let click =  $(this).find('input[name="trainghiemapptraiphieu"]').prop('checked',true)
        if (click){
           $("#khtrainghiemapptvsi").show();
        }

    });  
    $("#trainghiemapptraiphieu_2").click(function (){
        let click =  $(this).find('input[name="trainghiemapptraiphieu"]').prop('checked',true)
        if (click){
           $("#khtrainghiemapptvsi").hide();
        }

    });
    $("input[name='gioithieunguoithanbb']").click(function (){
        var value = this.value;
        
              if (value === '2' || value === '3') {
                $(".khtt1").show();
              } 
             else{
                $(".khtt1").hide();
              }
    });
    $("input[name='chinhsachuudaikhmoi']").click(function (){
        var value = this.value;
        
              if (value === '2' || value === '3') {
                $(".khtt2").show();
              } 
             else{
                $(".khtt2").hide();
              }
    })

    //function handleClick(myRadio) {
    //    if (myRadio.value == 0) {
    //        document.getElementById("linkkhachhang").href = "/khao-sat/khach-hang-chua-co-tai-khoan-tai-tvsi";
    //    }

    //    if (myRadio.value == 1) {
    //        document.getElementById("linkkhachhang").href = "/khao-sat/khach-hang-dau-tu-co-phieu-tai-tvsi";
    //    }
    //    if (myRadio.value == 2) {
    //        document.getElementById("linkkhachhang").href = "/khao-sat/khach-hang-dau-tu-trai-phieu-tai-tvsi";
    //    }

    //    if (myRadio.value == 3) {
    //        document.getElementById("linkkhachhang").href = "/khao-sat/khach-hang-dau-tu-co-phieu-va-trai-phieu-tai-tvsi";
    //    }
    //}
</script>