﻿@{
    Layout = "~/Views/Home/Share/_Layout_KSCBNV.cshtml";
}
@model Website_tvsi_v1.Models.KhaoSatYkienKhachHangModel

<style>
.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th{
border-top: 1px solid rgb(133, 133, 133)!important;
}
        .form-survey-sanphamtraiphieu tbody tr td{
        padding: 10px;
        }
        .form-survey-quytrinhhethong tbody tr td{
        padding: 10px;
        }
    .tvsicungcap-text{
      border: 1px solid;
      border-color: rgb(133, 133, 133); 
    padding: 10px;
    margin-bottom: 5px;
    }
    .traiphieucanhtranhcaolydo{
    display: none;
    }
    .dexuatvoihethong{
    display: none;
    }
    .khcbnvgapkhokhantext{
    display: none;
    }
            #thaidophucvutvsi tbody tr th{
                padding: 10px;
                text-align: center;
                font-size: 14px;
                font-weight: normal;
            }  
                #thaidophucvutvsi tbody tr th p {
                text-align: left;
                }
                    .table tbody tr th{
                      border:1px solid rgb(133, 133, 133); ;
                    }
                     .table tbody tr td{
                          border:1px solid rgb(133, 133, 133); ;
                        } 
                        .table thead tr th{
                      border:1px solid rgb(133, 133, 133); ;
                    }
                     .table thead tr th{
                          border:1px solid rgb(133, 133, 133); ;
                        }
</style>
@using (Html.BeginForm())
{

    <section id="wrapper-content" class="inner-page">
    <div class="container">
    <div class="row">
    <div class="col-sm-12">
    <div class="detail-content has-title-part" id="register">
    <div class="part">
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="note-form" style="text-align: justify;">

                        <p>
                            <b>Kính gửi các Anh/Chị,</b><br/>
                            <br/>
                        </p>
                        <p>
                            Công ty trân trọng cảm ơn Anh/Chị đã luôn nỗ lực và đồng hành với TVSI trong thời gian vừa qua. Với mong muốn ngày càng nâng cao chất lượng phục vụ khách hàng, mang đến những sản phẩm tốt nhất và gia tăng hiệu quả làm việc cho Anh/Chị, TVSI rất mong Anh/Chị dành chút thời gian để trả lời những câu hỏi của “Bảng khảo sát chất lượng dịch vụ” bên dưới.
                        </p>

                        <p>
                            Mọi ý kiến đánh giá, chia sẻ của Anh/Chị đều rất quan trọng, đây là cơ sở để Công ty có thể phát triển và đưa ra các sản phẩm được tốt hơn. Công ty đảm bảo sẽ bảo mật toàn bộ các thông tin Anh/Chị cung cấp và chỉ sử dụng cho mục đích đánh giá chất lượng sản phẩm dịch vụ tại TVSI.
                        </p>


                        <p>
                            <b>Trân trọng cảm ơn,</b><br/>
                            <b>Công ty CP Chứng khoán Tân Việt (TVSI) </b>
                        </p>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="wrapper">
    <div class="group-form">
    @*<div class="row">
                                        <div class="col-sm-12">
                                            @Html.ValidationSummary()
                                        </div>
                                    </div>*@
    <div class="row">
        <div class="col-sm-4" style="font-weight: bold">Vui lòng cho chúng tôi biết Họ và tên Anh/Chị</div>
        <div class="col-sm-3">
            <input class="input-data" id="tencbnv" name="tencbnv" type="text" placeholder="Nhập đầy đủ họ và tên" value="">
        </div>
        <div class="col-sm-1" style="font-weight: bold;margin-left: 20px">Phòng ban</div>
        <div class="col-sm-3">
            <input class="input-data" id="phongbancbnv" name="phongbancbnv" type="text" placeholder="Phòng ban" value="">
        </div>

    </div>

    <div class="row mtRow">
        <div class="col-sm-12" style="font-weight: bold;">
            Anh/Chị đã làm việc tại TVSI trong thời gian bao lâu:

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered ">
                <tbody>
                <tr>
                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="LamViecVoiTvsi" id="LamViecVoiTvsi_1" value="1"/>
                            <label for="LamViecVoiTvsi_1">
                                1. Dưới 1 năm
                            </label>
                        </div>
                    </td>
                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="LamViecVoiTvsi" id="LamViecVoiTvsi_2" value="2"/>
                            <label for="LamViecVoiTvsi_2">
                                2. Dưới 2 năm
                            </label>
                        </div>
                    </td>
                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="LamViecVoiTvsi" id="LamViecVoiTvsi_3" value="3"/>
                            <label for="LamViecVoiTvsi_3">
                                3. Từ 2- 5 năm
                            </label>
                        </div>
                    </td>
                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="LamViecVoiTvsi" id="LamViecVoiTvsi_4" value="4"/>
                            <label for="LamViecVoiTvsi_4">
                                4. Trên 5 năm
                            </label>
                        </div>
                    </td>

                </tr>

                </tbody>

            </table>
        </div>
        <div class="col-sm-12">
            <p style="font-weight: bold">
                Khách hàng của Anh/Chị đa số là khách hàng cá nhân hay là tổ chức và hoạt động trong lĩnh vực nào?
            </p>
            <textarea id="khcanhanhaytochuc" name="khcanhanhaytochuc" rows="2" style="width:100%;height: 80px" value="khcanhanhaytochuc"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 style="margin-top: 10px;color: #414141; font-size: 20px; font-weight: normal; display: inline-block; border-bottom: solid 4px #f00; font-family: Roboto Condensed; margin-bottom: 20px;">
                A. SẢN PHẨM ĐẦU TƯ TRÁI PHIẾU
            </h3>
        </div>
    </div>

    <div class="form-survey-sanphamtraiphieu" style="margin-left: 15px">
    <div class="row mtRow">
        <div class="col-sm-12" style="font-weight: bold;">Câu 1: Theo Anh/Chị đánh giá những sản phẩm trái phiếu hiện tại mà TVSI cung cấp có phù hợp với nhu cầu khách hàng và có tính cạnh tranh cao trên thị trường? </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="radio radio-primary" style="font-size: 14px;">
                <input type="radio" name="traiphieucanhtranhcao" id="traiphieucanhtranhcao_1" value="1"/>
                <label for="traiphieucanhtranhcao_1">
                    1. Chưa đủ
                </label>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="radio radio-primary" style="font-size: 14px;">
                <input type="radio" name="traiphieucanhtranhcao" id="traiphieucanhtranhcao_2" value="2"/>
                <label for="traiphieucanhtranhcao_2">
                    2. Đã đủ
                </label>
            </div>
        </div>
        <div class="row traiphieucanhtranhcaolydo">
            <div class="col-sm-12">
                <p>Nếu chưa đủ vui lòng cho biết lý do</p>
                <textarea id="traiphieucanhtranhcaolydo" name="traiphieucanhtranhcaolydo" rows="2" style="width:100%;height: 80px" value="traiphieucanhtranhcaolydo"></textarea>
            </div>
        </div>


    </div>
    <div class="row mtRow">
        <div class="col-sm-12" style="font-weight: bold;">
            Câu 2: Anh/chị đánh giá dịch vụ đầu tư trái phiếu tại TVSI như thế nào?
        </div>
    </div>
    <div class="row">
    <div class="col-sm-12">
    <table class="table table-bordered">
    <thread>
        <tr>
            <th scope="col" style="width: 50%;font-weight: bold;text-align: center;padding: 10px;">
                <p>Tiêu chí</p>
            </th>
            <th scope="col" style="width: 10%;text-align: center;padding: 10px;">Rất không tốt</th>
            <th scope="col" style="width: 10%;text-align: center;padding: 10px;">Không tốt</th>
            <th scope="col" style="width: 10%;text-align: center;padding: 10px;">Bình thường</th>
            <th scope="col" style="width: 10%;text-align: center;padding: 10px;">Tốt</th>
            <th scope="col" style="width: 10%;text-align: center;padding: 10px;">Rất tốt</th>
        </tr>
    </thread>
    <tboby>
        <tr>
            <td>Chất lượng danh mục trái phiếu cung cấp</td>
            <td style="text-align: center">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input type="radio" name="cbnvdanhgiadichvutraiphieu" id="cbnvdanhgiadichvutraiphieu_1" value="1"/>
                    <label for="cbnvdanhgiadichvutraiphieu_1">
                    </label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input type="radio" name="cbnvdanhgiadichvutraiphieu" id="cbnvdanhgiadichvutraiphieu_2" value="2"/>
                    <label for="cbnvdanhgiadichvutraiphieu_2">
                    </label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input type="radio" name="cbnvdanhgiadichvutraiphieu" id="cbnvdanhgiadichvutraiphieu_3" value="3"/>
                    <label for="cbnvdanhgiadichvutraiphieu_3">
                    </label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input type="radio" name="cbnvdanhgiadichvutraiphieu" id="cbnvdanhgiadichvutraiphieu_4" value="4"/>
                    <label for="cbnvdanhgiadichvutraiphieu_4">
                    </label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input type="radio" name="cbnvdanhgiadichvutraiphieu" id="cbnvdanhgiadichvutraiphieu_5" value="5"/>
                    <label for="cbnvdanhgiadichvutraiphieu_5">
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>Lợi tức hấp dẫn và cạnh tranh</td>
            <td style="text-align: center">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input type="radio" name="loituchapdancanhtranh" id="loituchapdancanhtranh_1" value="1"/>
                    <label for="loituchapdancanhtranh_1">
                    </label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input type="radio" name="loituchapdancanhtranh" id="loituchapdancanhtranh_2" value="2"/>
                    <label for="loituchapdancanhtranh_2">
                    </label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input type="radio" name="loituchapdancanhtranh" id="loituchapdancanhtranh_3" value="3"/>
                    <label for="loituchapdancanhtranh_3">
                    </label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input type="radio" name="loituchapdancanhtranh" id="loituchapdancanhtranh_4" value="4"/>
                    <label for="loituchapdancanhtranh_4">
                    </label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input type="radio" name="loituchapdancanhtranh" id="loituchapdancanhtranh_5" value="5"/>
                    <label for="loituchapdancanhtranh_5">
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>Các lợi ích đi kèm của sản phẩm</td>
            <td style="text-align: center">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input type="radio" name="loiichdikemsanpham" id="loiichdikemsanpham_1" value="1"/>
                    <label for="loiichdikemsanpham_1">
                    </label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input type="radio" name="loiichdikemsanpham" id="loiichdikemsanpham_2" value="2"/>
                    <label for="loiichdikemsanpham_2">
                    </label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input type="radio" name="loiichdikemsanpham" id="loiichdikemsanpham_3" value="3"/>
                    <label for="loiichdikemsanpham_3">
                    </label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input type="radio" name="loiichdikemsanpham" id="loiichdikemsanpham_4" value="4"/>
                    <label for="loiichdikemsanpham_4">
                    </label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input type="radio" name="loiichdikemsanpham" id="loiichdikemsanpham_5" value="5"/>
                    <label for="loiichdikemsanpham_5">
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>Phí dịch vụ ưu đãi </td>
            <td style="text-align: center">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input type="radio" name="phidichvuuudai" id="phidichvuuudai_1" value="1"/>
                    <label for="phidichvuuudai_1">
                    </label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input type="radio" name="phidichvuuudai" id="phidichvuuudai_2" value="2"/>
                    <label for="phidichvuuudai_2">
                    </label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input type="radio" name="phidichvuuudai" id="phidichvuuudai_3" value="3"/>
                    <label for="phidichvuuudai_3">
                    </label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input type="radio" name="phidichvuuudai" id="phidichvuuudai_4" value="4"/>
                    <label for="phidichvuuudai_4">
                    </label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input type="radio" name="phidichvuuudai" id="phidichvuuudai_5" value="5"/>
                    <label for="phidichvuuudai_5">
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>Thủ tục đơn giản, nhanh</td>
            <td style="text-align: center">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input type="radio" name="thutucdongiannhanh" id="thutucdongiannhanh_1" value="1"/>
                    <label for="thutucdongiannhanh_1">
                    </label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input type="radio" name="thutucdongiannhanh" id="thutucdongiannhanh_2" value="2"/>
                    <label for="thutucdongiannhanh_2">
                    </label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input type="radio" name="thutucdongiannhanh" id="thutucdongiannhanh_3" value="3"/>
                    <label for="thutucdongiannhanh_3">
                    </label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input type="radio" name="thutucdongiannhanh" id="thutucdongiannhanh_4" value="4"/>
                    <label for="thutucdongiannhanh_4">
                    </label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input type="radio" name="thutucdongiannhanh" id="thutucdongiannhanh_5" value="5"/>
                    <label for="thutucdongiannhanh_5">
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>ý kiến khác</td>
            <td colspan="5" style="padding: 10px">
                <textarea name="ykienkhacapptraiphieucbnv" id="ykienkhacapptraiphieucbnv" style="width: 100%"></textarea>
            </td>
        </tr>
    </tboby>
    </table>
    </div>
    </div>
    <div class="row mtRow">
        <div class="col-sm-12" style="font-weight: bold;">
            Câu 3: Tiêu chí quan trọng khi khách hàng của Anh/chị tư vấn lựa chọn sản phẩm trái phiếu để đầu tư là gì?
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col" style="width: 40%;font-weight: bold;text-align: center;padding: 10px;">Chọn 03 tiêu chí quan trọng nhất</th>
                    <th scope="col" style="width: 60%;font-weight: bold;text-align: center;padding: 10px;">Tiêu chí</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <div class="checkbox checkbox-primary" style="font-size: 14px;">
                        <td style="text-align: center;">
                            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                                <input type="checkbox" name="tieuchiquantrong" id="tieuchiquantrong_1" value="1">
                                <label for="tieuchiquantrong_1">

                                </label>
                            </div>
                        </td>
                        <td>
                            Công ty giao dịch có uy tín trên thị trường
                        </td>

                    </div>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <div class="checkbox checkbox-primary" style="font-size: 14px;">
                            <input type="checkbox" name="tieuchiquantrong" id="tieuchiquantrong_2" value="2">
                            <label for="tieuchiquantrong_2">

                            </label>
                        </div>
                    </td>
                    <td>
                        Lợi tức hấp dẫn
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <div class="checkbox checkbox-primary" style="font-size: 14px;">
                            <input type="checkbox" name="tieuchiquantrong" id="tieuchiquantrong_3" value="3">
                            <label for="tieuchiquantrong_3">

                            </label>
                        </div>
                    </td>
                    <td>Đặc tính sản phẩm (Linh hoạt, ứng trước tiền bán, bán trước hạn…….) </td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <div class="checkbox checkbox-primary" style="font-size: 14px;">
                            <input type="checkbox" name="tieuchiquantrong" id="tieuchiquantrong_4" value="4">
                            <label for="tieuchiquantrong_4">

                            </label>
                        </div>
                    </td>
                    <td>Tổ chức phát hành trái phiếu uy tín</td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <div class="checkbox checkbox-primary" style="font-size: 14px;">
                            <input type="checkbox" name="tieuchiquantrong" id="tieuchiquantrong_5" value="5">
                            <label for="tieuchiquantrong_5">

                            </label>
                        </div>
                    </td>
                    <td>Đặc tính lô trái phiếu (tài sản đảm bảo, ngân hàng bảo lãnh, đơn vị định giá…)</td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <div class="checkbox checkbox-primary" style="font-size: 14px;">
                            <input type="checkbox" name="tieuchiquantrong" id="tieuchiquantrong_6" value="6">
                            <label for="tieuchiquantrong_6">

                            </label>
                        </div>
                    </td>
                    <td>Nhân viên chăm sóc chuyên nghiệp, giao dịch nhanh chóng tiện lợi.</td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <div class="checkbox checkbox-primary" style="font-size: 14px;">
                            <input type="checkbox" name="tieuchiquantrong" id="tieuchiquantrong_7" value="7">
                            <label for="tieuchiquantrong_7">

                            </label>
                        </div>
                    </td>
                    <td>
                        Ý kiến khác <br>
                        <textarea id="ykienkhactieuchiquantrong" name="ykienkhactieuchiquantrong" rows="2" style="width:100%;height: 40px" value="ykienkhactieuchiquantrong"></textarea>

                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mtRow">
        <div class="col-sm-12" style="font-weight: bold;">
            Câu 4: Trong danh mục sản phẩm trái phiếu TVSI đang cung cấp, Khách hàng của Anh/chị ưa thích sản phẩm nào nhất?
        </div>
        <div class="col-sm-12">
            (Có thể lựa chọn nhiều sản phẩm)
        </div>
    </div>
    <div class="row">

        <div class="col-sm-12">
            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                <input type="checkbox" name="danhmucsanphamtvsicc" id="danhmucsanphamtvsicc_1" value="1">
                <label for="danhmucsanphamtvsicc_1" style="width: 100%">
                    <div class="tvsicungcap-text">
                        <p style="font-weight: bold;">
                            1. Trái phiếu kỳ hạn cố định (Fix)
                            Là sản phẩm Trái phiếu có kỳ hạn cố định từ 1 đến 24 tháng.
                        </p>
                        + Được lựa chọn kỳ hưởng lợi tức.<br>
                        + Được ứng trước tiền bán trái phiếu.
                    </div>
                </label>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                <input type="checkbox" name="danhmucsanphamtvsicc" id="danhmucsanphamtvsicc_2" value="2">
                <label for="danhmucsanphamtvsicc_2" style="width: 100%">
                    <div class="tvsicungcap-text">
                        <p style="font-weight: bold;">
                            2. Trái phiếu Kỳ hạn linh hoạt (Flex)
                            Là sản phẩm Trái phiếu TVSI cam kết mua lại trong vòng 12 tháng nắm giữ tại mọi thời điểm với mức lợi tức hưởng theo thời gian thực tế đầu tư.
                        </p>
                        + Được ứng trước tiền bán trái phiếu.
                    </div>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                <input type="checkbox" name="danhmucsanphamtvsicc" id="danhmucsanphamtvsicc_3" value="3">
                <label for="danhmucsanphamtvsicc_3" style="width: 100%">
                    <div class="tvsicungcap-text">
                        <p style="font-weight: bold;">
                            3. Outright kỳ hạn (OutCut)
                            Là sản phẩm Trái phiếu có kỳ hạn cố định từ 6 tháng trở lên và hưởng lợi tức (Coupon) theo thông báo từ TCPH, lợi tức cố định theo thời hạn Hợp đồng, được tất toán trước hạn hưởng lợi tức.
                        </p>
                    </div>

                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="checkbox checkbox-primary" style="font-size: 14px;">
                <input type="checkbox" name="danhmucsanphamtvsicc" id="danhmucsanphamtvsicc_4" value="4">
                <label for="danhmucsanphamtvsicc_4" style="width: 100%">
                    <div class="tvsicungcap-text">
                        <p style="font-weight: bold;">
                            4. OUTRIGHT
                            Là sản phẩm Trái phiếu mà NĐT đầu tư nắm giữ đến ngày đáo hạn TP và hưởng lợi tức (Coupon) theo thông báo từ TCPH.
                        </p>
                    </div>
                </label>

            </div>
        </div>

    </div>
    <div class="row" style="margin-left: 20px">
        <p style="font-weight: bold">
            Vui lòng cho chúng tôi biết anh/chị mong muốn thêm tiện ích, cải tiến gì với sản phẩm?
        </p>
        <textarea id="cbnvmongmuoncaitien" name="cbnvmongmuoncaitien" rows="2" style="width:100%;height: 80px" value="cbnvmongmuoncaitien"></textarea>

    </div>
    <div class="row mtRow">
        <div class="col-sm-12" style="font-weight: bold;">
            Câu 5: Lý do khách hàng của Anh/Chị đưa ra nhiều nhất khi chưa tham gia hoặc không muốn tham gia vào sản phẩm Môi giới Trái phiếu (HĐMG)?
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col" style="width: 40%;font-weight: bold;text-align: center;padding: 10px;">02 tiêu chí nhiều nhất</th>
                    <th scope="col" style="width: 60%;font-weight: bold;text-align: center;padding: 10px;">Tiêu chí</th>
                </tr>
                </thead>
                <tbody>
              
                <tr>
                    <td style="text-align: center;">
                        <div class="checkbox checkbox-primary" style="font-size: 14px;">
                            <input type="checkbox" name="lydokhkmuonthamgiatraiphieu" id="lydokhkmuonthamgiatraiphieu_2" value="1">
                            <label for="lydokhkmuonthamgiatraiphieu_2">

                            </label>
                        </div>
                    </td>
                    <td>
                        Chưa có nguồn tiền đầu tư
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <div class="checkbox checkbox-primary" style="font-size: 14px;">
                            <input type="checkbox" name="lydokhkmuonthamgiatraiphieu" id="lydokhkmuonthamgiatraiphieu_3" value="2">
                            <label for="lydokhkmuonthamgiatraiphieu_3">

                            </label>
                        </div>
                    </td>
                    <td>Chưa hiểu về sản phẩm đầu tư</td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <div class="checkbox checkbox-primary" style="font-size: 14px;">
                            <input type="checkbox" name="lydokhkmuonthamgiatraiphieu" id="lydokhkmuonthamgiatraiphieu_5" value="3">
                            <label for="lydokhkmuonthamgiatraiphieu_5">

                            </label>
                        </div>
                    </td>
                    <td>Lãi suất chưa phù hợp với nhu cầu</td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <div class="checkbox checkbox-primary" style="font-size: 14px;">
                            <input type="checkbox" name="lydokhkmuonthamgiatraiphieu" id="lydokhkmuonthamgiatraiphieu_6" value="4">
                            <label for="lydokhkmuonthamgiatraiphieu_6">

                            </label>
                        </div>
                    </td>
                    <td>Chỉ muốn đầu tư vào các sản phẩm Trái phiếu</td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <div class="checkbox checkbox-primary" style="font-size: 14px;">
                            <input type="checkbox" name="lydokhkmuonthamgiatraiphieu" id="lydokhkmuonthamgiatraiphieu_7" value="5">
                            <label for="lydokhkmuonthamgiatraiphieu_7">

                            </label>
                        </div>
                    </td>
                    <td>
                        Ý kiến khác <br>
                        <textarea id="ykienhacvekhkothamgiatraiphieu" name="ykienhacvekhkothamgiatraiphieu" rows="2" style="width:100%;height: 40px" value="ykienhacvekhkothamgiatraiphieu"></textarea>

                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mtRow">
        <div class="col-sm-12" style="font-weight: bold;">
            Câu 6: Khách hàng của Anh/Chị có đang gặp khó khăn gì khi tiếp cận và đầu tư vào các sản phẩm trái phiếu tại TVSI?
        </div>
    </div>
    <div class="row">
     
            <div class="col-sm-4">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input id="khcuacbnvgapkhokhan_1" name="khcuacbnvgapkhokhan" type="radio" value="1" onclick="handleClick(this)">
                    <label for="khcuacbnvgapkhokhan_1">
                        1. Không
                    </label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="radio radio-primary" style="font-size: 14px;">
                    <input id="khcuacbnvgapkhokhan_2" name="khcuacbnvgapkhokhan" type="radio" value="2" onclick="handleClick(this)">
                    <label for="khcuacbnvgapkhokhan_2">
                        2. Có
                    </label>
                </div>
            </div>
       
       
            <div class="col-sm-12 khcbnvgapkhokhantext">
                <p>Vui lòng cho biết cụ thể khó khăn khách hàng đang gặp phải:</p>
                <textarea id="khcbnvgapkhokhantext" name="khcbnvgapkhokhantext" rows="2" style="width:100%;height: 80px" value=""></textarea>
            </div>
        
    </div>
    <div class="row mtRow">
        <div class="col-sm-12" style="font-weight: bold;">
    Câu 7: Khách hàng của Anh/Chị có giới thiệu thêm khách hàng cho Anh/Chị không?
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="radio radio-primary" style="font-size: 14px;">
                <input id="khgioithieuthemchocbnv_1" name="khgioithieuthemchocbnv" type="radio" value="1" onclick="handleClick(this)">
                <label for="khgioithieuthemchocbnv_1">
                    1. Không
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="radio radio-primary" style="font-size: 14px;">
                <input id="khgioithieuthemchocbnv_2" name="khgioithieuthemchocbnv" type="radio" value="2" onclick="handleClick(this)">
                <label for="khgioithieuthemchocbnv_2">
                    2. Có
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="radio radio-primary" style="font-size: 14px;">
                <input id="khgioithieuthemchocbnv_3" name="khgioithieuthemchocbnv" type="radio" value="3" onclick="handleClick(this)">
                <label for="khgioithieuthemchocbnv_3">
                    3. Rất ít
                </label>
            </div>
        </div>
    </div>
    <div class="row mtRow">
        <div class="col-sm-12" style="font-weight: bold;">
            Câu 8: Anh/Chị có được nhận thông tin và hỗ trợ về thông tin sản phẩm/chính sách nhanh chóng và đầy đủ?
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="radio radio-primary" style="font-size: 14px;">
                <input id="hotrospchocbnv_1" name="hotrospchocbnv" type="radio" value="1" onclick="handleClick(this)">
                <label for="hotrospchocbnv_1">
                    1. Luôn kịp thời và đầy đủ
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="radio radio-primary" style="font-size: 14px;">
                <input id="hotrospchocbnv_2" name="hotrospchocbnv" type="radio" value="2" onclick="handleClick(this)">
                <label for="hotrospchocbnv_2">
                    2. Vẫn còn thiếu
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="radio radio-primary" style="font-size: 14px;">
                <input id="hotrospchocbnv_3" name="hotrospchocbnv" type="radio" value="3" onclick="handleClick(this)">
                <label for="hotrospchocbnv_3">
                    3. Rất ít
                </label>
            </div>
        </div>
        <div class="col-sm-12">
            <p>Vui lòng cho biết trường hợp cụ thể gặp phải (nếu có): </p>
        </div>
        <div class="col-sm-12">
            <textarea id="hotrospchocbnvtext" name="hotrospchocbnvtext" rows="2" style="width:100%;height: 80px" value=""></textarea>

        </div>
    </div>
    <div class="row mtRow">
        <div class="col-sm-12" style="font-weight: bold;">
            Câu 9: Ngoài các sản phẩm và dịch vụ kèm theo sản phẩm trái phiếu TVSI đang cung cấp, Anh/chị
            mong muốn TVSI bổ sung/phát triển thêm sản phẩm/dịch vụ gì? Và nếu lý do cụ thể (nếu có).
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <textarea id="phattrienbosungthemsanphamdv" name="phattrienbosungthemsanphamdv" rows="2" style="width:100%;height: 80px" value=""></textarea>
        </div>
    </div>
    <div class="row mtRow">
        <div class="col-sm-12" style="font-weight: bold;">
            Câu 10. So sánh với sản phẩm/dịch vụ của công ty chứng khoán khác, Anh/chị có thể cho biết tên công ty và điểm mạnh so với TVSI.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <textarea id="diemmanhctykhac" name="diemmanhctykhac" rows="2" style="width:100%;height: 80px" value=""></textarea>
        </div>
    </div>


    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 style="margin-top: 10px;color: #414141; font-size: 20px; font-weight: normal; display: inline-block; border-bottom: solid 4px #f00; font-family: Roboto Condensed; margin-bottom: 20px;">
                B. QUY TRÌNH – HỆ THỐNG
            </h3>
        </div>
    </div>
    <div class="form-survey-quytrinhhethong" style="margin-left: 15px">
    <div class="row mtRow">
        <div class="col-sm-12" style="font-weight: bold;">
            Câu 11. Anh/chị đánh giá như thế nào về quy trình xử lý nghiệp vụ tại TVSI?
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered" id="thaidophucvutvsi">
                <thread>
                    <tr style="">
                        <th scope="col" style="font-weight: bold;width: 50%">
                            <p>Tiêu chí</p>
                        </th>
                        <th scope="col" style="width: 10%">Rất không hài lòng</th>
                        <th scope="col" style="width: 10%">Không hài lòng</th>
                        <th scope="col" style="width: 10%;">Bình thường</th>
                        <th scope="col" style="width: 10%;">hài lòng</th>
                        <th scope="col" style="width: 10%;">Rất hài lòng</th>
                    </tr>
                </thread>
                <tbody>
                <tr>
                    <td>Thái độ hỗ trợ.</td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="thaidohotro" id="thaidohotro_1" value="1">
                            <label for="thaidohotro_1">

                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="thaidohotro" id="thaidohotro_2" value="2">
                            <label for="thaidohotro_2">

                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="thaidohotro" id="thaidohotro_3" value="3">
                            <label for="thaidohotro_3">

                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="thaidohotro" id="thaidohotro_4" value="4">
                            <label for="thaidohotro_4">

                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="thaidohotro" id="thaidohotro_5" value="5">
                            <label for="thaidohotro_5">

                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Tốc độ xử lý nghiệp vụ.</td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">

                            <input type="radio" name="tocdoxulynghiepvu" id="tocdoxulynghiepvu_5" value="5">
                            <label for="tocdoxulynghiepvu_5">

                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="tocdoxulynghiepvu" id="tocdoxulynghiepvu_4" value="4">
                            <label for="tocdoxulynghiepvu_4">

                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">

                            <input type="radio" name="tocdoxulynghiepvu" id="tocdoxulynghiepvu_3" value="3">
                            <label for="tocdoxulynghiepvu_3">

                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="tocdoxulynghiepvu" id="tocdoxulynghiepvu_2" value="2">
                            <label for="tocdoxulynghiepvu_2"></label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="tocdoxulynghiepvu" id="tocdoxulynghiepvu_1" value="1">
                            <label for="tocdoxulynghiepvu_1"></label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12" >
            <div class="col-sm-12" style="font-weight: bold;">
                Ý kiến về thái độ và tốc độ xử lý tại TVSI:
            </div>
            <textarea id="ykienthaidoxulytvsi" name="ykienthaidoxulytvsi" rows="2" style="width:100%;height: 80px" value="ykienthaidoxulytvsi"></textarea>
        </div>
    </div>
    <div class="row mtRow">
        <div class="col-sm-12" style="font-weight: bold;">
            Câu 12: Anh/Chị đánh giá hệ thống (TBM/CRM/EMS) đã đáp ứng nhu cầu sử dụng của Anh/Chị chưa:
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="radio radio-primary" style="font-size: 14px;">
                <input id="hethongnoibotvsi_1" name="hethongnoibotvsi" type="radio" value="1" onclick="handleClick(this)">
                <label for="hethongnoibotvsi_1">
                    1. Chưa đủ
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="radio radio-primary" style="font-size: 14px;">
                <input id="hethongnoibotvsi_2" name="hethongnoibotvsi" type="radio" value="2" onclick="handleClick(this)">
                <label for="hethongnoibotvsi_2">
                    2. Đã đủ
                </label>
            </div>
        </div>
        <div class="col-sm-12 dexuatvoihethong">
            <div class="col-sm-12" style="font-weight: bold;">
                Nếu chưa đủ vui lòng cho biết lý do và đề xuất của Anh/Chị với hệ thống:
            </div>
            <textarea id="dexuatvoihethong" name="dexuatvoihethong" rows="2" style="width:100%;height: 80px" value="dexuatvoihethong"></textarea>
        </div>
    </div>
    <div class="row mtRow">
        <div class="col-sm-12" style="font-weight: bold;">
            Câu 13. Khó khăn hiện tại của Anh/Chị gặp phải khi tư vấn/chào bán sản phẩm cho khách hàng? (về hệ thống và quy trình)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="radio radio-primary" style="font-size: 14px;">
                <input id="tuvanchaobansp_1" name="tuvanchaobansp" type="radio" value="N" onclick="handleClick(this)">
                <label for="tuvanchaobansp_1">
                    1. Không có khó khăn
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="radio radio-primary" style="font-size: 14px;">
                <input id="tuvanchaobansp_2" name="tuvanchaobansp" type="radio" value="Y" onclick="handleClick(this)">
                <label for="tuvanchaobansp_2">
                    2. Có gặp khó khăn khi triển khai
                </label>
            </div>
        </div>
        <div class="col-sm-12" >
            <div class="col-sm-12" style="font-weight: bold;">
                Anh/Chị vui lòng cho biết khó khăn Anh/Chị gặp phải và đề xuất của Anh/Chị:
            </div>
            <textarea id="khokhakhitrienkhai" name="khokhakhitrienkhai" rows="2" style="width:100%;height: 80px" ></textarea>
        </div>
    </div>
    <div class="row mtRow">
        <div class="col-sm-12" style="font-weight: bold;">
            Câu 14. App trái phiếu khách hàng đang trải nghiệm theo anh/chị đánh giá là:
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered" id="thaidophucvutvsi">
                <thread>
                    <tr style="">
                        <th scope="col" style="font-weight: bold;width: 50%">
                            <p>Tiêu chí</p>
                        </th>
                        <th scope="col" style="width: 10%">Rất không hài lòng</th>
                        <th scope="col" style="width: 10%">Không hài lòng</th>
                        <th scope="col" style="width: 10%;">Bình thường</th>
                        <th scope="col" style="width: 10%;">hài lòng</th>
                        <th scope="col" style="width: 10%;">Rất hài lòng</th>
                    </tr>
                </thread>
                <tbody>
                <tr>
                    <td>Giao diện.</td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="trainghiemapptraiphieu" id="trainghiemapptraiphieu_1" value="1">
                            <label for="trainghiemapptraiphieu_1">

                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="trainghiemapptraiphieu" id="trainghiemapptraiphieu_2" value="2">
                            <label for="trainghiemapptraiphieu_2">

                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="trainghiemapptraiphieu" id="trainghiemapptraiphieu_3" value="3">
                            <label for="trainghiemapptraiphieu_3">

                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="trainghiemapptraiphieu" id="trainghiemapptraiphieu_4" value="4">
                            <label for="trainghiemapptraiphieu_4">

                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="trainghiemapptraiphieu" id="trainghiemapptraiphieu_5" value="5">
                            <label for="trainghiemapptraiphieu_5">

                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Tốc độ truy cập và xử lý.</td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">

                            <input type="radio" name="tocdotruycapvaxulyapptraiphieu" id="tocdotruycapvaxulyapptraiphieu_1" value="1">
                            <label for="tocdotruycapvaxulyapptraiphieu_1">

                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="tocdotruycapvaxulyapptraiphieu" id="tocdotruycapvaxulyapptraiphieu_2" value="2">
                            <label for="tocdotruycapvaxulyapptraiphieu_2">

                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">

                            <input type="radio" name="tocdotruycapvaxulyapptraiphieu" id="tocdotruycapvaxulyapptraiphieu_3" value="3">
                            <label for="tocdotruycapvaxulyapptraiphieu_3">

                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="tocdotruycapvaxulyapptraiphieu" id="tocdotruycapvaxulyapptraiphieu_4" value="4">
                            <label for="tocdotruycapvaxulyapptraiphieu_4"></label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="tocdotruycapvaxulyapptraiphieu" id="tocdotruycapvaxulyapptraiphieu_5" value="5">
                            <label for="tocdotruycapvaxulyapptraiphieu_5"></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Đáp ứng đầy đủ các thông tin tra cứu.</td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">

                            <input type="radio" name="dapunghthongtintracuu" id="dapunghthongtintracuu_1" value="1">
                            <label for="dapunghthongtintracuu_1">

                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="dapunghthongtintracuu" id="dapunghthongtintracuu_2" value="2">
                            <label for="dapunghthongtintracuu_2">

                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">

                            <input type="radio" name="dapunghthongtintracuu" id="dapunghthongtintracuu_3" value="3">
                            <label for="dapunghthongtintracuu_3">

                            </label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="dapunghthongtintracuu" id="dapunghthongtintracuu_4" value="4">
                            <label for="dapunghthongtintracuu_4"></label>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="radio radio-primary" style="font-size: 14px;">
                            <input type="radio" name="dapunghthongtintracuu" id="dapunghthongtintracuu_5" value="5">
                            <label for="dapunghthongtintracuu_5"></label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12" >
            <div class="col-sm-12" style="font-weight: bold;">
                Ý kiến về App trái phiếu của TVSI:
            </div>
            <textarea id="ykienveapptraiphieu" name="ykienveapptraiphieu" rows="2" style="width:100%;height: 80px" ></textarea>
        </div>
    </div>
    <div class="row mtRow">
        <div class="col-sm-12" style="font-weight: bold;">
            Câu 15. TVSI đang thực hiện nâng cấp APP/WEB, Anh/chị hàng vui lòng cho biết mong muốn chương trình bổ sung/thêm mới và phát triển cho những mục đích nào sau đây
        </div>
        <div class="col-sm-12">
            <p>(có thể lựa chọn nhiều phương án và vui lòng đánh mức độ ưu tiên sử dụng)</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <input type="number" name="theodoithongkedanhmuc" id="theodoithongkedanhmuc" min="1" max="4" onKeyUp="if(this.value>4){this.value='4';}else if(this.value<0){this.value='1';}" value="0" style="line-height: normal; width:50px"/>
            <label style="text-align: center;font-size: 14px;font-weight: normal;margin-left: 10px">Theo dõi, thống kê danh mục.</label>
        </div>
        <div class="col-sm-12">

            <input type="number" name="theodoithongtintraiphieu" id="theodoithongtintraiphieu" min="1" max="4" onKeyUp="if(this.value>4){this.value='4';}else if(this.value<0){this.value='1';}" value="0" style="line-height: normal; width:50px"/>
            <label style="text-align: center;font-size: 14px;font-weight: normal;margin-left: 10px"> Theo dõi thông tin về Trái phiếu,dịch vụ, sản phẩm.</label>
        </div>
        <div class="col-sm-12">


            <input type="number" name="datlenhmuabantraiphieu" id="datlenhmuabantraiphieu" min="1" max="4" onKeyUp="if(this.value>4){this.value='4';}else if(this.value<0){this.value='1';}" value="0" style="line-height: normal; width:50px"/>
            <label style="text-align: center;font-size: 14px;font-weight: normal;margin-left: 10px">Đặt lệnh mua bán Trái phiếu và các sản phẩm đầu tư khác.</label>

        </div>
        <div class="col-sm-12">

            <input type="number" name="nangcapkhac" id="nangcapkhac" min="1" max="4" onKeyUp="if(this.value>4){this.value='4';}else if(this.value<0){this.value='1';}" value="0" style="line-height: normal; width:50px"/>
            <label style="text-align: center;font-size: 14px;font-weight: normal;margin-left: 10px">Khác.</label>


        </div>
        <textarea id="bosungthemoitext" name="bosungthemoitext" rows="2" style="width:100%;height: 80px" value="bosungthemoitext"></textarea>

    </div>
    <div class="row mtRow">
        <div class="col-sm-12" style="font-weight: bold;">
            Câu 16: Mong muốn của Anh/Chị đối với sản phẩm Trái phiếu của TVSI (Về sản phẩm, quy trình xử lý và hệ thống hỗ trợ). Nếu Anh/chị có đề xuất hoặc góp ý khác vui lòng điền
            thông tin bên dưới, chúng tôi sẽ sử dụng các ý kiến này làm tiền đề để hoàn thiện và nâng cao chất lượng dịch vụ của TVSI
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" >
            <textarea id="mongmuonveapptraiphieutext" name="mongmuonveapptraiphieutext" rows="2" style="width:100%;height: 80px" value="mongmuonveapptraiphieutext"></textarea>
        </div>
        <div class="col-sm-8">
            <p>
                Câu trả lời của Quý Anh/Chị đã được ghi lại.
                Nếu Anh/Chị có bất cứ thắc mắc gì, vui lòng liên hệ Phòng Sản phẩm đầu tư hoặc gửi đến mail
                <a href="mailto:PTSP_TP@tvsi.com.vn" style="color: #1D62F0">PTSP_TP@tvsi.com.vn</a>để được hỗ trợ
            </p>
        </div>
    </div>
    </div>
    </div>
    <div class="row mtRow">
        <div class="col-sm-2" style="font-weight: bold">@Website_tvsi_v1.App_Resources.Website.Txt_Securitycharacter (<span style="color: red">*</span>):</div>
        <div class="col-sm-4">
            <input class="input-data" id="kytubaomatcn" maxlength="20" name="kytubaomatcn" type="text" value="">
        </div>
        <div class="col-sm-2">
            <img src="@Url.Action("GetCaptChaImageKhaoSat", "CaptCha")" id="imgCaptcha"/>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12" style="color: red;margin-top: 14px;">
            @if (ViewBag.captcha != null)
            {
                <div style="border: 0px solid; color: red;">
                    @ViewBag.captcha
                </div>
            }
        </div>
    </div>
    <div class="group text-center">
        @*
                                    <button type="submit" class="button-default" id="btnSubmit">Tiếp theo >></button>
                                    <a id="linkkhachhang" href="/home/index" class="button-default">Tiếp theo >></a>*@
        <input type="hidden" id="ckOK" value="0"/>
        <button id="btnSubmit" type="submit" class="button-default">Hoàn thành >></button>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

    </section>
}
<script>
    $(document).ready(function () {
        var isOk = false;
        $("#btnSubmit").click(function () {
            

            if (!$("#tencbnv").val()) {
                window.alert("Anh/Chị vui lòng điền Họ và Tên.");
                $("input[name=tencbnv]").focus();
                return false;
            }  
            if (!$("#phongbancbnv").val()) {
                window.alert("Anh/Chị vui lòng điền Phòng ban làm việc.");
               $("input[name=phongbancbnv]").focus();
                return false;
            }

            if (!$("input[name=LamViecVoiTvsi]:checked").val()) {
                alert("Anh/Chị vui lòng chọn thời gian làm việc với TVSI.");
                $("input[name=LamViecVoiTvsi]").focus();
                return false;
            }    
            if (!$("input[name=traiphieucanhtranhcao]:checked").val()) {
                alert("Anh/Chị vui lòng chọn đánh giá câu 1.");
                $("input[name=traiphieucanhtranhcao]").focus();
                return false;
            } 
            if (!$("input[name=cbnvdanhgiadichvutraiphieu]:checked").val()) {
                alert("Anh/Chị vui lòng chọn đánh giá đầy đủ câu 2.");
                $("input[name=cbnvdanhgiadichvutraiphieu]").focus();
                return false;
            }   
            if (!$("input[name=loituchapdancanhtranh]:checked").val()) {
                alert("Anh/Chị vui lòng chọn đánh giá đầy đủ câu 2.");
                $("input[name=loituchapdancanhtranh]").focus();
                return false;
            }
            if (!$("input[name=loiichdikemsanpham]:checked").val()) {
                alert("Anh/Chị vui lòng chọn đánh giá đầy đủ câu 2.");
                $("input[name=loiichdikemsanpham]").focus();
                return false;
            }      
            if (!$("input[name=phidichvuuudai]:checked").val()) {
                alert("Anh/Chị vui lòng chọn đánh giá đầy đủ câu 2.");
                $("input[name=phidichvuuudai]").focus();
                return false;
            }      
            if (!$("input[name=thutucdongiannhanh]:checked").val()) {
                alert("Anh/Chị vui lòng chọn đánh giá đầy đủ câu 2.");
                $("input[name=thutucdongiannhanh]").focus();
                return false;
            } 
            if (!$("input[name=tieuchiquantrong]:checked").val()) {
                alert("Anh/Chị vui lòng chọn đánh giá câu 3.");
                $("input[name=tieuchiquantrong]").focus();
                return false;
            }
            //cau4
            if (!$("input[name=danhmucsanphamtvsicc]:checked").val()) {
                alert("Anh/Chị vui lòng chọn đánh giá câu 4.");
                $("input[name=danhmucsanphamtvsicc]").focus();
                return false;
            }
            //cau5
            if (!$("input[name=lydokhkmuonthamgiatraiphieu]:checked").val()) {
                alert("Anh/Chị vui lòng chọn đánh giá câu 5.");
                $("input[name=lydokhkmuonthamgiatraiphieu]").focus();
                return false;
            }            
          //cau 6
             if (!$("input[name=khcuacbnvgapkhokhan]:checked").val()) {
                 alert("Anh/Chị vui lòng chọn đánh giá câu 6.");
                 $("input[name=khcuacbnvgapkhokhan]").focus();
                 return false;
             }    
             //cau 7
            if (!$("input[name=khgioithieuthemchocbnv]:checked").val()) {
                   alert("Anh/Chị vui lòng chọn đánh giá câu 7");
                   $("input[name=khgioithieuthemchocbnv]").focus();
                   return false;
              }   
            // cau 8 
             if (!$("input[name=hotrospchocbnv]:checked").val()) {
                   alert("Anh/Chị vui lòng chọn đánh giá câu 8.");
                   $("input[name=hotrospchocbnv]").focus();
                   return false;
            }
             //cau 11
                if (!$("input[name=thaidohotro]:checked").val()) {
                        alert("Anh/Chị vui lòng chọn đánh giá đầy đủ câu 11.");
                        $("input[name=thaidohotro]").focus();
                        return false;
                 }   
                 //cau 11
                if (!$("input[name=tocdoxulynghiepvu]:checked").val()) {
                        alert("Anh/Chị vui lòng chọn đánh giá đầy đủ câu 11.");
                        $("input[name=tocdoxulynghiepvu]").focus();
                        return false;
                 }  
                
                // cau 12
                  if (!$("input[name=hethongnoibotvsi]:checked").val()) {
                                        alert("Anh/Chị vui lòng chọn đánh giá câu 12.");
                                        $("input[name=hethongnoibotvsi]").focus();
                                        return false;
                  }   
                  
                  // cau 13 
                 if (!$("input[name=tuvanchaobansp]:checked").val()) {
                               alert("Anh/Chị vui lòng chọn đánh giá câu 13. ");
                               $("input[name=tuvanchaobansp]").focus();
                                return false;
                              } 
                 
                 // cau 14
                                if (!$("input[name=trainghiemapptraiphieu]:checked").val()) {
                                                alert("Anh/Chị vui lòng chọn đánh giá đầy đủ câu 14.");
                                                $("input[name=trainghiemapptraiphieu]").focus();
                                                 return false;
                                               }     
                                if (!$("input[name=tocdotruycapvaxulyapptraiphieu]:checked").val()) {
                                                alert("Anh/Chị vui lòng chọn đánh giá đầy đủ câu 14.");
                                                $("input[name=trainghiemapptraiphieu]").focus();
                                                 return false;
                                               }       
                                if (!$("input[name=dapunghthongtintracuu]:checked").val()) {
                                                alert("Anh/Chị vui lòng chọn đánh giá đầy đủ câu 14.");
                                                $("input[name=trainghiemapptraiphieu]").focus();
                                                 return false;
                                               }   
                                
                  // cau 15
                  
                                 if ($("input[name=theodoithongkedanhmuc]:checked").val() === '0' || $("input[name=theodoithongkedanhmuc]:checked").val() === "") {
                                     console.log($("input[name=theodoithongkedanhmuc]:checked").val());
                                                                 alert("Anh/Chị vui lòng chọn đánh đầy đủ câu 15.");
                                                                 $("input[name=theodoithongkedanhmuc]").focus();
                                                                  return false;
                                                                }      
                                 if ($("input[name=theodoithongkedanhmuc]:checked").val()  === '0' ||$("input[name=theodoithongkedanhmuc]:checked").val() === "") {
                                                                 alert("Anh/Chị vui lòng chọn đánh giá đầy đủ câu 15.");
                                                                 $("input[name=theodoithongkedanhmuc]").focus();
                                                                  return false;
                                                                }     
                                 if ($("input[name=theodoithongkedanhmuc]:checked").val()  === '0' ||$("input[name=theodoithongkedanhmuc]:checked").val() === "") {
                                                                 alert("Anh/Chị vui lòng chọn đánh giá đầy đủ câu 15.");
                                                                 ("input[name=theodoithongkedanhmuc]").focus();
                                                                  return false;
                                                                }    
                                 if ($("input[name=theodoithongkedanhmuc]:checked").val()  === '0' ||$("input[name=theodoithongkedanhmuc]:checked").val() === "") {
                                                                 alert("Anh/Chị vui lòng chọn đánh giá đầy đủ câu 15.");
                                                                 $("input[name=theodoithongkedanhmuc]").focus();
                                                                  return false;
                                                                }   
                                 
                              
            if (!$("#kytubaomatcn").val()) {
                window.alert("Quý khách vui lòng nhập ký tự bảo mật.");
                $("#kytubaomatcn").focus();
                return false;
            }
            $.ajax({
                url: '/Khaosat/CheckCaptCha',
                data: { captcha: $("#kytubaomatcn").val() },
                async: false,
                datatype: "json",
                type: "POST",
                success: function (data) {
                    if (data.status == true) {
                        isOk = true;
                        /*$('form').attr('action', '/khao-sat');*/
                        $('form').submit();
                        
                    } else {
                        $('#imgCaptcha').attr('src', '/CaptCha/GetCaptChaImageKhaoSat');
                        alert(data.message);
                        
                    }
                    
                }
            });
            return isOk;
           
        });

    });
        $("input[name='tieuchiquantrong']").on('change', function() {
         
            if ($('input[name="tieuchiquantrong"]:checked').length > 3) {
                  $(this).prop('checked', false);
                  window.alert("Chỉ được chọn tối đa 3 tiêu chí.");
                  
              }
        }); 
        $("input[name='lydokhkmuonthamgiatraiphieu']").on('change', function() {
         
            if ($('input[name="lydokhkmuonthamgiatraiphieu"]:checked').length > 2) {
                  $(this).prop('checked', false);
                  window.alert("Chỉ được chọn tối đa 2 tiêu chí.");
                  
              }
        });
    $("#sotaikhoan").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
        $("input[name=traiphieucanhtranhcao]").click(function (){
            let click = $(this).val();
            if (click == '1'){
               $(".traiphieucanhtranhcaolydo").show();           
            }
            if (click == '2'){
                $(".traiphieucanhtranhcaolydo").hide();    
            }
        });     
        $("input[name=hethongnoibotvsi]").click(function (){
            let click = $(this).val();
            if (click == '1'){
               $(".dexuatvoihethong").show();           
            }
            if (click == '2'){
                $(".dexuatvoihethong").hide();    
            }
        });
        $("input[name=khcuacbnvgapkhokhan]").click(function (){
            let click = $(this).val();
            if (click == '2'){
               $(".khcbnvgapkhokhantext").show();           
            }
            if (click == '1'){
                $(".khcbnvgapkhokhantext").hide();    
            }
        }); 
    
</script>