﻿@{
    Layout = "~/Views/Home/Share/_Layout_khaosat.cshtml";
}
@model Website_tvsi_v1.Models.KhaoSatYkienKhachHangModel

@using (Html.BeginForm())
{
   
    <section id="wrapper-content" class="inner-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="detail-content has-title-part" id="register">
                        <div class="part">
                            <div class="row" style="margin-bottom: 20px;">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="note-form" style="text-align: justify;">

                                                <p>
                                                    <b>Kính gửi Quý khách hàng,</b><br />
                                                    <br />
                                                </p>
                                                <p>
                                                    Chân thành cảm ơn Quý khách đã tin tưởng sử dụng dịch vụ của Chứng khoán Tân Việt (TVSI) trong thời gian qua. Để tiếp tục mang đến những sản phẩm tốt nhất và gia tăng hiệu quả đầu tư cho Khách hàng, chúng tôi xin được khảo sát ý kiến của Quý khách về dịch vụ mà TVSI đang cung cấp.

                                                </p>

                                                <p>Mọi ý kiến đánh giá, chia sẻ của Quý khách đều rất quan trọng, được chúng tôi bảo mật và chỉ sử dụng cho mục đích phân tích dịch vụ tại TVSI.
</p>

                                           
                                                <p>2.000 phần quà (thẻ điện thoại trị giá 50.000VNĐ) sẽ dành tặng 2.000 khách hàng tham gia khảo sát sớm nhất, sẽ thay lời cảm ơn của TVSI đến các đóng góp kịp thời của khách hàng
</p>
                                                <p>
                                                    <b>Trân trọng cảm ơn,</b><br />
                                                    <b>Công ty CP Chứng khoán Tân Việt (TVSI) </b>
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <h3 style="color: #414141; font-size: 20px; font-weight: normal; display: inline-block; border-bottom: solid 4px #f00; font-family: Roboto Condensed; margin-bottom: 20px;">CÂU HỎI CHUNG
                            </h3>
                            <div class="wrapper">
                                <div class="group-form">
                                    @*<div class="row">
                                        <div class="col-sm-12">
                                            @Html.ValidationSummary()
                                        </div>
                                    </div>*@
                                    <div class="row">
                                        <div class="col-sm-12" style="font-weight: bold;">1. Vui lòng cho chúng tôi biết số tài khoản của Quý khách tại TVSI?</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input class="input-data" id="sotaikhoan" name="sotaikhoan" type="text" value=""  maxlength="6">
                                        </div>
                                    </div>
                                    <div class="row mtRow">
                                        <div class="col-sm-12" style="font-weight: bold;">
                                            2. Quý khách đánh giá thế nào về mức độ hài lòng tổng quan đối với dịch vụ mà TVSI đang cung cấp?
                                            <br />
                                            <font style="font-weight: normal">(Vui lòng chọn đáp án từ 1 đến 5 theo đánh giá từ <b>Rất không hài lòng</b> đến <b>Hoàn toàn hài lòng</b>)
                                            </font>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <table class="table table-bordered ">
                                                <tbody>
                                                    <tr>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <div class="radio radio-primary" style="font-size: 14px;">
                                                                <input type="radio" name="MucDoHaiLong" id="MucDoHaiLong_1" value="1" />
                                                                <label for="MucDoHaiLong_1">1
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <div class="radio radio-primary" style="font-size: 14px;">
                                                                <input type="radio" name="MucDoHaiLong" id="MucDoHaiLong_2" value="2"/>
                                                                <label for="MucDoHaiLong_2">2
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <div class="radio radio-primary" style="font-size: 14px;">
                                                                <input type="radio" name="MucDoHaiLong" id="MucDoHaiLong_3" value="3" />
                                                                <label for="MucDoHaiLong_3">3
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <div class="radio radio-primary" style="font-size: 14px;">
                                                                <input type="radio" name="MucDoHaiLong" id="MucDoHaiLong_4" value="4" />
                                                                <label for="MucDoHaiLong_4">4
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                            <div class="radio radio-primary" style="font-size: 14px;">
                                                                <input type="radio" name="MucDoHaiLong" id="MucDoHaiLong_5" value="5" />
                                                                <label for="MucDoHaiLong_5">5
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                  
                                    <div class="row mtRow">
                                        <div class="col-sm-12" style="font-weight: bold;">3. Quý khách có tiếp tục dùng sản phẩm, dịch vụ tại TVSI không?</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="radio radio-primary" style="font-size: 14px;">
                                                <input type="radio" name="TiepTucSuDung" id="TiepTucSuDung_1" value="1" />
                                                <label for="TiepTucSuDung_1">
                                                    Sẽ tiếp tục dùng trong thời gian tới 
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="radio radio-primary" style="font-size: 14px;">
                                                <input type="radio" name="TiepTucSuDung" id="TiepTucSuDung_2" value="2" />
                                                <label for="TiepTucSuDung_2">
                                                    Giảm bớt tần suất sử dụng 
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="radio radio-primary" style="font-size: 14px;">
                                                <input type="radio" name="TiepTucSuDung" id="TiepTucSuDung_3" value="3" />
                                                <label for="TiepTucSuDung_3">
                                                    Không sử dụng nữa do dừng giao dịch chứng khoán
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="radio radio-primary" style="font-size: 14px;">
                                                <input type="radio" name="TiepTucSuDung" id="TiepTucSuDung_4" value="4" />
                                                <label for="TiepTucSuDung_4">
                                                    Không sử dụng nữa do chuyển sang giao dịch tại công ty khác
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="radio radio-primary" style="font-size: 14px;">
                                                <input type="radio" name="TiepTucSuDung" id="TiepTucSuDung_5" value="5">
                                                <label for="TiepTucSuDung_5">
                                                    Khác
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row mtRow">
                                    <div class="col-sm-12" style="font-weight: bold;">
                                        4. Vui lòng cho biết Quý khách hàng hiện đang giao dịch gì tại TVSI?
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="radio radio-primary" style="font-size: 14px;">
                                            <input id="khachhangchuacotaikhoantvsi1" name="khachhangchuacotaikhoantvsi" type="radio" value="B" onclick="handleClick(this)">
                                            <label for="khachhangchuacotaikhoantvsi1">
                                                Đầu tư cổ phiếu 
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="radio radio-primary" style="font-size: 14px;">
                                            <input id="khachhangchuacotaikhoantvsi2" name="khachhangchuacotaikhoantvsi" type="radio" value="C" onclick="handleClick(this)">
                                            <label for="khachhangchuacotaikhoantvsi2">
                                                Đầu tư trái phiếu 
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="radio radio-primary" style="font-size: 14px;">
                                            <input id="khachhangchuacotaikhoantvsi3" name="khachhangchuacotaikhoantvsi" type="radio" value="D" onclick="handleClick(this)">
                                            <label for="khachhangchuacotaikhoantvsi3">
                                                Đầu tư cả cổ phiếu và trái phiếu 
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mtRow">
                                        <div class="col-sm-2" style="font-weight: bold">@Website_tvsi_v1.App_Resources.Website.Txt_Securitycharacter (<span style="color: red">*</span>):</div>
                                        <div class="col-sm-4">
                                            <input class="input-data" id="kytubaomatcn" maxlength="20" name="kytubaomatcn" type="text" value="">
                                        </div>
                                        <div class="col-sm-2">
                                           <img src="@Url.Action("GetCaptChaImageKhaoSat", "CaptCha")" id="imgCaptcha" />
                                        </div>

                                    </div>
                              <div class="row">
                                    <div class="col-sm-12" style="color: red;margin-top: 14px;">
                                    @if (ViewBag.captcha != null)
                                            {
                                            <div style="border: 0px solid; color: red;">
                                                @ViewBag.captcha
                                            </div>
                                            }
                                    </div>
                            </div>
                                <div class="group text-center">
                                    @*
                                    <button type="submit" class="button-default" id="btnSubmit">Tiếp theo >></button>
                                    <a id="linkkhachhang" href="/home/index" class="button-default">Tiếp theo >></a>*@
                                    <input type="hidden" id="ckOK" value="0" />
                                    <button id="btnSubmit" type="submit" class="button-default">Tiếp theo >></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
}
<script>
    $(document).ready(function () {
        var isOk = false;
        $("#btnSubmit").click(function () {
            

            if (!$("#sotaikhoan").val()) {
                window.alert("Quý khách vui lòng nhập số tài khoản.");
                sotaikhoan.focus();
                return false;
            }

            if (!$("input[name=MucDoHaiLong]:checked").val()) {
                alert("Quý khách hãy đánh giá mức độ hài lòng tổng quan đối với dịch vụ mà TVSI đang cung cấp.");
                return false;
            }
          
            if (!$("input[name=TiepTucSuDung]:checked").val()) {
                alert("Quý khách hãy chọn có tiếp tục dùng sản phẩm, dịch vụ tại TVSI không.");
                return false;
            }
            if (!$("input[name=khachhangchuacotaikhoantvsi]:checked").val()) {
                alert("Quý khách hãy Vui lòng cho biết hiện đang giao dịch gì tại TVSI.");
                return false;
            }

            if (!$("#kytubaomatcn").val()) {
                window.alert("Quý khách vui lòng nhập ký tự bảo mật.");
                kytubaomatcn.focus();
                return false;
            }
            $.ajax({
                url: '/Khaosat/CheckCaptCha',
                data: { captcha: $("#kytubaomatcn").val() },
                async: false,
                datatype: "json",
                type: "POST",
                success: function (data) {
                    if (data.status == true) {
                        isOk = true;
                        $('form').attr('action', '/khao-sat');
                        $('form').submit();
                        
                    } else {
                        $('#imgCaptcha').attr('src', '/CaptCha/GetCaptChaImageKhaoSat');
                        alert(data.message);
                        
                    }
                    
                }
            });
            return isOk;
           
        });

    });
    $("#sotaikhoan").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });

    //function handleClick(myRadio) {
    //    if (myRadio.value == 0) {
    //        document.getElementById("linkkhachhang").href = "/khao-sat/khach-hang-chua-co-tai-khoan-tai-tvsi";
    //    }

    //    if (myRadio.value == 1) {
    //        document.getElementById("linkkhachhang").href = "/khao-sat/khach-hang-dau-tu-co-phieu-tai-tvsi";
    //    }
    //    if (myRadio.value == 2) {
    //        document.getElementById("linkkhachhang").href = "/khao-sat/khach-hang-dau-tu-trai-phieu-tai-tvsi";
    //    }

    //    if (myRadio.value == 3) {
    //        document.getElementById("linkkhachhang").href = "/khao-sat/khach-hang-dau-tu-co-phieu-va-trai-phieu-tai-tvsi";
    //    }
    //}
</script>
