﻿@{
    Layout = "~/Views/Home/Share/_Layout_khaosat.cshtml";
}


@model Website_tvsi_v1.Models.KhaoSatYkienKhachHangModel

<section id="wrapper-content" class="inner-page">
    <div class="container" id="div_click">
        <div class="row">
            <div class="col-sm-12">
                <div class="detail-content has-title-part" id="register">
                    <div class="part">
                        <div>
                            <p style="font-size: 18px;">
                                <strong>Công ty Cổ phần Chứng khoán Tân Việt (TVSI) được thành lập ngày 28/12/2006 bởi một nhóm                                      các                                      chuyên gia và các nhà lãnh đạo doanh nghiệp giàu kinh nghiệm trong lĩnh vực tài chính.                                      TVSI                                      hội tụ đầy đủ sức mạnh đến từ nhân lực, công nghệ và nguồn vốn. TVSI chú trọng phát                                      triển                                      theo hướng kinh doanh mới nhằm cung cấp các dịch vụ tài chính trọn gói, dịch vụ môi giới chú trọng tới Khách hàng.</strong>
                            </p>
                            <p>TVSI được Ủy Ban Chứng khoán cấp phép và hoạt động kinh doanh ở                                  tất cả                                  các nghiệp vụ:</p>
                            <div class="col w55">
                                <ul class="list-services">
                                    <li>
                                        <span class="count">1</span>
                                        <span class="content">Môi giới chứng khoán                                  </span>
                                    </li>
                                    <li>
                                        <span class="count">2</span>
                                        <span class="content">Tự doanh                                  </span>
                                    </li>
                                    <li>
                                        <span class="count">3</span>
                                        <span class="content">Dịch vụ chứng khoán                                  </span>
                                    </li>
                                    <li>
                                        <span class="count">4</span>
                                        <span class="content">Bảo lãnh phát hành                                  </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col w45">
                                <ul class="list-services">
                                    <li>
                                        <span class="count">5</span>
                                        <span class="content">Quản lý danh mục đầu tư                                  </span>
                                    </li>
                                    <li>
                                        <span class="count">6</span>
                                        <span class="content">Dịch vụ tài chính                                  </span>
                                    </li>
                                    <li>
                                        <span class="count">7</span>
                                        <span class="content">Tư vấn tài chính doanh nghiệp                                  </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $("#succesModal").modal('show');

        window.addEventListener('click', function (e) {
            window.location = "/home/index";
        });
    });

</script>


<script>
    function ClosePopup() {
        //$('#succesModal').modal('hide');
        window.location = "/home/index";

    }
</script>

<div class="modal fade" id="succesModal" tabindex="-1" role="dialog" aria-labelledby="succesModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="min-height: 200px">
            <div class="modal-body">
                <button type="button" class="close" aria-label="Close" onclick="ClosePopup();"><span aria-hidden="true"></span></button>
                <div class="messages-cnt">
                    @*<div class="md-text">
                            Cảm ơn Quý khách đã dành thời gian cho TVSI.
                        </div>
                    *@
                    @*
                        <div class="sm-text">
                        </div>
                    *@
                    <div style="font-weight: bold;text-align: left;">
                        Câu trả lời của Quý khách đã được ghi lại.
                    </div>
                    <div style="font-weight: normal; margin-top: 7px; line-height: 2; text-align: left;">

                        Để cảm ơn Quý khách đã hợp tác hoàn thiện bản khảo sát, TVSI gửi tặng 1 phần quà thẻ điện thoại trị giá 50.000VNĐ (được nạp vào số điện thoại Quý khách đã cung cấp khi mở tài khoản tại TVSI).
                        <br />Quà tặng sẽ được gửi tới Quý khách theo 2 đợt:
                        <br />- Đợt 1: Ngày 05/10/2020 (Đối với câu trả lời hợp lệ, gửi về trước ngày 05/10/2020)
                        <br />- Đợt 2: Ngày 12/10/2020 (Đối với câu trả lời hợp lệ, gửi về từ ngày 05/10 đến hết ngày 11/10/2020)

                        Để cảm ơn Quý khách đã hợp tác hoàn thiện bản khảo sát, TVSI gửi tặng 1 phần quà thẻ điện thoại trị giá 50.000VNĐ (được nạp vào số điện thoại Quý khách đã cung cấp khi mở tài khoản tại TVSI).
                        <br />Quà tặng sẽ được gửi tới Quý khách theo 2 đợt:
                        <br />- Đợt 1: Ngày 05/10/2020 (Đối với câu trả lời hợp lệ, gửi về trước ngày 05/10/2020)
                        <br />- Đợt 2: Ngày 12/10/2020 (Đối với câu trả lời hợp lệ, gửi về từ ngày 05/10 đến hết ngày 11/10/2020)

                        Để cảm ơn Quý khách đã dành thời gian hoàn thiện bảng khảo sát, TVSI gửi tặng 1 phần quà là thẻ điện thoại trị giá 50.000 VNĐ (được nạp vào số điện thoại Quý khách đã cung cấp khi mở tài khoản tại TVSI).
                        <br />Quà tặng sẽ được gửi tới Quý khách trong thời gian từ 2-5 ngày làm việc.


                    </div>
                    <div style="font-weight: bold;text-align: left;margin-top: 7px;">
                        Chúc Quý khách sức khỏe, hạnh phúc và thành công!
                        <br />
                        Trân trọng.
                    </div>
                    @*
                        <div class="contact-bottom" style="margin-top: 7px;">
                            <div class="social">
                                <a href="https://www.facebook.com/tvsichungkhoantanviet/" class="appStore facebook">
                                    <img src="/images/like-button.png" style="height: 30px;">
                                </a>
                            </div>
                        </div>
                    *@
                </div>
            </div>
        </div>
    </div>
</div>
