﻿@{
    Layout = "~/Views/Home/Share/_Layout_khaosat.cshtml";
}
@model Website_tvsi_v1.Models.KhaoSatYkienKhachHangModel


@using (Html.BeginForm())
{

    <section id="wrapper-content" class="inner-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="detail-content has-title-part" id="register">
                        <div class="part">
                            <h3 style="color: #414141; font-size: 20px; font-weight: normal; display: inline-block; border-bottom: solid 4px #f00; font-family: Roboto Condensed; margin-bottom: 20px;">I. PHẦN THÔNG TIN KHÁCH HÀNG</h3>

                            @*<div class="wrapper">
                                <div class="group-form">
                                    <div class="row">

                                        <div class="col-sm-2">&nbsp;</div>
                                        <div class="col-sm-10">
                                            @if (ViewBag.Message != null)
                                            {
                                                <p style="border: 0px solid; color: red; font-size: 14px;">
                                                    @ViewBag.Message
                                                </p>
                                            }
                                        </div>

                                    </div>


                                    <div class="row">
                                        <div class="col-sm-2">Số tài khoản (<span style="color: red">*</span>):</div>
                                        <div class="col-sm-4">
                                            @Html.TextBoxFor(model => model.sotaikhoan, new { @placeholder = "", @class = "input-data" })
                                        </div>
                                        <div class="col-sm-6">
                                            (Nếu Quý khách chưa có tài khoản tại TVSI, quý khách tham gia khảo sát : <a href="khach-hang-chua-co-tai-khoan-tai-tvsi" style="font-size: 14px; font-style: italic; color: #0026ff">Tại đây</a> )
                                        </div>
                                    </div>

                                </div>
                            </div>*@

                            <div class="wrapper">

                                <div class="group-form">
                                    <div class="row">
                                        <div class="col-sm-12" style="font-weight: bold;">Câu 1 : Quý khách đã giao dịch với TVSI trong thời gian?</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">&nbsp;</div>
                                        <div class="col-sm-2">
                                            <div class="radio radio-primary" style="font-size: 13px; text-align: left;">
                                                @Html.RadioButtonFor(model => model.thoigiangiaodich, 1, new { id = "thoigiangiaodich1" })
                                                <label for="thoigiangiaodich1">
                                                    Dưới 1 năm
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="radio radio-primary" style="font-size: 13px; text-align: left;">
                                                @Html.RadioButtonFor(model => model.thoigiangiaodich, 2, new { id = "thoigiangiaodich2" })
                                                <label for="thoigiangiaodich2">
                                                    Từ 1 -3 năm
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="radio radio-primary" style="font-size: 13px; text-align: left;">
                                                @Html.RadioButtonFor(model => model.thoigiangiaodich, 3, new { id = "thoigiangiaodich3" })
                                                <label for="thoigiangiaodich3">
                                                    Từ 3-5 năm
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="radio radio-primary" style="font-size: 13px; text-align: left;">
                                                @Html.RadioButtonFor(model => model.thoigiangiaodich, 4, new { id = "thoigiangiaodich4" })
                                                <label for="thoigiangiaodich4">
                                                    Trên 5 năm
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="font-weight: bold;">Câu 2 : Quý khách biết đến TVSI qua những kênh thông tin nào?</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">&nbsp;</div>
                                        <div class="col-sm-2">
                                            <div class="checkbox checkbox-primary" style="font-size: 13px; text-align: left">
                                                @*@Html.CheckBoxFor(model => model.kenhthongtin, new { id = "kenhthongtin1", value = 5 })*@
                                                <input type="checkbox" name="kenhthongtin" id="kenhthongtin1" value="5" />
                                                <label for="kenhthongtin1">
                                                    Báo chí
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="checkbox checkbox-primary" style="font-size: 13px; text-align: left">
                                                @* @Html.CheckBoxFor(model => model.kenhthongtin, new { id = "kenhthongtin2", value = 6 })*@
                                                <input type="checkbox" name="kenhthongtin" id="kenhthongtin2" value="6" />
                                                <label for="kenhthongtin2">
                                                    Môi giới
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="checkbox checkbox-primary" style="font-size: 13px; text-align: left">
                                                @* @Html.CheckBoxFor(model => model.kenhthongtin, new { id = "kenhthongtin3", value = 7 })*@
                                                <input type="checkbox" name="kenhthongtin" id="kenhthongtin3" value="7" />
                                                <label for="kenhthongtin3">
                                                    Facebook/Fanpage
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="checkbox checkbox-primary" style="font-size: 13px; text-align: left">
                                                @* @Html.CheckBoxFor(model => model.kenhthongtin, new { id = "kenhthongtin4", value = 8 })*@
                                                <input type="checkbox" name="kenhthongtin" id="kenhthongtin4" value="8" />
                                                <label for="kenhthongtin4">
                                                    Website TVSI
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="checkbox checkbox-primary" style="font-size: 13px; text-align: left">
                                                @*@Html.CheckBoxFor(model => model.kenhthongtin, new { id = "kenhthongtin5", value = 9 })*@
                                                <input type="checkbox" name="kenhthongtin" id="kenhthongtin5" value="9" />
                                                <label for="kenhthongtin5">
                                                    Công cụ tìm kiếm
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="font-weight: bold;">Câu 3: Tại sao Quý khách lựa chọn sử dụng dịch vụ của TVSI?</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">&nbsp;</div>
                                        <div class="col-sm-2">
                                            <div class="checkbox checkbox-primary" style="font-size: 13px; text-align: left">
                                                <input type="checkbox" name="luachondichvu" id="luachondichvu1" value="10" />
                                                <label for="luachondichvu1">
                                                    Sản phẩm dịch vụ tốt
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="checkbox checkbox-primary" style="font-size: 13px; text-align: left">
                                                @*@Html.CheckBoxFor(model => model.luachondichvu, new { id = "luachondichvu2", value = 11 })*@
                                                <input type="checkbox" name="luachondichvu" id="luachondichvu2" value="11" />
                                                <label for="luachondichvu2">
                                                    Địa điểm giao dịch thuận tiện
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="checkbox checkbox-primary" style="font-size: 13px; text-align: left">
                                                @* @Html.CheckBoxFor(model => model.luachondichvu, new { id = "luachondichvu3", value = 12 })*@
                                                <input type="checkbox" name="luachondichvu" id="luachondichvu3" value="12" />
                                                <label for="luachondichvu3">
                                                    Phí giao dịch hợp lý
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="checkbox checkbox-primary" style="font-size: 13px; text-align: left">
                                                @*@Html.CheckBoxFor(model => model.luachondichvu, new { id = "luachondichvu4", value = 13 })*@
                                                <input type="checkbox" name="luachondichvu" id="luachondichvu4" value="13" />
                                                <label for="luachondichvu4">
                                                    Nhân viên môi giới chuyên nghiệp
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="checkbox checkbox-primary" style="font-size: 13px; text-align: left">
                                                @*@Html.CheckBoxFor(model => model.luachondichvu, new { id = "luachondichvu5", value = 14 })*@
                                                <input type="checkbox" name="luachondichvu" id="luachondichvu5" value="14" />
                                                <label for="luachondichvu5">
                                                    Khác
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="font-weight: bold;">Câu 4 : Trong các chương trình khuyến mại dành cho khách hàng TVSI đã triển khai, Quý khách đánh giá cao chương trình nào nhất?</div>
                                    </div>
                                    <div class="row">

                                        <div class="col-sm-12">
                                            <div class="radio radio-primary" style="font-size: 13px; text-align: left;">
                                                @Html.RadioButtonFor(model => model.quatangtvsi, 15, new { id = "quatangtvsi1" })
                                                <label for="quatangtvsi1">
                                                    Quà tặng
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="radio radio-primary" style="font-size: 13px; text-align: left;">
                                                @Html.RadioButtonFor(model => model.quatangtvsi, 16, new { id = "quatangtvsi2" })
                                                <label for="quatangtvsi2">
                                                    Trừ/Giảm phí/Ưu đãi phí trực tiếp trên các dịch vụ tại TVSI
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="radio radio-primary" style="font-size: 13px; text-align: left;">
                                                @Html.RadioButtonFor(model => model.quatangtvsi, 17, new { id = "quatangtvsi3" })
                                                <label for="quatangtvsi3">
                                                    Khác
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="font-weight: bold;">Câu 5 : Quý khách có đánh giá như thế nào về dịch vụ chăm sóc khách hàng của TVSI?</div>
                                    </div>
                                    <div class="row">
                                        <table class="table table-striped">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th style="width: 25%">&nbsp;</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Không chuyên nghiệp và  quà tặng không phù hợp</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Chưa chuyên nghiệp và quà tặng chưa phù hợp</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Bình thường</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Chưa chuyên nghiệp, quà tặng hữu ích</th>
                                                    <th style="font-weight: normal; width: 15%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Chuyên nghiệp và quà tặng hữu ích</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row" style="font-weight: normal; font-size: 13px; line-height: 2.5;">Chương trình tri ân khách hàng</th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.chuongtrinhtrian, 18, new { id = "chuongtrinhtrian1" })
                                                            <label for="chuongtrinhtrian1">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.chuongtrinhtrian, 19, new { id = "chuongtrinhtrian2" })
                                                            <label for="chuongtrinhtrian2">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.chuongtrinhtrian, 20, new { id = "chuongtrinhtrian3" })
                                                            <label for="chuongtrinhtrian3">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.chuongtrinhtrian, 21, new { id = "chuongtrinhtrian4" })
                                                            <label for="chuongtrinhtrian4">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.chuongtrinhtrian, 22, new { id = "chuongtrinhtrian5" })
                                                            <label for="chuongtrinhtrian5">
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <table class="table table-striped">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th style="width: 15%">&nbsp;</th>
                                                    <th style="font-weight: normal; width: 30%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Nội dung chưa hấp dẫn, tổ chức không chuyên nghiệp</th>
                                                    <th style="font-weight: normal; width: 25%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Nội dung hấp dẫn, tổ chức không chuyên nghiệp</th>
                                                    <th style="font-weight: normal; width: 30%; text-align: -webkit-center; vertical-align: -webkit-baseline-middle; font-size: 11px;">Nội dung hội thảo hấp dẫn, tổ chức chuyên nghiệp</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row" style="font-weight: normal; font-size: 13px; line-height: 2.5;">Chương trình hội thảo</th>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.chuongtrinhhoithao, 23, new { id = "chuongtrinhhoithao1" })
                                                            <label for="chuongtrinhhoithao1">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.chuongtrinhhoithao, 24, new { id = "chuongtrinhhoithao2" })
                                                            <label for="chuongtrinhhoithao2">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.chuongtrinhhoithao, 25, new { id = "chuongtrinhhoithao3" })
                                                            <label for="chuongtrinhhoithao3">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    @* <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.chuongtrinhhoithao, 26, new { id = "chuongtrinhhoithao4" })
                                                            <label for="chuongtrinhhoithao4">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: -webkit-center; vertical-align: -webkit-baseline-middle;">
                                                        <div class="radio radio-primary">
                                                            @Html.RadioButtonFor(model => model.chuongtrinhhoithao, 27, new { id = "chuongtrinhhoithao5" })
                                                            <label for="chuongtrinhhoithao5">
                                                            </label>
                                                        </div>
                                                    </td>*@
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12" style="font-weight: bold;">Câu 6: Nếu TVSI triển khai chương trình hội thảo dành cho khách hàng, Quý khách vui lòng cho biết chủ đề Quý khách quan tâm?</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="margin-top: 15px;">
                                            @Html.TextAreaFor(model => model.trienkhaictht, 2, 0, new { id = "trienkhaictht", style = "width:100%;", value = "trienkhaictht" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="font-weight: bold;">Ý kiến khác</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="margin-top: 15px;">
                                            @Html.TextAreaFor(model => model.ykiendichvuchamsoc, 2, 0, new { id = "ykiendichvuchamsoc", style = "width:100%;", value = "ykiendichvuchamsoc" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="group text-center">
                                            <button type="submit" class="button-default" id="btnSubmit">Tiếp theo >></button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
}

<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            if (!$("input[name=thoigiangiaodich]:checked").val()) {
                alert("Quý khách hãy hoàn thành câu hỏi số 1.");
                return false;
            }
            if (!$("input[name=kenhthongtin]:checked").val()) {
                //alert('Quý khách vui lòng chọn câu 1');
                alert("Quý khách hãy hoàn thành câu hỏi số 2.");
                return false;
            }
            if (!$("input[name=luachondichvu]:checked").val()) {
                //alert('Quý khách vui lòng chọn câu 1');
                alert("Quý khách hãy hoàn thành câu hỏi số 3.");
                return false;
            }

            if (!$("input[name=quatangtvsi]:checked").val()) {
                //alert('Quý khách vui lòng chọn câu 1');
                alert("Quý khách hãy hoàn thành câu hỏi số 4.");
                return false;
            }
            if (!$("input[name=chuongtrinhtrian]:checked").val()) {
                //alert('Quý khách vui lòng chọn câu 1');
                alert("Quý khách hãy hoàn thành câu hỏi số 5 : Chương trình tri ân khách hàng.");
                return false;
            }

            if (!$("input[name=chuongtrinhhoithao]:checked").val()) {
                //alert('Quý khách vui lòng chọn câu 1');
                alert("Quý khách hãy hoàn thành câu hỏi số 5 : Chương trình hội thảo.");
                return false;
            }

        });
    });

</script>
