﻿@{
    Layout = "~/Views/Home/Share/_Layout_khaosat.cshtml";
}
@model Website_tvsi_v1.Models.KhaoSatYkienKhachHangModel
@using (Html.BeginForm())
{

    <section id="wrapper-content" class="inner-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="detail-content has-title-part" id="register">
                        <div class="part">
                            <h3 style="color: #414141; font-size: 20px; font-weight: normal; display: inline-block; border-bottom: solid 4px #f00; font-family: Roboto Condensed; margin-bottom: 10px;">PHẦN VI: GÓP Ý</h3>
                            <div class="wrapper">
                                <div class="group-form">
                                    <div class="row" style="margin-bottom: 20px;">
                                        <div class="col-sm-12" style="margin-top: 0px;">
                                            <div class="note-form" style="text-align: justify;">
                                                <ul>
                                                    <li>Quý khách vui lòng cho TVSI biết những mong muốn về dịch vụ hoặc kiến nghị về dịch vụ để TVSI cải tiến, đáp ứng nhu cầu của Quý khách.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-12" style="margin-top: 15px;">
                                            @Html.TextAreaFor(model => model.gopytvsi, 2, 0, new { id = "gopytvsi", style = "width:100%;", value = "gopytvsi" })
                                        </div>
                                        @*<div class="col-sm-12" style="font-weight: bold;">Xin chân thành cảm ơn Quý khách đã hoàn thiện bản khảo sát này!</div>*@
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="font-weight: bold;">Quý khách vui lòng nhập thông tin số tài khoản tại TVSI để nhận ưu đãi từ TVSI</div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-sm-2">Số tài khoản (<span style="color: red">*</span>):</div>
                                        <div class="col-sm-4">
                                            @Html.TextBoxFor(model => model.sotaikhoan, new { @placeholder = "", @class = "input-data" })
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12"><span style="font-size: 13px; font-style: italic; font-weight: normal;">(Thông tin số tài khoản hiện được quản lý bởi TVSI và chúng tôi cam kết những thông tin này sẽ được bảo mật và chỉ sử dụng cho mục đích khảo sát nâng cao chất lượng dịch vụ tại TVSI).</span></div>
                                    </div>
                                    <div class="row">
                                        <div class="group text-center">
                                            <button id="btn_success" type="submit" class="button-default" onclick="return ValidateContactForm();">Hoàn thành</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

   @*     <!-- Modal -->
        @if (ViewBag.success != null && ViewBag.success)
        {
            <script>
                $(function () {
                    $("#succesModal").modal('show');
                });
            </script>
        }*@

    </section>
}


<script>
    $("#sotaikhoan").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
    function ValidateContactForm() {
        var sotaikhoan = document.getElementById("sotaikhoan");
        //var stkisN
        if (sotaikhoan.value == "") {
            window.alert("Quý khách vui lòng nhập thông tin số tài khoản của Quý khách tại TVSI.");
            sotaikhoan.focus();
            return false;
        }
        if (isNaN(sotaikhoan.value)) {
            alert("Số tài khoản bị sai, Quý khách vui lòng nhập lại số tài khoản bao gồm 6 chữ số.");
            sotaikhoan.focus();
            return false;
        }
      

        return true;
    }
</script>
