﻿@using System.Globalization
@{
    Layout = null;
    var domain = ViewBag.domain;
    var bantintvsi = (System.Collections.Generic.List<Website_tvsi_v1.Common.newswebsite.News>)ViewBag.bantintvsi;
    var totalPage = ViewBag.totalPage;
    var currentPage = ViewBag.currentPage;
    var showPrevious = ViewBag.showPrevious;
    var showNext = ViewBag.showNext;
    var showPageNumbers = ViewBag.showPageNumbers;

    var pageRange = ViewBag.pageRange;
    var rangeStart = ViewBag.rangeStart;
    var rangeEnd = ViewBag.rangeEnd;

    var path_TinTVSI_big = "/images/news/big/";
    var path_TinTVSI_small = "/images/news/small/";
    var TinTVSI_png = ".png";
    var TinTVSI_jpg = ".jpg";
}

<div class="col-md-12 col-xs-12">
    <div class="news-layer-list">
        <div>
            <ul class="news-list has-thumbnails">
                @for (int i = 0; i < bantintvsi.Count; i++)
                {
                    <li>
                        <div class="news-item" >
                            <a class="img" href="/introduction/tvsi-newspapers-details?Id=@bantintvsi[i].NewsID">
                                @if (bantintvsi[i].ImageUrl == null)
                                {
                                    <div class="inner" style="background-image: url('@path_TinTVSI_small@Website_tvsi_v1.Common.CommonFnc.twoNumber(bantintvsi[i].NewsID)@TinTVSI_png');"></div>
                                }
                                else
                                {
                                    <div class="inner" style="background-image: url('@domain/NewsImages/@bantintvsi[i].ImageUrl@TinTVSI_jpg');"></div>

                                }
                            </a>

                            <div class="text">
                                <h3 class="title" style="font-weight:bold;"><a href="/introduction/tvsi-newspapers-details?Id=@bantintvsi[i].NewsID">@bantintvsi[i].Title</a></h3>
                                <div class="date" style="margin-bottom:5px;"><time datetime="#">@Website_tvsi_v1.Common.CommonFnc.FormatDate(bantintvsi[i].Date.ToString())</time></div>
                                <div class="excerpt">@Website_tvsi_v1.Common.CommonFnc.SubString(bantintvsi[i].Description, 230) </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="nav-filter bottom" style="margin: 20px 0;">
            @if (showPrevious || showPageNumbers || showNext)
            {
                <nav class="fri">
                    @* Previous page button*@
                    @if (showPrevious)
                    {
                        if (currentPage == 1)
                        {
                            <a class="prev" style="opacity:.3"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                        }
                        else
                        {
                            <a class="prev curp" onclick="topComPanyNewsPage(@(currentPage - 1));"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                        }
                    }
                    @* Page numbers*@
                    @if (showPageNumbers)
                    {
                        <ul>
                            @if (rangeStart <= 3)
                            {
                                for (int i = 1; i < rangeStart; i++)
                                {
                                    if (i == currentPage)
                                    {
                                        <li class="active"><a>@(i)</a></li>
                                    }
                                    else
                                    {
                                        <li><a class="curp" onclick="topComPanyNewsPage(@(i));">@(i)</a></li>
                                    }
                                }
                            }
                            else
                            {
                                <li><a class="curp" onclick="topComPanyNewsPage(1);">1</a></li>
                                <li><a>...</a></li>
                            }
                            @* Main loop*@
                            @for (int i = rangeStart; i <= rangeEnd; i++)
                            {
                                if (i == currentPage)
                                {
                                    <li class="active"><a>@(i)</a></li>
                                }
                                else
                                {
                                    <li><a class="curp" onclick="topComPanyNewsPage(@(i));">@(i)</a></li>
                                }
                            }
                            @if (rangeEnd >= totalPage - 2)
                            {
                                for (int i = rangeEnd + 1; i <= totalPage; i++)
                                {
                                    <li><a class="curp" onclick="topComPanyNewsPage(@(i));">@(i)</a></li>
                                }
                            }
                            else
                            {
                                <li><a>...</a></li>
                                <li><a class="curp" onclick="topComPanyNewsPage(@totalPage);">@totalPage</a></li>

                            }
                        </ul>
                    }
                    @*Next page button*@
                    @if (showNext)
                    {
                        if (currentPage == totalPage)
                        {
                            <a class="prev" style="opacity:.3"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        }
                        else
                        {
                            <a class="prev curp" onclick="topComPanyNewsPage(@(currentPage + 1));"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        }
                    }

                </nav>
            }
        </div>
    </div>
</div>

<script>
    function topComPanyNewsPage(page) {
        //loadPopupShow();
        $.ajax({
            url: "/Home/_TinTvsiCongdongPart",
            data: { currentPage: page },
            cache: false,
            type: "GET",
            dataType: "html",
            success: function (data, textStatus, XMLHttpRequest) {
                $("#_TinTvsiCongdongPart").html(data); // HTML DOM replace
                //loadPopupHide();
            }
        });
    }
</script>