﻿@{
    Layout = "~/Views/home/Share/_Layout.cshtml";
    var thong_tin_selected=(System.Data.DataTable)ViewBag.thong_tin_selected;
    var co_hoi_nghe_nghiep = (System.Data.DataTable)ViewBag.co_hoi_nghe_nghiep;
    var check_moitruonglv=ViewBag.check_moitruonglv;
    var check_tuyendung=ViewBag.check_tuyendung;
    
}

<section id="wrapper-top-content">
    <div class="banner">
        <img src="/images/banner/Cohoinghenghiep.png" alt="" class="background-banner">
        @*<div class="container">
            <h1 class="title-page dark">@thong_tin_selected.Rows[0]["tieu_de"]</h1>
        </div>*@
    </div>
</section>
<section id="wrapper-content" class="inner-page">
    <div class="container">
        <div class="row di-table">
            <div class="sidebar di-table-cell vertical-top desktop">
                <div class="sidebar-box">
                    <div class="title">
                        @Html.Raw(Website_tvsi_v1.App_Resources.Website.Txt_CareersF)
                    </div>
                    <div class="wrapper">
                        <ul class="list-unstyled">
                            @for (int i = 0; i < co_hoi_nghe_nghiep.Rows.Count; i++)
                            {
                                if (thong_tin_selected.Rows[0]["thong_tin_tvsiid"].ToString().Trim() == co_hoi_nghe_nghiep.Rows[i]["thong_tin_tvsiid"].ToString().Trim())
                                {
                                    <li class="active"><a href="/introduction/opportunity-job/@co_hoi_nghe_nghiep.Rows[i]["thong_tin_tvsiid"]"><i class="fa fa-caret-right"></i> @co_hoi_nghe_nghiep.Rows[i]["tieu_de"]</a></li>
                                }
                                else
                                {
                                    <li><a href="/introduction/opportunity-job/@co_hoi_nghe_nghiep.Rows[i]["thong_tin_tvsiid"]"><i class="fa fa-caret-right"></i> @co_hoi_nghe_nghiep.Rows[i]["tieu_de"]</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main-content di-table-cell vertical-top">
                @Html.Raw(thong_tin_selected.Rows[0]["noi_dung"].ToString())
                 <script>
                     $(".panel-title a").attr("data-toggle", "collapse");
                     $(".panel-title a").attr("data-parent", "#accordion");
                </script>
            <div class="sidebar di-table-cell vertical-top mobile">
                <div class="sidebar-box">
                    <div class="title">
                        @Website_tvsi_v1.App_Resources.Website.Txt_CareersF
                    </div>
                    <div class="wrapper">
                        <ul class="list-unstyled">
                            <li class="@check_moitruonglv"><a href="/introduction/opportunity-job/1176"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_WorkEnvironment</a></li>
                            <li class="@check_tuyendung"><a href="/introduction/opportunity-job/1177"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_Posts</a></li>
                            <li><a href="/introduction/opportunity-job/1178"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_Application</a></li>                        
                        </ul>
                    </div>
                </div>
            </div>
           </div>
        </div>
    </div>
</section>
