﻿@{
    Layout = "~/Views/Home/Share/_Layout.cshtml";
    var saleidrequired = Website_tvsi_v1.App_Resources.Website.Txt_SaleIDRequired;
}
@model Website_tvsi_v1.Models.DangKyKhToChucModel

<section id="wrapper-top-content">
    <div class="banner">
        <img src="/images/upload/DangKyTaiKhoan_banner.png" alt="" class="background-banner">

        <div class="container">
            <h1 class="title-page dark">@Html.Raw(Website_tvsi_v1.App_Resources.Website.Txt_Registercreateaccount)</h1>
        </div>
    </div>
</section>
<section id="wrapper-content" class="inner-page">
    @using (Html.BeginForm())
    {
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="detail-content has-title-part" id="register">
                        <div class="part">
                            <h3 class="title">@Website_tvsi_v1.App_Resources.Website.Txt_FillaccountInfo</h3>

                            <p><strong>@Website_tvsi_v1.App_Resources.Website.Txt_Allinformationkept.</strong></p>
                            @if (ViewBag.Message != null)
                            {
                                <div style="border: 0px solid; color: red">
                                    @ViewBag.Message
                                </div>
                            }
                            @Html.AntiForgeryToken()
                            <div class="wrapper">

                                <div class="group-form">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-sm-2">@Website_tvsi_v1.App_Resources.Website.Txt_Businessname (<span style="color: red">*</span>):</div>
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model.tentochuc, new { @class = "input-data" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-sm-2">@Website_tvsi_v1.App_Resources.Website.Txt_Businessregistnumber (<span style="color: red">*</span>):</div>
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model.sodkkd, new { @class = "input-data" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-sm-4">@Website_tvsi_v1.App_Resources.Website.Txt_Dateofissue (<span style="color: red">*</span>):</div>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(model => model.ngaycap, new { @placeholder = "DD/MM/YYYY", @class = "input-data" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-sm-4 t-right">@Website_tvsi_v1.App_Resources.Website.Txt_PlaceofIssue (<span style="color: red">*</span>):&nbsp;</div>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(model => model.noicap, new { @class = "input-data" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-sm-2">@Website_tvsi_v1.App_Resources.Website.Txt_Headquartersaddress (<span style="color: red">*</span>):</div>
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model.diachi, new { @class = "input-data" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-sm-4">@Website_tvsi_v1.App_Resources.Website.Txt_Phonenumber (<span style="color: red">*</span>):</div>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(model => model.sodienthoai, new { @class = "input-data" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-sm-4 t-right">Fax (<span style="color: red">*</span>):&nbsp;</div>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(model => model.somayfax, new { @class = "input-data" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="clr-f60101"><strong>@Website_tvsi_v1.App_Resources.Website.Txt_Representative</strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-sm-2">@Website_tvsi_v1.App_Resources.Website.Txt_Fullname (<span style="color: red">*</span>):</div>
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model.hoten, new { @class = "input-data" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-sm-4">@Website_tvsi_v1.App_Resources.Website.Txt_MobileNumber (<span style="color: red">*</span>):</div>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(model => model.sodidong, new { @class = "input-data" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-sm-4 t-right">Email (<span style="color: red">*</span>):&nbsp;</div>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(model => model.email, new { @class = "input-data" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-sm-2">@Website_tvsi_v1.App_Resources.Website.Txt_Securitycharacter (<span style="color: red">*</span>):</div>
                                                <div class="col-sm-4">
                                                    <input type="text" name="kytubaomattc" id="kytubaomattc" class="input-data">
                                                </div>
                                                <div class="col-sm-4">
                                                    <img src="@Url.Action("GetCaptChaImageTochuc", "CaptCha")" />
                                                    @if (ViewBag.captcha != null)
                                                    {
                                                        <p style="border: 0px solid; color: red;">
                                                            @ViewBag.captcha
                                                        </p>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-sm-2">@Website_tvsi_v1.App_Resources.Website.txt_SaleID</div>
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model.sale_id, new { @class = "input-data", @placeholder = saleidrequired })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-offset-2 col-md-10">
                                                        <div class="g-recaptcha" data-sitekey="6LcdqcMUAAAAAMY7h4AkM-k14SnFa1A-kPbdG6Fc"></div>
                                                        @if (ViewBag.MessageReCapcha != null)
                                                        {
                                                            <div style="border: 0px solid; color: red">
                                                                @ViewBag.MessageReCapcha
                                                            </div>
                                                         }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    *@
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="note-form">
                                                        <div class="clr-f60101">@Website_tvsi_v1.App_Resources.Website.Txt_Notes:</div>
                                                        <ul>
                                                            @Html.Raw(Website_tvsi_v1.App_Resources.Website.Txt_NotesContenCor)
                                                        </ul>
                                                        <div class="clr-f60101">@Website_tvsi_v1.App_Resources.Website.Txt_Requireddocuments:</div>
                                                        <ul>
                                                            @Html.Raw(Website_tvsi_v1.App_Resources.Website.Txt_Requiredcontent)
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="group text-center">
                                            <button type="submit" class="button-default" onclick="return ValidateContactForm();">@Website_tvsi_v1.App_Resources.Website.Txt_Finish</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
    @if (ViewBag.success != null && ViewBag.success)
    {
        <script>
            $(function () {
                $("#succesModal").modal('show');
            });
        </script>
    }
    <!-- Modal -->
    <div class="modal fade" id="succesModal" tabindex="-1" role="dialog" aria-labelledby="succesModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="ClosePopup();"><span aria-hidden="true"></span></button>
                    <div class="messages-cnt">
                        <div class="lg-text">Đăng ký thành công</div>
                        <div class="sm-text">
                            TVSI sẽ liên lạc lại với Quý khách hàng trong vòng 24h làm việc
                        </div>
                        <div class="md-text">Xin chân thành cảm ơn!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function ClosePopup() {
        $('#succesModal').modal('hide');
    }
    function checkForm(checkdate) {
        // regular expression to match required date format
        re = /^(\d{1,2})\/(\d{1,2})\/(\d{4})$/;

        if (checkdate.value != '') {
            if (regs = checkdate.value.match(re)) {
                // day value between 1 and 31
                if (regs[1] < 1 || regs[1] > 31) {
                    return false;
                }
                // month value between 1 and 12
                if (regs[2] < 1 || regs[2] > 12) {
                    return false;
                }
                // year value between 1902 and 2016
                if (regs[3] < 1902 || regs[3] > (new Date()).getFullYear()) {
                    return false;
                }
            } else {
                return false;
            }
        }
        return true;
    }
    function ValidateContactForm() {
        var tentochuc = document.getElementById("tentochuc");
        var sodkkd = document.getElementById("sodkkd");
        var ngaycap = document.getElementById("ngaycap");
        var noicap = document.getElementById("noicap");
        var diachi = document.getElementById("diachi");
        var sodienthoai = document.getElementById("sodienthoai");
        var somayfax = document.getElementById("somayfax");
        var hoten = document.getElementById("hoten");
        var sodidong = document.getElementById("sodidong");
        var email = document.getElementById("email");
        var kytubaomattc = document.getElementById("kytubaomattc");
        if (name.value == "") {
            window.alert("Quý khách phải nhập Họ Tên");
            name.focus();
            return false;
        }
        if (tentochuc.value == "") {
            window.alert("Quý khách phải nhập Tên tổ chức");
            tentochuc.focus();
            return false;
        }
        if (sodkkd.value == "") {
            window.alert("Quý khách phải nhập số đăng ký kinh doanh");
            sodkkd.focus();
            return false;
        }
        var ck_ngaycap = checkForm(ngaycap);
        if (ck_ngaycap == false) {
            window.alert("Quý khách phải nhập ngày cấp theo định dạng dd/mm/yyyy");
            ngaycap.focus();
            return false;
        }
        if (noicap.value == "") {
            window.alert("Quý khách phải nhập nơi cấp");
            noicap.focus();
            return false;
        }
        if (diachi.value == "") {
            window.alert("Quý khách phải nhập địa chỉ trụ sở chính");
            diachi.focus();
            return false;
        }
        if (sodienthoai.value == "") {
            window.alert("Quý khách phải nhập số điện thoại cơ quan");
            sodienthoai.focus();
            return false;
        }
        if (somayfax.value == "") {
            window.alert("Quý khách phải nhập số máy fax");
            somayfax.focus();
            return false;
        }


        if (hoten.value == "") {
            window.alert("Quý khách phải nhập họ tên");
            hoten.focus();
            return false;
        }
        if (sodidong.value == "") {
            window.alert("Quý khách phải nhập số di động");
            sodidong.focus();
            return false;
        }
        if (email.value == "") {
            window.alert("Quý khách phải nhập email");
            email.focus();
            return false;
        }
        if (kytubaomattc.value == "") {
            window.alert("Quý khách phải nhập ký tự bảo mật");
            kytubaomattc.focus();
            return false;
        }
        return true;
    }
</script>


