﻿@{
    Layout = "~/Views/Home/Share/_Layout.cshtml";
}

<section id="wrapper-top-content">
    <div class="banner">
        <img src="/images/upload/DangKyTaiKhoan_banner.png" alt="" class="background-banner">

        <div class="container">
            <h1 class="title-page dark">@Html.Raw(Website_tvsi_v1.App_Resources.Website.Txt_Registercreateaccount)</h1>
        </div>
    </div>
</section>
<section id="wrapper-content" class="inner-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="register">
                    <p><strong>@Website_tvsi_v1.App_Resources.Website.Txt_ThankyouselectTVSI<br>
                        @Website_tvsi_v1.App_Resources.Website.Txt_Createaccount2minutes</strong></p>
                    @*<p>Dịch vụ TVSI ACCOUNT dành cho khách hàng có nhu cầu mở tài khoản trực tuyến tại Công ty Cổ phần Chứng khoán Tân Việt. Quý Khách dễ dàng hoàn tất việc khai báo thông tin trực tuyến chỉ trong 1 bước. Sau khi hoàn tất việc khai báo thông tin mở tài khoản, TVSI sẽ chủ động liên hệ với khách hàng trong vòng 1 ngày làm việc.</p>*@
                    <div class="part">
                        <div class="title">@Website_tvsi_v1.App_Resources.Website.Txt_Youcanregistertypes</div>
                        <div class="wrapper">
                            <div class="group radio-list" style="overflow:inherit;">
                                <div class="radio radio-primary">
                                    <input type="radio" id="optionsRadios1" name="optionsRadios" value="1" onclick="handleClick(this)" checked>
                                    <label for="optionsRadios1">
                                        @Website_tvsi_v1.App_Resources.Website.Txt_Aindiviulcustomers
                                    </label>
                                </div>
                                <div class="radio radio-primary">
                                    
                                        <input type="radio" id="optionsRadios2" name="optionsRadios" value="2" onclick="handleClick(this)" >
                                    <label for="optionsRadios2">
                                        @Website_tvsi_v1.App_Resources.Website.Txt_Acorporatecustomers
                                    </label>
                                </div>
                                <div class="radio radio-primary">
                                   
                                        <input type="radio" id="optionsRadios3" name="optionsRadios" value="3" onclick="handleClick(this)" >
                                     <label for="optionsRadios3">
                                        @Website_tvsi_v1.App_Resources.Website.Txt_Ainternationcustomers
                                    </label>
                                </div>
                                <div class="radio radio-primary">
                                   
                                        <input type="radio" id="optionsRadios4" name="optionsRadios" value="4" onclick="handleClick(this)" >
                                    <label for="optionsRadios4">
                                        @Website_tvsi_v1.App_Resources.Website.Txt_Ainternationcorporatecustomers
                                    </label>
                                </div>
                            </div>
                            <div class="group text-center">
                                <a id="linkkhachhang" href="/home/register-customer-personal" class="button-default">@Website_tvsi_v1.App_Resources.Website.Txt_Continue</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function handleClick(myRadio) {
        if (myRadio.value == 1 ) {
            document.getElementById("linkkhachhang").href = "/home/register-customer-personal";
        }
        if ( myRadio.value == 3){
            document.getElementById("linkkhachhang").href = "/home/register-customer-personal-international";
        }
        if (myRadio.value == 2 || myRadio.value == 4) {
            document.getElementById("linkkhachhang").href = "/home/register-customer-organizations";
        }
    }

  
</script>