﻿@{
    Layout = "~/Views/Home/Share/_Layout.cshtml";
    var cmt_note = Website_tvsi_v1.App_Resources.Website.Txt_Validduration15years;
    var lienlac_tvsi = Website_tvsi_v1.App_Resources.Website.Txt_Addressreceivedoc;
    var yeucau = Website_tvsi_v1.App_Resources.Website.Txt_Providerequired;
    var saleidrequired = Website_tvsi_v1.App_Resources.Website.Txt_SaleIDRequired;

}
@using System.Text.RegularExpressions
@using System.Web.UI.WebControls
@using Website_tvsi_v1.App_Resources
@model Website_tvsi_v1.Models.DangKyKhCaNhanModel


<!-- Wiza Plugin-->
<script src="~/asset/plugins/wizard/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/asset/plugins/wizard/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>
<!--  Plugin for the Wizard -->
<script src="~/asset/plugins/wizard/js/gsdk-bootstrap-wizard.js"></script>
<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
<script src="~/asset/plugins/wizard/js/jquery.validate.min.js"></script>
<script src="~/asset/jquery-confirm/js-confirm/jquery-confirm.js"></script>


<!-- CSS Files -->
<link href="~/asset/jquery-confirm/asset-style/jquery-confirm.min.css" rel="stylesheet"/>


<link href="~/asset/signupforeignaccount/signupforeignaccount.css" rel="stylesheet"/>
<link href="~/asset/flexselect/flexselect.css" rel="stylesheet"/>
<script src="~/asset/flexselect/liquidmetal.js"></script>
<script src="~/asset/flexselect/jquery.flexselect.js"></script>
<link href="~/asset/dropify/dropify.min.css" rel="stylesheet"/>
<script src="~/asset/dropify/dropify.min.js"></script>
<style>
#step1,#step2,#step3{
    pointer-events:none;
    float: right;
    
}
select.input-data, input.input-data{
font-size: 14px;
}
</style>
<section id="wrapper-top-content">
    <div class="banner">
        <img src="/images/upload/DangKyTaiKhoan_banner.png" alt="" class="background-banner">

        <div class="container">
            <h1 class="title-page dark">@Html.Raw(Website_tvsi_v1.App_Resources.Website.Txt_Registercreateaccount)</h1>
        </div>
    </div>
</section>


<section id="wrapper-content" class="inner-page">
<div class="col-md-5">
    <div class="container-fluid">
        <div class="row">
            <div class="register-account-foreign">
                <div class="image-foreign">
                    <div class="stepwizard col-md-12">
                        <div class="stepwizard-row setup-panel">
                            <div class="stepwizard-step">
                                <label for="step1">@Website.txt_InfoBasic</label>
                                <a href="#step-1" type="button" id="step1" class="btn btn-danger btn-default btn-circle">1</a>
                            </div>
                            <div class="stepwizard-step">

                                <label for="step2">@Website.txt_RegisterServices</label>

                                <a href="#step-2" type="button" id="step2" class="btn btn-default btn-circle" disabled="disabled">2</a>

                            </div>
                            @*<div class="stepwizard-step row">

                                <label for="step3">@Website.Txt_RegisterConfirm</label>


                                <a href="#step-3" type="button" id="step3" class="btn btn-default btn-circle" disabled="true">3</a>

                            </div>*@
                        </div>
                    </div>
                    <img src="~/images/registeraccount.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>
<div class="col-md-7">
@using (Html.BeginForm())
{
    <div class="container-fluid">

    <div class="row">
    <div class="col-md-12">

    <div class="card ribbon-wrapper">
    <div class="detail-content has-title-part">
    <div class="part">
    @Html.AntiForgeryToken()
    <div class="wrapper">
        <div class="group-form">
            <div class="row">
                <div class="col-sm-12 text-left" style="color:#ff0000;">
                    @if (ViewBag.Message != null)
                    {
                        <div style="border: 0px solid; color: red;padding: 10px;">
                            @ViewBag.Message
                        </div>
                    }
                    @Html.ValidationSummary()
                </div>

            </div>
        </div>
    </div>
    <div class="wrapper">
    <form role="form" action="" method="post" id="registerinternational">
    <div class="row setup-content" id="step-1">

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <p class="text-header-form">
                    @Website_tvsi_v1.App_Resources.Website.Text_AccountHolder
                </p>
            </div>
        </div>
    </div>
    <div class="group-form">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-2">
                        <p class="control-label">
                            @Website_tvsi_v1.App_Resources.Website.Txt_Fullname <span style="color: red">*</span>
                        </p>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.hoten, new
                        {
                            @class = "input-data " +
                                     "form-control",
                            @required = "true", @maxlength = "250", @type = "text"
                        })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="form-group">

                    <div class="col-sm-4">
                        <p for="" class="control-label">
                        @Website_tvsi_v1.App_Resources.Website.Txt_Dateofbirth <span style="color: red">*</span>
                        <p/>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.ngaysinh, new {@placeholder = "DD/MM/YYYY", @class = "input-data form-control", @required = "true"})
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-4 t-right">@Website_tvsi_v1.App_Resources.Website.Txt_Gender <span style="color: red">*</span>&nbsp;</div>
                <div class="col-sm-2">
                    <div class="radio radio-primary">
                        @*@Html.RadioButtonFor(model => model.gioitinh, "0", new { id = "gioitinh_male", Checked = "checked" })*@
                        <input name="gioitinh" type="radio" id="male" value="1" checked>
                        <label for="male">
                            @Website_tvsi_v1.App_Resources.Website.Txt_Male
                        </label>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="radio radio-primary">
                        @*@Html.RadioButtonFor(model => model.gioitinh, "1", new { id = "gioitinh_female" })*@
                        <input name="gioitinh" type="radio" id="female" value="2">
                        <label for="female">
                            @Website_tvsi_v1.App_Resources.Website.Txt_Female
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-2">
                        <p for="" class="control-label">
                            @Website.Txt_Placeofbirth <span style="color: red">*</span>&nbsp;
                        </p>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.noisinh, new {@class = "input-data form-control", @required = "true", @maxlength = "250"})
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-2">
                        <p for="" class="control-label">

                            @Website_tvsi_v1.App_Resources.Website.Txt_Passport <span style="color: red">*</span>&nbsp;
                        </p>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.cmnd, new {@class = "input-data form-control", @required = "true", @maxlength = "250"})
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="form-group">

                    <div class="col-sm-4">
                        <p for="" class="control-label">
                            @Website_tvsi_v1.App_Resources.Website.Txt_Dateofissue <span style="color: red">*</span>
                        </p>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.ngaycapcmnd, new {@placeholder = "DD/MM/YYYY", @class = "input-data form-control", @required = "true"})
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="form-group">

                    <div class="col-sm-4">
                        <p class="control-label text-right">

                            @Website_tvsi_v1.App_Resources.Website.Txt_ExpiryDate <span style="color: red">*</span>&nbsp;
                        </p>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.ngayhethancmnd, new {@class = "input-data form-control", @placeholder = "DD/MM/YYYY", @required = "true", @maxlength = "250"})
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-2">
                        <p class="control-label">
                            @Website_tvsi_v1.App_Resources.Website.Txt_PlaceofIssue <span style="color: red">*</span>&nbsp;
                        </p>

                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.noicap, new {@class = "input-data form-control", @required = "true", @maxlength = "250"})

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="form-group">

                    <div class="col-sm-2">
                        <p class="control-label">

                            @Website_tvsi_v1.App_Resources.Website.Text_Nationality <span style="color: red">*</span>
                        </p>
                    </div>
                    <div class="col-sm-10">
                      @Html.DropDownListFor(model => model.quoctich, (IEnumerable<SelectListItem>)ViewBag.datacountrycode, "", new {@class = "input-data form-control", @required = "required", @maxlength = "250"})
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-2">
                    @Website_tvsi_v1.App_Resources.Website.Text_ResidentalAddress
                </div>
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.diachicutru, new {@class = "input-data", @maxlength = "250"})
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-2">
                        <p class="control-label">

                            @Website_tvsi_v1.App_Resources.Website.Text_ContactAddress <span style="color: red">*</span>
                        </p>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.diachi, new {@class = "input-data form-control", @required = "true", @maxlength = "250"})
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                
                <div class="form-group">
                    <div class="col-sm-4 text-right">
                        <p class="control-label">
                            Email <span style="color: red">*</span>
                        </p>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.email, new {@class = "input-data form-control", @required = "true", @maxlength = "50"})
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-4">
                        <p class="control-label text-right">
                            @Website_tvsi_v1.App_Resources.Website.Txt_Phonenumber<span style="color: red">*</span>
                        </p>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.Phone_01, new {@class = "input-data  form-control number-format", @required = "true", @maxlength = "15", @placeholder = "", type = "text"})
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-4">@Website_tvsi_v1.App_Resources.Website.Text_Occupation&nbsp;</div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.nghenghiep, new {@class = "input-data"})
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-4 text-right">
                    @Website_tvsi_v1.App_Resources.Website.Text_WorkingPlace &nbsp;&nbsp;
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.noilamviec, new {@class = "input-data", @maxlength = "50"})
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-2">
                    @Website_tvsi_v1.App_Resources.Website.Text_Headoffice &nbsp;&nbsp;
                </div>
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.trusochinh, new {@class = "input-data", @maxlength = "250"})
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-2">
                    @Website_tvsi_v1.App_Resources.Website.Text_TradingCode &nbsp;&nbsp;
                </div>
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.tradingcode, new {@class = "input-data", @maxlength = "6"})
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="center-tradingcode">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-sm-4">
                                @Website_tvsi_v1.App_Resources.Website.Txt_Dateofissue
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.ngaycapmagiaodich, new {@placeholder = "DD/MM/YYYY", @class = "input-data"})
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-sm-5 text-right">
                                <p class="control-label" style="text-align: right;">
                                    @Website_tvsi_v1.App_Resources.Website.Text_VietnameseCustodian&nbsp;&nbsp;&nbsp;
                                </p>
                            </div>
                            <div class="col-sm-7">
                            @Html.DropDownListFor(model => model.giamhovietnam, (IEnumerable<SelectListItem>)ViewBag.datavsdvn, "", new { @class = "input-data", @data_placeholder = Website.Txt_VietnameseCustodian})                                                                 
                            </div>
                        </div>
                    </div>
        </div>

    </div>
    @if (ViewBag.SaleID == null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <p class="control-label">
                                @Website_tvsi_v1.App_Resources.Website.txt_SaleID <span style="color: red">*</span>
                            </p>
                        </div>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.sale_id, new
                            {
                                @class = "input-data " +
                                         "form-control",
                                @required = "required", @list = "branchId", @maxlength = "250", @type = "text"
                            })
                            @if (ViewBag.Branch != null)
                            {
                                <datalist id="branchId">
                                    @foreach (var item  in ViewBag.Branch)
                                    {
                                        <option value="@item.Value">
                                            @item.Text
                                        </option>
                                    }
                                </datalist>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="notification-messege"><p style="color: red;display: none;">@Website.Txt_NotificationMessage</p></div>
    <button class="btn btn-danger nextBtn1 btn-lg pull-right step-1" type="button">@Website.Txt_ButtonNext</button>
    </div>

    </div>
    <div class="row setup-content" id="step-2">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <p class="text-header-form">
                    @Website_tvsi_v1.App_Resources.Website.Txt_OnlinetTransactionMethod
                </p>
            </div>
        </div>
    </div>
    <div class="group-form">
    <div class="row">
        <div class="row">
            <div class="form-group">
                <div class="col-md-4">
                    <p class="control-label">
                        @Website.Txt_TransactionMethod
                    </p>
                </div>
                <div class="col-md-8">
                    <div class="row text-left">
                        <div class="col-sm-3"></div>

                        <div class="col-sm-3">
                            <div class="checkbox checkbox-primary">
                                <input name="TradeMethodPhone" type="checkbox" id="TradeMethodPhone" checked="@Model.TradeMethodPhone" value="@Model.TradeMethodPhone.ToString()"/>
                                <label for="TradeMethodPhone">
                                    @Website_tvsi_v1.App_Resources.Website.Txt_MobilePhone
                                </label>
                            </div>

                        </div>
                        <div class="col-sm-3">
                            <div class="checkbox checkbox-primary">
                                <input name="TradeMethodInternet" type="checkbox" id="TradeMethodInternet" checked="@Model.TradeMethodInternet" value="@Model.TradeMethodInternet.ToString()"/>
                                <label for="TradeMethodInternet">
                                    @Website_tvsi_v1.App_Resources.Website.txt_ByInternet
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4">
                            <p class="control-label">
                                @Website_tvsi_v1.App_Resources.Website.txt_MethodTradeReceiving
                            </p>
                        </div>
                        <div class="col-md-8">
                            <div class="row text-left">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-3">
                                    <div class="checkbox checkbox-primary">
                                        <input name="TradeResultSMS" type="checkbox" id="TradeResultSMS" checked="@Model.TradeResultSMS" value="@Model.TradeResultSMS.ToString()">
                                        <label for="TradeResultSMS">
                                            @Website_tvsi_v1.App_Resources.Website.txt_BySMS
                                        </label>
                                    </div>

                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox checkbox-primary">
                                        <input name="TradeResultEmail" type="checkbox" id="TradeResultEmail" checked="@Model.TradeResultEmail" value="@Model.TradeResultEmail.ToString()">
                                        <label for="TradeResultEmail">
                                            @Website_tvsi_v1.App_Resources.Website.txt_ByEmail
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4">
                            <p class="control-label">
                                @Website_tvsi_v1.App_Resources.Website.txt_MethodStatement
                            </p>
                        </div>
                        <div class="col-md-8">
                            <div class="row text-left">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-3">
                                    <div class="checkbox checkbox-primary">
                                        <input name="MonthlyReportEMail" id="MonthlyReportEMail" type="checkbox" checked="@Model.MonthlyReportEMail" value="@Model.MonthlyReportEMail.ToString()">
                                        <label for="MonthlyReportEMail">
                                            @Website_tvsi_v1.App_Resources.Website.txt_ByEmail
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4">
                            <p class="control-label">
                                @Website_tvsi_v1.App_Resources.Website.Txt_Remittance
                            </p>
                        </div>
                        <div class="col-md-8">
                            <div class="row text-left">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-3">
                                    <div class="checkbox checkbox-primary">
                                        <input name="BankTransfer" type="checkbox" id="BankTransfer" checked="@Model.BankTransfer" value="@Model.BankTransfer.ToString()">
                                        <label for="BankTransfer">
                                            @Website_tvsi_v1.App_Resources.Website.txt_TradetoBank
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <p class="text-header-form">
                    @Website_tvsi_v1.App_Resources.Website.Txt_RegisterInfo
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="form-group">

                    <div class="col-sm-3">
                        <p for="" class="control-label">
                            @Website_tvsi_v1.App_Resources.Website.Txt_TradingVia
                        </p>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.TradingPhone_01, new {@class = "input-data  form-control number-format", placeholder = "Phone number 1",@readonly="readonly", @required = "true", @maxlength = "50", @type = "text"})
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.TradingPhone_02, new {@class = "input-data number-format", placeholder = "Phone number 2", @maxlength = "50", @type = "text"})
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="form-group">

                    <div class="col-sm-3">
                        <p for="" class="control-label">
                            @Website_tvsi_v1.App_Resources.Website.Txt_SendSMS
                        </p>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.PhoneResultTrading, new {@class = "input-data  form-control", placeholder = "Phone number", @readonly = "readonly", @maxlength = "50"})
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-3">
                        <p for="" class="control-label">
                            @Website_tvsi_v1.App_Resources.Website.Txt_TradingViaInternet
                        </p>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.stateemail, new {@class = "input-data  form-control", placeholder = "Email", @required = "true",@readonly = "readonly", @maxlength = "50", type = "email"})
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bank-center">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <p class="text-header-form">
                    @Website_tvsi_v1.App_Resources.Website.txt_BankMaximum
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="row text-left">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="radio radio-primary">
                                            <input for="fii" name="bank" type="radio" id="fii" value="fii">
                                            <label for="fii">
                                                @Website_tvsi_v1.App_Resources.Website.Txt_ForeignIndirect
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(model => model.accNoBIDV, new {@class = "input-data  form-control number-format", placeholder = @Website_tvsi_v1.App_Resources.Website.Txt_BidvSecurities,@List="accnobidv", @maxlength = "99", type = "text"})
                                        <datalist id="accnobidv">
                                            <option value="No_Number">@Website.Txt_BidvCheckExs</option>
                                        </datalist>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="radio radio-primary">
                                        <input for="remittance" name="bank" type="radio" id="remittance" value="remittance">
                                        <label for="remittance">
                                            @Website_tvsi_v1.App_Resources.Website.Txt_RegisteredRemittance
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="registerbank">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4">
                                <p class="control-label">
                                </p>
                            </div>
                            <div class="col-md-8">
                                <div class="row text-left">
                                    <div class="col-sm-5">
                                        <label for="sms">
                                            @Website.Txt_Bank1
                                        </label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="email1">
                                            @Website.Txt_Bank2
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3">
                                <p class="control-label">
                                    @Website_tvsi_v1.App_Resources.Website.Txt_AccountHolder
                                </p>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="row text-left">
                                        <div class="col-sm-4">
                                            @Html.TextBoxFor(model => model.BankAccName_01, new {@class = "input-data", @maxlength = "50"})
                                        </div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-4">
                                            @Html.TextBoxFor(model => model.BankAccName_02, new {@class = "input-data", @maxlength = "50"})
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3">
                                <p class="control-label">
                                    @Website_tvsi_v1.App_Resources.Website.Txt_AccountNo
                                </p>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="row text-left">
                                        <div class="col-sm-4">
                                            @Html.TextBoxFor(model => model.BankAccNo_01, new {@class = "input-data number-format", placeholder = Website_tvsi_v1.App_Resources.Website.Txt_FillNumber, @maxlength = "50", @type = "text"})
                                        </div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-4">
                                            @Html.TextBoxFor(model => model.BankAccNo_02, new {@class = "input-data number-format", placeholder = Website_tvsi_v1.App_Resources.Website.Txt_FillNumber, @maxlength = "50", @type = "text"})
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3">
                                <p class="control-label">
                                    @Website_tvsi_v1.App_Resources.Website.Txt_AtBank
                                </p>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="row text-left">
                                        <div class="col-sm-4">
                                            @Html.DropDownListFor(x => x.BankNo_01, (IEnumerable<SelectListItem>) ViewBag.BankList, "", new {@class = "input-data", @data_placeholder = Website_tvsi_v1.App_Resources.Website.txt_ChooseBank})
                                        </div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-4">
                                            @Html.DropDownListFor(x => x.BankNo_02, (IEnumerable<SelectListItem>) ViewBag.BankList, "", new {@class = "input-data", @data_placeholder = Website_tvsi_v1.App_Resources.Website.txt_ChooseBank})
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3">
                                <p class="control-label">
                                    @Website_tvsi_v1.App_Resources.Website.Txt_Bankbranch
                                </p>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="row text-left">
                                        <div class="col-sm-4">
                                            @Html.DropDownListFor(x => x.SubBranchNo_01, (SelectList) ViewBag.SubBranchList_01, "", new {@class = "input-data", @data_placeholder = Website_tvsi_v1.App_Resources.Website.txt_SelectBrach})
                                        </div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-4">
                                            @Html.DropDownListFor(x => x.SubBranchNo_02, (SelectList) ViewBag.SubBranchList_01, "", new {@class = "input-data", @data_placeholder = Website_tvsi_v1.App_Resources.Website.txt_SelectBrach})

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3">
                                <p class="control-label">
                                    @Website_tvsi_v1.App_Resources.Website.Txt_ProvinceCity
                                </p>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="row text-left">
                                        <div class="col-sm-4">
                                            @Html.DropDownListFor(x => x.City_01, (SelectList) ViewBag.ProvinceList, Website_tvsi_v1.App_Resources.Website.txt_SelectCity, new {@class = "input-data"})
                                        </div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-4">
                                            @Html.DropDownListFor(x => x.City_02, (SelectList) ViewBag.ProvinceList, Website_tvsi_v1.App_Resources.Website.txt_SelectCity, new {@class = "input-data"})
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <div class="row">
        <div class="captcha-checked">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">@Website.Txt_Securitycharacter (<label style="color: red">*</label>):</div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(x => x.kytubaomatcn, new {@class = "input-data", @required = "true", @maxlength = "20"})
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-4">
                        <img src="@Url.Action("GetCaptChaImageCanhan", "CaptCha")"/>
                        @if (ViewBag.captcha != null)
                        {
                            <div style="border: 0px solid; color: red;">
                                @ViewBag.captcha
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    <button class="btn btn-previous btn-fill  prevBtn btn-lg pull-left" type="button">@Website.Txt_ButtonBack</button>
    @*
        <button class="btn btn-danger backBtn2 btn-lg pull-right " type="button">quay lai</button>
    *@
    <button class="btn btn-danger nextBtn2 btn-lg pull-right step-2" type="submit" onclick="Javascript:return Validator();">@Website.Txt_ButtonRegister</button>
    @*
    <button type="submit" class="step-2">Next</button>
    *@
    </div>

    </div>
    @*<div class="row setup-content" id="step-3">
        <div id="wrapper">
            <div id="dialog">
                <div class="text-confirm-header">
                    <h3>@Website_tvsi_v1.App_Resources.Website.Txt_VerifyEmail </h3>
                    @if (!string.IsNullOrEmpty(@Model.email))
                    {
                        var email = @Model.email;

                        string pattern = @"(?<=[\w]{3})[\w-\._\+%]*(?=[\w]{0}@)";
                        string result = Regex.Replace(email, pattern, m => new string('*', m.Length));
                        <p>@Website_tvsi_v1.App_Resources.Website.Txt_DigitCodeEmail @result</p>
                    }
                    <p>@Website_tvsi_v1.App_Resources.Website.Txt_CheckboxEmail</p>
                    <p style="color: red">@Website_tvsi_v1.App_Resources.Website.Txt_EmailExistedTime</p>
                </div>
                <div id="form">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-input-code-left">
                                <input type="text" class="active-code" maxLength="1" size="1" min="0" max="9" name="code1" placeholder="A"/>
                                <input type="text" class="active-code" maxLength="1" size="1" min="0" max="9" name="code2" placeholder="B"/>
                                <input type="text" class="active-code" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" name="code3" placeholder="0"/>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="icon-center">
                                <i class="glyphicon glyphicon-minus"></i>
                            </div>
                        </div>
                        <div class="col-md-5 ">
                            <div class="form-input-code-right">
                                <input type="text" class="active-code" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" name="code4" placeholder="0"/>
                                <input type="text" class="active-code" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" name="code5" placeholder="0"/>
                                <input type="text" class="active-code" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" name="code6" placeholder="0"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-confirm-footer">
                    <p>
                    @Website_tvsi_v1.App_Resources.Website.Txt_ResendCode <a href="#">@Website_tvsi_v1.App_Resources.Website.Txt_ResendCodeLink</a>

                    <div class="row">
                        <div class="text-notification" style="margin-left:15px; color: red;font-size: 15px;font-weight: bold;">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="button-complete">
                        <button class="btn btn-danger nextBtn3 btn-lg" type="button">Complete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    </form>
    </div>

    </div>

    </div>
    </div>
    </div>
    </div>
    </div>
}
</div>


<!-- Modal -->
@if (ViewBag.success != null && ViewBag.success)
{
    <script>
            $(function () {
                $("#succesModal").modal('show');
            });
        </script>
}
<div class="modal fade" id="succesModal" tabindex="-1" role="dialog" aria-labelledby="succesModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" aria-label="Close" onclick="ClosePopup();">
                    <span aria-hidden="true"></span>
                </button>
                <div class="messages-cnt">
                    <div class="lg-text">@Website_tvsi_v1.App_Resources.Website.Txt_SignUpSuccess</div>
                    <div class="sm-text">
                        @Website_tvsi_v1.App_Resources.Website.Txt_Contact24h
                    </div>
                    <div class="md-text">@Website_tvsi_v1.App_Resources.Website.Txt_Thankyou</div>
                </div>
            </div>
        </div>
    </div>
</div>


</section>

<script>

    
    function Validator(){
    let $trading_phone1 = $("#TradingPhone_01").val();
    let $trading_phone2 = $("#TradingPhone_02").val();
    let $PhoneResultTrading = $("#PhoneResultTrading").val();
    if ($trading_phone1.trim() === $trading_phone2.trim()){
    $.alert({
           title: '@Website.Txt_Notification',
           content: '@Website.Txt_TradingViaPhone',
    });
    return false;
    }
    return true;
    }
    function ClosePopup() {
        $('#succesModal').modal('hide');
    }

    function checkForm(checkdate) {
        // regular expression to match required date format
        re = /^(\d{1,2})\/(\d{1,2})\/(\d{4})$/;

        if (checkdate.value != '') {
            if (regs = checkdate.value.match(re)) {
                // day value between 1 and 31
                if (regs[1] < 1 || regs[1] > 31) {
                    return false;
                }
                // month value between 1 and 12
                if (regs[2] < 1 || regs[2] > 12) {
                    return false;
                }
                // year value between 1902 and 2016
                if (regs[3] < 1902 || regs[3] > (new Date()).getFullYear()) {
                    return false;
                }
            } else {
                return false;
            }
        }
        return true;
    }
    function ValidateContactForm() {
        var name = document.getElementById("hoten");
        console.log(name);
        var ngaysinh = document.getElementById("ngaysinh");
        var cmnd = document.getElementById("cmnd");
        var ngaycapcmnd = document.getElementById("ngaycapcmnd");
        var noicap = document.getElementById("noicap");
        var sdt = document.getElementById("Phone_01");
        var diachi = document.getElementById("diachi");
        var email = document.getElementById("email");
        var txtCaptcha = document.getElementById("txtCaptcha");
        return true;
    }


    $(document).ready(function () {
        $("#sale_id").flexselect();
        $("#giamhovietnam").flexselect();
        $("#quoctich").flexselect();
        $(".registerbank").hide();
        $("#BankNo_01").flexselect();
        $("#Atbank_01").flexselect();
        
        $("#SubBranchNo_01").flexselect();
        $("#BankNo_02").flexselect();
        $("#Atbank_02").flexselect();
        
        $("#SubBranchNo_02").flexselect();
        
/*
        $("#ngaycapmagiaodich").prop("readonly",true);
*/
        
        
       
       

        $("#BankNo_01").on("change", function () {
            var selectedVal = $(this).find(':selected').val();
            GetBankInfo(selectedVal, 1);

        });  
        $("#Atbank_01").on("change", function () {
            var selectedVal = $(this).find(':selected').val();
            GetBankInfo(selectedVal, 1);

        });

        $("#BankNo_02").on("change", function () {
            var selectedVal = $(this).find(':selected').val();
            GetBankInfo(selectedVal, 2);
        });
        
        $('#fii').click(function() {
           if($(this).is(':checked')) {
               $("#accNoBIDV").show();
               $(".registerbank").hide();
 }
        });
        $("#remittance").click(function (){
           if($(this).is(':checked')) {
               $(".registerbank").show();
                $("#accNoBIDV").hide();

           }
        });
      
    });

    //Chi cho nhap 4 so truong saleid
    $("#sale_id").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            //display error message
            $("#errmsg").html("Nhập 4 số từ 0-9").show().fadeOut("slow");
            return false;
        }
    });

    function GetBankInfo(bankNo, order) {
        if (order == 1) {
            // Clear list chi nhánh
            $("#SubBranchNo_01").html("");

            if (bankNo != '') {
                $.ajax({
                    url: '/Home/GetBankBranchInfo',
                    type: "POST",
                    dataType: "JSON",
                    data: { bankNo: bankNo },
                    success: function (result) {
                        $.each(result.data, function (i, branch) {
                            $("#SubBranchNo_01").append(
                                $('<option></option>').val(branch.BranchNo).html(branch.ShortBranchName));
                        });
                        //$("#SubBranchNo_01").selectpicker('refresh');

                        $("#SubBranchNo_01").flexselect();
                    }
                });
            } else if ($("#BankNo_01").val() == '') {

                $("#SubBranchNo_01").append(
                    $('<option></option>').val('').html('Chọn Chi nhánh...'));
                $("#SubBranchNo_01").flexselect();
            }
        }
        else if (order == 2) {
            // Clear list chi nhánh
            $("#SubBranchNo_02").html("");
            if (bankNo != '') {
                $.ajax({
                    url: '/Home/GetBankBranchInfo',
                    type: "POST",
                    dataType: "JSON",
                    data: { bankNo: bankNo },
                    success: function (result) {
                        $.each(result.data, function (i, branch) {
                            $("#SubBranchNo_02").append(
                                $('<option></option>').val(branch.BranchNo).html(branch.ShortBranchName));
                        });
                        //$("#SubBranchNo_02").selectpicker('refresh');
                        $("#SubBranchNo_02").flexselect();
                    }
                });
            } else {
                $("#SubBranchNo_02").append(
                    $('<option></option>').val('').html('Chọn Chi nhánh...'));
                $("#SubBranchNo_02").flexselect();
            }
        }
    }

    $("input[type=checkbox]").change(function () {
        if ($(this).prop("checked")) {
            $(this).val(true);
        } else {
            $(this).val(false);
        }
    });

</script>
<script>

$(document).ready(function () {

    var $gioitinh = "@Model.gioitinh";
    if ($gioitinh != null && $gioitinh != ""){
        if ($gioitinh == 1){
             $("#male").prop("checked", true);
             $("#female").prop("checked", false);
        }else {
            $("#male").prop("checked", true);
            $("#female").prop("checked", true);
        }
    }else {
        $("#male").prop("checked", true);
    }
    var $bank = "@Model.Bank";
    if ($bank != null && $bank != ""){
        if ($bank == "remittance"){
            $("#remittance").prop("checked", true);
        }else{
            $("#fii").prop("checked", true);
        }
    }else{
         $("#fii").prop("checked", true);
    }
    var $tradingcode = $("#tradingcode").val();
    if ($tradingcode != null && $tradingcode != ""){
      $(".center-tradingcode").show();      
    }else{
      $(".center-tradingcode").hide();      
    }
  
  var $BankTransfer = $("input[name='BankTransfer']");    
      var $bankIsChecked = $BankTransfer.prop("checked");
      var $fullname = $("#hoten").val();
      if ($bankIsChecked == false){
               $(".bank-center").hide();
               $(".registerbank").css("display","none");
               $("#BankTransfer").val(false); 
      }else{
            $("#BankAccName_01").val();
             $(".bank-center").show();
             $("#BankTransfer").val(true);      
             if($("#remittance").is(':checked')) {
             $(".registerbank").show();
             $("#accNoBIDV").hide();
          } 
      }
     
    
      $(".number-format").keypress(function (e) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
          return false;
       }});   
   
/*     var checkSuccess = "@Session["successAccount"]";   
    if (checkSuccess != null && checkSuccess != ""){
        var $step3 = $("#step3");
        $step3.addClass("btn-danger");
    }*/
    
    
/*  var navListItems = $('div.setup-panel div a'),
          allWells = $('.setup-content'),
          NextBtn1 = $('.nextBtn1'),cmnd
          NextBtn2 = $('.nextBtn2'),
          NextBtn3 = $('.nextBtn3'),
          prevBtn = $(".prevBtn");

  allWells.hide();

  navListItems.click(function (e) {
      $(this).off('click');
      var $target = $($(this).attr('href')),
              $item = $(this);

      if (!$item.hasClass('disabled')) {
          $(this).off('click');
          navListItems.removeClass('btn-danger').addClass('btn-default');
          $item.addClass('btn-danger');tradingcode
          allWells.hide();
          $target.show();
          $target.find('input:eq(0)').focus();
      }
  });*/

   $("#tradingcode").change(function (){
       var $tradeingcode = $(this).val();
       var $centertradingcode = $(".center-tradingcode");
       if ($tradeingcode !== "" && $tradeingcode !== null){
           $centertradingcode.show();
       }else {
           $centertradingcode.hide();
       }
   });
  $("#Phone_01").change(function (){
     var $phone_1 =  $(this).val();
     var $tradingPhone = $("#TradingPhone_01").val($phone_1);
     var $resultPhoneNumber = $("#PhoneResultTrading").val($phone_1);
    return;
  });
  $("#email").change(function (){
      var $email = $(this).val();
      $("#stateemail").val($email);
  });
  $("#TradeMethodPhone").click(function (){
     var $TradeMethodPhone = $(this).prop("checked");
     if ($TradeMethodPhone == false){
         $("#TradeMethodInternet").prop("checked",true);
         $("#TradeMethodInternet").value(true);
     }
  });
    $("#TradeMethodInternet").change(function (){
       var $TradeMethodInternet = $("#TradeMethodInternet").prop("checked");
       if ($TradeMethodInternet == false){
           $("#TradeMethodPhone").prop("checked",true);
           $("#TradeMethodPhone").val(true);
       }
    });
    $("#TradeResultSMS").change(function (){
        var $TradeResultSMS = $(this).prop("checked");
        if ($TradeResultSMS == false){
            $("#TradeResultEmail").prop("checked",true);
            $("#TradeResultEmail").val(true);
        }
    });  
    $("#TradeResultEmail").change(function (){
        var $TradeResultEmail = $(this).prop("checked");
        if ($TradeResultEmail == false){
            $("#TradeResultSMS").prop("checked",true);
            $("#TradeResultSMS").val(true);
        }
    });
    $("#MonthlyReportEMail").change(function (){
        $(this).prop("checked",true);
        $(this).val(true);
    });
    
    $("#BankTransfer").change(function (){
       let $bankTransfer = $(this).prop("checked");
/*
       let $remittance = $("#remittance").is(":checked");
*/
       if($bankTransfer == false){
           $(".bank-center").hide();
           $(".registerbank").css("display","none");
          $("#BankTransfer").val(false);

       }else {
           $(".bank-center").show();
           $("#BankTransfer").val(true);
 
            if($("#remittance").is(':checked')) {
                          $(".registerbank").show();
                           $("#accNoBIDV").hide();
                      }
       }
    });
    
    $("#remittance").click(function (){
        let $fullname = $("#hoten").val();
       var $remittance = $(this).is(":checked");
        if ($remittance === true){
              $("#BankAccName_01").val();   
        }else{
              $("#BankAccName_01").val("");   
        }
    });   
    $("#fii").click(function (){
       var $remittance = $(this).is(":checked");
        if ($remittance === true){
              $("#BankAccName_01").val("");   
        }
    });
    
});
</script>
<script>
$(".nextBtn1").click(function (){
        var $hoten = $("#hoten").val();
        var $ngaysinh = $("#ngaysinh").val();
        var $passport = $("#cmnd").val();
        var $ngaycapcmnd = $("#ngaycapcmnd").val();
        let $ngayhethancmnd = $("#ngayhethancmnd").val();
        let $noicap = $("#noicap").val();
        let $quoctich = $('select[name=quoctich] option').filter(':selected').val();
        let $diachi = $("#diachi").val();
        let $email = $("#email").val();
        let $sale_id = $("#sale_id").val();
        let $phone = $("#Phone_01").val();
        let $noisinh = $("#noisinh").val();
        if ($hoten === "" || $hoten === null){
            $(".notification-messege p").show();
            return;
        }else{
            $(".notification-messege p").hide();
           
        }      
        if ($noisinh === "" || $noisinh === null){
            $(".notification-messege p").show();
            return;
        }else{
            $(".notification-messege p").hide();
          
        }      
        if ($ngaysinh === "" || $ngaysinh === null){
            $(".notification-messege p").show();
            return;
        }else{
            $(".notification-messege p").hide();
            
        }       
        if ($passport === "" || $passport === null){
            $(".notification-messege p").show();
            return;
        }else{
            $(".notification-messege p").hide();
            
        }     
        if ($ngaycapcmnd === "" || $ngaycapcmnd === null){
            $(".notification-messege p").show();
            return;
        }else{
            $(".notification-messege p").hide();
            
        }      
        if ($ngayhethancmnd === "" || $ngayhethancmnd === null){
            $(".notification-messege p").show();
            return;
        }else{
            $(".notification-messege p").hide();
            
        }     
        if ($noicap === "" || $noicap === null){
            $(".notification-messege p").show();
            return;
        }else{
            $(".notification-messege p").hide();
            
        }  
        if ($quoctich === "" || $quoctich === null){
            $(".notification-messege p").show();
            return;
        }else{
            $(".notification-messege p").hide();
            
        }    
        if ($diachi === "" || $diachi === null){
            $(".notification-messege p").show();
            return;
        }else{
            $(".notification-messege p").hide();
            
        }    
        if ($email === "" || $email === null){
            $(".notification-messege p").show();
            return;
        }else{
            $(".notification-messege p").hide();
           
        }     
        if ($sale_id === "" || $sale_id === null){
            $(".notification-messege p").show();
            return;
        }else{
            $(".notification-messege p").hide(); 
        }      
        if ($phone === "" || $phone === null){
            $(".notification-messege p").show();
            return;
        }else{
            $(".notification-messege p").hide();
           
        }
        
    });
</script>
<script>
$(document).ready(function () {
  var navListItems = $('div.setup-panel div a'),
          allWells = $('.setup-content'),
          allNextBtn = $('.nextBtn1 '),
  		  allPrevBtn = $('.prevBtn');

  allWells.hide();

  navListItems.click(function (e) {
      e.preventDefault();
      var $target = $($(this).attr('href')),
              $item = $(this);

      if (!$item.hasClass('disabled')) {
          navListItems.removeClass('btn-danger').addClass('btn-default');
          $item.addClass('btn-danger');
          allWells.hide();
          $target.show();
          $target.find('input:eq(0)').focus();
      }
  });
  
  allPrevBtn.click(function(){
      var curStep = $(this).closest(".setup-content"),
          curStepBtn = curStep.attr("id"),
          prevStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a");

          prevStepWizard.removeAttr('disabled').trigger('click');
  });

  allNextBtn.click(function(){
      var curStep = $(this).closest(".setup-content"),
          curStepBtn = curStep.attr("id"),
          nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
          curInputs = curStep.find("input[type='text'],input[type='url'],select[name=quoctich]"),
          isValid = true;

      $(".form-group").removeClass("has-error");
      for(var i=0; i<curInputs.length; i++){
          if (!curInputs[i].validity.valid){
              isValid = false;
              $(curInputs[i]).closest(".form-group").addClass("has-error");
          }
      }

      if (isValid)
          nextStepWizard.removeAttr('disabled').trigger('click');
  });

  $('div.setup-panel div a.btn-danger').trigger('click');
});
</script>
