﻿@{
    Layout = "~/Views/Home/Share/_Layout.cshtml";
    var cmt_note = Website_tvsi_v1.App_Resources.Website.Txt_Validduration15years;
    var lienlac_tvsi = Website_tvsi_v1.App_Resources.Website.Txt_Addressreceivedoc;
    var yeucau = Website_tvsi_v1.App_Resources.Website.Txt_Providerequired;
    var saleidrequired = Website_tvsi_v1.App_Resources.Website.Txt_SaleIDRequired;

}
@using Website_tvsi_v1.App_Resources
@model Website_tvsi_v1.Models.DangKyKhCaNhanModel

<link href="~/asset/flexselect/flexselect.css" rel="stylesheet"/>
<script src="~/asset/flexselect/liquidmetal.js"></script>
<script src="~/asset/flexselect/jquery.flexselect.js"></script>
<link href="~/asset/dropify/dropify.min.css" rel="stylesheet"/>
<script src="~/asset/dropify/dropify.min.js"></script>
<style>
 .tooltip-noti{
     padding: 2px 6px;
     border: 1px solid #7c7c7c;
     background-color: #FFFFFF;
     border-radius: 50%;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     font-size: 10px;
 }
   .optinal-usa p{
   font-size: 15px;
   color: #222222;
   }
</style>
<section id="wrapper-top-content">
    <div class="banner">
        <img src="/images/upload/DangKyTaiKhoan_banner.png" alt="" class="background-banner">
        <div class="container">
            <h1 class="title-page dark">@Html.Raw(Website_tvsi_v1.App_Resources.Website.Txt_Registercreateaccount)</h1>
        </div>
    </div>
</section>


<section id="wrapper-content" class="inner-page">
@using (Html.BeginForm())
{
    <div class="container">
    <div class="row">
    <div class="col-md-12">
    <div class="card ribbon-wrapper">
        <div class="detail-content has-title-part">
            <div class="part">
                <div class="ribbon ribbon-danger">@Website_tvsi_v1.App_Resources.Website.txt_InfoBasic</div>


                @Html.AntiForgeryToken()

                <div class="wrapper">
                    <div class="group-form">
                        <div class="row">
                            <div class="col-sm-12 text-left" style="color:#ff0000;">
                                @if (ViewBag.Message != null)
                                {
                                    <div style="border: 0px solid; color: red">
                                        @ViewBag.Message
                                    </div>
                                }
                                @Html.ValidationSummary()
                            </div>

                        </div>
                    </div>
                </div>
                <div class="wrapper">
                    <div class="group-form">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-sm-2">
                                        @Website_tvsi_v1.App_Resources.Website.Txt_Fullname <span style="color: red">*</span>
                                    </div>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(model => model.hoten, new {@class = "input-data", @required = "true", @maxlength = "250"})
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-4">
                                        @Website_tvsi_v1.App_Resources.Website.Txt_Dateofbirth <span style="color: red">*</span>
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.ngaysinh, new {@placeholder = "DD/MM/YYYY", @class = "input-data", @maxlength = 10, @required = "true"})
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-4 t-right">@Website_tvsi_v1.App_Resources.Website.Txt_Gender <span style="color: red">*</span>&nbsp;</div>
                                    <div class="col-sm-2">
                                        <div class="radio radio-primary">
                                            @*@Html.RadioButtonFor(model => model.gioitinh, "0", new { id = "gioitinh_male", Checked = "checked" })*@
                                            <input name="gioitinh" type="radio" id="male" value="1" checked>
                                            <label for="male">
                                                @Website_tvsi_v1.App_Resources.Website.Txt_Male
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <div class="radio radio-primary">
                                            @*@Html.RadioButtonFor(model => model.gioitinh, "1", new { id = "gioitinh_female" })*@
                                            <input name="gioitinh" type="radio" id="female" value="2">
                                            <label for="female">
                                                @Website_tvsi_v1.App_Resources.Website.Txt_Female
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-4">@Website_tvsi_v1.App_Resources.Website.Txt_IDnumber <span style="color: red">*</span>&nbsp;</div>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.cmnd, new {@class = "input-data", @placeholder = cmt_note, @required = "true", @maxlength = "12"})
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-4">
                                        @Website_tvsi_v1.App_Resources.Website.Txt_Dateofissue <span style="color: red">*</span>
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.ngaycapcmnd, new {@placeholder = "DD/MM/YYYY", @class = "input-data", @required = "true", @maxlength = 10})
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-4 text-right">@Website_tvsi_v1.App_Resources.Website.Txt_PlaceofIssue <span style="color: red">*</span>&nbsp;</div>
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(x => x.noicap, (SelectList) ViewBag.placeOfIssueList, @Website.Txt_PlaceofIssue, new {@class = "input-data", @required = true})
                                        @Html.TextBoxFor(model => model.noicapkhac, new {@placeholder = "Vui lòng điền nơi cấp", @class = "input-data", @maxlength = 255})

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-4">
                                        @Website_tvsi_v1.App_Resources.Website.Txt_Phonenumber <span style="color: red">*</span>
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.Phone_01, new {@class = "input-data", @onkeyup = @"if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')", @required = "true", @maxlength = "11"})
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-4 text-right">Email&nbsp;</div>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.email, new {@class = "input-data"})
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-sm-2">
                                        @Website_tvsi_v1.App_Resources.Website.Txt_Address <span style="color: red">*</span>
                                    </div>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(model => model.diachi, new {@class = "input-data", @placeholder = lienlac_tvsi, @required = "true", @maxlength = "250", @minlength = "15"})
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (ViewBag.SaleID == null)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    @if (string.IsNullOrEmpty(Request.QueryString["SaleID"]))
                                    {
                                        <div class="branch-id-select">
                                            <div class="row">
                                                <div class="col-sm-2">Chi nhánh giao dịch <span style="color: red">*</span></div>
                                                <div class="col-sm-10">
                                                    @Html.DropDownListFor(model => model.Branch_Transaction, (IEnumerable<SelectListItem>) ViewBag.Branch, "Vui lòng chọn chi nhánh giao dịch", new {@class = "input-data", @data_placeholder = Website_tvsi_v1.App_Resources.Website.Txt_Branch, @required = "true", title = "Vui lòng chọn chi nhánh giao dịch"})
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sale-id-select">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    @Website.txt_SaleID <span style="color: red"></span>
                                                </div>
                                                <div class="col-md-10">
                                                    @Html.TextBoxFor(m => m.sale_id,
                                                        new {@class = "input-data", @placeholder = saleidrequired, @list = "branchId", @maxlength = "4"}) <span id="errmsg" style="color:red;"></span>
                                                    <div id="divShow" style="display:none">
                                                        <strong>
                                                            <span id="Title"></span>
                                                        </strong><span id="dtMessage" style="color: #ed1c24"></span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @*@Html.TextBoxFor(m => m.sale_id,
                                            new {@class = "input-data", @placeholder = saleidrequired, @list = "branchId", @maxlength = "4", @required = "true", title = @Website.SaleId_Valid}) <span id="errmsg" style="color:red;"></span>
                                        <i style="font-size: 14px">Nếu không có nhân viên tư vấn. Quý khách vui lòng chọn mã chi nhánh giao dịch gần nhất ở danh sách gợi ý.</i>
                                        @if (ViewBag.Branch != null)
                                        {
                                            <datalist id="branchId">
                                                @foreach (var item  in ViewBag.Branch)
                                                {
                                                    <option value="@item.Value">
                                                        @item.Text
                                                    </option>
                                                }
                                            </datalist>
                                        }
                                        <div id="divShow" style="display:none">
                                            <strong>
                                                <span id="Title"></span>
                                            </strong><span id="dtMessage" style="color: #ed1c24"></span>
                                        </div>*@

                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-sm-2">@Website_tvsi_v1.App_Resources.Website.Txt_Additionalrequirements</div>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(model => model.yeucau, new {@class = "input-data", @placeholder = yeucau})
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
    </div>

    </div>

    </div>
    </div>
    </div>
    </div>
    <div class="row" id="tabBank">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-sm-12" id="headingOne">
                        <a href="#collapseTow" data-toggle="collapse" data-parent="#tabBank" title="@Website_tvsi_v1.App_Resources.Website.Text_InfoUSA">
                            <div class="ribbon ribbon-danger" style="width: 80%;font-size: 15px">@Website_tvsi_v1.App_Resources.Website.Text_InfoUSA</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="collapseTow" class="panel-collapse collapse in">
                        <br/><br/>

                        <div class="optinal-usa">
                            <div class="row">
                                <div class="col-sm-5">
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-3">
                                    <div class="checkbox checkbox-primary">
                                        <input type="checkbox" name="all-deactive" id="all-deactive" class="chk-col-red" checked=""/>
                                        <label for="all-deactive">
                                            @Website.Text_AllYes
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox checkbox-primary">
                                        <input type="checkbox" name="all-nodeactive" id="all-nodeactive" class="chk-col-red" checked=""/>
                                        <label for="all-nodeactive">
                                            @Website.Text_AllNo
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <p>
                                        @Website.Text_CustomerAddressUSA <b data-toggle="tooltip" data-placement="bottom" title="@Website.Text_NotificationTooltip">
                                            <b class="tooltip-noti">!</b>
                                        </b>
                                    </p>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-3">
                                    <div class="radio radio-primary">
                                        @Html.RadioButtonFor(m => m.CustomerUSA, 1, new {@id = "CustomerUSAYes"})
                                        @Html.LabelFor(m => m.CustomerUSA, @Website_tvsi_v1.App_Resources.Website.Input_Yes, new {@for = "CustomerUSAYes"})
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="radio radio-primary">
                                        @Html.RadioButtonFor(m => m.CustomerUSA, 0, new {@id = "CustomerUSANo"})
                                        @Html.LabelFor(m => m.CustomerUSA, @Website.Input_No, new {@for = "CustomerUSANo"})
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <p>@Website_tvsi_v1.App_Resources.Website.Text_PlaceOfBirthTxt</p>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-3">
                                    <div class="radio radio-primary">
                                        @Html.RadioButtonFor(m => m.PlaceOfBirthUSA, 1, new {@id = "Text_PlaceOfBirthTxtYes"})
                                        @Html.LabelFor(m => m.PlaceOfBirthUSA, @Website_tvsi_v1.App_Resources.Website.Input_Yes, new {@for = "Text_PlaceOfBirthTxtYes"})
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="radio radio-primary">
                                        @Html.RadioButtonFor(m => m.PlaceOfBirthUSA, 0, new {@id = "Text_PlaceOfBirthTxtNo"})
                                        @Html.LabelFor(m => m.PlaceOfBirthUSA, @Website_tvsi_v1.App_Resources.Website.Input_No, new {@for = "Text_PlaceOfBirthTxtNo"})
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <p>@Website_tvsi_v1.App_Resources.Website.Text_depositoryUSA</p>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-3">
                                    <div class="radio radio-primary">
                                        @Html.RadioButtonFor(m => m.DepositoryUSA, 1, new {@id = "Text_depositoryUSAYes"})
                                        @Html.LabelFor(m => m.DepositoryUSA, @Website_tvsi_v1.App_Resources.Website.Input_Yes, new {@for = "Text_depositoryUSAYes"})
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="radio radio-primary">
                                        @Html.RadioButtonFor(m => m.DepositoryUSA, 0, new {@id = "Text_depositoryUSANo"})
                                        @Html.LabelFor(m => m.DepositoryUSA, @Website_tvsi_v1.App_Resources.Website.Input_No, new {@for = "Text_depositoryUSANo"})
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <p>@Website_tvsi_v1.App_Resources.Website.Text_PhoneNumberUSA</p>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-3">
                                    <div class="radio radio-primary">
                                        @Html.RadioButtonFor(m => m.CustomerPhoneNumberUSA, 1, new {@id = "Text_PhoneNumberUSAYes"})
                                        @Html.LabelFor(m => m.CustomerPhoneNumberUSA, @Website_tvsi_v1.App_Resources.Website.Input_Yes, new {@for = "Text_PhoneNumberUSAYes"})
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="radio radio-primary">
                                        @Html.RadioButtonFor(m => m.CustomerPhoneNumberUSA, 0, new {@id = "Text_PhoneNumberUSANo"})
                                        @Html.LabelFor(m => m.CustomerPhoneNumberUSA, @Website_tvsi_v1.App_Resources.Website.Input_No, new {@for = "Text_PhoneNumberUSANo"})
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <p>@Website_tvsi_v1.App_Resources.Website.Text_PaymentAddressUSA</p>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-3">
                                    <div class="radio radio-primary">
                                        @Html.RadioButtonFor(m => m.CustomerTransferBankUSA, 1, new {@id = "Text_PaymentAddressUSAYes"})
                                        @Html.LabelFor(m => m.CustomerTransferBankUSA, @Website_tvsi_v1.App_Resources.Website.Input_Yes, new {@for = "Text_PaymentAddressUSAYes"})
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="radio radio-primary">
                                        @Html.RadioButtonFor(m => m.CustomerTransferBankUSA, 0, new {@id = "Text_PaymentAddressUSANo"})
                                        @Html.LabelFor(m => m.CustomerTransferBankUSA, @Website_tvsi_v1.App_Resources.Website.Input_No, new {@for = "Text_PaymentAddressUSANo"})
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <p>@Website_tvsi_v1.App_Resources.Website.Text_AuthorizationLetterUSA</p>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-3">
                                    <div class="radio radio-primary">
                                        @Html.RadioButtonFor(m => m.CustomerAuthorizationUSA, 1, new {@id = "Text_AuthorizationLetterUSAYes"})
                                        @Html.LabelFor(m => m.CustomerAuthorizationUSA, @Website_tvsi_v1.App_Resources.Website.Input_Yes, new {@for = "Text_AuthorizationLetterUSAYes"})
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="radio radio-primary">
                                        @Html.RadioButtonFor(m => m.CustomerAuthorizationUSA, 0, new {@id = "Text_AuthorizationLetterUSANo"})
                                        @Html.LabelFor(m => m.CustomerAuthorizationUSA, @Website_tvsi_v1.App_Resources.Website.Input_No, new {@for = "Text_AuthorizationLetterUSANo"})
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <p>@Website_tvsi_v1.App_Resources.Website.Text_CustomerReceiveMail</p>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-3">
                                    <div class="radio radio-primary">
                                        @Html.RadioButtonFor(m => m.CustomerReceiveMailUSA, 1, new {@id = "Text_CustomerReceiveMailYes"})
                                        @Html.LabelFor(m => m.CustomerReceiveMailUSA, @Website_tvsi_v1.App_Resources.Website.Input_Yes, new {@for = "Text_CustomerReceiveMailYes"})
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="radio radio-primary">
                                        @Html.RadioButtonFor(m => m.CustomerReceiveMailUSA, 0, new {@id = "Text_CustomerReceiveMailNo"})
                                        @Html.LabelFor(m => m.CustomerReceiveMailUSA, @Website_tvsi_v1.App_Resources.Website.Input_No, new {@for = "Text_CustomerReceiveMailNo"})
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="accordion">
    <div class="col-md-12">
    <div class="card ribbon-wrapper">
    <div class="detail-content has-title-part">
    <div class="part">
    <div id="headingOne">
        <a href="#collapseOne" data-toggle="collapse" data-parent="#accordion" title="@Website_tvsi_v1.App_Resources.Website.txt_TitleService" aria-expanded="true" aria-controls="collapseOne">
            <div class="ribbon ribbon-danger">@Website_tvsi_v1.App_Resources.Website.txt_RegisterServices</div>
        </a>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="panel-body">
    <div class="wrapper">
    <div class="group-form">

    <div class="row">
        <div class="col-md-12">
            <div class="row form-group">
                <label class="col-md-3 m-t-5 text-left" style="color:#ff0000">@Website_tvsi_v1.App_Resources.Website.txt_OnlineTradeMethod</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @*<div class="row form-group">
                                                            <label class="col-md-3 m-t-5 text-left">@Website_tvsi_v1.App_Resources.Website.txt_TradeMethod</label>
                                                            <div class="col-md-4 m-t-5">
                                                                <div class="checkbox checkbox-primary">
                                                                    <input type="checkbox" name="TradeMethodPhone" id="TradeMethodPhone" class="chk-col-red" checked="@Model.TradeMethodPhone" value="@Model.TradeMethodPhone.ToString()">
                                                                    <label for="TradeMethodPhone">
                                                                        @Website_tvsi_v1.App_Resources.Website.txt_ByPhone
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 m-t-5">
                                                                <div class="checkbox checkbox-primary">
                                                                    <input type="checkbox" name="TradeMethodInternet" id="TradeMethodInternet" class="chk-col-red" checked="@Model.TradeMethodInternet" value="@Model.TradeMethodInternet.ToString()">
                                                                    <label for="TradeMethodInternet">@Website_tvsi_v1.App_Resources.Website.txt_ByInternet</label>
                                                                </div>
                                                            </div>
                                                        </div>*@
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row form-group">
                <label class="col-md-3 m-t-5 text-left">@Website_tvsi_v1.App_Resources.Website.txt_MethodTradeReceiving</label>
                <div class="col-md-4 m-t-5">
                    <div class="checkbox checkbox-primary">

                        <input type="checkbox" name="TradeResultSMS" id="TradeResultSMS" class="chk-col-red" checked="@Model.TradeResultSMS" value="@Model.TradeResultSMS.ToString()"/>
                        <label for="TradeResultSMS">
                            @Website_tvsi_v1.App_Resources.Website.txt_BySMS
                        </label>
                    </div>
                </div>
                <div class="col-md-4 m-t-5">
                    <div class="checkbox checkbox-primary">
                        <input type="checkbox" name="TradeResultEmail" id="TradeResultEmail" class="chk-col-red" checked="@Model.TradeResultEmail" value="@Model.TradeResultEmail.ToString()">
                        <label for="TradeResultEmail">@Website_tvsi_v1.App_Resources.Website.txt_ByEmail</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @*<div class="col-md-12">
                                                        <div class="row form-group">
                                                            <label class="col-md-3 m-t-5 text-left">@Website_tvsi_v1.App_Resources.Website.txt_MethodStatement</label>
                                                            <div class="col-md-4 m-t-5">
                                                                <div class="checkbox checkbox-primary">

                                                                    <input type="checkbox" name="MonthlyReportMail" id="MonthlyReportMail" class="chk-col-red" checked="@Model.MonthlyReportMail" value="@Model.MonthlyReportMail.ToString()" />
                                                                    <label for="MonthlyReportMail">
                                                                        @Website_tvsi_v1.App_Resources.Website.txt_RegisteredMail
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 m-t-5">
                                                                <div class="checkbox checkbox-primary">

                                                                    <input type="checkbox" name="MonthlyReportEMail" id="MonthlyReportEMail" class="chk-col-red" checked="@Model.MonthlyReportEMail" value="@Model.MonthlyReportEMail.ToString()">
                                                                    <label for="MonthlyReportEMail">@Website_tvsi_v1.App_Resources.Website.txt_ByEmail</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>*@
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row form-group">
                @*
                                                            <label class="col-md-3 m-t-5 text-left" style="color:#ff0000">@Website_tvsi_v1.App_Resources.Website.txt_MoneyDeposit</label>
                                                        *@
            </div>
        </div>
    </div>
    <div class="row">
        @*
                                                    <div class="col-md-12">
                                                        <div class="row form-group">
                                                            <label class="col-md-3 m-t-5 text-left">@Website_tvsi_v1.App_Resources.Website.txt_MoneyDepositOnline</label>
                                                            <div class="col-md-4 m-t-5">
                                                                <div class="checkbox checkbox-primary">
                                                                    <input type="checkbox" name="BankTransfer" id="BankTransfer" class="chk-col-red" checked="@Model.BankTransfer" value="@Model.BankTransfer.ToString()" />
                                                                    <label for="BankTransfer">
                                                                        @Website_tvsi_v1.App_Resources.Website.txt_TradetoBank
                                                                    </label>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                *@
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row form-group">
                <label class="col-md-3 m-t-5 text-left">@Website_tvsi_v1.App_Resources.Website.Txt_Phonenumber</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Phone_02, new {@class = "input-data", @onkeyup = @"if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')", @maxlength = "25", @placeholder = Website_tvsi_v1.App_Resources.Website.Txt_Phonenumber + " 02..."})
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row form-group">
                <label class="col-md-5 m-t-5 text-left" style="color:#ff0000">@Website_tvsi_v1.App_Resources.Website.txt_BankMaximum</label>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6">
            <div class="row form-group">
                <div class="row">
                    <label class="col-md-4 m-t-10">@Website_tvsi_v1.App_Resources.Website.txt_Bank 01</label>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.BankAccName_01, new {@class = "input-data", @maxlength = "50", @readonly = true, @placeholder = Website_tvsi_v1.App_Resources.Website.txt_AccountName})
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.BankAccNo_01, new {@class = "input-data", @maxlength = "25", @onkeyup = @"if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')", @placeholder = Website_tvsi_v1.App_Resources.Website.txt_BankAcc})
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.BankNo_01, (IEnumerable<SelectListItem>) ViewBag.BankList, "", new {@class = "input-data", @data_placeholder = Website_tvsi_v1.App_Resources.Website.txt_ChooseBank})
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.City_01, (SelectList) ViewBag.ProvinceList, Website_tvsi_v1.App_Resources.Website.txt_SelectCity, new {@class = "input-data"})
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.SubBranchNo_01, (SelectList) ViewBag.SubBranchList_01, "", new {@class = "input-data", @data_placeholder = Website_tvsi_v1.App_Resources.Website.txt_SelectBrach})
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row form-group">
                <div class="row">
                    <label class="col-md-4 m-t-10">@Website_tvsi_v1.App_Resources.Website.txt_Bank 02</label>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.BankAccName_02, new {@class = "input-data", @maxlength = "50", @readonly = true, @placeholder = Website_tvsi_v1.App_Resources.Website.txt_AccountName + " 02..."})
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.BankAccNo_02, new {@class = "input-data", @onkeyup = @"if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')", @maxlength = "25", @placeholder = Website_tvsi_v1.App_Resources.Website.txt_BankAcc + " 02..."})
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.BankNo_02, (SelectList) ViewBag.BankList, "", new {@class = "input-data", @data_placeholder = Website_tvsi_v1.App_Resources.Website.txt_ChooseBank})

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.City_02, (SelectList) ViewBag.ProvinceList, Website_tvsi_v1.App_Resources.Website.txt_SelectCity, new {@class = "input-data"})

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.SubBranchNo_02, (SelectList) ViewBag.SubBranchList_02, "", new {@class = "input-data", @data_placeholder = Website_tvsi_v1.App_Resources.Website.txt_SelectBrach})
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row form-group">
                <label class="col-md-3 m-t-5"></label>
                <div class="col-md-1">&nbsp;</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row form-group">
                <label class="col-md-3 m-t-5"></label>

            </div>
        </div>
    </div>

    <div class="row" style="display:none;">
        <div class="col-md-12">
            <div class="row form-group">
                <label class="col-md-3 m-t-5 text-left" style="color:#ff0000">@Website_tvsi_v1.App_Resources.Website.txt_InfoChannel</label>
                <div class="col-md-8">
                    <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="RegistChannelInfo" name="RegistChannelInfo" class="chk-col-red" checked="@Model.RegistChannelInfo" value="@Model.RegistChannelInfo.ToString()">
                        <label for="RegistChannelInfo">@Website_tvsi_v1.App_Resources.Website.txt_Register</label>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-3 m-t-5"></label>
                <div class="col-md-4">
                    <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="RegistChannelDirect" name="RegistChannelDirect" class="chk-col-purple" checked="@Model.RegistChannelDirect" value="@Model.RegistChannelDirect.ToString()">
                        <label for="RegistChannelDirect">@Website_tvsi_v1.App_Resources.Website.txt_SignedList</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="RegistItradeHome" name="RegistItradeHome" class="chk-col-purple" checked="@Model.RegistItradeHome" value="@Model.RegistItradeHome.ToString()">
                        <label for="RegistItradeHome">@Website_tvsi_v1.App_Resources.Website.txt_VerifiedItraHome</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="detail-content has-title-part" id="register">
                <div class="part">
                    <div class="wrapper">
                        <div class="group-form">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-2">@Website_tvsi_v1.App_Resources.Website.Txt_Securitycharacter (<span style="color: red">*</span>):</div>
                                        <div class="col-sm-4">
                                            @*<input type="text" name="kytubaomatcn" class="input-data" id="kytubaomatcn">*@
                                            @Html.TextBoxFor(x => x.kytubaomatcn, new {@class = "input-data", @required = "true", @maxlength = "5"})
                                        </div>
                                        <div class="col-sm-4">
                                            <img src="@Url.Action("GetCaptChaImageCanhan", "CaptCha")"/>
                                            @if (ViewBag.captcha != null)
                                            {
                                                <div style="border: 0px solid; color: red;">
                                                    @ViewBag.captcha
                                                </div>
                                            }
                                        </div>

                                    </div>
                                </div>
                            </div>
                            @*
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-offset-2 col-md-10">
                                                        <div class="g-recaptcha" data-sitekey="6LcdqcMUAAAAAMY7h4AkM-k14SnFa1A-kPbdG6Fc"></div>
                                                        @if (ViewBag.MessageReCapcha != null)
                                                        {
                                                            <div style="border: 0px solid; color: red">
                                                                @ViewBag.MessageReCapcha
                                                            </div>
                                                         }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="note-form">
                                                <div class="clr-f60101">@Website_tvsi_v1.App_Resources.Website.Txt_Notes:</div>
                                                <ul>
                                                    - @Website_tvsi_v1.App_Resources.Website.Txt_Allinformationkept
                                                    @Html.Raw(@Website_tvsi_v1.App_Resources.Website.Txt_ContentNotes)

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="group text-center">
                                    <button type="submit" class="button-default" onclick="return ValidateContactForm();">@Website_tvsi_v1.App_Resources.Website.Txt_Finish</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
}
<!-- Modal -->
@if (ViewBag.success != null && ViewBag.success)
{
    <script>
            $(function () {
                $("#succesModal").modal('show');
            });
        </script>
}
<div class="modal fade" id="succesModal" tabindex="-1" role="dialog" aria-labelledby="succesModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" aria-label="Close" onclick="ClosePopup();">
                    <span aria-hidden="true"></span>
                </button>
                <div class="messages-cnt">
                    <div class="lg-text">Đăng ký thành công</div>
                    <div class="sm-text">
                        TVSI sẽ liên lạc lại với Quý khách hàng trong vòng 24h làm việc
                    </div>
                    <div class="md-text">Xin chân thành cảm ơn!</div>
                </div>
            </div>
        </div>
    </div>
</div>


</section>

<script>

    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
    function ClosePopup() {
        $('#succesModal').modal('hide');
    }

    function checkForm(checkdate) {
        // regular expression to match required date format
        re = /^(\d{1,2})\/(\d{1,2})\/(\d{4})$/;

        if (checkdate.value != '') {
            if (regs = checkdate.value.match(re)) {
                // day value between 1 and 31
                if (regs[1] < 1 || regs[1] > 31) {
                    return false;
                }
                // month value between 1 and 12
                if (regs[2] < 1 || regs[2] > 12) {
                    return false;
                }
                // year value between 1902 and 2016
                if (regs[3] < 1902 || regs[3] > (new Date()).getFullYear()) {
                    return false;
                }
            } else {
                return false;
            }
        }
        return true;
    }
    function ValidateContactForm() {
        var name = document.getElementById("hoten");
        var ngaysinh = document.getElementById("ngaysinh");
        var cmnd = document.getElementById("cmnd");
        var ngaycapcmnd = document.getElementById("ngaycapcmnd");
        var noicap = document.getElementById("noicap");
        var sdt = document.getElementById("Phone_01");
        var diachi = document.getElementById("diachi");
        var email = document.getElementById("email");
        var txtCaptcha = document.getElementById("txtCaptcha");
        //var ck_ngaysinh = checkForm(ngaysinh);
        //if (ck_ngaysinh == false) {
        //    window.alert("Quý khách phải nhập Ngày Sinh theo định dạng dd/mm/yyyy");
        //    ngaysinh.focus();
        //    return false;
        //}
        //var ck_ngaycapcmnd = checkForm(ngaycapcmnd);
        //if (ck_ngaycapcmnd == false) {
        //    window.alert("Quý khách phải nhập ngày cấp số cmt theo định dạng dd/mm/yyyy");
        //    ngaycapcmnd.focus();
        //    return false;
        //}
        return true;
    }


    $(document).ready(function () {
    	
    	if ($("#noicap").val() == -1){
    		$("#noicapkhac").show();
    	}else{
    		$("#noicapkhac").hide();
    	}
    
    	$("#noicap").change(function (){
    		let value = $(this).val();
    		if (value == -1){
    			$("#noicapkhac").show();
    		}else{
    			$("#noicapkhac").hide();
    		}
    	});
    	
        $("#BankNo_01").flexselect();
        $("#SubBranchNo_01").flexselect();
        $("#BankNo_02").flexselect();
        $("#SubBranchNo_02").flexselect();

        $("#hoten").on("keypress keyup blur", function (event) {
            $("#BankAccName_01").val($("#hoten").val());
            $("#BankAccName_02").val($("#hoten").val());
        });
        $("#hoten").change(function (){
        	var text = $(this).val();
        	text = text.toLowerCase().replace(/^[\u00C0-\u1FFF\u2C00-\uD7FF\w]|\s[\u00C0-\u1FFF\u2C00-\uD7FF\w]/g, function(letter) {
                return letter.toUpperCase();
            });
        	$(this).val(text);
        });
        

        $("#BankNo_01").on("change", function () {
            var selectedVal = $(this).find(':selected').val();
            GetBankInfo(selectedVal, 1);

        });

        $("#BankNo_02").on("change", function () {
            var selectedVal = $(this).find(':selected').val();
            GetBankInfo(selectedVal, 2);
        });
    });


    //Chi cho nhap 4 so truong saleid
    $("#sale_id").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            //display error message
            $("#errmsg").html("Nhập 4 số từ 0-9").show().fadeOut("slow");
            return false;
        }
    });

    function GetBankInfo(bankNo, order) {
        if (order == 1) {
            // Clear list chi nhánh
            $("#SubBranchNo_01").html("");

            if (bankNo != '') {
                $.ajax({
                    url: '/Home/GetBankBranchInfo',
                    type: "POST",
                    dataType: "JSON",
                    data: { bankNo: bankNo },
                    success: function (result) {
                        $.each(result.data, function (i, branch) {
                            $("#SubBranchNo_01").append(
                                $('<option></option>').val(branch.BranchNo).html(branch.ShortBranchName));
                        });
                        //$("#SubBranchNo_01").selectpicker('refresh');

                        $("#SubBranchNo_01").flexselect();
                    }
                });
            } else if ($("#BankNo_01").val() == '') {

                $("#SubBranchNo_01").append(
                    $('<option></option>').val('').html('Chọn Chi nhánh...'));
                $("#SubBranchNo_01").flexselect();
            }
        }
        else if (order == 2) {
            // Clear list chi nhánh
            $("#SubBranchNo_02").html("");
            if (bankNo != '') {
                $.ajax({
                    url: '/Home/GetBankBranchInfo',
                    type: "POST",
                    dataType: "JSON",
                    data: { bankNo: bankNo },
                    success: function (result) {
                        $.each(result.data, function (i, branch) {
                            $("#SubBranchNo_02").append(
                                $('<option></option>').val(branch.BranchNo).html(branch.ShortBranchName));
                        });
                        //$("#SubBranchNo_02").selectpicker('refresh');
                        $("#SubBranchNo_02").flexselect();
                    }
                });
            } else {
                $("#SubBranchNo_02").append(
                    $('<option></option>').val('').html('Chọn Chi nhánh...'));
                $("#SubBranchNo_02").flexselect();
            }
        }
    }

    $("input[type=checkbox]").change(function () {
        if ($(this).prop("checked")) {
            $(this).val(true);
        } else {
            $(this).val(false);
        }
    });

    //file uploads
    //$(document).ready(function () {
    //    $('#TradeMethodPhone').change(function () {
    //        //console.log(this.checked);
    //        if (this.checked)
    //            $("#TradeMethodPhone").val("true");
    //        else
    //            $("#TradeMethodPhone").val("false");
    //    });
    //    $('#TradeMethodInternet').change(function () {
    //        //console.log(this.checked);
    //        if (this.checked)
    //            $("#TradeMethodInternet").val("true");
    //        else
    //            $("#TradeMethodInternet").val("false");
    //    });
    //    $('#TradeResultSMS').change(function () {
    //        //console.log(this.checked);
    //        if (this.checked)
    //            $("#TradeResultSMS").val("true");
    //        else
    //            $("#TradeResultSMS").val("false");
    //    });
    //    $('#TradeResultEmail').change(function () {
    //        //console.log(this.checked);
    //        if (this.checked)
    //            $("#TradeResultEmail").val("true");
    //        else
    //            $("#TradeResultEmail").val("false");
    //    });

    //    $('#MonthlyReportMail').change(function () {
    //        //console.log(this.checked);
    //        if (this.checked)
    //            $("#MonthlyReportMail").val("true");
    //        else
    //            $("#MonthlyReportMail").val("false");
    //    });

    //    $('#MonthlyReportEMail').change(function () {
    //        //console.log(this.checked);
    //        if (this.checked)
    //            $("#MonthlyReportEMail").val("true");
    //        else
    //            $("#MonthlyReportEMail").val("false");
    //    });


    //    $('#RegistChannelInfo').change(function () {
    //        //console.log(this.checked);
    //        if (this.checked)
    //            $("#RegistChannelInfo").val("true");
    //        else
    //            $("#RegistChannelInfo").val("false");
    //    });
    //    $('#RegistChannelDirect').change(function () {
    //        //console.log(this.checked);
    //        if (this.checked)
    //            $("#RegistChannelDirect").val("true");
    //        else
    //            $("#RegistChannelDirect").val("false");
    //    });

    //    $('#RegistItradeHome').change(function () {
    //        //console.log(this.checked);
    //        if (this.checked)
    //            $("#RegistItradeHome").val("true");
    //        else
    //            $("#RegistItradeHome").val("false");
    //    });

    //    $('#BankTransfer').change(function () {
    //        //console.log(this.checked);
    //        if (this.checked)
    //            $("#BankTransfer").val("true");
    //        else
    //            $("#BankTransfer").val("false");
    //    });
    //});


</script>

<script>
 $("#all-nodeactive").prop("checked", true);
 $("#all-deactive").prop("checked", false);
/*
 let allNoActice = $("#all-nodeactive").prop("checked");
*/
/* if(allNoActice){
 	$("#CustomerUSANo").prop("checked",true);
 	$("#Text_PlaceOfBirthTxtNo").prop("checked",true);
 	$("#Text_depositoryUSANo").prop("checked",true);
 	$("#Text_PhoneNumberUSANo").prop("checked",true);
 	$("#Text_PaymentAddressUSANo").prop("checked",true);
 	$("#Text_AuthorizationLetterUSANo").prop("checked",true);
 	$("#Text_CustomerReceiveMailNo").prop("checked",true);
 }*/
 $('#all-nodeactive').click(function (){
 	var checkall = $(this).val();
 	if(checkall){
     	$('#all-deactive').prop('checked', false);

 		 	$("#CustomerUSANo").prop("checked",true);
         	$("#Text_PlaceOfBirthTxtNo").prop("checked",true);
         	$("#Text_depositoryUSANo").prop("checked",true);
         	$("#Text_PhoneNumberUSANo").prop("checked",true);
         	$("#Text_PaymentAddressUSANo").prop("checked",true);
         	$("#Text_AuthorizationLetterUSANo").prop("checked",true);
         	$("#Text_CustomerReceiveMailNo").prop("checked",true);
         	
         	
         	 	$("#CustomerUSAYes").prop("checked",false);
                $("#Text_PlaceOfBirthTxtYes").prop("checked",false);
                $("#Text_depositoryUSAYes").prop("checked",false);
                $("#Text_PhoneNumberUSAYes").prop("checked",false);
                $("#Text_PaymentAddressUSAYes").prop("checked",false);
                $("#Text_AuthorizationLetterUSAYes").prop("checked",false);
                $("#Text_CustomerReceiveMailYes").prop("checked",false);
 	}
 });
$('#all-deactive').click(function (){

    var checkall = $(this).val();
     	if(checkall){
     	$('#all-nodeactive').prop('checked', false);

    
     		 	$("#CustomerUSANo").prop("checked",false);
             	$("#Text_PlaceOfBirthTxtNo").prop("checked",false);
             	$("#Text_depositoryUSANo").prop("checked",false);
             	$("#Text_PhoneNumberUSANo").prop("checked",false);
             	$("#Text_PaymentAddressUSANo").prop("checked",false);
             	$("#Text_AuthorizationLetterUSANo").prop("checked",false);
             	$("#Text_CustomerReceiveMailNo").prop("checked",false);
             	
             	
             	 	$("#CustomerUSAYes").prop("checked",true);
                    $("#Text_PlaceOfBirthTxtYes").prop("checked",true);
                    $("#Text_depositoryUSAYes").prop("checked",true);
                    $("#Text_PhoneNumberUSAYes").prop("checked",true);
                    $("#Text_PaymentAddressUSAYes").prop("checked",true);
                    $("#Text_AuthorizationLetterUSAYes").prop("checked",true);
                    $("#Text_CustomerReceiveMailYes").prop("checked",true);
     	}
});

    $("#sale_id").change(function (){
    	if ($(this).val() != undefined && $(this).val() != null && $(this).val() != ""){
    	   $.ajax({
                  url: '/Home/CheckIDSaleEMS',
                  type: "POST",
                  dataType: "JSON",
                  data: { saleid : $(this).val() },
                  success: function (result) {
                  	if (result.status == true){
                  	  $("#divShow").hide();
                      $("#dtMessage").text();
                  	}
                  	if (result.status == false){
                  		$("#divShow").show();
                  		$("#dtMessage").text(result.message);
                  	}
                  }
                  }); 	    		
    	}
    });

</script>