﻿@{
    Layout = "~/Views/home/Share/_Layout.cshtml";
    var chuyen_muc_ve_tvsi=(System.Data.DataTable)ViewBag.chuyen_muc_ve_tvsi;
    var thong_tin_ve_tvsi = (System.Data.DataTable)ViewBag.thong_tin_ve_tvsi;
}

<section id="wrapper-top-content">
    <div class="banner">
        <img src="/images/upload/ABOUTTVSI.png" alt="" class="background-banner">

        @*<div class="container">
            <h1 class="title-page dark">@thong_tin_ve_tvsi.Rows[0]["tieu_de"]</h1>
        </div>*@
    </div>
</section>
<section id="wrapper-content" class="inner-page">
    <div class="container">
        <div class="row di-table">
            <div class="sidebar di-table-cell vertical-top desktop">
                <div class="sidebar-box">
                    <div class="title">
                        @Website_tvsi_v1.App_Resources.Website.Txt_AboutTVSI
                    </div>
                    <div class="wrapper">
                        <ul class="list-unstyled">
                            @for (int i = 0; i < chuyen_muc_ve_tvsi.Rows.Count;i++ ){
                                if (thong_tin_ve_tvsi.Rows[0]["thong_tin_tvsiid"].ToString().Trim() == chuyen_muc_ve_tvsi.Rows[i]["thong_tin_tvsiid"].ToString().Trim())
                                {
                                    <li class="active"><a href="/introduction/about-tvsi/@chuyen_muc_ve_tvsi.Rows[i]["thong_tin_tvsiid"]"><i class="fa fa-caret-right"></i> @chuyen_muc_ve_tvsi.Rows[i]["tieu_de"]</a></li>
                                }
                                else
                                {
                                    <li ><a href="/introduction/about-tvsi/@chuyen_muc_ve_tvsi.Rows[i]["thong_tin_tvsiid"]"><i class="fa fa-caret-right"></i> @chuyen_muc_ve_tvsi.Rows[i]["tieu_de"]</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main-content di-table-cell vertical-top">
                @if (thong_tin_ve_tvsi != null)
                {
                    @Html.Raw(thong_tin_ve_tvsi.Rows[0]["noi_dung"].ToString());
                }
                 <script>
                     $(".panel-title a").attr("data-toggle", "collapse");
                     $(".panel-title a").attr("data-parent", "#accordion");
                </script>
            <div class="sidebar di-table-cell vertical-top mobile">
                <div class="sidebar-box">
                    <div class="title">
                        Về TVSI
                    </div>
                    <div class="wrapper">
                        <ul class="list-unstyled">
                            @for (int i = 0; i < chuyen_muc_ve_tvsi.Rows.Count;i++ ){
                                if (thong_tin_ve_tvsi.Rows[0]["thong_tin_tvsiid"].ToString().Trim() == chuyen_muc_ve_tvsi.Rows[i]["thong_tin_tvsiid"].ToString().Trim())
                                {
                                    <li class="active"><a href="/introduction/about-tvsi/@chuyen_muc_ve_tvsi.Rows[i]["thong_tin_tvsiid"]"><i class="fa fa-caret-right"></i> @chuyen_muc_ve_tvsi.Rows[i]["tieu_de"]</a></li>
                                }
                                else
                                {
                                    <li ><a href="/introduction/about-tvsi/@chuyen_muc_ve_tvsi.Rows[i]["thong_tin_tvsiid"]"><i class="fa fa-caret-right"></i> @chuyen_muc_ve_tvsi.Rows[i]["tieu_de"]</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
