﻿@{
    Layout = "~/Views/Home/Share/_Layout_Home.cshtml";
    var tinNoiBat = (System.Data.DataTable)ViewBag.tin_noi_bat;
    var tinTvsi = (System.Data.DataTable)ViewBag.tin_tvsi;
    var vnIndex = (Website_tvsi_v1.Models.StockMarketModel)ViewBag.vnIndex;
    var hnxIndex = (Website_tvsi_v1.Models.StockMarketModel)ViewBag.hnxIndex;
    var upcomIndex = (Website_tvsi_v1.Models.StockMarketModel)ViewBag.upcomIndex;
    var tin_first = (Website_tvsi_v1.Common.newswebsite.News)ViewBag.tin_first;
    var bnSlidehome = Website_tvsi_v1.App_Resources.ImageName.txt_slideHome;
    const string tinnoibat_jpg = ".jpg";
    var ngonnguId = Website_tvsi_v1.Common.CommonFnc.getLanguage(Request.Cookies[Website_tvsi_v1.Common.CommonConstant.name_lang_tvsi_wb]);
}
<section id="wrapper-top-content">
    <!-- wSlider -->
    <div id="main-slider" class="slider">
        <div class="slider_content">
            @{Html.RenderAction(bnSlidehome, "Home");}
        </div>
    </div>
    <!-- end of wSlider -->
    @*<div class="featured-box">
            <div class="container">
                <div class="row">
                    <div class="tab-news news">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab"
                                data-toggle="tab">@Website_tvsi_v1.App_Resources.Website.Text_HotNews</a></li>
                            <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">@Website_tvsi_v1.App_Resources.Website.Txt_TVSINotice</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="tab1">
                                <div class="list-simple">
                                    <div class="featured item clearfix">
                                        <a href="#" class="thumb">

                                            @if (tinNoiBat.Rows[0]["ImageUrl"].ToString() == "")
                                            {
                                                <img src="/images/upload/fearured-news.png" alt=".." width="94">
                                            }
                                            else
                                            {
                                                <img src="https://fp.tvsi.com.vn/NewsImages/@tinNoiBat.Rows[0]["ImageUrl"]@tinnoibat_jpg" alt=".." width="94">

                                            }
                                        </a>

                                        <div class="wrapper">
                                            <a href="http://finance.tvsi.com.vn/news/detailNews?newsId=@tinNoiBat.Rows[0]["newsid"]" class="title">@Website_tvsi_v1.Common.CommonFnc.SubString(tinNoiBat.Rows[0]["title"].ToString(), 45)
                                                <span class="time">(@Website_tvsi_v1.Common.CommonFnc.FormatDate(tinNoiBat.Rows[0]["date"].ToString()))</span> </a>
                                            <div class="content">
                                                @Website_tvsi_v1.Common.CommonFnc.SubString(tinNoiBat.Rows[0]["description"].ToString(), 120)
                                            </div>
                                            <div class="content" style="padding-top: 10px;">
                                                <a class="tdu" href="http://finance.tvsi.com.vn/news/overview" style="color: #4254c0;"><i class="fa fa-angle-right" aria-hidden="true"></i>@Website_tvsi_v1.App_Resources.Website.Txt_SeeMore</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <a href="http://finance.tvsi.com.vn/news/detailNews?newsId=@tinNoiBat.Rows[1]["newsid"]" class="title"><i class="fa fa-caret-right"></i><span>@Website_tvsi_v1.Common.CommonFnc.SubString(tinNoiBat.Rows[1]["title"].ToString(), 40)</span>
                                            <span class="time">(@Website_tvsi_v1.Common.CommonFnc.FormatDate(tinNoiBat.Rows[1]["date"].ToString()))</span></a>

                                    </div>
                                    <div class="item">
                                        <a href="http://finance.tvsi.com.vn/news/detailNews?newsId=@tinNoiBat.Rows[2]["newsid"]" class="title"><i class="fa fa-caret-right"></i><span>@Website_tvsi_v1.Common.CommonFnc.SubString(tinNoiBat.Rows[2]["title"].ToString(), 40)</span><span
                                            class="time">(@Website_tvsi_v1.Common.CommonFnc.FormatDate(tinNoiBat.Rows[2]["date"].ToString()))</span></a>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tab2">
                                <div class="list-simple">
                                    <div class="featured item">
                                        <a href="#" class="thumb">

                                            @if (tinTvsi.Rows[0]["ImageUrl"].ToString() == "")
                                            {
                                                <img src="/images/upload/fearured-news.png" alt=".." width="94">
                                            }
                                            else
                                            {
                                                <img src="https://fp.tvsi.com.vn/NewsImages/@tinTvsi.Rows[0]["ImageUrl"]@tinnoibat_jpg" alt=".." width="94">

                                            }
                                        </a>

                                        <div class="wrapper">
                                            <a href="http://finance.tvsi.com.vn/news/detailNews?newsId=@tinTvsi.Rows[0]["newsid"]" class="title">@Website_tvsi_v1.Common.CommonFnc.SubString(tinTvsi.Rows[0]["title"].ToString(), 45)
                                                (@Website_tvsi_v1.Common.CommonFnc.FormatDate(tinTvsi.Rows[0]["date"].ToString()))</a>

                                            <div class="content">
                                                @Website_tvsi_v1.Common.CommonFnc.SubString(tinTvsi.Rows[0]["description"].ToString(), 120)
                                            </div>
                                            <div class="content" style="padding-top: 10px;">
                                                <a class="tdu" href="http://finance.tvsi.com.vn/news/TvsiNews" style="color: #4254c0;"><i class="fa fa-angle-right" aria-hidden="true"></i>@Website_tvsi_v1.App_Resources.Website.Txt_SeeMore</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <a href="http://finance.tvsi.com.vn/news/detailNews?newsId=@tinTvsi.Rows[1]["newsid"]" class="title"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.Common.CommonFnc.SubString(tinTvsi.Rows[1]["title"].ToString(), 40)</a>
                                        <span class="time">(@Website_tvsi_v1.Common.CommonFnc.FormatDate(tinTvsi.Rows[1]["date"].ToString()))</span>
                                    </div>
                                    <div class="item">
                                        <a href="http://finance.tvsi.com.vn/news/detailNews?newsId=@tinTvsi.Rows[2]["newsid"]" class="title"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.Common.CommonFnc.SubString(tinTvsi.Rows[2]["title"].ToString(), 40)</a>
                                        <span class="time">(@Website_tvsi_v1.Common.CommonFnc.FormatDate(tinTvsi.Rows[2]["date"].ToString()))</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-news market-indicators" id="marketIndicators">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a onclick="changeTabMarket('HOSTC');" role="tab" data-toggle="tab">VN-INDEX</a>
                            </li>
                            <li role="presentation">
                                <a onclick="changeTabMarket('HASTC');" role="tab" data-toggle="tab">HNX-INDEX</a>
                            </li>
                            <li role="presentation">
                                <a onclick="changeTabMarket('UPCOM');" role="tab" data-toggle="tab">UPCOM-INDEX</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content" id="tabMarketID">
                            @{Html.RenderAction("tabMarket", "Upload", new { exchange = "HOSTC" });}
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
</section>
<section id="wrapper-content">
    @*class="fixed inner open"*@
    <div id="quick-link" class="fixed inner">
        @{Html.RenderAction("LinkSlider", "Home");}

    </div>
    <div class="featured-box">
        <div class="container">
            <div class="row" style="margin-top:10px;">
                <div class="col-sm-7" style="margin-bottom: 5px;">
                    <ul class="nav nav-tabs" role="tablist" style="border: 0px;">
                        <li role="presentation" class="active">
                            <a href="#" role="tab" style="background: #ed1c24; color: #fff; border: 0px solid transparent; border-radius: 0px 0px 0 0">@Website_tvsi_v1.App_Resources.Website.Text_HotNews</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row" style="margin-bottom: 5px;">
                <div class="col-sm-7">
                    <div class="item" style="margin-top: 5px; text-align: justify;">
                        <a href="https://finance.tvsi.com.vn/news/detailNews?newsId=@tinNoiBat.Rows[0]["newsid"]" class="title">
                            <i class="fa fa-caret-right"></i>&nbsp;<span>@Website_tvsi_v1.Common.CommonFnc.SubString(tinNoiBat.Rows[0]["title"].ToString(), 80)</span>
                            <span class="time">(@Website_tvsi_v1.Common.CommonFnc.FormatDate(tinNoiBat.Rows[0]["date"].ToString()))</span>
                        </a>

                    </div>
                    <div class="item" style="margin-top: 5px; text-align: justify;">
                        <a href="https://finance.tvsi.com.vn/news/detailNews?newsId=@tinNoiBat.Rows[1]["newsid"]" class="title">
                            <i class="fa fa-caret-right"></i>&nbsp;<span>@Website_tvsi_v1.Common.CommonFnc.SubString(tinNoiBat.Rows[1]["title"].ToString(), 80)</span><span class="time">(@Website_tvsi_v1.Common.CommonFnc.FormatDate(tinNoiBat.Rows[1]["date"].ToString()))</span>
                        </a>
                    </div>

                </div>

                <div class="col-sm-5" style="margin-bottom: 5px;">

                    <div class="item" style="margin-top: 5px; text-align: justify; ">
                        <a href="https://finance.tvsi.com.vn/news/detailNews?newsId=@tinNoiBat.Rows[2]["newsid"]" class="title"><i class="fa fa-caret-right"></i>&nbsp;@Website_tvsi_v1.Common.CommonFnc.SubString(tinNoiBat.Rows[2]["title"].ToString(), 70)</a>
                        <span class="time">(@Website_tvsi_v1.Common.CommonFnc.FormatDate(tinNoiBat.Rows[2]["date"].ToString()))</span>
                    </div>
                    <div class="item" style="margin-top: 5px; text-align: justify;">
                        <a href="https://finance.tvsi.com.vn/news/detailNews?newsId=@tinNoiBat.Rows[3]["newsid"]" class="title"><i class="fa fa-caret-right"></i>&nbsp;@Website_tvsi_v1.Common.CommonFnc.SubString(tinNoiBat.Rows[3]["title"].ToString(), 70)</a>
                        <span class="time">(@Website_tvsi_v1.Common.CommonFnc.FormatDate(tinNoiBat.Rows[3]["date"].ToString()))</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="featured-boxes" style="margin-top: 0px !important;">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="featured-box analysis-tools">
                        <div class="title">
                            @Website_tvsi_v1.App_Resources.Website.Txt_AnalysisCenter <i class="fa fa-angle-down"></i>
                    </div>
                    <div class="wrapper">
                        <div class="list">
                            <div class="item">
                                <a href="https://finance.tvsi.com.vn/news/AnalysisReportView"><i class="demo-icon icon-tvsi-bc-phan-tich">&#xe8040;</i><span>@Website_tvsi_v1.App_Resources.Website.Txt_AnalysisReport</span></a>
                            </div>
                            <div class="item">
                                <a href="https://finance.tvsi.com.vn/Data/IndicesStats"><i class="demo-icon icon-tvsi-thong-ke">&#xe8000;</i><span>@Website_tvsi_v1.App_Resources.Website.Txt_StatisticalData</span></a>
                            </div>
                            <div class="item">
                                <a href="https://finance.tvsi.com.vn/"><i class="demo-icon icon-tvsi-cc-phan-tich">&#xe8050;</i><span>@Website_tvsi_v1.App_Resources.Website.Txt_ToolAnalysis</span></a>
                            </div>
                            <div class="item">
                                <a href="https://finance.tvsi.com.vn/news/overview"><i class="demo-icon icon-tvs-tin-tuc">&#xe8010;</i> <span>@Website_tvsi_v1.App_Resources.Website.Txt_NewsEvent</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="thumb">
                        <img src="/images/featured-box-1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="featured-box analysis-tools">
                    <div class="title">
                        @Website_tvsi_v1.App_Resources.Website.Txt_IndividualCustomers <i class="fa fa-angle-down"></i>
                </div>
                <div class="wrapper">
                    <ul class="list">
                        <li><a href="/product-services/customer-personal/@Website_tvsi_v1.App_Resources.IdMapper.id_spMoigioichungkhoan"><i class="demo-icon icon-icon_moigioichungkhoan-"></i> @Website_tvsi_v1.App_Resources.Website.Text_Brokerage</a></li>
                        <li><a href="/product-services/customer-personal/@Website_tvsi_v1.App_Resources.IdMapper.id_chungkhoanphaisinh"><i class="demo-icon icon-tvsi-ck-phai-sinh">&#xe8030;</i> @Website_tvsi_v1.App_Resources.Website.Txt_Derivatives</a></li>
                        <li><a href="/product-services/customer-personal/@Website_tvsi_v1.App_Resources.IdMapper.id_spgiaodichkyquy"><i class="demo-icon icon-tvsi-dv-tai-chinh">&#xe8020;</i>@Website_tvsi_v1.App_Resources.Website.Txt_FinancialServices</a></li>
                        <li><a href="/product-services/customer-personal/@Website_tvsi_v1.App_Resources.IdMapper.id_spLuukychungkhoan"><i class="demo-icon icon-icon_dichvutaichinh"></i> @Website_tvsi_v1.App_Resources.Website.Text_SecurityServices</a></li>
                    </ul>
                </div>
                <div class="thumb">
                    <img src="/images/upload/featured-2.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="featured-box analysis-tools">
                <div class="title">
                    @Website_tvsi_v1.App_Resources.Website.Txt_CorporateCustomersIndex <i class="fa fa-angle-down"></i>
            </div>
            <div class="wrapper">
                <ul class="list">
                    <li><a href="/product-services/customer-business/@Website_tvsi_v1.App_Resources.IdMapper.id_spTuvanthitruongvon"><i class="demo-icon icon-icon_tuvanthitruongvon-"></i> @Website_tvsi_v1.App_Resources.Website.Txt_CapitalMarketConsultancy</a></li>
                    <li><a href="/product-services/customer-business/@Website_tvsi_v1.App_Resources.IdMapper.id_spTuvanthitruongno"><i class="demo-icon icon-icon_tuvanthitruongno"></i> @Website_tvsi_v1.App_Resources.Website.Txt_DebtMarketConsultancy</a></li>
                    <li><a href="/product-services/customer-business/@Website_tvsi_v1.App_Resources.IdMapper.id_spNghiepvunhdt"><i class="demo-icon icon-icon_nghiepvunganhangdautu-"></i> @Website_tvsi_v1.App_Resources.Website.Txt_MAConsultancy</a></li>
                    <li><a href="/product-services/customer-business/@Website_tvsi_v1.App_Resources.IdMapper.id_spDichvuchungkhoan"><i class="demo-icon icon-icon_dichvuchungkhoan-11"></i> @Website_tvsi_v1.App_Resources.Website.Text_SecurityServices</a></li>
                </ul>
            </div>
            <div class="thumb">
                <img src="/images/upload/featured-3.png" alt="">
            </div>
        </div>
    </div>

</div>
</div>
</div>
</section>
<script>
    //document.getElementById("chartMarketId").style.display = "none";
    function changeTabMarket(exchange) {
        $.ajax({
            url: "/Upload/tabMarket",
            data: { exchange: exchange },
            cache: false,
            type: "GET",
            dataType: "html",
            success: function (data, textStatus, XMLHttpRequest) {
                $("#tabMarketID").html(data); // HTML DOM replace
            }
        });
    }
    $("#marketIndicators").mouseover(function () {
        document.getElementById("chartMarketId").style.display = "block";
    });
    $("#marketIndicators").mouseleave(function () {
        document.getElementById("chartMarketId").style.display = "none";
    });
</script>



@*// Popup thông báo*@


<script>
    $(document).ready(function () {
        $("#succesModal").modal('show');
        //checkCookie();
        window.addEventListener('click', function (e) {
            $('#succesModal').modal('hide');
        });
    });
    function setCookie(cname, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        let expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + expires + ";path=/";
    }

    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function checkCookie() {
       
        setCookie("tvsicookie", 1);
        if (setCookie != "") {
            $("#succesModal").modal('hide');
        } else {

            if (setCookie != "" && setCookie != null) {
                $("#succesModal").modal('show');
            }
        }
    }

</script>


<script>
    function ClosePopup() {
        $('#succesModal').modal('hide');
        //window.location = "/home/index";

    }
</script>


<div class="modal fade" id="succesModal" tabindex="-1" role="dialog" aria-labelledby="succesModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" aria-label="Close" onclick="ClosePopup();"><span aria-hidden="true"></span></button>
                <a href="https://bit.ly/3bkSezu">
                    <img src="/images/popup_tvsi_new.jpg">
                </a>

                @*@if (ngonnguId == 2)
                    {
                         <div class="messages-cnt">
                            <div class="md-text">
                                Dear Valued Customers,
                            </div>
                            <div class="sm-text">
                                Pursuant to the official Urgent Dispatch No. 133/SGDHCM-TV dated 22 Jan 2018 of Ho Chi Minh Stock Exchange (HOSE) announced as follows:

                            </div>
                            <div style="font-weight: normal; margin-top: 7px; line-height: 2; text-align: left;">
                                1.	Ho Chi Minh Stock Exchange (HOSE) stop working on 23 Jan 2018.
                                   <br />
                                2.	Ho Chi Minh Stock Exchange (HOSE) will announce the time to re-open as soon as possible.
                                <br />
                                3.	The closing price on 22 Jan 2018 is the last executed transactions at the end of the day.
                                <br />
                                TVSI sends this notice to investors to plan for stock trading.
                                <br />
                                Best regards and thank you,
                                <br />
                                <i>Tan Viet Securities Incorporation</i>

                            </div>

                        </div>
                    }
                    else
                    {
                        <div class="messages-cnt">
                            <div class="md-text">
                                Kính gửi: Quý Nhà đầu tư TVSI,
                            </div>
                            <div class="sm-text">
                                Căn cứ Công văn Khẩn số 133/SGDHCM-TV ngày 22/1/2018 của Sở giao dịch Chứng khoán Thành phố Hồ Chí Minh thông báo về Tổ chức giao dịch ngày 23/1/2018 như sau:

                            </div>
                            <div style="font-weight: normal; margin-top: 7px; line-height: 2; text-align: left;">
                                1.Sở giao dịch Chứng khoán Thành phố Hồ Chí Minh ngừng giao dịch ngày 23/1/2018;
                                   <br />
                                2.Sở giao dịch Chứng khoán Thành phố Hồ Chí Minh sẽ Thông báo thời gian mở cửa giao dịch trở lại trong thời gian sớm nhất.

                                <br />
                                3.Giá đóng cửa của chứng khoán ngày 22/1/2018 là giá khớp lệnh cuối cùng trong ngày.
                                <br />
                                TVSI kính báo để Nhà đầu tư nắm rõ thông tin và chủ động trong giao dịch.
                                <br />
                                Trân trọng.
                                <br />
                                <i>Chứng khoán Tân Việt (TVSI)</i>

                            </div>

                        </div>
                    }*@

            </div>
        </div>
    </div>
</div>
