﻿@{
    Layout = "~/Views/Home/Share/_Layout.cshtml";
    var thong_tin_selected = (System.Data.DataTable)ViewBag.thong_tin_selected;
}
<section id="wrapper-top-content">
    <div class="banner">
        <img src="/images/upload/gioithieu_Tongquan_banner.png" alt="" class="background-banner">
        <div class="container">
            <h1 class="title-page">@Website_tvsi_v1.App_Resources.Website.Text_Disclaimer</h1>
        </div>
    </div>
</section>
<section id="wrapper-content" class="inner-page">
    @Html.Raw(thong_tin_selected.Rows[0]["noi_dung"].ToString())
</section>






