﻿<div class="container">
    <div id="quick-link-status">
        <div class="on">
            <span class="text">@Website_tvsi_v1.App_Resources.Website.Txt_Hide</span> <i class="fa fa-angle-up"></i>
        </div>
        <div class="off">
            <span class="text">@Website_tvsi_v1.App_Resources.Website.Txt_Linksfast</span> <i class="fa fa-angle-down"></i>
        </div>
    </div>
    <!-- wSlider -->
    <div id="quick-link-slider" class="slider">
        <div class="slider_content desktop">
            <div class="item_wrapper">
                <!-- Repeat 3 -->
                <div class="item">
                    <a href="https://itrade-home.tvsi.com.vn"><img class="thumb" alt="" src="/images/upload/@Website_tvsi_v1.App_Resources.ImageName.img_itradehome" /></a>
                </div>
                <div class="item">
                    <a href="http://price.tvsi.com.vn/">
                        <img class="thumb" alt="" src="/images/upload/@Website_tvsi_v1.App_Resources.ImageName.img_tvsiprice" />
                    </a>
                </div>
                <div class="item">
                    <a href="/customer-support/guide-search/@Website_tvsi_v1.App_Resources.IdMapper.id_hotroTracuucc"><img class="thumb" alt="" src="/images/upload/@Website_tvsi_v1.App_Resources.ImageName.img_tvsicontact" /></a>
                </div>
                <div class="item">
                    <a href="https://bond.tvsi.com.vn/Login.aspx" target="_blank"><img class="thumb" alt="" src="/images/upload/@Website_tvsi_v1.App_Resources.ImageName.img_tvsibond" /></a>
                </div>
                <div class="item">
                    <a href="/product-services/trading-online/@Website_tvsi_v1.App_Resources.IdMapper.id_TVSIMobile"><img class="thumb" alt="" src="/images/upload/@Website_tvsi_v1.App_Resources.ImageName.img_tvsimobile" /></a>
                </div>
                <div class="item">
                    <a href="/product-services/trading-online/@Website_tvsi_v1.App_Resources.IdMapper.id_iTradePro"><img class="thumb" alt="" src="/images/upload/@Website_tvsi_v1.App_Resources.ImageName.img_itradepro" /></a>
                </div>
                <!-- end of repeat 3 -->
            </div>
            <span class="next ctrl"></span>
            <span class="prev ctrl"></span>
        </div>
        <div class="slider_content mobile">
            <div class="item_wrapper">
                <!-- Repeat 3 -->
                <div class="item">
                    <a href="https://itrade-home.tvsi.com.vn/Logon"><img class="thumb" alt="" src="/images/upload/@Website_tvsi_v1.App_Resources.ImageName.img_itradehome" /></a>
                </div>
                <div class="item">
                    <a href="http://price.tvsi.com.vn/">
                        <img class="thumb" alt="" src="/images/upload/@Website_tvsi_v1.App_Resources.ImageName.img_tvsiprice" />
                    </a>
                </div>
                <div class="item">
                    <a href="/customer-support/guide-search/@Website_tvsi_v1.App_Resources.IdMapper.id_hotroTracuucc"><img class="thumb" alt="" src="/images/upload/@Website_tvsi_v1.App_Resources.ImageName.img_tvsicontact" /></a>
                </div>
                <div class="item">
                    <a href="/home/open-account"><img class="thumb" alt="" src="/images/upload/@Website_tvsi_v1.App_Resources.ImageName.img_tvsiaccount" /></a>
                </div>
                <div class="item">
                    <a href="/product-services/trading-online/@Website_tvsi_v1.App_Resources.IdMapper.id_TVSIMobile"><img class="thumb" alt="" src="/images/upload/@Website_tvsi_v1.App_Resources.ImageName.img_tvsimobile" /></a>
                </div>
                <div class="item">
                    <a href="/product-services/trading-online/@Website_tvsi_v1.App_Resources.IdMapper.id_iTradePro"><img class="thumb" alt="" src="/images/upload/@Website_tvsi_v1.App_Resources.ImageName.img_itradepro" /></a>
                </div>
                <!-- end of repeat 3 -->
            </div>
            <span class="next ctrl"></span>
            <span class="prev ctrl"></span>
        </div>
    </div>
    <!-- end of wSlider -->
    <script>
        $('.desktop .item_wrapper', $('#quick-link-slider')).bxSlider({
            slideSelector: '.item',
            minSlides: 3,
            maxSlides: 5,
            slideWidth: 211,
            moveSlides: 1,
            pager: false,
            nextSelector: '#quick-link-slider .desktop .next',
            prevSelector: '#quick-link-slider .desktop .prev',
            nextText: '',
            prevText: '',
            infiniteLoop: false
        });
        $('.mobile .item_wrapper', $('#quick-link-slider')).bxSlider({
            slideSelector: '.item',
            minSlides: 2,
            maxSlides: 2,
            slideWidth: 150,
            moveSlides: 1,
            pager: false,
            nextSelector: '#quick-link-slider .mobile .next',
            prevSelector: '#quick-link-slider .mobile .prev',
            nextText: '',
            prevText: '',
            infiniteLoop: false
        });
    </script>
</div>