﻿@{
    Layout = null;
}

<div id="transaction-network">
    <div class="container" id="mangluoi_container">
        <div class="title-part">
            <span>@Website_tvsi_v1.App_Resources.MangLuoiGD.txt_mangluoi</span> <i class="fa fa-angle-down"></i>
        </div>
        <div class="wrapper">
            <div class="list">
                <div class="item">
                    <div class="title">
                        @Website_tvsi_v1.App_Resources.MangLuoiGD.txt_Trusochinh
                    </div>
                    <address class="wrapper">
                        @Html.Raw(Website_tvsi_v1.App_Resources.MangLuoiGD.txt_dichitrusochinh)
                    </address>
                </div>
                <div class="item">
                    <div class="title">
                        @Website_tvsi_v1.App_Resources.MangLuoiGD.txt_cnmydinh
                    </div>
                    <address class="wrapper">
                        @Html.Raw(Website_tvsi_v1.App_Resources.MangLuoiGD.txt_diachicnmydinh)
                    </address>
                </div>
                <div class="item">
                    <div class="title">
                        @Website_tvsi_v1.App_Resources.MangLuoiGD.txt_cnhaiphong
                    </div>
                    <address class="wrapper">
                        @Html.Raw(Website_tvsi_v1.App_Resources.MangLuoiGD.txt_diachicnhaiphong)
                    </address>
                </div>
                <div class="item">
                    <div class="title">
                        @Website_tvsi_v1.App_Resources.MangLuoiGD.txt_cndanang
                    </div>
                    <address class="wrapper">
                        @Html.Raw(Website_tvsi_v1.App_Resources.MangLuoiGD.txt_diachicndanang)
                    </address>
                </div>
                <div class="item">
                    <div class="title">
                        @Website_tvsi_v1.App_Resources.MangLuoiGD.txt_cnquynhon
                    </div>
                    <address class="wrapper">
                        @Html.Raw(Website_tvsi_v1.App_Resources.MangLuoiGD.txt_diachicnquynhon)
                    </address>
                </div>
                <div class="item">
                    <div class="title">
                        @Website_tvsi_v1.App_Resources.MangLuoiGD.txt_cnhochiminh
                    </div>
                    <address class="wrapper">
                        @Html.Raw(Website_tvsi_v1.App_Resources.MangLuoiGD.txt_diacnhochiminh)
                    </address>
                </div>
                <div class="item">
                    <div class="title">
                        @Website_tvsi_v1.App_Resources.MangLuoiGD.txt_cnngockhanh
                    </div>
                    <address class="wrapper">
                        @Html.Raw(Website_tvsi_v1.App_Resources.MangLuoiGD.txt_diachicnngockhanh)
                    </address>
                </div>
                
                <div class="item">
                    <div class="title">
                        @Website_tvsi_v1.App_Resources.MangLuoiGD.txt_cnthanglong
                    </div>
                    <address class="wrapper">
                        @Html.Raw(Website_tvsi_v1.App_Resources.MangLuoiGD.txt_diachicnthanglong)
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-menu">
    <div class="container">
        <div class="row">
            <div class="wrapper-list">
                <div class="bottom-menu-box-left-firt">
                    <div class="title">
                        @Website_tvsi_v1.App_Resources.Website.Txt_Guidance
                    </div>
                    <ul>
                        <li><a href="/customer-support/guide-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_hotroMotaikhoan">@Website_tvsi_v1.App_Resources.Website.Text_OpenAccount</a></li>
                        <li><a href="/customer-support/guide-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_hotroGiaodichcp">@Website_tvsi_v1.App_Resources.Website.Txt_SecuritiesTrading</a></li>
                        <li><a href="/customer-support/guide-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_hotroGiaodichkyquy">@Website_tvsi_v1.App_Resources.Website.Txt_MarginTrading</a></li>
                        <li><a href="/customer-support/guide-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_hotroNoptien">@Website_tvsi_v1.App_Resources.Website.Txt_CashTransaction</a></li>
                        <li><a href="/customer-support/guide-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_hotroHdtracuvaqlts">@Html.Raw(Website_tvsi_v1.App_Resources.Website.Txt_SearchManageF)</a></li>
                    </ul>
                </div>
                <div class="bottom-menu-box">
                    <div class="title">
                        @Website_tvsi_v1.App_Resources.Website.Txt_TvsiOverview
                    </div>
                    <ul>
                        <li><a href="/introduction/about-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_tongquantvsi">@Website_tvsi_v1.App_Resources.Website.Txt_AboutTVSI</a></li>
                        <li><a href="/introduction/activity-tvsi">@Website_tvsi_v1.App_Resources.Website.Txt_NewsactivitiesF</a></li>
                        <li><a href="/introduction/report-finance">@Html.Raw(Website_tvsi_v1.App_Resources.Website.Txt_ShareholderrelationsF)</a></li>
                        <li><a href="/introduction/opportunity-job/@Website_tvsi_v1.App_Resources.IdMapper.id_moitruonglamviec">@Html.Raw(Website_tvsi_v1.App_Resources.Website.Txt_CareersF)</a></li>
                    </ul>
                </div>
                <div class="bottom-menu-box" >
                    <div class="title">
                        @Website_tvsi_v1.App_Resources.Website.Txt_Tools
                    </div>
                    <ul>
                        <li><a href="https://finance.tvsi.com.vn/tools/topcompany">@Website_tvsi_v1.App_Resources.Website.Txt_TopCorporates</a></li>
                        <li><a href="https://finance.tvsi.com.vn/tvsita">@Html.Raw(Website_tvsi_v1.App_Resources.Website.Txt_FooterTech)</a></li>
                        <li><a href="https://finance.tvsi.com.vn/TVSITA/ReStock/Cophieumua">@Html.Raw(Website_tvsi_v1.App_Resources.Website.Txt_IRA)</a></li>
                        <li><a href="https://finance.tvsi.com.vn/Data/ChartTVSI">@Html.Raw(Website_tvsi_v1.App_Resources.Website.Txt_TechnicalChart)</a></li>
                        <li><a href="https://finance.tvsi.com.vn/tools/CompareSymbol">@Website_tvsi_v1.App_Resources.Website.Text_Comparecorporate</a></li>
                        <li><a href="https://finance.tvsi.com.vn/tools/CompareIndustry">@Website_tvsi_v1.App_Resources.Website.Text_CompareIndustry</a></li>
                    </ul>
                </div>
                <div class="bottom-menu-box" >
                    <div class="title">
                        @Html.Raw(Website_tvsi_v1.App_Resources.Website.Txt_CustomerServicesF)
                    </div>
                    <ul>
                        <li><a href="/customer-support/answer-faq">FAQs</a></li>
                        <li><a href="/customer-support/answer-knowledge">@Website_tvsi_v1.App_Resources.Website.Txt_knowledge</a></li>
                        <li><a href="/customer-support/guide-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_hotroCabmaubieu">@Website_tvsi_v1.App_Resources.Website.Text_DocumentForm</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="bottom-links">
                    <a href="#">@Website_tvsi_v1.App_Resources.Website.alt_MasterPage_ContactUs</a>
                    <a href="/home/site-map">@Website_tvsi_v1.App_Resources.Website.alt_MasterPage_SiteMap</a>
                    <a href="/home/terms-use">@Website_tvsi_v1.App_Resources.Website.Text_Disclaimer</a>
                </div>
                <div class="copy-right clr-f60101">
                    @Website_tvsi_v1.App_Resources.Website.Text_MasterPage_Copyright
                </div>
            </div>
            <div class="col-sm-6 text-right">
                <div class="contact-bottom">
                    Email: <a href="mailto:contact@tvsi.com.vn " class="clr-f60101">contact@tvsi.com.vn</a> -
                        Hotline: <span class="clr-f60101">19001885</span>
                </div>
                <div class="contact-bottom">
                    @*<span>Ứng dụng GDCK của TVSI</span>*@
                    <div class="social">
                        <a href="https://itunes.apple.com/us/app/tvsi-mobile/id962202711?mt=8" class="appStore">
                            <img src="/images/appstore.png"></a>
                        <a href="https://play.google.com/store/apps/details?id=vn.innotech.tvsi.mts" class="appStore">
                            <img src="/images/gg-CH.png"></a>
                        <a href="https://www.facebook.com/tvsi.com.vn" class="appStore facebook">
                            <img src="/images/facebook.png">
                        </a>
                        <a href="https://www.linkedin.com/company/tan-viet-securities-incorporation/" class="appStore google-plus">
                            <img src="/images/LinkedIn.png"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
