﻿@{
    Layout = null;
    var spdv_menu_header = ViewBag.spdv_menu_header;
    var hotro_menu_header = ViewBag.hotro_menu_header;
    var gttvsi_menu_header = ViewBag.gttvsi_menu_header;
}

<div class="mobile">
    <div class="top-header text-center">
        <span class="user-actions">
            <a href="@Website_tvsi_v1.App_Resources.Website.txt_linkOpenAcc"><span>@Website_tvsi_v1.App_Resources.Website.Text_OpenAccount</span></a>
        </span>
        <span class="user-actions">
            <a id="dangnhap" href="https://itrade-home.tvsi.com.vn/Logon?lang=vi-vn"><span>@Website_tvsi_v1.App_Resources.Website.ButtonText_SignIn</span></a>
        </span>
        <span class="hot-line">
            <span class="text">Hotline:</span><i class="fa fa-phone-square"></i> <span class="clr-f60101">1900 1885</span>
        </span>
        <div class="language-box">
            <a class="vi active" style="cursor: pointer;">
                <img src="/images/vi.png" onclick="changLanguageFp('en-GB')" alt="">
            </a>
        </div>
        <div class="language-box">
            <a class="en active" style="cursor: pointer;" onclick="changLanguageFp('en-US')">
                <img src="/images/en.png" alt="">
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div id="logo" class="logo">
        <a href="/">
            <img src="/images/@Website_tvsi_v1.App_Resources.ImageName.img_logo" alt=".." class="img-responsive">
        </a>
    </div>
    <div class="main-header">
        <div class="top-header text-right desktop">

            @*<span class="date-time" id="clock_web"></span>*@

            <span class="user-actions">
                <a href="@Website_tvsi_v1.App_Resources.Website.txt_linkOpenAcc"><span>@Website_tvsi_v1.App_Resources.Website.Text_OpenAccount</span></a>
            </span>
            <span class="user-actions">
                <a href="https://itrade-home.tvsi.com.vn/Logon?lang=vi-vn">&nbsp;&nbsp;<span>@Website_tvsi_v1.App_Resources.Website.ButtonText_SignIn</span></a>
            </span>
            <span class="hot-line">
                <span class="text">Hotline:</span><i class="fa fa-phone-square"></i> <span class="clr-f60101">1900 1885</span>
            </span>
            <div class="language-box">
                <a class="vi active" style="cursor: pointer">
                    <img src="/images/vi.png" onclick="changLanguageFp('en-GB')" alt="">
                </a>
            </div>
            <div class="language-box">
                <a class="en active" style="cursor: pointer" onclick="changLanguageFp('en-US')">
                    <img src="/images/en.png" alt="">
                </a>
            </div>
        </div>
        <div class="top-header text-right">
            <span class="date-time">@Website_tvsi_v1.App_Resources.Website.Txt_SymbolRequired</span>&nbsp;&nbsp;<input type="radio" id="search-mck" checked="checked" name="rcheck" value="1" onclick="_zenInnerHtml();" />&nbsp;<span class="date-time">@Website_tvsi_v1.App_Resources.Website.Text_News</span>&nbsp;&nbsp;<input type="radio" id="search-title" name="rcheck" value="2" onclick="_zenInnerHtml();" />
        </div>
        <div class="search-box" id="search-box">
            <form action="https://finance.tvsi.com.vn/Enterprises/OverView" id="searchForm">
                <input type="text" class="search-input" id="search-input" name="Symbol" placeholder="@Website_tvsi_v1.App_Resources.Website.Txt_SymbolRequired">
                <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="search-box" id="search-news" style="display: none;">
            <form action="https://finance.tvsi.com.vn/News/SearchNews" id="searchNews">
                <input type="text" class="search-input" id="input-news" name="title" placeholder="@Website_tvsi_v1.App_Resources.Website.Text_News">
                <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <script>
            $(function () {
                if ($('input[name="rcheck"]:checked').val() == 1) {
                    $("#search-news").hide();
                }
            });
            function _zenInnerHtml() {

                if ($('input[name="rcheck"]:checked').val() == 1) {
                    $("#search-box").show();
                    $("#search-news").hide();
                }
                else {
                    $("#search-box").hide();
                    $("#search-news").show();
                }
            }
        </script>
        <nav class="navbar my-customize-menu" id="main-nav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="@spdv_menu_header" id="spdv_menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false" onclick="actionLinkMenu('/product-services/customer-personal/@Website_tvsi_v1.App_Resources.IdMapper.id_spMoigioichungkhoan');">@Website_tvsi_v1.App_Resources.Website.Txt_Services</a>
                        <div class="dropdown-menu customize-1">
                            <div class="container">
                                <div class="row">
                                    <div class="part-menu featured">
                                        <a class="title-part" href="/product-services/customer-personal/@Website_tvsi_v1.App_Resources.IdMapper.id_spMoigioichungkhoan">
                                            <span class="thumb"><i class="demo-icon icon-icon_khachhangcanhan">&#xe837;</i> </span>
                                            <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_IndividualCustomers</span>
                                        </a>
                                        <div class="wrapper">
                                            <ul>
                                                @*Mo tai khoan*@
                                                <li>
                                                    <a href="@Website_tvsi_v1.App_Resources.Website.txt_linkOpenAcc">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_hdmotaikhoan-">&#xe829;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Text_OpenAccount</span>
                                                    </a>
                                                </li>
                                                @* Dich vu tai chinh*@
                                                <li>
                                                    <a href="/product-services/customer-personal/@Website_tvsi_v1.App_Resources.IdMapper.id_spgiaodichkyquy">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_dichvutaichinh">&#xe81a;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_FinancialServices</span>
                                                    </a>
                                                </li>
                                                @* Chung khoan co so*@
                                                <li>
                                                    <a href="/product-services/customer-personal/@Website_tvsi_v1.App_Resources.IdMapper.id_spMoigioichungkhoan">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_moigioichungkhoan-">&#xe846;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Text_Brokerage</span>
                                                    </a>
                                                </li>
                                                @*Dich vu chung khoan*@

                                                <li>
                                                    <a href="/product-services/customer-personal/@Website_tvsi_v1.App_Resources.IdMapper.id_spLuukychungkhoan">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_dichvuchungkhoan-04">&#xe81c;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Text_SecurityServices</span>
                                                    </a>
                                                </li>
                                                @*Chung khoan phai sinh*@
                                                <li>
                                                    <a href="/product-services/customer-personal/@Website_tvsi_v1.App_Resources.IdMapper.id_chungkhoanphaisinh">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-tvsi-ck-phai-sinh">&#xe8030;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_Derivatives</span>
                                                    </a>
                                                </li>
                                                @*Trai phieu TVSI*@
                                                <li>
                                                    <a href="/product-services/customer-personal/@Website_tvsi_v1.App_Resources.IdMapper.id_bondtrading">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_hdgiaodichcophieu">&#xe814;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_BondTrading</span>
                                                    </a>
                                                </li>

                                                @*Chung quyen co bao dam*@
                                                <li>
                                                    <a href="/product-services/customer-personal/@Website_tvsi_v1.App_Resources.IdMapper.id_coveredwarrantsservice">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_sosanhdoanhnghiep-">&#xe83c</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_CoveredWarrantsService</span>
                                                    </a>
                                                </li>
                                                @*Trái phiếu doanh nghiệp*@
                                                <li>
                                                    <a href="/product-services/customer-personal/@Website_tvsi_v1.App_Resources.IdMapper.id_bondCorporate">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_hoatdongtvsi">&#xe82d;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_CorporateBonds</span>
                                                    </a>
                                                </li>
                                                @*Bieu phi dich vu*@
                                                <li>
                                                    <a href="/product-services/customer-personal/@Website_tvsi_v1.App_Resources.IdMapper.id_spBieuphidichvu">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_bieuphidichvu-">&#xe822;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Text_ServicePrice</span>
                                                    </a>
                                                </li>
                                                @*Cam ket chat luong(SLA)*@
                                                <li>
                                                    <a href="/product-services/customer-personal/@Website_tvsi_v1.App_Resources.IdMapper.id_camketchatluongdichvu">
                                                        <span class="thumb">
                                                            <i class="sla-icon icon-icon_camketchatluongsla">&#xe850;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_SLA</span>
                                                    </a>
                                                </li>

                                                @*
                                                     <li>
                                                        <a href="/product-services/customer-personal/@Website_tvsi_v1.App_Resources.IdMapper.id_spQuanlydmdautu">
                                                            <span class="thumb">
                                                                <i class="demo-icon icon-icon_quanlydoanhmucdautu">&#xe83f;</i>
                                                            </span>
                                                            <span class="content">@Html.Raw(Website_tvsi_v1.App_Resources.Website.Txt_InvestmentPortfolio)</span>
                                                        </a>
                                                    </li>
                                                *@
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="part-menu">
                                        <div class="break-line"></div>
                                        <a class="title-part" href="/product-services/customer-business/@Website_tvsi_v1.App_Resources.IdMapper.id_spTuvanthitruongvon">
                                            <i class="demo-icon icon-icon_khachhangdoanhnghiep">&#xe838;</i>
                                            <span class="content">@Html.Raw(Website_tvsi_v1.App_Resources.Website.Txt_CorporateCustomers)</span>
                                        </a>
                                        <div class="wrapper">
                                            <ul>
                                                <li>
                                                    <a href="/product-services/customer-business/@Website_tvsi_v1.App_Resources.IdMapper.id_spTuvanthitruongvon">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_tuvanthitruongvon-">&#xe807;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_CapitalMarketConsultancy</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/product-services/customer-business/@Website_tvsi_v1.App_Resources.IdMapper.id_spTuvanthitruongno">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_tuvanthitruongno">&#xe806;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_DebtMarketConsultancy</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/product-services/customer-business/@Website_tvsi_v1.App_Resources.IdMapper.id_spNghiepvunhdt">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_nghiepvunganhangdautu-"></i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_MAConsultancy</span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="/product-services/customer-business/@Website_tvsi_v1.App_Resources.IdMapper.id_spDichvuchungkhoan">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_dichvuchungkhoan-11"></i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Text_SecurityServices</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="part-menu">
                                        <div class="break-line"></div>
                                        <a class="title-part" href="/product-services/trading-online/@Website_tvsi_v1.App_Resources.IdMapper.id_spItradehome">
                                            <span class="thumb"><i class="demo-icon icon-icon_congcugiaodichtructuyen">&#xe81d;</i> </span>
                                            <span>@Html.Raw(Website_tvsi_v1.App_Resources.Website.Txt_OnlineTradingTool)</span>
                                        </a>
                                        <div class="wrapper">
                                            <ul>
                                                <li>
                                                    <a href="/product-services/trading-online/@Website_tvsi_v1.App_Resources.IdMapper.id_spItradehome">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_itradehome">&#xe832;</i>
                                                        </span>
                                                        <span class="content">iTrade Home</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/product-services/trading-online/@Website_tvsi_v1.App_Resources.IdMapper.id_TVSIMobile">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_tvsimobile">&#xe809;</i>
                                                        </span>
                                                        <span class="content">TVSI Mobile</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/product-services/trading-online/@Website_tvsi_v1.App_Resources.IdMapper.id_iTradePro">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_itradepro">&#xe833;</i>
                                                        </span>
                                                        <span class="content">iTrade Pro</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/product-services/trading-online/@Website_tvsi_v1.App_Resources.IdMapper.id_TVSIPrice">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_tvsiprice">&#xe80a;</i>
                                                        </span>
                                                        <span class="content">TVSI Price</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown" id="ttpt_menu" style="background-image: url('/images/new_ifin.png'); background-position: right top; background-repeat: no-repeat">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false" onclick="actionLinkMenu('https://finance.tvsi.com.vn');">@Website_tvsi_v1.App_Resources.Website.Txt_AnalysisCenter</a>

                        <div class="dropdown-menu customize-1">
                            <div class="container">
                                <div class="row">
                                    <div class="part-menu">

                                        <a class="title-part" href="https://finance.tvsi.com.vn/news/AnalysisReportView">
                                            <span class="thumb"><i class="demo-icon icon-icon_quantridoanhngiep-">&#xe83e;</i> </span>
                                            <span>@Website_tvsi_v1.App_Resources.Website.Txt_AnalysisReport</span>
                                        </a>
                                        <div class="wrapper">
                                            <ul>
                                                <li>
                                                    <a href="https://finance.tvsi.com.vn/news/DailyNews">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_ttck-">&#xe805;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_MarketComments</span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="https://finance.tvsi.com.vn/news/BusinessAnalysisReport">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_tindoanhnghiep-">&#xe801;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_BusinessAnalysisReport</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://finance.tvsi.com.vn/news/IndustryAnalysisReport">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_vimo-">&#xe827;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_IndustryAnalysisReport</span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="https://finance.tvsi.com.vn/news/MacroAnalysisReport">
                                                        <span class="thumb">
                                                            <i class="demo-icon  icon-icon_sosanhnganh-">&#xe800;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_MacroAnalysisReport</span>
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="part-menu">
                                        <div class="break-line"></div>
                                        <a class="title-part" href="https://finance.tvsi.com.vn/Data/IndicesStats">
                                            <span class="thumb"><i class="demo-icon icon-icon_dulieu-">&#xe817;</i></span>
                                            <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_Data</span>
                                        </a>
                                        <div class="wrapper">
                                            <ul>
                                                <li>
                                                    <a href="https://finance.tvsi.com.vn/data/IndicesStats">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_thongkethitruong">&#xe80e;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Text_MarketStatistics</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://finance.tvsi.com.vn/data/industry">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_nganh">&#xe842;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Text_Industries</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://finance.tvsi.com.vn/Enterprises/OverView">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_doanhnghiep">&#xe819;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.LabelText_Bussiness</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://finance.tvsi.com.vn/News/MarketCalendar">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_lichsukien">&#xe839;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Text_MarketCalendar</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="part-menu">
                                        <div class="break-line"></div>
                                        <a class="title-part" href="https://finance.tvsi.com.vn/">
                                            <span class="thumb"><i class="demo-icon icon-icon_congcu-">&#xe81e;</i> </span>
                                            <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_Tools</span>
                                        </a>
                                        <div class="wrapper">
                                            <ul>
                                                <li>
                                                    <a href="https://finance.tvsi.com.vn/tools/topcompany">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_loccophieutheotopdoanhnghiep-">&#xe849;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_TopCorporates</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://finance.tvsi.com.vn/tools/IntervalValue">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_loccophieutheokhoanggiatri">&#xe83b;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_StockScreener</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://finance.tvsi.com.vn/tvsita">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_loccophieutheochibaophantichkythuat">&#xe83a;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_FilterIndicatorTech</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://finance.tvsi.com.vn/TVSITA/ReStock/Cophieumua">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_hdgiaodichcophieu">&#xe814</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_IRA</span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="https://finance.tvsi.com.vn/tools/CompareSymbol">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_sosanhdoanhnghiep-">&#xe83c;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Text_Comparecorporate</span>
                                                    </a>
                                                </li>
                                                @* <li>
                                                        <a href="#">
                                                            <span class="thumb">
                                                                <i class="demo-icon icon-icon_sosanhcotuctheonam-">&#xe83d;</i>
                                                            </span>
                                                            <span class="content">So sánh cổ tức theo năm</span>
                                                        </a>
                                                    </li>*@
                                                <li>
                                                    <a href="https://finance.tvsi.com.vn/tools/CompareIndustry">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_sosanhnganh-">&#xe800;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Text_CompareIndustry</span>
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="part-menu">
                                        <div class="break-line"></div>
                                        <a class="title-part" href="https://finance.tvsi.com.vn/news/overview">
                                            <span class="thumb"><i class="demo-icon icon-icon_tintuc-">&#xe802;</i> </span>
                                            <span>@Website_tvsi_v1.App_Resources.Website.Text_News</span>
                                        </a>
                                        <div class="wrapper">
                                            <ul>
                                                <li>
                                                    <a href="https://finance.tvsi.com.vn/news/MarketNews">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_ttck-">&#xe805;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_StockNews</span>
                                                    </a>
                                                </li>
                                                @if (ViewBag.ngonngu_id == 1)
                                                {
                                                    <li>
                                                        <a href="https://finance.tvsi.com.vn/news/TopCompanyNews">
                                                            <span class="thumb">
                                                                <i class="demo-icon icon-icon_tindoanhnghiep-">&#xe801;</i>
                                                            </span>
                                                            <span class="content">@Website_tvsi_v1.App_Resources.Website.Text_CompanyNews</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://finance.tvsi.com.vn/news/DomesticNews">
                                                            <span class="thumb">
                                                                <i class="demo-icon icon-icon_vimo-">&#xe827;</i>
                                                            </span>
                                                            <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_Macro</span>
                                                        </a>
                                                    </li>
                                                }
                                                <li>
                                                    <a href="https://finance.tvsi.com.vn/news/TvsiNews">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_hoatdongtvsi">&#xe82d;</i>
                                                        </span>
                                                        <span class="content">TVSI</span>
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="@hotro_menu_header" id="hotro_menu">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false" onclick="actionLinkMenu('/customer-support/guide-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_hotroMotaikhoan')">@Website_tvsi_v1.App_Resources.Website.Txt_CustomerServices</a>

                        <div class="dropdown-menu customize-1">
                            <div class="container">
                                <div class="row">
                                    <div class="part-menu">
                                        <a class="title-part" href="/customer-support/guide-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_hotroMotaikhoan">
                                            <span class="thumb"><i class="demo-icon icon-icon_huongdangiaodich">&#xe830;</i> </span>
                                            <span class="content">@Html.Raw(Website_tvsi_v1.App_Resources.Website.Txt_GuideOnTrading)</span>
                                        </a>
                                        <div class="wrapper">
                                            <ul>
                                                <li>
                                                    <a href="/customer-support/guide-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_hotroMotaikhoan">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_hdmotaikhoan-">&#xe829;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Text_OpenAccount</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/customer-support/guide-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_hotroGiaodichcp">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_hdgiaodichcophieu">&#xe814;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_SecuritiesTrading</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/customer-support/guide-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_giaodichckps">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_tindoanhnghiep-">&#xe801;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_DerivativeTrading</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/customer-support/guide-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_hotroGiaodichkyquy">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_hdgiaodichkyquy-">&#xe828;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_MarginTrading</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/customer-support/guide-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_gbondtradingonline">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_moigioichungkhoan-">&#xe846;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_BondTradingOnline</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="part-menu">
                                        <div class="break-line"></div>
                                        <a class="title-part" href="/customer-support/guide-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_hotroNoptien">
                                            <span class="thumb"><i class="demo-icon icon-icon_huongdangiaodichtien-">&#xe831;</i> </span>
                                            <span class="content">@Html.Raw(Website_tvsi_v1.App_Resources.Website.Txt_GuideMoneyTrading)</span>
                                        </a>
                                        <div class="wrapper">
                                            <ul>
                                                <li>
                                                    <a href="/customer-support/guide-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_hotroNoptien">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_hdnoptien-"></i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_Payment</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/customer-support/guide-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_hotroChuyentien">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_hdchuyentien-">&#xe815;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_CashTransfer</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/customer-support/guide-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_hotroUngtruoctienban">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_hdungtruoctienban-">&#xe82f;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_CashAdvance</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="part-menu">
                                        <div class="break-line"></div>
                                        <a class="title-part" href="/customer-support/guide-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_hotroHdtracuvaqlts">
                                            <span class="thumb"><i class="demo-icon icon-icon_hdtracuuvaquanlytaisan-"></i> </span>
                                            <span class="content">@Html.Raw(Website_tvsi_v1.App_Resources.Website.Txt_GuideSearchManagement)</span>
                                        </a>
                                        <div class="wrapper">
                                            <ul>
                                                @*<li>
                                                        <a href="/customer-support/guide-search/@Website_tvsi_v1.App_Resources.IdMapper.id_hotroTracuusms">
                                                            <span class="thumb">
                                                                <i class="demo-icon icon-icon_tracuuquasms"></i>
                                                            </span>
                                                            <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_SearchViaSMS</span>
                                                        </a>
                                                    </li>*@
                                                <li>
                                                    <a href="/customer-support/guide-search/@Website_tvsi_v1.App_Resources.IdMapper.id_hotroTracuucc">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_tracuuquacc-"></i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_SearchViaCC</span>
                                                    </a>
                                                </li>
                                                @*<li>
                                                        <a href="/customer-support/guide-search/@Website_tvsi_v1.App_Resources.IdMapper.id_hotroTracuutaikhoankq">
                                                            <span class="thumb">
                                                                <i class="demo-icon icon-icon_hdtracuutaikhoankyquy-"></i>
                                                            </span>
                                                            <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_SearchMarginAccount</span>
                                                        </a>
                                                    </li>*@
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="part-menu">
                                        <div class="break-line"></div>
                                        <a class="title-part" href="/customer-support/guide-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_hotroCabmaubieu">
                                            <span class="thumb"><i class="demo-icon icon-icon_cacmaubieu-"></i></span>
                                            <span>@Website_tvsi_v1.App_Resources.Website.Text_DocumentForm</span>
                                        </a>
                                        <div class="wrapper">
                                            <ul>
                                                <li>
                                                    <a href="/customer-support/form-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_hotroMotaikhoanvadichvu">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_motaikhoanvadangkydichvu">&#xe844;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_OpenAccountRegister</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/customer-support/form-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_hotroMaunopvaruttien">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_maunopvaruttien-">&#xe848;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_PaymentWithdrawal</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/customer-support/form-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_hotroCacmaubieukhac">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_cacmaubieukhac-">&#xe820;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_OtherForms</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="part-menu">
                                        <div class="break-line"></div>
                                        <a class="title-part" href="/customer-support/guide-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_hotroKienthucvahoidap">
                                            <span class="thumb">
                                                <i class="demo-icon icon-icon_kienthucvahoidap-">&#xe835;</i>
                                            </span>
                                            <span>@Html.Raw(Website_tvsi_v1.App_Resources.Website.Txt_KnowledgeFaqs)</span>
                                        </a>
                                        <div class="wrapper">
                                            <ul>
                                                <li>
                                                    <a href="/customer-support/answer-faq">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_hoidapfaq-">&#xe82e;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_FAQs</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/customer-support/answer-knowledge">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_kienthuc-">&#xe834;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_knowledge</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/customer-support/answer-experience">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_kinhnghiem">&#xe836;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_Sharing</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="@gttvsi_menu_header" id="gttvsi_menu">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false" onclick="actionLinkMenu('/introduction/about-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_tongquantvsi')">@Website_tvsi_v1.App_Resources.Website.Txt_TvsiOverview</a>
                        <div class="dropdown-menu customize-1">
                            <div class="container">
                                <div class="row">
                                    <div class="part-menu">
                                        <a class="title-part" href="/introduction/about-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_tongquantvsi">
                                            <span class="thumb"><i class="demo-icon icon-icon_quantridoanhngiep-">&#xe83e;</i></span>
                                            <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_AboutTVSI</span>
                                        </a>
                                        <div class="wrapper">
                                            <ul>
                                                <li>
                                                    <a href="/introduction/about-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_tongquantvsi">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_tongquantvsi-">&#xe804;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_OverviewofTvsi</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/introduction/about-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_giatridoanhnghiep">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_giatridoanhnghiep-">&#xe816;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_EnterpriseValue</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/introduction/about-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_mocsonphattrien">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_mocsonlichsu-">&#xe847;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_Milestone</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/introduction/about-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_doingu">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_doingu-">&#xe818;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_Staff</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/introduction/about-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_thanhtunoibat">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_thanhtuunoibat-">&#xe80d;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_OutsAchieve</span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="/introduction/about-tvsi/@Website_tvsi_v1.App_Resources.IdMapper.id_profile">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_nopcv">&#xe843;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_Profile</span>
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="part-menu">
                                        <div class="break-line"></div>
                                        <a class="title-part" href="/introduction/activity-tvsi">
                                            <span class="thumb"><i class="demo-icon icon-icon_tintuchoatdong-">&#xe803;</i> </span>
                                            <span class="content">@Html.Raw(Website_tvsi_v1.App_Resources.Website.Txt_NewsActive)</span>
                                        </a>
                                        <div class="wrapper">
                                            <ul>
                                                <li>
                                                    <a href="http://finance.tvsi.com.vn/news/TvsiNews">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_quantridoanhngiep-">&#xe83e;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_TVSINotice</span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="/introduction/tvsi-community-news">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_tvsivoicongdong-">&#xe80c;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_TVSIcommunity_New</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/introduction/tvsi-newspapers">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_tvsivoibaochi-">&#xe80b;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_TVSIPress</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/introduction/activity-tvsi">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_hoatdongtvsi">&#xe82d;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_TVSIactivities</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="part-menu">
                                        <div class="break-line"></div>
                                        <a class="title-part" href="/introduction/report-finance">
                                            <span class="thumb"><i class="demo-icon icon-icon_quanhecodong-">&#xe840;</i> </span>
                                            <span>@Html.Raw(Website_tvsi_v1.App_Resources.Website.Text_InvestorRelation)</span>
                                        </a>
                                        <div class="wrapper">
                                            <ul>
                                                <li>
                                                    <a href="/introduction/report-finance">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_baocaotaichinh-">&#xe824;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Text_FinanceReport</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/introduction/information-publish">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_thongtincongbo--67">&#xe80f;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_Publishedinfor</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/introduction/admin-business">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_quantridoanhngiep-">&#xe83e;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_CorporateGovernance</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/introduction/information-shareholder">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_thongtincongbo--69">&#xe810;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_Shareholderinfor</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/introduction/report-annual">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_baocaothuongnien-">&#xe823;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Text_AnnualReport</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="part-menu">
                                        <div class="break-line"></div>
                                        <a class="title-part" href="/introduction/opportunity-job/@Website_tvsi_v1.App_Resources.IdMapper.id_moitruonglamviec">
                                            <span class="thumb"><i class="demo-icon icon-icon_cohoinghenghiep">&#xe81f;</i> </span>
                                            <span>@Html.Raw(Website_tvsi_v1.App_Resources.Website.Text_Carrer)</span>
                                        </a>
                                        <div class="wrapper">
                                            <ul>
                                                <li>
                                                    <a href="/introduction/opportunity-job/@Website_tvsi_v1.App_Resources.IdMapper.id_moitruonglamviec">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_moitruonglamviec-">&#xe845;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_WorkEnvironment</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/introduction/opportunity-job/@Website_tvsi_v1.App_Resources.IdMapper.id_vitrituyendung">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_vitriungtuyen-">&#xe826;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_Posts</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/introduction/opportunity-job/@Website_tvsi_v1.App_Resources.IdMapper.id_nophoso">
                                                        <span class="thumb">
                                                            <i class="demo-icon icon-icon_nopcv">&#xe843;</i>
                                                        </span>
                                                        <span class="content">@Website_tvsi_v1.App_Resources.Website.Txt_Application</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    @*<li>
                            <a class="dropdown-toggle"
                               href="http://tuyendung.tvsi.com.vn">@Website_tvsi_v1.App_Resources.Website.Txt_Recruitment</a>
                        </li>*@
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    </div>
</div>



<script>
    function changeClassSpdv() {
        document.getElementById("spdv_menu").className = "dropdown active";
        document.getElementById("hotro_menu").className = "dropdown";
        document.getElementById("ttpt_menu").className = "dropdown";
    }
    function changeClassTtpt() {
        document.getElementById("spdv_menu").className = "dropdown ";
        document.getElementById("hotro_menu").className = "dropdown";
        document.getElementById("ttpt_menu").className = "dropdown active";
    }
    function changeClassHotro() {
        document.getElementById("spdv_menu").className = "dropdown";
        document.getElementById("hotro_menu").className = "dropdown active";
        document.getElementById("ttpt_menu").className = "dropdown";
    }
    function changeClassGtTvsi() {
        document.getElementById("spdv_menu").className = "dropdown";
        document.getElementById("hotro_menu").className = "dropdown";
        document.getElementById("ttpt_menu").className = "dropdown";
    }
    function actionLinkMenu(link) {
        window.location.href = link;
    }
    function openMangLuoi() {
        $("#transaction-network").toggleClass("open");
    }
    function getMobileTvsi() {
        var userAgent = navigator.userAgent;
        if (userAgent.match(/iPad/i) || userAgent.match(/iPhone/i) || userAgent.match(/iPod/i)) {
            document.getElementById("dangnhap").href = "https://itunes.apple.com/us/app/tvsi-mobile/id962202711?mt=8";
        }
        else if (userAgent.match(/Android/i)) {
            document.getElementById("dangnhap").href = "https://play.google.com/store/apps/details?id=vn.innotech.tvsi.mts";
        } else {
            document.getElementById("dangnhap").href = "https://www.tvsi.com.vn/vn/home/homepage.htm";
        }
    }
    getMobileTvsi();
    //setInterval(getclock, 1000);
    function getclock() {
        var d = new Date();
        var h = d.getHours();
        var m = d.getMinutes();
        var s = d.getSeconds();
        var day = d.getDate();
        var month = d.getMonth();
        var year = d.getFullYear();
        var str_thu = d.getDay();
        if (str_thu == 1) {
            str_thu = "@Website_tvsi_v1.App_Resources.Website.Txt_Monday";
        } else if (str_thu == 2) {
            str_thu = "@Website_tvsi_v1.App_Resources.Website.Txt_Tuesday";
        } else if (str_thu == 3) {
            str_thu = "@Website_tvsi_v1.App_Resources.Website.Txt_Wednesday";
        } else if (str_thu == 4) {
            str_thu = "@Website_tvsi_v1.App_Resources.Website.Txt_Thursday";
        } else if (str_thu == 5) {
            str_thu = "@Website_tvsi_v1.App_Resources.Website.Txt_Friday";
        } else if (str_thu == 6) {
            str_thu = "@Website_tvsi_v1.App_Resources.Website.Txt_Saturday";
        } else {
            str_thu = "@Website_tvsi_v1.App_Resources.Website.Txt_Sunday";
        }
    month = month + 1;
    if (month < 10) {
        month = "0" + month;
    }
    if (m < 10) {
        m = "0" + m;
    }
    if (s < 10) {
        s = "0" + s;
    }

    if (h < 10) {
        h = "0" + h;
    }
    if (day < 10) {
        day = "0" + day;
    }
    var clock_html = '<strong>' + h + ":" + m + ":" + s + '</strong>' + " " + " " + str_thu + ", " + day + "/" + month + "/" + year;
    document.getElementById('clock_web').innerHTML = clock_html;
}
function changLanguageFp(change) {
    $.ajax({
        url: "/home/changeLanguage",
        data: { lang_tvsi_wb: change },
        cache: false,
        type: "GET",
        dataType: "html",
        success: function () {
            location.reload();
        }
    });
}
function OpenChatForm() {
    windowFeatures = "width=" + (screen.width * 3 / 5) + " ,height=" + (screen.height * 3 / 5) + " ,dependent=no,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes";
    window.open("http://chat.tvsi.com.vn/TVSI_CHAT/Default.aspx?queue=TVSI_Chat&CurrentLanguage=2", "_blank", windowFeatures);
}
</script>
