﻿@{
    Layout = "~/Views/Home/Share/_Layout.cshtml";
}
@using DocumentFormat.OpenXml.Wordprocessing
@using Website_tvsi_v1.App_Resources
 <link type="text/css" rel="stylesheet" href="/asset/css/style.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&family=Saira+Stencil+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous"/>
<link href="~/asset/Extend/css/sweetalert/sweetalert.css" rel="stylesheet"/>
<script src="~/asset/Extend/js/sweetalert/sweetalert.min.js"></script>

<style>
    section{
    }
    .detail-header h2{
    font-family: Saira Stencil One;
    font-weight: 400;
    font-size: 50px;
    color: #000000;
    }
    .detail-header h4{
        font-family: Roboto;
        color: #000000;
        font-size: 30px;
        font-weight: 700;
    }
    .detail-image img{
     width: 700px;
     height: 700px;
    }

    .register-xtrade{
    margin-top: 50px;
    }
    .detail-text p{
       font-family: Roboto;
       color: #000000;
       font-size: 18px;
       font-weight: 400;
    }    
    .register-xtrade li,b{
       font-family: Roboto;
       color: #000000;
       font-size: 18px;
       font-weight: 400;
    }
    .register-xtrade b{
     font-weight: 700;
    }
    .button-register{
    padding: 30px 0px 30px 10px;
     text-align: right;
    }
    .button-register input{
     font-family: Roboto;
     font-size:20px;
     font-weight: 700;
     background-color: #ED1C24;
     width: 210px;
     height: 63px;
     color:#FFFFFF;
     border: 1px;
     border-radius: 10px;
    }

    #modal-customer h5{
    text-align: center;
          font-family: Roboto;
          font-size:30px;
          font-weight: 700;
          color: #000000;
    } 
    #modal-customer-success h5{
    text-align: center;
    font-family: Roboto;
    font-size:30px;
    font-weight: 700;
    color: #000000;
    }
    .modal-footer{
     border-top: unset!important;
    }
    #modal-customer #btn-close{
     width: 210px;
     height: 63px;
     background-color: #BDBDBD;
     border-radius: 10px;
     font-weight: 700;
     font-family: Roboto;
     font-size: 20px;

    }
    #modal-customer #btn-register{
         width: 210px;
         height: 63px;
         background-color: #ED1C24;
         border-radius: 10px;
         color: #FFFFFF;
         font-weight: 700;
         font-family: Roboto;
         font-size: 20px;
    }  
      #modal-customer-success #btn-register{
         width: 210px;
         height: 63px;
         background-color: #ED1C24;
         border-radius: 10px;
         color: #FFFFFF;
         font-weight: 700;
         font-family: Roboto;
         font-size: 20px;
    }
    #modal-customer-success p{
         font-weight: 500;
         font-family: Roboto;
         font-size: 20px;     
    }
    #modal-customer-success .modal-title{
    text-align: left;
    }
    #modal-customer-success .modal-content{
     /*
     width: 1000px;
     */
    }
    @@media (min-width: 768px){
    .icon-font{
     text-align: right;
    }
        #modal-customer .modal-content{
         height: 442px;
         width: max-content;
        }
        .detail-image {
        margin-top: -200px;
        float: right;
        }
    #modal-customer .modal-content{
         height: 442px;
         width: 900px;
        }
        .modal-dialog {
            width: max-content;
            margin: 30px auto;
        }  
    }
    #modal-customer-success .modal-body{
     padding: 65px 65px 20px 65px;
    }
    .modal-footer{
    text-align: center;
    }
    .modal-body{
    text-align: center;
    }
    .modal-body a{
     color: #ED1C24!important;
    }
    .modal-body .checkbox-primary{
    padding-top: 70px;
    padding-bottom: 70px;
    }
    .checkbox-primary label{
    font-weight: 400;
    font-family: Roboto;
    font-size: 16px;
    color: #212121;
    }

</style>
<section id="wrapper-content" class="inner-page">
    <div class="register-xtrade">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="detail-header">
                            <h4>ỨNG DỤNG GIAO DỊCH CHỨNG KHOÁN TRỰC TUYẾN</h4>
                            <br>
                            <h2>TVSI X-MOBILE</h2>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="detail-header">
                                    <div class="detail-text">
                                        <p><i class="fa fa-play" aria-hidden="true"></i>&nbsp; Mở tài khoản, giao dịch đa tài sản và thay đổi thông tin dễ dàng, bảo mật với giải pháp xác thực eKYC</p>
                                        <p><i class="fa fa-play" aria-hidden="true"></i>&nbsp; Hợp nhất giao dịch và quản lý đa tài sản: Tiền, cổ phiếu, trái phiếu, hợp đồng môi giới trái phiếu…</p>
                                        <p><i class="fa fa-play" aria-hidden="true"></i>&nbsp; Đầy đủ các tính năng cho giao dịch cổ phiếu: thực hiện quyền, bán lô lẻ, chuyển chứng khoán, xác nhận lệnh, đăng ký dịch vụ…</p>
                                        <p><i class="fa fa-play" aria-hidden="true"></i>&nbsp; Dữ liệu thị trường và giá chứng khoán cập nhật theo thời gian thực qua cơ chế Streaming</p>
                                        <p><i class="fa fa-play" aria-hidden="true"></i>&nbsp; Quản lý và giao dịch trái phiếu, Hợp đồng môi giới trái phiếu an toàn, tiện lợi</p>
                                        <p><i class="fa fa-play" aria-hidden="true"></i>&nbsp; Bảo mật qua xác thực đa yếu tố (MFA) với vân tay/khuôn mặt và Smart OTP</p>
                                        <p><i class="fa fa-play" aria-hidden="true"></i>&nbsp; Tính năng push notification giúp cập nhật liên tục và kịp thời các sự kiện, diễn biến tài khoản, tin tức</p>
                                        <p><i class="fa fa-play" aria-hidden="true"></i>&nbsp; Giao diện hiện đại, trực quan</p>
                                    </div>
                                    @if (Session["AccountXtrade"] == null)
                                    {
                                        <div class="button-register">
                                            <input type="button" name="Đăng ký" id="register-xtrade" value="Đăng ký">
                                        </div>
                                    }

                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="detail-image">
                                    <img src="~/images/xtrade/Frame_139.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1 icon-font">
                                <i class="fas fa-hand-point-up" style="font-size: 35px;color: black"></i>
                            </div>
                            <div class="col-md-6 text-app">
                                <div class="row">
                                    <div class="col-md-12">
                                        <b>App Store: </b><a href="https://apps.apple.com/vn/app/tvsi-x-mobile/id1628755635?l=vi" style="font-family: Roboto;color: #000000;font-size: 15px;font-weight: 400;">https://apps.apple.com/vn/app/tvsi-x-mobile/id1628755635?l=vi</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <b>CH Play: </b> <a href="https://play.google.com/store/apps/details?id=tvsi.pilot.xtrade" style="font-family: Roboto;color: #000000;font-size: 15px;font-weight: 400;">https://play.google.com/store/apps/details?id=tvsi.pilot.xtrade</a>
                                    </div>
                                    </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <b>Hoặc mã quét QR sau:</b>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <img src="~/images/xtrade/QR Code.png" alt="">
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1 icon-font">
                                <i class="fas fa-exclamation-triangle" style="font-size: 35px;color: red"></i>&nbsp;
                            </div>
                            <div class="col-md-6 text-app">
                                <b style="color: red">Hệ thống đang trong quá trình thử nghiệm. Nếu gặp khó khăn khi sử dụng hoặc có thắc mắc, Qúy khách vui lòng liên hệ:</b>
                                <li>Phòng Nghiên cứu và Phát triển sản phẩm</li>
                                <li>Email: rd@tvsi.com.vn</li>
                                <li>Số điện thoại: 024 3728 0921 (ext: 705 hoặc 786)</li>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    
</section>
<div class="modal" id="modal-customer" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                @using (Html.BeginForm(FormMethod.Post))
                {
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <p class="text-modal">
                                    <h5 class="modal-title">Đăng ký sử dụng TVSI X-Mobile</h5>
                                    <div class="row">
                                        <div class="checkbox checkbox-primary">
                                            <input type="checkbox" name="agree" id="agree" class="chk-col-red"/>
                                            <label for="agree">
                                                Tôi đã đọc và đồng ý với <a target="_blank" href="https://www.tvsi.com.vn/TVSIWebHelp/FORM/TVSI_Bo_DKDK_GDCK.pdf">Điều kiện & điều khoản sử dụng TVSI X-Mobile</a>
                                            </label>
                                        </div>
                                    </div>
                                </p>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="btn-close" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-secondary" id="btn-register" disabled>Đăng ký</button>
                    </div>
                }
        </div>

    </div>
</div>
<div class="modal" id="modal-customer-success" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="row">
                                    <div class="col-md-4"><img src="~/images/xtrade/thành công.png" alt=""></div>
                                    <div class="col-md-8">
                                        <div class="text-left">
                                            <div class="row">
                                                <h5 class="modal-title">Đăng ký TVSI X-Mobile thành công!</h5>
                                                <br>
                                                <p style="color: #000000">Bạn có thể bất đầu trải nghiệm ứng dụng TVSI X-MOBILE</p>
                                                <p style="color: #000000">Tải ứng dụng tại:</p>
                                                <br>
                                            </div>
                                            <div class="row">
                                                <b>App Store: </b><a href="https://apps.apple.com/vn/app/tvsi-x-mobile/id1628755635?l=vi" style="font-family: Roboto;color: #000000!important;font-size: 15px;font-weight: 400;">https://apps.apple.com/vn/app/tvsi-x-mobile/id1628755635?l=vi</a>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <b>CH Play: </b> <a href="https://play.google.com/store/apps/details?id=tvsi.pilot.xtrade" style="font-family: Roboto;color: #000000!important;font-size: 15px;font-weight: 400;">https://play.google.com/store/apps/details?id=tvsi.pilot.xtrade</a>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <b>Hoặc mã quét QR sau:</b>
                                            </div>
                                            <div class="row">
                                                <img src="~/images/xtrade/QR Code.png" alt="">
                                            </div>
                                            <br>
                                        </div>
                                    </div>

                                </div>
                                
                            </div>
                        </div>
                    </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-secondary" id="btn-register" data-dismiss="modal">Đóng</button>

            </div>
            
        </div>

    </div>
</div>
@if (TempData["Success"] != null)
{
    <script>
            $(function () {
                $("#modal-customer-success").modal('show');
            });
        </script>
}
@if (TempData["AccountExisted"] != null)
{
    <script>
            $(function () {
                swal( "Tài khoản đã tồn tại!" ,  "Tài khoản đã đăng ký!" ,  "error" )          
            });
        </script>
}

<script>
 $("#register-xtrade").click(function (){
 	$("#modal-customer").modal("show");
 });
 $("#agree").click(function (){
 	
 	 if($("#agree").is(':checked')){
 	 	$("#btn-register").prop("disabled",false);
 	 }
     else{
     	 $("#btn-register").prop("disabled",true);
     }
})
</script>
