﻿@{
    Layout = "~/Views/Home/Share/_Layout.cshtml";
}

<section id="wrapper-top-content">
    <div class="banner">
        <img src="/images/upload/gioithieu_Tongquan_banner.png" alt="" class="background-banner">

        <div class="container">
            <h1 class="title-page">@Website_tvsi_v1.App_Resources.Website.alt_MasterPage_SiteMap</h1>
        </div>
    </div>
</section>
<section id="wrapper-content" class="inner-page">
    <div class="container">
        <div class="sitemap-page">
            <ul class="lv-1">
                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Trang chủ</a></span></li>
                <li class="drop-list">
                    <span><i class="fa fa-plus-square-o"></i> <a href="#">Sản phẩm</a></span>
                    <ul class="lv-2">
                        <li class="drop-list">
                            <span><i class="fa fa-plus-square-o"></i> <a href="#">Khách hàng cá nhân</a></span>
                            <ul class="lv-3">
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Mở tài khoản</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Dịch vụ chứng khoán</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Môi giới chứng khoán</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Quản lý danh mục đầu tư</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Dịch vụ tài chính</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Biếu phí dịch vụ</a></span></li>
                            </ul>
                        </li>
                        <li class="drop-list">
                            <span><i class="fa fa-plus-square-o"></i> <a href="#">Khách hàng doanh nghiệp</a></span>
                            <ul class="lv-3">
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Tư vấn thị trường vốn</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Tư vấn thị trường nợ</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Nghiệp vụ ngân hàng đầu tư</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Dịch vụ chứng khoán</a></span></li>
                            </ul>
                        </li>
                        <li class="drop-list">
                            <span><i class="fa fa-plus-square-o"></i> <a href="#">Công cụ giao dịch trực tuyến</a></span>
                            <ul class="lv-3">
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">iTrade Home</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">TVSI Mobile</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">iTrade Pro</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">TVSI Price</a></span></li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li class="drop-list">
                    <span><i class="fa fa-plus-square-o"></i> <a href="#">Trung tâm phân tích</a></span>
                    <ul class="lv-2">
                        <li class="drop-list">
                            <span><i class="fa fa-plus-square-o"></i> <a href="#">Dữ liệu</a></span>
                            <ul class="lv-3">
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Thống kê thị trường</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Ngành</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Doanh nghiệp</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Lịch sự kiện</a></span></li>
                            </ul>
                        </li>
                        <li class="drop-list">
                            <span><i class="fa fa-plus-square-o"></i> <a href="#">Công cụ</a></span>
                            <ul class="lv-3">
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Lọc cổ phiếu theo Top doanh nghiệp</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Lọc cổ phiếu theo khoảng giá trị</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">So sánh doanh nghiệp</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">So sánh ngành</a></span></li>
                            </ul>
                        </li>
                        <li class="drop-list">
                            <span><i class="fa fa-plus-square-o"></i> <a href="#">Tin tức</a></span>
                            <ul class="lv-3">
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">TTCK</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Tin doanh nghiệp</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Vĩ mô</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">TVSI</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Bản tin TVSI</a></span></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="drop-list">
                    <span><i class="fa fa-plus-square-o"></i> <a href="#">Hỗ trợ</a></span>
                    <ul class="lv-2">
                        <li class="drop-list">
                            <span><i class="fa fa-plus-square-o"></i> <a href="#">Hướng dẫn giao dịch</a></span>
                            <ul class="lv-3">
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">HD Mở tài khoản</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">HD giao dịch cổ phiếu</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">HD giao dịch ký quỹ</a></span></li>
                            </ul>
                        </li>
                        <li class="drop-list">
                            <span><i class="fa fa-plus-square-o"></i> <a href="#">Hướng dẫn giao dịch tiền</a></span>
                            <ul class="lv-3">
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">HD nộp tiền</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">HD chuyển tiền</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">HD ứng trước tiền bán</a></span></li>
                            </ul>
                        </li>
                        <li class="drop-list">
                            <span><i class="fa fa-plus-square-o"></i> <a href="#">Hướng dẫn tra cứu và quản lý tài sản</a></span>
                            <ul class="lv-3">
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Tra cứu qua SMS</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Tra cứu qua CC</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">HD tra cứu tài sản ký quỹ</a></span></li>
                            </ul>
                        </li>
                        <li class="drop-list">
                            <span><i class="fa fa-plus-square-o"></i> <a href="#">Các biểu mẫu</a></span>
                            <ul class="lv-3">
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Mở tài khoản & Đăng ký dịch vụ</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Mẫu nộp & Rút tiền</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Các mẫu biểu khác</a></span></li>
                            </ul>
                        </li>
                        <li class="drop-list">
                            <span><i class="fa fa-plus-square-o"></i> <a href="#">Kiến thức và hỏi đáp</a></span>
                            <ul class="lv-3">
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Hỏi đáp (FAQ)</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Kiến thức</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Kinh nghiệm</a></span></li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li class="drop-list">
                    <span><i class="fa fa-plus-square-o"></i> <a href="#">Giới thiệu TVSI</a></span>
                    <ul class="lv-2">
                        <li class="drop-list">
                            <span><i class="fa fa-plus-square-o"></i> <a href="#">Về TVSI</a></span>
                            <ul class="lv-3">
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Tổng quan TVSI</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Giá trị doanh nghiệp</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Mốc son phát triển</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Đội ngũ</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Thành tựu nổi bật</a></span></li>
                            </ul>
                        </li>
                        <li class="drop-list">
                            <span><i class="fa fa-plus-square-o"></i> <a href="#">Tin tức hoạt động</a></span>
                            <ul class="lv-3">
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Hoạt động TVSI</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">TVSI với cộng đồng</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">TVSI với báo chí</a></span></li>
                            </ul>
                        </li>
                         <li class="drop-list">
                            <span><i class="fa fa-plus-square-o"></i> <a href="#">Quan hệ cổ đông</a></span>
                            <ul class="lv-3">
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Báo cáo tài chính</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Thông tin công bố</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Quản trị doanh nghiệp</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Thông tin cổ đông</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Báo cáo thường niên</a></span></li>
                            </ul>
                        </li>
                        <li class="drop-list">
                            <span><i class="fa fa-plus-square-o"></i> <a href="#">Cơ hội nghề nghiệp</a></span>
                            <ul class="lv-3">
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Môi trường làm việc</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Vị trí tuyển dụng</a></span></li>
                                <li><span><i class="fa fa-minus-square-o"></i> <a href="#">Nộp hồ sơ</a></span></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>
