﻿<div class="item_wrapper">
    <!-- Repeat 6 -->
    
    
     <div class="item">
        <a href="#">
            <img class="thumb lg" alt="" src="/images/banner/Tvsi/TVSI_banner-gthieu-trai-phieu-20190726.png" />
            <img class="thumb md" alt="" src="/images/banner/Tvsi/TVSI_banner-gthieu-trai-phieu-20190726.png" />
        </a>
    </div>
      <div class="item">
        <a href="#">
            <img class="thumb lg" alt="" src="/images/banner/Tvsi/tvsi-phat-hanh-trai-phieu.png" />
            <img class="thumb md" alt="" src="/images/banner/Tvsi/tvsi-phat-hanh-trai-phieu.png" />
        </a>
    </div>
    <div class="item">
        <a href="#">
            <img class="thumb lg" alt="" src="/images/banner/Tvsi/tvsi-san-ve-bia.png" />
            <img class="thumb md" alt="" src="/images/banner/Tvsi/tvsi-san-ve-bia.png" />
        </a>
    </div>
  
   
   
    <!-- end of repeat 4 -->
</div>