﻿<div class="item_wrapper">
    <!-- Repeat 6 -->
    @*<div class="item">
        <a href="http://finance.tvsi.com.vn/news/uudaitaichinh">
            <img class="thumb lg" alt="" src="/images/banner/Tvsi/Giaodichkyquy.jpg" />
            <img class="thumb md" alt="" src="/images/banner/Tvsi/Giaodichkyquy.jpg" />
        </a>
    </div>*@
    <div class="item">
        @*<a href="http://finance.tvsi.com.vn/news/detailNews?newsId=383539">*@
            <img class="thumb lg" alt="" src="/images/banner/Tvsi/tvsi-san-ve-bia.png" />
            <img class="thumb md" alt="" src="/images/banner/Tvsi/tvsi-san-ve-bia.png" />
        @*</a>*@
    </div>
    <div class="item">
        <a href="http://finance.tvsi.com.vn/news/detailNews?newsId=406647">
            <img class="thumb lg" alt="" src="/images/banner/Tvsi/tvsi-phat-hanh-trai-phieu.png" />
            <img class="thumb md" alt="" src="/images/banner/Tvsi/tvsi-phat-hanh-trai-phieu.png" />
        </a>
    </div>
    <div class="item">
        <a href="#">
            <img class="thumb lg" alt="" src="/images/banner/Tvsi/BannercloseiTH.png" />
            <img class="thumb md" alt="" src="/images/banner/Tvsi/BannercloseiTH.png" />
        </a>
    </div>
    <div class="item">
        <a href="#">
            <img class="thumb lg" alt="" src="/images/banner/Tvsi/BannerBieudovon.png" />
            <img class="thumb md" alt="" src="/images/banner/Tvsi/BannerBieudovon.png" />
        </a>
    </div>
    <div class="item">
        <a href="#">
            <img class="thumb lg" alt="" src="/images/banner/Tvsi/Bannergiaithuong.png" />
            <img class="thumb md" alt="" src="/images/banner/Tvsi/Bannergiaithuong.png" />
        </a>
    </div>
    <div class="item">
        <a href="http://finance.tvsi.com.vn/news/detailNews?newsId=371726">
            <img class="thumb lg" alt="" src="/images/banner/Tvsi/TVSI_SCB_Home.png" />
            <img class="thumb md" alt="" src="/images/banner/Tvsi/TVSI_SCB_Home.png" />
        </a>
    </div>
    <!-- end of repeat 4 -->
</div>