﻿<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Tan Viet Securities</title>
    <style type="text/css">
        .body {
            font-family: Arial,Verdana;
            font-size: 12px;
            font-weight: normal;
            color: #030303;
        }
    </style>
</head>
<body style="margin: 0px; font-family: Arial; font-size: 12px;">
    <div>      <p>Chart data is not updated</p><br />      <p>Date: May 16 2017  9:14AM</p></div>
</body>
</html>