﻿@{
    Layout = "~/Views/home/Share/_Layout_hoatdong.cshtml";
    var record = ViewBag.record;
}

@model PagedList.IPagedList<String>
@using PagedList.Mvc;
<section id="wrapper-top-content">
    <div class="banner">
        <img src="/images/banner/TVSIcongdong.png" alt="" class="background-banner">
        @*<div class="container">
                <h1 class="title-page dark">@Website_tvsi_v1.App_Resources.Website.Txt_TVSIPress</h1>
            </div>*@
    </div>
</section>
<section id="wrapper-content" class="inner-page">
    <div class="container">
        <div class="row di-table">
            <div class="sidebar di-table-cell vertical-top">
                <div class="sidebar-box">
                    <div class="title">
                        @Website_tvsi_v1.App_Resources.Website.Txt_NewsactivitiesF
                    </div>
                    <div class="wrapper">
                        <ul class="list-unstyled">
                            <li class="active">
                                <a href="/introduction/tvsi-community-news"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_TVSIcommunity_New</a>
                            </li>
                            <li>
                                <a href="/introduction/tvsi-community"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_TVSIcommunity</a>
                            </li>
                            <li><a href="/introduction/tvsi-newspapers"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_TVSIPress</a></li>
                            <li><a href="/introduction/activity-tvsi"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_TVSIactivities</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main-content di-table-cell vertical-top" id="maincontent">
                <div class="list-media list-news">
                    <div class="row">
                        @*@foreach (var item in Model){
                                <div class="item col-xs-12 col-sm-6 col-md-4">
                                <div class="thumb">
                                    <a class="fancybox-button" rel="tvsibaochi" href="@Url.Content(item)" title="">
                                        <img src="@Url.Content(item)"  style="height:210px;" onload="return resizeImg(this);" alt="TVSI với báo chí"/>
                                    </a>
                                </div>
                            </div>
                            }*@
                        <div id="_TinTvsiCongdongPart">
                            @{Html.RenderAction("_TinTvsiCongdongPart", "Home", new { currentPage = 1 });}
                        </div>
                    </div>
                </div>
                @*@if(record>6){
                        <div class="pager">
                            <ul class="list-unstyled">
                                <li>@Html.PagedListPager(Model, page => Url.Action("Tvsibaochi","home", new {page}),PagedListRenderOptions.OnlyShowFivePagesAtATime)</li>
                            </ul>
                        </div>
                    }*@
            </div>
        </div>
    </div>
</section>
@*<script>
        function fancyboxImage(elem) {
            elem = $(elem);
            if (!elem.data("fancybox")) {
                elem.data("fancybox", true);
                elem.fancybox().trigger('click');
            }
            return false;
        }

        var width_main_content = document.getElementById("maincontent").offsetWidth;
        var width = Math.round(width_main_content / 3) - 1;
        function resizeImg(img) {
            img.width = width;
            return false;
        }
        $(document).ready(function () {
            $(".fancybox-button").fancybox({
                beforeShow: function () {
                    // set size to (fancybox) img
                    $(".fancybox-image").css({
                        "width": 800,
                        "height": 600
                    });
                    // set size for parent container
                    this.width = 800;
                    this.height = 600;
                },
                prevEffect: 'none',
                nextEffect: 'none',
                helpers: {
                    title: {
                        type: 'outside'
                    }
                }
            });
        });
    </script>*@
