﻿@{
    Layout = "~/Views/Home/Share/_Layout_hoatdong.cshtml";
}
@{
    var tintuc = (Website_tvsi_v1.Common.newswebsite.News)ViewBag.tintuc;
    var noidung = ViewBag.noidung;
}
<section id="wrapper-top-content">
    <div class="banner">
        <img src="/images/banner/TVSIbaochi.png" alt="" class="background-banner">
        @*<div class="container">
            <h1 class="title-page dark">@Website_tvsi_v1.App_Resources.Website.Txt_TVSIPress</h1>
        </div>*@
    </div>
</section>
<section id="wrapper-content" class="inner-page">
    <div class="container">
        <div class="row di-table">
            <div class="sidebar di-table-cell vertical-top">
                <div class="sidebar-box">
                    <div class="title">
                        @Website_tvsi_v1.App_Resources.Website.Txt_NewsactivitiesF
                    </div>
                    <div class="wrapper">
                        <ul class="list-unstyled">
                            <li>
                                <a href="/introduction/tvsi-community-news"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_TVSIcommunity_New</a>
                            </li>

                            <li>
                                <a href="/introduction/tvsi-community"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_TVSIcommunity</a>
                            </li>

                            <li class="active"><a href="/introduction/tvsi-newspapers"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_TVSIPress</a></li>
                            <li><a href="/introduction/activity-tvsi"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_TVSIactivities</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main-content di-table-cell vertical-top" id="maincontent">
                <div class="list-media list-news">
                    <div class="row">
                        <div class="news-details-content">
                            <h1 class="news-title">@tintuc.Title</h1>
                            <div class="row post-head">
                                <div class="col-md-6 col-xs-12">
                                    @if (tintuc.Source == null || tintuc.Source == "")
                                    {
                                        <div class="time">@tintuc.Date.ToString()</div>
                                    }
                                    else
                                    {
                                        <div class="time">@tintuc.Source - @tintuc.Date.ToString()</div>
                                    }
                                </div>
                               
                            </div>
                            
                            <div class="news-excerpt">@tintuc.Description</div>
                            <div class="the-content">
                                @Html.Raw(noidung)
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</section>
