﻿@{
    Layout = "~/Views/Home/Share/_Layout.cshtml";
    var thong_tin_selected = (System.Data.DataTable)ViewBag.thong_tin_selected;
    var co_hoi_nghe_nghiep = (System.Data.DataTable)ViewBag.co_hoi_nghe_nghiep;
}

<section id="wrapper-top-content">
    <div class="banner">
        <img src="/images/banner/Cohoinghenghiep.png" alt="" class="background-banner">
        @*<div class="container">
            <h1 class="title-page dark">@Website_tvsi_v1.App_Resources.Website.Txt_Posts</h1>
        </div>*@
    </div>
</section>
<section id="wrapper-content" class="inner-page">
    <div class="container">
        <div class="row di-table">
            <div class="sidebar di-table-cell vertical-top">
                <div class="sidebar-box">
                    <div class="title">
                        @Html.Raw(Website_tvsi_v1.App_Resources.Website.Txt_CareersF)
                    </div>
                    <div class="wrapper">
                        <ul class="list-unstyled">
                            <li><a href="/introduction/opportunity-job/@co_hoi_nghe_nghiep.Rows[0]["thong_tin_tvsiid"]"><i class="fa fa-caret-right"></i> @co_hoi_nghe_nghiep.Rows[0]["tieu_de"]</a></li>
                            <li class="active"><a href="/introduction/opportunity-job/@co_hoi_nghe_nghiep.Rows[1]["thong_tin_tvsiid"]"><i class="fa fa-caret-right"></i> @co_hoi_nghe_nghiep.Rows[1]["tieu_de"]</a></li>
                            <li><a href="/introduction/opportunity-job/@co_hoi_nghe_nghiep.Rows[2]["thong_tin_tvsiid"]"><i class="fa fa-caret-right"></i> @co_hoi_nghe_nghiep.Rows[2]["tieu_de"]</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main-content di-table-cell vertical-top">
                @Html.Raw(thong_tin_selected.Rows[0]["noi_dung"].ToString())
                    <div class="text-center">
                        <a href="/introduction/opportunity-job/@Website_tvsi_v1.App_Resources.IdMapper.id_nophoso" class="btn-style2">@Website_tvsi_v1.App_Resources.Website.Txt_Apply</a>
                    </div>
           </div>
        </div>
    </div>
</section>

