﻿@{
    var cmt_note = Website_tvsi_v1.App_Resources.Website.Txt_Validduration15years;
    var lienlac_tvsi = Website_tvsi_v1.App_Resources.Website.Txt_Addressreceivedoc;
    var yeucau = Website_tvsi_v1.App_Resources.Website.Txt_Providerequired;
    var spdv_menu = ViewBag.spdv_menu;
    var hotro_menu = ViewBag.hotro_menu;
    var gttvsi_menu = ViewBag.gttvsi_menu;
}
@model Website_tvsi_v1.Models.KhaoSatYkienKhachHangModel




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=n" />
    <meta name="Description" content="Giao Dịch và Đầu Tư Cổ Phiếu Trực Tuyến- Công Ty Cổ Phần Chứng Khoán Tân Việt (TVSI)" />
    <meta name="keywords" content="TVSI,Tan Viet,Giao Dich Truc Tuyen,Chung Khoan Tan Viet,itrade home,itrade pro,co phieu,thi truong chung khoan,tim hieu chung khoan,hoc chung khoan,thong tin chung khoan,co phieu otc,co phieu blue chip,kinh doanh,kiem tien,chung khoan trong ngay,tin chung khoan,lam giau,san chung khoan,choi chung khoan,dao tao chung khoan,co phieu niem yet,kinh te, dich vu giao dich truc tuyen, giao dich co phieu, mua ban co phieu, dau tu, san pham truc tuyen, dich vu moi gioi, phi giao dich thap, OTC, Niem Yet, HOSTC, HASTC, Ha Noi, Saigon, Ho Chi Minh" />
    <meta name="country" content="VietNam" />
    <meta name="organization-Email" content="contact@tvsi.com.vn" />
    <meta name="copyright" content="Copyright 2011 - Tan Viet Securities Incorporation (TVSI) - www.tvsi.com.vn" />
    <meta name="coverage" content="Worldwide" />
    <meta name="identifier" content="https://www.tvsi.com.vn" />
    <meta name="language" content="English, en, Vietnamese,vn" />
    <meta name="robots" content="follow" />
    <meta name="googlebot" content="index, follow" />
    <link rel="icon" href="@Url.Content("~/images/favicon.ico")" />
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic&subset=latin,vietnamese,latin-ext'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic&subset=latin,vietnamese,latin-ext'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,vietnamese,latin-ext'
          rel='stylesheet' type='text/css'>

    <link type="text/css" rel="stylesheet" href="/asset/css/app.css" />
    <link type="text/css" rel="stylesheet" href="/asset/css/bootstrap-theme.min.css" />
    <link type="text/css" rel="stylesheet" href="/asset/css/bootstrap_ser.min.css" />
    <link href="/asset/css/jquery-ui.css" rel="stylesheet" />
    <link href="/asset/css/jquery.fancybox.css" rel="stylesheet" />

    <link type="text/css" rel="stylesheet" href="/asset/css/font-awesome.css" />
    <link rel='stylesheet' href='/asset/css/animate.min.css'>
    <link type="text/css" rel="stylesheet" href="/asset/css/jquery.bxslider.css" />
    <link rel="stylesheet" href="/asset/css/animation.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="/asset/css/fontello-ie7.css">
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="/asset/css/style.css" />
    <link type="text/css" rel="stylesheet" href="/asset/css/customize.css" />

    <script type='text/javascript' src="/asset/js/modernizr-2.6.2.min.js"></script>
    <script src="/asset/js/jquery.min.js"></script>
    <script src="/asset/js/jquery-ui.js"></script>
    <script type='text/javascript' src="/asset/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/asset/js/jquery.bxslider.min.js"></script>
    <script type='text/javascript' src="/asset/js/style.js"></script>
    <script src="/asset/js/jquery.fancybox.pack.js"></script>

    <style>
         .ui-autocomplete {
             max-height: 100px;
             overflow-y: auto;
             /* prevent horizontal scrollbar */
             overflow-x: hidden;
         }
         /* IE 6 doesn't support max-height
        * we use height instead, but this forces the menu to always be this tall
        */
         * html .ui-autocomplete {
             height: 100px;
         }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if IE]>
    <link type="text/css" rel="stylesheet" href="/asset/css/ie.css"/>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="/asset/js/html5shiv.js"></script>
    <script src="/asset/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <header>
        <div class="container">
            @{Html.RenderAction("MenuHeader", "Home", new { spdv = spdv_menu, hotro = hotro_menu, gttvsi = gttvsi_menu });}
        </div>
    </header>

    <section id="wrapper-top-content">
        <div class="banner">
            <img src="/images/banner/KS-TP-2021_Banner-KS2.jpg" alt="" class="background-banner">
            <div class="container">
            </div>
        </div>
    </section>
    @RenderBody()

    <footer>
        <div class="bottom-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="bottom-links">
                            <a href="#">@Website_tvsi_v1.App_Resources.Website.alt_MasterPage_ContactUs</a>
                            <a href="/home/site-map">@Website_tvsi_v1.App_Resources.Website.alt_MasterPage_SiteMap</a>
                            <a href="/home/terms-use">@Website_tvsi_v1.App_Resources.Website.Text_Disclaimer</a>
                        </div>
                        <div class="copy-right clr-f60101">
                            @Website_tvsi_v1.App_Resources.Website.Text_MasterPage_Copyright
                        </div>
                    </div>
                    <div class="col-sm-6 text-right">
                        <div class="contact-bottom">
                            Email: <a href="mailto:contact@tvsi.com.vn " class="clr-f60101">contact@tvsi.com.vn</a> -
                            Hotline: <span class="clr-f60101">19001885</span>
                        </div>
                        <div class="contact-bottom">
                            @*<span>Ứng dụng GDCK của TVSI</span>*@
                            <div class="social">
                                <a href="https://itunes.apple.com/us/app/tvsi-mobile/id962202711?mt=8" class="appStore">
                                    <img src="/images/appstore.png">
                                </a>
                                <a href="https://play.google.com/store/apps/details?id=vn.innotech.tvsi.mts" class="appStore">
                                    <img src="/images/gg-CH.png">
                                </a>
                                <a href="https://www.facebook.com/www.TVSI.com.vn/" class="appStore facebook">
                                    <img src="/images/facebook.png">
                                </a>
                                <a href="#" class="appStore google-plus">
                                    <img src="/images/google.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-65114755-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
<script>
    var width_search_box = $("#search-box").width();
    var width_search_box_news = $("#search-box").width();
    //alert(width_search_box);
    $.extend($.ui.autocomplete.prototype.options, {
        open: function (event, ui) {
            $("#search-input").autocomplete("widget").css({
                "width": (width_search_box + "px")
            });
            $("#input-news").autocomplete("widget").css({
                "width": (width_search_box_news + "px")
            });
        }
    });
    $(function () {
        $("#search-input").autocomplete({
            minLength: 0,
            source: function (request, response) {

                $.ajax({
                    url: "/home/GetMaChungkhoan",
                    dataType: "json",
                    data: {
                        q: request.term
                    },
                    success: function (res) {
                        response(res.data);

                    }
                });
            },
            focus: function (event, ui) {
                $("#search-input").val(ui.item.machungkhoan);
                return false;
            },
            select: function (event, ui) {
                $("#search-input").val(ui.item.machungkhoan);
                $("#searchForm").submit();
                return false;
            }
        })
          .autocomplete("instance")._renderItem = function (ul, item) {
              return $("<li>")
                .append("<a>" + "<span style='color:green'>" + item.machungkhoan + "</span>" + "-" + item.tendoanhnghiep + "</a>")
                .appendTo(ul);
          };

        //Tim kiem tin tuc
        $("#input-news").autocomplete({
            minLength: 0,
            source: function (request, response) {

                $.ajax({
                    url: "/home/GetMaChungkhoan",
                    dataType: "json",
                    data: {
                        q: request.term
                    },
                    success: function (res) {
                        response(res.data);

                    }
                });
            },
            focus: function (event, ui) {
                $("#input-news").val(ui.item.machungkhoan);
                return false;
            },
            select: function (event, ui) {
                $("#input-news").val(ui.item.machungkhoan);
                $("#searchNews").submit();
                return false;
            }
        })
          .autocomplete("instance")._renderItem = function (ul, item) {
              return $("<li>")
                .append("<a>" + "<span style='color:green'>" + item.machungkhoan + "</span>" + "-" + item.tendoanhnghiep + "</a>")
                .appendTo(ul);
          };
    });
    function actionLinkMenu(link) {
        window.location.href = link;
    }
    function openMangLuoi() {
        $("#transaction-network").toggleClass("open");
    }
    function getMobileTvsi() {
        var userAgent = navigator.userAgent;
        if (userAgent.match(/iPad/i) || userAgent.match(/iPhone/i) || userAgent.match(/iPod/i)) {
            document.getElementById("dangnhap").href = "https://itunes.apple.com/us/app/tvsi-mobile/id962202711?mt=8";
        }
        else if (userAgent.match(/Android/i)) {
            document.getElementById("dangnhap").href = "https://play.google.com/store/apps/details?id=vn.innotech.tvsi.mts";
        } else {
            document.getElementById("dangnhap").href = "https://www.tvsi.com.vn/vn/home/homepage.htm";
        }
    }


    getMobileTvsi();
    //setInterval(getclock, 1000);
    function getclock() {
        var d = new Date();
        var h = d.getHours();
        var m = d.getMinutes();
        var s = d.getSeconds();
        var day = d.getDate();
        var month = d.getMonth();
        var year = d.getFullYear();
        var str_thu = d.getDay();
        if (str_thu == 1) {
            str_thu = "@Website_tvsi_v1.App_Resources.Website.Txt_Monday";
        } else if (str_thu == 2) {
            str_thu = "@Website_tvsi_v1.App_Resources.Website.Txt_Tuesday";
        } else if (str_thu == 3) {
            str_thu = "@Website_tvsi_v1.App_Resources.Website.Txt_Wednesday";
        } else if (str_thu == 4) {
            str_thu = "@Website_tvsi_v1.App_Resources.Website.Txt_Thursday";
        } else if (str_thu == 5) {
            str_thu = "@Website_tvsi_v1.App_Resources.Website.Txt_Friday";
        } else if (str_thu == 6) {
            str_thu = "@Website_tvsi_v1.App_Resources.Website.Txt_Saturday";
        } else {
            str_thu = "@Website_tvsi_v1.App_Resources.Website.Txt_Sunday";
        }
    month = month + 1;
    if (month < 10) {
        month = "0" + month;
    }
    if (m < 10) {
        m = "0" + m;
    }
    if (s < 10) {
        s = "0" + s;
    }

    if (h < 10) {
        h = "0" + h;
    }
    if (day < 10) {
        day = "0" + day;
    }
    var clock_html = '<strong>' + h + ":" + m + ":" + s + '</strong>' + " " + " " + str_thu + ", " + day + "/" + month + "/" + year;
    document.getElementById('clock_web').innerHTML = clock_html;
}
function changLanguageFp(change) {
    $.ajax({
        url: "/home/changeLanguage",
        data: { lang_tvsi_wb: change },
        cache: false,
        type: "GET",
        dataType: "html",
        success: function () {
            location.reload();
        }
    });
}


$(function () {
    // delete extra hidden fields created by checkboxes as the grid links mess this up by doubling the querystring parameters
    $("input[type='hidden'][name='kenhthongtin']").remove();
    $("input[type='hidden'][name='luachondichvu']").remove();
    $("input[type='hidden'][name='kenhgiaodichchungkhoan']").remove();
    $("input[type='hidden'][name='lydokhongconhucaugdkquy']").remove();
    $("input[type='hidden'][name='dichvuhotrovon']").remove();
    $("input[type='hidden'][name='goidichvuhotrovongdkquy']").remove();
    $("input[type='hidden'][name='tieuchiluachontaictyck']").remove();
    $("input[type='hidden'][name='lydoluachonctykhac']").remove();
    $("input[type='hidden'][name='kenhdaututaichinh']").remove();
    $("input[type='hidden'][name='kenhthongtinchuacotk']").remove();
    //alert($('input[name=kenhgiaodichchungkhoan]').val());
});
</script>
