﻿@{
    Layout = null;
    var spdv_menu = ViewBag.spdv_menu;
    var hotro_menu = ViewBag.hotro_menu;
    var gttvsi_menu = ViewBag.gttvsi_menu;
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=n" />
    <meta name="Description" content="Giao Dịch và Đầu Tư Cổ Phiếu Trực Tuyến- Công Ty Cổ Phần Chứng Khoán Tân Việt (TVSI)" />
    <meta name="keywords" content="TVSI,Tan Viet,Giao Dich Truc Tuyen,Chung Khoan Tan Viet,itrade home,itrade pro,co phieu,thi truong chung khoan,tim hieu chung khoan,hoc chung khoan,thong tin chung khoan,co phieu otc,co phieu blue chip,kinh doanh,kiem tien,chung khoan trong ngay,tin chung khoan,lam giau,san chung khoan,choi chung khoan,dao tao chung khoan,co phieu niem yet,kinh te, dich vu giao dich truc tuyen, giao dich co phieu, mua ban co phieu, dau tu, san pham truc tuyen, dich vu moi gioi, phi giao dich thap, OTC, Niem Yet, HOSTC, HASTC, Ha Noi, Saigon, Ho Chi Minh" />
    <meta name="country" content="VietNam" />
    <meta name="organization-Email" content="contact@tvsi.com.vn" />
    <meta name="copyright" content="Copyright 2011 - Tan Viet Securities Incorporation (TVSI) - www.tvsi.com.vn" />
    <meta name="coverage" content="Worldwide" />
    <meta name="identifier" content="https://www.tvsi.com.vn" />
    <meta name="language" content="English, en, Vietnamese,vn" />
    <meta name="robots" content="follow" />
    <meta name="googlebot" content="index, follow" />
    <link rel="icon" href="@Url.Content("~/images/favicon.png")" />
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic&subset=latin,vietnamese,latin-ext'
        rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic&subset=latin,vietnamese,latin-ext'
        rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,vietnamese,latin-ext'
        rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/asset/css/bootstrap-theme.min.css" />
    <link type="text/css" rel="stylesheet" href="/asset/css/bootstrap.min.css" />
    <link href="/asset/css/jquery-ui.css" rel="stylesheet" />
    <link href="/asset/css/jquery.fancybox.css" rel="stylesheet" />

    <link type="text/css" rel="stylesheet" href="/asset/css/font-awesome.css" />
    <link rel='stylesheet' href='/asset/css/animate.min.css'>
    <link type="text/css" rel="stylesheet" href="/asset/css/jquery.bxslider.css" />
    <link rel="stylesheet" href="/asset/css/animation.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="/asset/css/fontello-ie7.css">
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="/asset/css/style.css" />
    <link type="text/css" rel="stylesheet" href="/asset/css/customize.css" />

    <script type='text/javascript' src="/asset/js/modernizr-2.6.2.min.js"></script>
    <script src="/asset/js/jquery.min.js"></script>
    <script src="/asset/js/jquery-ui.js"></script>
    <script type='text/javascript' src="/asset/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/asset/js/jquery.bxslider.min.js"></script>
    <script type='text/javascript' src="/asset/js/style.js"></script>
    <script src="/asset/js/jquery.fancybox.pack.js"></script>

    <style>
        .ui-autocomplete {
            max-height: 100px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
        }
        /* IE 6 doesn't support max-height
       * we use height instead, but this forces the menu to always be this tall
       */
        * html .ui-autocomplete {
            height: 100px;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if IE]>
    <link type="text/css" rel="stylesheet" href="/asset/css/ie.css"/>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="/asset/js/html5shiv.js"></script>
    <script src="/asset/js/respond.min.js"></script>
    <![endif]-->

    <!-- Start of StringeeX Chat Widget script -->
    <script type="text/javascript" id="stringeeXChatWidget" src="https://v2.stringee.com/stringeexchat/sdk/product/StringeeXChatBox-2.0.2.js?key=REMvTGEwckZwZWdsbTE2YTFNS1VFZz09&showBot=1&route=&showroute=1"> </script>
    <!-- End of  StringeeX Chat Widget script -->
</head>
<body>
    <header>
        <div class="container">
            @{Html.RenderAction("MenuHeader", "Home", new { spdv = spdv_menu, hotro = hotro_menu, gttvsi = gttvsi_menu });}
        </div>
    </header>
    @RenderBody()
    <footer>
        @{Html.RenderAction("MenuFooter", "Home");}
        <div id="quick-link" class="fixed inner">
            @{Html.RenderAction("LinkSlider", "Home");}

        </div>
    </footer>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-65114755-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>
<script>
    var width_search_box = $("#search-box").width();
    var width_search_box_news = $("#search-box").width();
    //alert(width_search_box);
    $.extend($.ui.autocomplete.prototype.options, {
        open: function (event, ui) {
            $("#search-input").autocomplete("widget").css({
                "width": (width_search_box + "px")
            });
            $("#input-news").autocomplete("widget").css({
                "width": (width_search_box_news + "px")
            });
        }
    });
    $(function () {
        $("#search-input").autocomplete({
            minLength: 0,
            source: function (request, response) {

                $.ajax({
                    url: "/home/GetMaChungkhoan",
                    dataType: "json",
                    data: {
                        q: request.term
                    },
                    success: function (res) {
                        response(res.data);

                    }
                });
            },
            focus: function (event, ui) {
                $("#search-input").val(ui.item.machungkhoan);
                return false;
            },
            select: function (event, ui) {
                $("#search-input").val(ui.item.machungkhoan);
                $("#searchForm").submit();
                return false;
            }
        })
          .autocomplete("instance")._renderItem = function (ul, item) {
              return $("<li>")
                .append("<a>" + "<span style='color:green'>" + item.machungkhoan + "</span>" + "-" + item.tendoanhnghiep + "</a>")
                .appendTo(ul);
          };

        //Tim kiem tin tuc
        $("#input-news").autocomplete({
            minLength: 0,
            source: function (request, response) {

                $.ajax({
                    url: "/home/GetMaChungkhoan",
                    dataType: "json",
                    data: {
                        q: request.term
                    },
                    success: function (res) {
                        response(res.data);

                    }
                });
            },
            focus: function (event, ui) {
                $("#input-news").val(ui.item.machungkhoan);
                return false;
            },
            select: function (event, ui) {
                $("#input-news").val(ui.item.machungkhoan);
                $("#searchNews").submit();
                return false;
            }
        })
          .autocomplete("instance")._renderItem = function (ul, item) {
              return $("<li>")
                .append("<a>" + "<span style='color:green'>" + item.machungkhoan + "</span>" + "-" + item.tendoanhnghiep + "</a>")
                .appendTo(ul);
          };
    });
</script>
