﻿<style type="text/css">
    @media (max-width: 768px) {
        .nav-finger li.active a:before {
            display: none;
        }
    }

    .nav.secound {
        border-bottom: 1px solid #a2a2a2;
    }

        .nav.secound a {
            position: relative;
            display: block;
            font-weight: bold;
            font-size: 18px;
            color: #414141;
            text-transform: uppercase;
            text-align: center;
            border-right: 1px solid #a2a2a2;
            height: 27px;
            line-height: 4px;
            white-space: nowrap;
            padding: 0 !important;
        }

            .nav.secound a:hover {
                color: #f00 !important;
                background-color: transparent;
            }

            .nav.secound a img {
                display: none;
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -9px;
                width: 18px;
                height: 9px;
                z-index: 1;
                pointer-events: none;
            }

        .nav.secound li {
            float: left;
            width: 25%;
        }

            .nav.secound li:last-child a {
                border-right: none;
            }

            .nav.secound li.active a {
                color: #000;
            }

                .nav.secound li.active a img {
                    display: block;
                }
</style>

<div class="main-content di-table-cell vertical-top">
    <div class="nav secound table-bigger" style="margin-left:20px; width:95%">
        <ul class="submit-width posr">
            <li class="item active" style="width:36%">
                <span></span>
                <a style="font-weight: normal" href="#">Nghiệp vụ<img src="images/nav-secound.png" alt="#"></a>
            </li>
            <li class="item active">
                <span></span>
                <a style="font-weight: normal" href="#">Thời gian thực hiện<img src="images/nav-secound.png" alt="#"></a>
            </li>
            <li class="item active" style="width:36%">
                <span></span>
                <a style="font-weight: normal" href="#">Thời gian phục vụ<img src="images/nav-secound.png" alt="#"></a>
            </li>
        </ul>
    </div>
    <div class="detail-content has-title-part tariff" style="margin-top:30px;">
        <div class="panel-group collapse-180" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel active item">
                <div class="panel-heading" role="tab" id="headingOne" style="margin-left:0px; padding-left:7px;">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fa fa-angle-down"></i><span>Mở tài khoản giao dịch chứng khoán</span>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="headingOne">
                    <div class="panel-body" style="padding-left:0px;">
                        <div class="wrapper">

                            <div>
                                <table class="table table-default">
                                    <tbody>
                                        <tr>
                                            <td style="border: 0px; padding: 0px; width: 60%">
                                                <table style="border-style: dashed; width: 100%;">
                                                    <tr style="height: 88px;">
                                                        <td style="border-style: dashed;">
                                                            <p style="margin-left: 20px; font-weight: bold">Trong nước</p>
                                                        </td>
                                                        <td style="border-style: dashed; text-align: center;"><b>10 phút</b></td>
                                                    </tr>
                                                    <tr style="height: 88px;">
                                                        <td style="border-style: dashed;">
                                                            <p style="margin-left: 20px; font-weight: bold">Nước ngoài</p>
                                                        </td>
                                                        <td style="border-style: dashed;"><b>1 ngày</b></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="border-style: dashed; padding: 0px; border-left: 0px; width: 40%">
                                                <table style="border: 0px; width: 95%;">
                                                    <tr>
                                                        <td style="border: 0px; padding-top: 10px; padding-left: 15px;">
                                                            <p style="margin-left: 5px; font-weight: normal; font-size: 14px;">- <b>20-25p</b></p>
                                                            <p style="margin-left: 5px; font-weight: normal; font-size: 14px;">- Hướng dẫn KH điền thông tin đến khi KH điền xong hồ sơ hoàn chỉnh: 15-20p</p>
                                                            <p style="margin-left: 5px; font-weight: normal; font-size: 14px;">- Kiểm tra tính đầy đủ và hợp lệ của bộ hồ sơ: 3 -5p</p>
                                                            <p style="margin-left: 5px; font-weight: normal; font-size: 14px;">- Xin dấu và gửi trả KH 01 bản HĐ Mở TK (áp dụng đối với KH trong nước): 2p</p>

                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel item">
                <div class="panel-heading" role="tab" id="headingTwo" style="margin-left:0px; padding-left:7px;">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse"
                           data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                           aria-controls="collapseTwo">
                            <i class="fa fa-angle-down"></i><span>Đặt lệnh giao dịch chứng khoán</span>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="headingTwo">
                    <div class="panel-body" style="padding-left:0px;">
                        <div class="wrapper">
                            <div>
                                <table class="table table-default">

                                    <tr>
                                        <td style="border-style: dashed; width: 40%">
                                            <p style="margin-left: 20px; font-weight: bold;">Giao dịch khớp lệnh</p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>1 phút</b></td>
                                        <td style="border-style: dashed; width: 40%">
                                            <p style="margin-left: 20px; font-weight: normal">- 1-3p</p>
                                            <p style="margin-left: 20px; font-weight: normal">- Kiểm tra thông tin hợp lệ.</p>
                                            <p style="margin-left: 20px; font-weight: normal">- Tiến hành đặt lệnh và cho KH viết phiếu</p>

                                        </td>

                                    </tr>
                                    <tr>
                                        <td style="border-style: dashed;">
                                            <p style="margin-left: 20px; font-weight: bold">Giao dịch thỏa thuận</p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>3 phút</b></td>
                                        <td style="border-style: dashed;">
                                            <p style="margin-left: 20px; font-weight: normal">- 8-10p</p>
                                            <p style="margin-left: 20px; font-weight: normal">- Kiểm tra thông tin của TK bên mua và bên bán.</p>
                                            <p style="margin-left: 20px; font-weight: normal">- Xác nhận lệnh với Công ty CK khác nếu bên mua hoặc bên bán không cùng Công ty, tiến hành đặt lệnh</p>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td style="border-style: dashed;">
                                            <p style="margin-left: 20px; font-weight: bold">Giao dịch lô lẻ</p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>7 ngày</b></td>
                                        <td style="border-style: dashed;">
                                            <p style="margin-left: 20px; font-weight: normal">- Kiểm tra thông tin hợp lệ.</p>
                                            <p style="margin-left: 20px; font-weight: normal">- Tiến hành đặt lệnh và cho KH viết phiếu.</p>
                                            <p style="margin-left: 20px; font-weight: normal">
                                                - Tiến hành làm hồ sơ mua lại lô lẻ đối với sàn HSX ( Không bao gồm thời gian làm việc của bên thứ 3)
                                            </p>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel item">
                <div class="panel-heading" role="tab" id="headingThree" style="margin-left:0px; padding-left:7px;">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse"
                           data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                           aria-controls="collapseThree">
                            <i class="fa fa-angle-down"></i><span>Giao dịch tiền</span>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="headingThree">
                    <div class="panel-body" style="padding-left:0px;">
                        <div class="wrapper">
                            <div>
                                <table class="table table-default">

                                    <tr>
                                        <td style="border-style: dashed; width: 40%">
                                            <p style="margin-left: 20px; font-weight: bold;">Nộp online</p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>5 phút</b></td>
                                        <td style="border-style: dashed; width: 40%">
                                            <p style="margin-left: 10px; font-weight: normal">* GD nộp: 3-5p</p>
                                            <p style="margin-left: 15px; font-weight: normal">- Dưới 300tr: 3-5p  </p>
                                            <p style="margin-left: 15px; font-weight: normal">- Trên 300tr: 5-7p</p>
                                            <p style="margin-left: 10px; font-weight: normal">* GD rút:</p>
                                            <p style="margin-left: 15px; font-weight: normal">- Dưới 300tr: 3-5p   </p>
                                            <p style="margin-left: 15px; font-weight: normal">- Trên 300tr: 5-10p (bao gồm thời gian kiểm tra sao kê, dòng tiền) </p>
                                            <p style="margin-left: 10px; font-weight: normal">* Các TH trên không bao gồm xử lý các vấn đề phát sinh trong giao dịch</p>
                                            <p style="margin-left: 10px; font-weight: normal">* Bao gồm cả thời gian thực hiện của bên Ngân hàng.</p>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td style="border-style: dashed; width: 40%">
                                            <p style="margin-left: 20px; font-weight: bold;">Nộp/Rút tiền mặt</p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>20 phút</b></td>
                                        <td style="border-style: dashed; width: 40%">
                                            <p style="margin-left: 10px; font-weight: normal">* GD nộp: 3-5p</p>
                                            <p style="margin-left: 15px; font-weight: normal">- Dưới 300tr: 3-5p  </p>
                                            <p style="margin-left: 15px; font-weight: normal">- Trên 300tr: 5-7p</p>
                                            <p style="margin-left: 10px; font-weight: normal">* GD rút:</p>
                                            <p style="margin-left: 15px; font-weight: normal">- Dưới 300tr: 3-5p   </p>
                                            <p style="margin-left: 15px; font-weight: normal">- Trên 300tr: 5-10p (bao gồm thời gian kiểm tra sao kê, dòng tiền) </p>
                                            <p style="margin-left: 10px; font-weight: normal">* Các TH trên không bao gồm xử lý các vấn đề phát sinh trong giao dịch</p>
                                            <p style="margin-left: 10px; font-weight: normal">* Bao gồm cả thời gian thực hiện của bên Ngân hàng.</p>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td style="border-style: dashed;">
                                            <p style="margin-left: 20px; font-weight: bold">Ứng trước tiền bán chứng khoán</p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>2 phút</b></td>
                                        <td style="border-style: dashed;">
                                            <p style="margin-left: 10px; font-weight: normal">5-7p (áp dụng đối với TK black list)</p>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-style: dashed;">
                                            <p style="margin-left: 20px; font-weight: bold">Chuyển khoản nội bộ</p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>2 phút</b></td>
                                        <td style="border-style: dashed;">
                                            <p style="margin-left: 10px; font-weight: normal">5-7p (áp dụng với CKNB chưa đăng ký)</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-style: dashed;">
                                            <p style="margin-left: 20px; font-weight: bold">Chuyển khoản ra ngoài</p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>---</b></td>
                                        <td style="border-style: dashed;">
                                            <p style="margin-left: 10px; font-weight: normal">* CK tự động</p>
                                            <p style="margin-left: 15px; font-weight: normal">- Dưới 300tr: 3-5p  </p>
                                            <p style="margin-left: 15px; font-weight: normal">
                                                - Trên 300tr: 5-10p (bao gồm thời gian kiểm tra sao kê, dòng tiền)
                                            </p>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-style: dashed;">
                                            <p style="margin-left: 20px; font-weight: bold">Chuyển khoản UNC tại quầy đi cùng hệ thống ngân hàng</p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>---</b></td>
                                        <td style="border-style: dashed;">
                                            <p style="margin-left: 10px; font-weight: normal">* Uỷ nhiệm chi</p>
                                            <p style="margin-left: 15px; font-weight: normal">- Dưới 300tr: 5-10p</p>
                                            <p style="margin-left: 15px; font-weight: normal">
                                                - Trên 300tr: 10-15p (bao gồm thời gian kiểm tra sao kê, dòng tiền)
                                            </p>
                                            <p style="margin-left: 10px; font-weight: normal">* Thời gian trên là thời gian lệnh thành công trên hệ thống của TVSI </p>
                                            <p style="margin-left: 10px; font-weight: normal">* Các TH trên không bao gồm xử lý các vấn đề phát sinh trong giao dịch</p>
                                            <p style="margin-left: 10px; font-weight: normal">* Kế toán nội bộ duyệt bước 3</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-style: dashed;">
                                            <p style="margin-left: 20px; font-weight: bold">Chuyển khoản UNC tại quầy đi khác hệ thống ngân hàng</p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>---</b></td>
                                        <td style="border-style: dashed;">
                                            <p style="margin-left: 10px; font-weight: normal">* Uỷ nhiệm chi</p>
                                            <p style="margin-left: 15px; font-weight: normal">- Dưới 300tr: 5-10p</p>
                                            <p style="margin-left: 15px; font-weight: normal">
                                                - Trên 300tr: 10-15p (bao gồm thời gian kiểm tra sao kê, dòng tiền)
                                            </p>
                                            <p style="margin-left: 10px; font-weight: normal">* Thời gian trên là thời gian lệnh thành công trên hệ thống của TVSI </p>
                                            <p style="margin-left: 10px; font-weight: normal">* Các TH trên không bao gồm xử lý các vấn đề phát sinh trong giao dịch</p>
                                            <p style="margin-left: 10px; font-weight: normal">* Kế toán nội bộ duyệt bước 3</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-style: dashed;">
                                            <p style="margin-left: 20px; font-weight: bold">Đăng ký tài khoản ngân hàng</p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>10 phút</b></td>
                                        <td style="border-style: dashed;">
                                            <p style="margin-left: 10px; font-weight: normal">Hướng dẫn và kiểm tra thông tin KH: 15p</p>
                                            <p style="margin-left: 15px; font-weight: normal">* Thực hiện cuối ngày giao dịch</p>

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel item">
                <div class="panel-heading" role="tab" id="headingFour" style="margin-left:0px; padding-left:7px;">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse"
                           data-parent="#accordion" href="#collapseFour" aria-expanded="false"
                           aria-controls="collapseFour">
                            <i class="fa fa-angle-down"></i><span>Dịch vụ hỗ trợ tài chính</span>
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="headingFour">
                    <div class="panel-body" style="padding-left:0px;">
                        <div class="wrapper">
                            <div>
                                <table class="table table-default">


                                    <tr>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:20px; font-weight:bold">
                                            Mở tài khoản giao dịch ký quỹ</p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>10 phút</b></td>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:10px; font-weight:normal">
                                            15-20p</p>
                                            <p style="margin-left: 15px; font-weight: normal">*Kiểm tra thông tin, hướng dẫn KH điền thông tin đến khi KH điền xong hồ sơ hoàn chỉnh.</p>
                                            <p style="margin-left: 15px; font-weight: normal">
                                                *Xin dấu và gửi trả KH 01 bản HĐ Mở TK (áp dụng đối với KH trong nước).
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:20px; font-weight:bold">
                                            Đóng tài khoản giao dịch ký quỹ</p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>10 phút</b></td>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:10px; font-weight:normal">
                                            10-15p (không tính thời gian phát sinh):</p>
                                            <p style="margin-left: 15px; font-weight: normal">* Kiểm tra thông tin và làm hồ sơ cho KH.</p>
                                            <p style="margin-left: 15px; font-weight: normal">
                                                * Phát sinh: tài khoản Blacklist: chờ phê duyệt của FS và các bộ phận liên quan
                                            </p>

                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel item">
                <div class="panel-heading" role="tab" id="headingFive" style="margin-left:0px; padding-left:7px;">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse"
                           data-parent="#accordion" href="#collapseFive" aria-expanded="false"
                           aria-controls="collapseFive">
                            <i class="fa fa-angle-down"></i><span>Tất toán - chuyển tài khoản</span>
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="headingFive">
                    <div class="panel-body" style="margin-left:0px; padding-left:0px;">
                        <div class="wrapper">
                            <div>
                                <table class="table table-default">
                                    <tbody>
                                        <tr>
                                            <td style="border: 0px; padding: 0px; width: 55%">
                                                <table style="border-style: dashed; width: 100%;">
                                                    <tr style="height: 80px;">
                                                        <td style="border-style: dashed;">
                                                            <p style="margin-left: 20px; font-weight: bold">Tất toán tài khoản</p>
                                                        </td>
                                                        <td style="border-style: dashed; text-align: center;"><b>10 phút</b></td>
                                                    </tr>
                                                    <tr style="height: 80px;">
                                                        <td style="border-style: dashed;">
                                                            <p style="margin-left: 20px; font-weight: bold">Chuyển tài khoản sang CTCK khác</p>
                                                        </td>
                                                        <td style="border-style: dashed;"><b>3 ngày</b></td>
                                                    </tr>
                                                    <tr style="height: 80px;">
                                                        <td style="border-style: dashed; line-height:80px;">
                                                            <p style="margin-left: 20px; font-weight: bold">Chuyển một phần danh mục chứng khoán sang CTCK khác</p>
                                                        </td>
                                                        <td style="border-style: dashed; line-height:80px;"><b>3 ngày</b></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="border-style: dashed; padding: 0px; border-left: 0px; width: 45%">
                                                <table style="border: 0px; width: 95%;">
                                                    <tr>
                                                        <td style="border: 0px; padding-top: 40px; padding-left: 15px;">
                                                            <p style="margin-left: 5px; font-weight: normal; font-size: 14px;"><b>10-15p (không tính thời gian phát sinh):</b></p>
                                                            <p style="margin-left: 5px; font-weight: normal; font-size: 14px;">* Kiểm tra thông tin và làm hồ sơ cho KH.</p>
                                                            <p style="margin-left: 5px; font-weight: normal; font-size: 14px;">* Hạch toán thu phí theo quy định.</p>
                                                            <p style="margin-left: 5px; font-weight: normal; font-size: 14px;">* Phát sinh: tài khoản Blacklist: chờ phê duyệt của FS và các bộ phận liên quan</p>
                                                            <p style="margin-left: 5px; font-weight: normal; font-size: 14px;">( Không bao gồm thời gian làm việc của bên thứ 3)</p>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel item">
                <div class="panel-heading" role="tab" id="headingSix" style="margin-left:0px; padding-left:7px;">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse"
                           data-parent="#accordion" href="#collapseSix" aria-expanded="false"
                           aria-controls="collapseSix">
                            <i class="fa fa-angle-down"></i><span>Lưu ký</span>
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="headingSix">
                    <div class="panel-body" style="margin-left:0px; padding-left:0px;">
                        <div class="wrapper">
                            <div>
                                <table class="table table-default">


                                    <tr>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:20px; font-weight:bold">
                                            Cổ phiếu đã niêm yết</p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>3 ngày</b></td>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:10px; font-weight:normal">
                                            10 -15p:</p>
                                            <p style="margin-left: 15px; font-weight: normal">*Kiểm tra thông tin và làm hồ sơ cho KH.</p>
                                            <p style="margin-left: 15px; font-weight: normal">
                                                *Xin dấu và gửi trả KH 1 bản xác nhận.
                                            </p>
                                            <p style="margin-left: 15px; font-weight: normal">
                                                ( Không bao gồm thời gian làm việc của bên thứ 3)
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:20px; font-weight:bold">
                                            Cổ phiếu chưa niêm yết</p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>3 ngày</b></td>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:10px; font-weight:normal">
                                            10 -15p:</p>
                                            <p style="margin-left: 15px; font-weight: normal">*Kiểm tra thông tin và làm hồ sơ cho KH.</p>
                                            <p style="margin-left: 15px; font-weight: normal">
                                                *Xin dấu và gửi trả KH 1 bản xác nhận.
                                            </p>
                                            <p style="margin-left: 15px; font-weight: normal">
                                                ( Không bao gồm thời gian làm việc của bên thứ 3)
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:20px; font-weight:bold">
                                            Điều chỉnh - thay đổi thông tin lưu ký</p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>3 ngày</b></td>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:10px; font-weight:normal">
                                            10 -15p:</p>
                                            <p style="margin-left: 15px; font-weight: normal">*Kiểm tra thông tin và hướng dẫn Kh điền vào hồ sơ</p>
                                            <p style="margin-left: 15px; font-weight: normal">
                                                ( Không bao gồm thời gian làm việc của bên thứ 3)
                                            </p>

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel item">
                <div class="panel-heading" role="tab" id="headingSeven" style="margin-left:0px; padding-left:7px;">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse"
                           data-parent="#accordion" href="#collapseSeven" aria-expanded="false"
                           aria-controls="collapseSeven">
                            <i class="fa fa-angle-down"></i><span>Đăng ký sản phẩm dịch vụ giao dịch  </span>
                        </a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="headingSeven">
                    <div class="panel-body" style="margin-left:0px; padding-left:0px;">
                        <div class="wrapper">
                            <div>
                                <table class="table table-default">


                                    <tr>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:20px; font-weight:bold">
                                            Đăng ký cung cấp dịch vụ giao dịch trực tuyến</p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>10 phút</b></td>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:10px; font-weight:normal">
                                            10 -15p:</p>
                                            <p style="margin-left: 15px; font-weight: normal">*Kiểm tra thông tin và làm hồ sơ cho KH.</p>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:20px; font-weight:bold">
                                            Đăng ký phương thức giao dịch </p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>10 phút</b></td>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:10px; font-weight:normal">
                                            10 -15p:</p>
                                            <p style="margin-left: 15px; font-weight: normal">*Kiểm tra thông tin và làm hồ sơ cho KH.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:20px; font-weight:bold">
                                            Thay đổi - điều chỉnh các công cụ giao dịch </p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>10 phút</b></td>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:10px; font-weight:normal">
                                            10 -15p:</p>
                                            <p style="margin-left: 15px; font-weight: normal">*Kiểm tra thông tin và hướng dẫn Kh điền vào hồ sơ</p>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:20px; font-weight:bold">
                                            Thay đổi - điều chỉnh thông tin cá nhân</p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>3 ngày</b></td>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:10px; font-weight:normal">
                                            Hướng dẫn và kiểm tra thông tin 10-15p</p>
                                            <p style="margin-left: 15px; font-weight: normal">(Không bao gồm thời gian làm việc của bên thứ 3)</p>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:20px; font-weight:bold">
                                            Thay đổi - điều chỉnh thông tin cá nhân</p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>10 phút</b></td>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:15px; font-weight:normal">
                                            * Kiểm tra thông tin và làm hồ sơ cho KH: 10p</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel item">
                <div class="panel-heading" role="tab" id="headingEight" style="margin-left:0px; padding-left:7px;">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse"
                           data-parent="#accordion" href="#collapseEight" aria-expanded="false"
                           aria-controls="collapseEight">
                            <i class="fa fa-angle-down"></i><span>Chuyển nhượng cổ phiếu </span>
                        </a>
                    </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="headingEight">
                    <div class="panel-body" style="margin-left:0px; padding-left:0px;">
                        <div class="wrapper">
                            <div>
                                <table class="table table-default">
                                    <tr>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:20px; font-weight:bold">
                                            Chuyển nhượng quyền mua cổ phiếu đã niêm yết</p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>4 ngày</b></td>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:10px; font-weight:normal">
                                            *Kiểm tra thông tin và làm hồ sơ cho KH: 10-20p</p>
                                            <p style="margin-left: 15px; font-weight: normal">( Không bao gồm thời gian làm việc của bên thứ 3)</p>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:20px; font-weight:bold">
                                            Chuyển nhượng cổ phiếu chưa niêm yết</p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>5 ngày</b></td>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:10px; font-weight:normal">
                                            15-20p:</p>
                                            <p style="margin-left: 15px; font-weight: normal">*Kiểm tra thông tin và làm hồ sơ cho KH: 10 -15p</p>
                                            <p style="margin-left: 15px; font-weight: normal">*Hạch toán thu phí theo quy định : 3p</p>
                                            <p style="margin-left: 15px; font-weight: normal">( Không bao gồm thời gian làm việc của bên thứ 3)</p>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel item">
                <div class="panel-heading" role="tab" id="headingNine" style="margin-left:0px; padding-left:7px;">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse"
                           data-parent="#accordion" href="#collapseNine" aria-expanded="false"
                           aria-controls="collapseNine">
                            <i class="fa fa-angle-down"></i><span>Đấu giá cổ phiếu </span>
                        </a>
                    </h4>
                </div>
                <div id="collapseNine" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="headingNine">
                    <div class="panel-body" style="margin-left:0px; padding-left:0px;">
                        <div class="wrapper">
                            <div>
                                <table class="table table-default">
                                    <tr>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left: 20px; font-weight: bold">
                                            Đăng ký đấu giá</p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>20 phút</b></td>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:10px; font-weight:normal">
                                            20-30p</p>
                                            <p style="margin-left: 15px; font-weight: normal">* Hướng dẫn KH nộp tiền tại ngân hàng, chuyển khoản vào TK để đặt cọc: 15p</p>
                                            <p style="margin-left: 15px; font-weight: normal">* Hướng dẫn KH làm đơn đăng ký  tham dự đấu giá, kiểm tra tính hợp lệ của hồ sơ đăng ký: 10p</p>
                                            <p style="margin-left: 15px; font-weight: normal">* Phát phiếu và ký DS nhận phiếu: 5p</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:20px; font-weight:bold">
                                            Bỏ phiếu đấu giá</p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>10 phút</b></td>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:10px; font-weight:normal">
                                            *Kiểm tra tính hợp lệ phong bì đựng phiếu sau đó ký xác nhận đã bỏ phiếu: 10p</p>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:20px; font-weight:bold">
                                            Thay đổi - điều chỉnh các thông tin đấu giá</p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>10 phút</b></td>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:10px; font-weight:normal">
                                            * Kiểm tra thông tin cần điều chỉnh sau đó tiến hành thực hiện: 10p</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel item">
                <div class="panel-heading" role="tab" id="headingTen" style="margin-left:0px; padding-left:7px;">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse"
                           data-parent="#accordion" href="#collapseTen" aria-expanded="false"
                           aria-controls="collapseTen">
                            <i class="fa fa-angle-down"></i><span>Sao kê giao dịch </span>
                        </a>
                    </h4>
                </div>
                <div id="collapseTen" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="headingTen">
                    <div class="panel-body" style="margin-left:0px; padding-left:0px;">
                        <div class="wrapper">

                            <div>
                                <table class="table table-default">

                                    <tr>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style="margin-left:20px; font-weight:bold">
                                            Sao kê giao dịch tiền </p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>10 phút</b></td>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:10px; font-weight:normal">
                                            *Kiểm tra thông tin hợp lệ và chạy báo cáo sao kê cho KH: 7-10p</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:20px; font-weight:bold">
                                            Sao kê giao dịch chứng khoán</p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>10 phút</b></td>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:10px; font-weight:normal">
                                            *Kiểm tra thông tin hợp lệ và chạy báo cáo sao kê cho KH: 7-10p</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:20px; font-weight:bold">
                                            Sao kê lịch sử thực hiện quyền</p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>10 phút</b></td>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:10px; font-weight:normal">
                                            *Kiểm tra thông tin hợp lệ và chạy báo cáo sao kê cho KH: 7-10p</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-style: dashed;width: 40% ">
                                                            <p style="margin-left:20px; font-weight:bold">
                                            Sao kê lịch sử đặt lệnh giao dịch</p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>10 phút</b></td>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style="margin-left:10px; font-weight:normal">
                                            *Kiểm tra thông tin hợp lệ và chạy báo cáo sao kê cho KH: 7-10p</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:20px; font-weight:bold">
                                            Sao kê khác</p>
                                        </td>
                                        <td style="border-style: dashed; text-align: center;"><b>10 phút</b></td>
                                        <td style="border-style: dashed;width: 40%">
                                                            <p style=" margin-left:10px; font-weight:normal">
                                            *Kiểm tra thông tin hợp lệ và chạy báo cáo sao kê cho KH: 7-10p</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>