﻿<div class="about-team">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">BOARD OF DIRECTORS</a></li>
        <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">HUMAN RESOURCES</a></li>
        <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">ORGANIZATIONAL CHART</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab1">
            <div class="administrative-council">
                <div id="chairman-of-the-managing-board" class="part">
                    <!--<div class="title">
                        Chủ tịch hội đồng quản trị
                    </div>-->
                    <div class="wrapper">
                        <div class="info-part">
                            <div class="name">MR. <strong>NGUYEN VAN DUNG</strong></div>
                            <div class="position">
                                Chairman of the Board of Directors
                            </div>
                        </div>
                        <div class="info-part">
                            - Master of Business Administration – University of Hawaii, Manoa, USA<br />
                            - Bachelor of Economics – University of Finance and Accountancy (UFA)<br />
                            <br />
                            - 2016: Chairman of the Board of Directors<br />
                            - 2007: Chairman of the Board of Directors cum General Director of Tan Viet Securities Incorporation<br />
                            - 2006: Member of the Board of Directors establishing Tan Viet Securities Incorporation<br />
                            - 2005: Securities Deputy Director at Vietcombank<br />
                            - 2002: Accounting Manager at Vietcombank

                        </div>
                    </div>
                </div>
                <div class="member-of-management-council part">
                    <!--<div class="title">
                        Thành viên hội đồng quản trị
                    </div>-->
                    <div class="wrapper">
                        <div class="item">
                            <div class="title">
                                <div class="name">MR. <strong>HO BUU PHUONG</strong></div>
                                <div class="position">
                                    Member of Board of Directors
                                </div>
                            </div>
                            <div class="wrapper">
                                <div class="conner"></div>
                                - Master of Accounting - Swinburne University - Australia<br />
                                - Bachelor of Accounting - University of Economics, HCM City<br />
                                - Bachelor of Economic/Laws - University of Law, HCM City<br />
                                - Auditor in practice in VN - CPA<br />
                                <br />
                                - 2014: Member of Board of Directors at Tan Viet Securities Incorporation<br />
                                - 2012: General Director of An Phat Investment Fund JSC<br />
                                - 2008: Deputy Director cum Director of Corporate Finance Advisory - Tan Viet Securities Incorporation - Ho Chi Minh Branch<br />
                                - 2007: Director of Corporate Finance Advisory - Tan Viet Securities Incorporation - Ho Chi Minh Branch<br />
                                - 1999: Chief of Auditing - Vietnam Auditing Company Limited (VACO)<br />
                                - 1994: Senior Auditor - Auditing and Consulting Company (A & C)

                            </div>
                        </div>
                        <div class="item">
                            <div class="title">
                                <div class="name">MR. <strong>VO TAN HOANG VAN</strong></div>
                                <div class="position">
                                    Member of the Board of Directors
                                </div>
                            </div>
                            <div class="wrapper">
                                <div class="conner"></div>
                                - Bachelor of Economics – Ho Chi Minh University of Finance and Accountancy<br />
                                - ACCA Certificate - Association of Chartered  Certified Accountants<br />
                                <br />
                                - 2015: Member of Board of Directors at Tan Viet Securities Incorporation - Ho Chi Minh Branch<br />
                                - 2013: General Director of Saigon Commercial Joint Stock Bank<br />
                                - 2013: Deputy General Director of Saigon Commercial Joint Stock Bank<br />
                                - 2007: Deputy General Director of Emst & Young Vietnam Limited<br />
                                - 2003: Senior Chief, Emst & Young Vietnam Limited
                            </div>
                        </div>
                        <div class="item">
                            <div class="title">
                                <div class="name">MR. <strong>NGUYEN TIEN THANH</strong></div>
                                <div class="position">
                                    General Director<br />
                                    Member of the Board of Directors
                                </div>
                            </div>
                            <div class="wrapper">
                                <div class="conner"></div>
                                - Master  of  Development Management – Asian Institute of Management – Philippines<br />
                                - Bachelor of Banking and Finance – National Economics University<br />
                                <br />
                                - 2016: General Director of Tan Viet Securities Incorporation<br />
                                - 2014: Member of the Board of Directors – Deputy General Director of Tan Viet Securities Incorporation<br />
                                - 2009: Deputy General Director cum Director at Tan Viet Securities Incorporation – HCM Branch<br />
                                - 2008: Director of Tan Viet Securities Incorporation - HCM Branch<br />
                                - 2007: Director of Securities Services at Tan Viet Securities Incorporation<br />
                                - 1994: Accounting Manager at Vietcombank
                            </div>
                        </div>
                        <div class="item">
                            <div class="title">
                                <div class="name">MR. <strong>NGUYEN VIET CUONG</strong></div>
                                <div class="position">
                                    Deputy General Director<br />
                                    Member of the Board of Directors
                                </div>
                            </div>
                            <div class="wrapper">
                                <div class="conner"></div>
                                - Master of Business Administration – National Economics University, Hanoi<br />
                                - Engineer Informatics– Sofia University, Bulgari<br />
                                <br />
                                - 2006: Deputy General Director at Tan Viet Securities Incorporation<br />
                                - 1997: Deputy Director at ITCentre – Vietcombank<br />
                                - 1993: Development Research and System Analysis Specialist
                            </div>
                        </div>
                        <!--<div class="item">
                            <div class="title">
                                <div class="name">MR. <strong>LE THANH TUNG</strong></div>
                                <div class="position">
                                    Deputy General Director
                                </div>
                            </div>
                            <div class="wrapper">
                                <div class="conner"></div>
                                - Master of Business Administration – Vietnam – Belgium Master Program<br />
                                - Bachelor of Banking and Finance – Banking Academy<br />
                                <br />
                                - 2016: Deputy General Director at Tan Viet Securities Incorporation<br />
                                - 2008: Chief Financial Officer – Chief Accountant at Tan Viet Securities Incorporation<br />
                                - 2007: Deputy of Finance Accounting Dept at Vietcombank<br />
                                - 2005: Head of Finance Accounting Dept  at Vietcombank – Vinh Phuc Branch<br />
                                - 2001: Controller of Cashier Department at Vietcombank<br />
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab2">
            <div class="table">

                <table class="table table-default hs-stt">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Name</th>
                            <th>Practicing Certificate No.</th>
                            <th>Practicing Certificate Type</th>
                            <th>Date of issue</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Nguyen Tien Thanh</td>
                            <td>00273/QLQ</td>
                            <td>Fund Manager</td>
                            <td>16/06/2009</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Nguyen Viet Cuong</td>
                            <td>00256/QLQ</td>
                            <td>Fund Manager</td>
                            <td>16/06/2009</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Nguyen Van Dung</td>
                            <td>00192/QLQ</td>
                            <td>Fund Manager</td>
                            <td>17/04/2009</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Le Thanh Tung</td>
                            <td>001515/MGCK</td>
                            <td>Broker</td>
                            <td>04/01/2011</td>
                        </tr>


                        <tr>
                            <td>5</td>
                            <td>Do Danh Thanh</td>
                            <td>002222/MGCK</td>
                            <td>Broker</td>
                            <td>24/07/2012</td>
                        </tr>


                        <tr>
                            <td>6</td>
                            <td>Nguyen Kim Thu</td>
                            <td>003012/MGCK</td>
                            <td>Broker</td>
                            <td>27/04/2015</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Dao Van Tuan</td>
                            <td>003045/MGCK</td>
                            <td>Broker</td>
                            <td>27/05/2015</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Nguyen Xuan Huong</td>
                            <td>001923/MGCK</td>
                            <td>Broker</td>
                            <td>22/09/2011</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Ha Duc Trung</td>
                            <td>002867/MGCK</td>
                            <td>Broker</td>
                            <td>06/02/2015</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Nguyen Thanh Tu</td>
                            <td>002623/MGCK</td>
                            <td>Broker</td>
                            <td>18/04/2014</td>
                        </tr>

                        <tr>
                            <td>11</td>
                            <td>Trinh Thi Thuc Anh</td>
                            <td>002834/MGCK	</td>
                            <td>Broker</td>
                            <td>20/01/2015</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>Nguyen Thi Bich Ngoc</td>
                            <td>00063/PTTC</td>
                            <td>Financial Analysis</td>
                            <td>02/03/2009</td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>Doan Thi Cha My</td>
                            <td>001674/MGCK</td>
                            <td>Broker</td>
                            <td>15/04/2011</td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>Nguyen Thi Binh</td>
                            <td>00770/MGCK</td>
                            <td>Broker</td>
                            <td>06/05/2009</td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>Nguyen Van Nguyen</td>
                            <td>001430/MGCK</td>
                            <td>Broker</td>
                            <td>13/12/2010</td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td>Vu Thu Hien</td>
                            <td>01138/MGCK</td>
                            <td>Broker</td>
                            <td>29/09/2009</td>
                        </tr>

                        <tr>
                            <td>17</td>
                            <td>Do Dinh Tu</td>
                            <td>001762/PTTC</td>
                            <td>Financial Analysis</td>
                            <td>07/01/2011</td>
                        </tr>

                        <tr>
                            <td>18</td>
                            <td>Nguyen Thi Bich</td>
                            <td>001176/QLQ</td>
                            <td>Fund Manager</td>
                            <td>20/11/2014</td>
                        </tr>


                        <tr>
                            <td>19</td>
                            <td>Hoa Thi Ha Hai</td>
                            <td>00923/PTTC</td>
                            <td>Financial Analysis</td>
                            <td>06/05/2009</td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>Nguyen Thi Ha</td>
                            <td>001090/QLQ</td>
                            <td>Fund Manager</td>
                            <td>11/04/2014</td>
                        </tr>
                        <tr>
                            <td>21</td>
                            <td>Mai Thi Hong</td>
                            <td>00517/PTTC</td>
                            <td>Financial Analysis</td>
                            <td>16/03/2009</td>
                        </tr>


                        <tr>
                            <td>22</td>
                            <td>Dao Thi Thu Huyen</td>
                            <td>001131/QLQ</td>
                            <td>Fund Manager</td>
                            <td>29/07/2014</td>
                        </tr>
                        <tr>
                            <td>23</td>
                            <td>Tran Thi Cam Hanh</td>
                            <td>002862/MGCK</td>
                            <td>Broker</td>
                            <td>06/02/2015</td>
                        </tr>
                        <tr>
                            <td>24</td>
                            <td>Nguyen Minh Duong</td>
                            <td>001673/MGCK</td>
                            <td>Broker</td>
                            <td>15/04/2011</td>
                        </tr>
                        <tr>
                            <td>25</td>
                            <td>Pham Thi Kim Dung</td>
                            <td>002626/MGCK</td>
                            <td>Broker</td>
                            <td>18/04/2014</td>
                        </tr>
                        <tr>
                            <td>26</td>
                            <td>Nguyen Dang Hoai</td>
                            <td>00260/QLQ</td>
                            <td>Fund Manager</td>
                            <td>16/06/2009</td>
                        </tr>

                        <tr>
                            <td>27</td>
                            <td>Nguyen Thi Kim Thanh</td>
                            <td>000989/QLQ</td>
                            <td>Fund Manager</td>
                            <td>19/07/2013</td>
                        </tr>

                        <tr>
                            <td>28</td>
                            <td>Lai Cao Phuong Minh</td>
                            <td>001728/PTTC</td>
                            <td>Financial Analysis</td>
                            <td>04/08/2010</td>
                        </tr>
                        <tr>
                            <td>29</td>
                            <td>Hoang Thi Thanh Truc</td>
                            <td>00275/QLQ</td>
                            <td>Fund Manager</td>
                            <td>16/06/2009</td>
                        </tr>
                        <tr>
                            <td>30</td>
                            <td>Do Ngoc Hoang Yen</td>
                            <td>00849/PTTC</td>
                            <td>Financial Analysis</td>
                            <td>15/05/2009</td>
                        </tr>
                        <tr>
                            <td>31</td>
                            <td>Nguyen Thi Huong</td>
                            <td>002153/PTTC</td>
                            <td>Financial Analysis</td>
                            <td>04/03/2015</td>
                        </tr>
                        <tr>
                            <td>32</td>
                            <td>Tran Thu Van</td>
                            <td>00279/QLQ</td>
                            <td>Fund Manager</td>
                            <td>16/06/2009</td>
                        </tr>
                        <tr>
                            <td>33</td>
                            <td>Nguyen Thi Nhan</td>
                            <td>002625/MGCK</td>
                            <td>Broker</td>
                            <td>18/04/2014</td>
                        </tr>
                        <tr>
                            <td>34</td>
                            <td>Than To Quyen</td>
                            <td>002717/MGCK</td>
                            <td>Broker</td>
                            <td>01/09/2014</td>
                        </tr>
                        <tr>
                            <td>35</td>
                            <td>Nguyen Thi Uyen</td>
                            <td>002730/MGCK</td>
                            <td>Broker</td>
                            <td>01/09/2014</td>
                        </tr>
                        <tr>
                            <td>36</td>
                            <td>Truong Hieu An</td>
                            <td>002731/MGCK</td>
                            <td>Broker</td>
                            <td>01/09/2014</td>
                        </tr>
                        <tr>
                            <td>37</td>
                            <td>Lai Van Trung</td>
                            <td>00219/QLQ</td>
                            <td>Fund Manager</td>
                            <td>17/04/2009</td>
                        </tr>
                        <tr>
                            <td>38</td>
                            <td>Cao Thi Hong Hue</td>
                            <td>002232/MGCK</td>
                            <td>Broker</td>
                            <td>08/08/2012</td>
                        </tr>
                        <tr>
                            <td>39</td>
                            <td>Pham Phu Cuong</td>
                            <td>002869/MGCK</td>
                            <td>Broker</td>
                            <td>06/02/2015</td>
                        </tr>
                        <tr>
                            <td>40</td>
                            <td>Nguyen Van Cuong</td>
                            <td>001406/MGCK</td>
                            <td>Broker</td>
                            <td>16/11/2010</td>
                        </tr>
                        <tr>
                            <td>41</td>
                            <td>Nguyen Hong Duyen</td>
                            <td>001156/QLQ</td>
                            <td>Fund Manager</td>
                            <td>01/10/2014</td>
                        </tr>
                        <tr>
                            <td>42</td>
                            <td>Hoang Thi Hong Phuong</td>
                            <td>00776/MGCK</td>
                            <td>Broker</td>
                            <td>06/05/2009</td>
                        </tr>
                        <tr>
                            <td>43</td>
                            <td>Le Tien Tien</td>
                            <td>001159/QLQ</td>
                            <td>Fund Manager</td>
                            <td>07/10/2014</td>
                        </tr>


                        <tr>
                            <td>44</td>
                            <td>Hoang Thi Kieu Trang</td>
                            <td>002624/MGCK	</td>
                            <td>Broker</td>
                            <td>18/04/2014</td>
                        </tr>
                        <tr>
                            <td>45</td>
                            <td>Bui Thi Phuong Thao</td>
                            <td>002835/MGCK</td>
                            <td>Broker</td>
                            <td>20/01/2015</td>
                        </tr>
                        <tr>
                            <td>46</td>
                            <td>Vu Anh Tu</td>
                            <td>01190/PTTC</td>
                            <td>Financial Analysis</td>
                            <td>30/07/2009</td>
                        </tr>


                        <tr>
                            <td>47</td>
                            <td>Ha Binh Bieu</td>
                            <td>01024/MGCK</td>
                            <td>Broker</td>
                            <td>12/08/2009</td>
                        </tr>

                        <tr>
                            <td>48</td>
                            <td>Huynh Han Quang</td>
                            <td>01130/MGCK</td>
                            <td>Broker</td>
                            <td>24/09/2009</td>
                        </tr>
                        <tr>
                            <td>49</td>
                            <td>Nguyen Thuy Thanh Binh</td>
                            <td>00772/MGCK</td>
                            <td>Broker</td>
                            <td>06/05/2009</td>
                        </tr>
                        <tr>
                            <td>50</td>
                            <td>Cao Thi Kim Quy</td>
                            <td>002672/MGCK</td>
                            <td>Broker</td>
                            <td>28/06/2014</td>
                        </tr>
                        <tr>
                            <td>51</td>
                            <td>Nguyen Thi Bao Khanh</td>
                            <td>01161/MGCK</td>
                            <td>Broker</td>
                            <td>12/10/2009</td>
                        </tr>
                        <tr>
                            <td>52</td>
                            <td>Bach Hai Anh</td>
                            <td>001548/MGCK</td>
                            <td>Broker</td>
                            <td>25/01/2011</td>
                        </tr>
                        <tr>
                            <td>53</td>
                            <td>Vu Thi Hai Yen</td>
                            <td>01160/MGCK</td>
                            <td>Broker</td>
                            <td>12/10/2009</td>
                        </tr>
                        <tr>
                            <td>54</td>
                            <td>Tran Trung Nam</td>
                            <td>002791/MGCK</td>
                            <td>Broker</td>
                            <td>16/04/2015</td>
                        </tr>
                        <tr>
                            <td>55</td>
                            <td>Nguyen Anh Viet Toan</td>
                            <td>003182/MGCK</td>
                            <td>Broker</td>
                            <td>14/09/2015</td>
                        </tr>
                        <tr>
                            <td>56</td>
                            <td>Nguyen Nam</td>
                            <td>002251/MGCK</td>
                            <td>Broker</td>
                            <td>06/09/2012</td>
                        </tr>
                        <tr>
                            <td>57</td>
                            <td>Trinh Khoi</td>
                            <td>00212/PTTC</td>
                            <td>Financial Analysis</td>
                            <td>13/03/2009</td>
                        </tr>
                        <tr>
                            <td>58</td>
                            <td>Pham Thi Minh Huong</td>
                            <td>00881/MGCK</td>
                            <td>Broker</td>
                            <td>28/05/2009</td>
                        </tr>
                        <tr>
                            <td>59</td>
                            <td>Nguyen Đinh Tang</td>
                            <td>001768/PTTC</td>
                            <td>Financial Analysis</td>
                            <td>25/01/2011</td>
                        </tr>
                        <tr>
                            <td>60</td>
                            <td>Nguyen Minh Sang</td>
                            <td>003058/MGCK</td>
                            <td>Broker</td>
                            <td>29/05/2015</td>
                        </tr>
                        <tr>
                            <td>61</td>
                            <td>Ngo Ngoc Hung</td>
                            <td>003237/MGCK</td>
                            <td>Broker</td>
                            <td>21/10/2015</td>
                        </tr>
                        <tr>
                            <td>62</td>
                            <td>Nguyen Van Tuan</td>
                            <td>002503/MGCK</td>
                            <td>Broker</td>
                            <td>18/11/2013</td>
                        </tr>
                        <tr>
                            <td>63</td>
                            <td>Do Thanh Huong</td>
                            <td>002773/MGCK</td>
                            <td>Broker</td>
                            <td>28/08/2014</td>
                        </tr>
                        <tr>
                            <td>64</td>
                            <td>Hoang Van Diep</td>
                            <td>002800/MGCK</td>
                            <td>Broker</td>
                            <td>30/12/2014</td>
                        </tr>
                        <tr>
                            <td>65</td>
                            <td>Le Duy Phong</td>
                            <td>00775/MGCK</td>
                            <td>Broker</td>
                            <td>06/05/2009</td>
                        </tr>
                        <tr>
                            <td>66</td>
                            <td>Nguyen Hong Khanh</td>
                            <td>001828/MGCK	</td>
                            <td>Broker</td>
                            <td>28/07/2011</td>
                        </tr>
                        <tr>
                            <td>67</td>
                            <td>Le Dac An</td>
                            <td>00063/PTTC</td>
                            <td>Financial Analysis</td>
                            <td>02/03/2009</td>
                        </tr>
                        <tr>
                            <td>68</td>
                            <td>Tran Huu Thanh</td>
                            <td>001505/MGCK</td>
                            <td>Broker</td>
                            <td>04/01/2011</td>
                        </tr>
                        <tr>
                            <td>69</td>
                            <td>Ta Minh Phuong</td>
                            <td>00778/MGCK</td>
                            <td>Broker</td>
                            <td>06/05/2009</td>
                        </tr>
                        <tr>
                            <td>70</td>
                            <td>Hoang Thi Lan Anh</td>
                            <td>01034/MGCK</td>
                            <td>Broker</td>
                            <td>12/08/2009</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="tab3">
            <div class="text-center">
                <img src="/images/upload/gioithieu_Tongquan_SoDoToChuc_en.png" alt="" />
            </div>
        </div>
    </div>
</div>