﻿@{
    Layout = null;

}
@model Website_tvsi_v1.Models.ConfirmEkycModel
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=n" />
    <meta name="Description" content="Giao Dịch và Đầu Tư Cổ Phiếu Trực Tuyến- Công Ty Cổ Phần Chứng Khoán Tân Việt (TVSI)" />
    <meta name="keywords" content="TVSI,Tan Viet,Giao Dich Truc Tuyen,Chung Khoan Tan Viet,itrade home,itrade pro,co phieu,thi truong chung khoan,tim hieu chung khoan,hoc chung khoan,thong tin chung khoan,co phieu otc,co phieu blue chip,kinh doanh,kiem tien,chung khoan trong ngay,tin chung khoan,lam giau,san chung khoan,choi chung khoan,dao tao chung khoan,co phieu niem yet,kinh te, dich vu giao dich truc tuyen, giao dich co phieu, mua ban co phieu, dau tu, san pham truc tuyen, dich vu moi gioi, phi giao dich thap, OTC, Niem Yet, HOSTC, HASTC, Ha Noi, Saigon, Ho Chi Minh" />
    <meta name="country" content="VietNam" />
    <meta name="organization-Email" content="contact@tvsi.com.vn" />
    <meta name="copyright" content="Copyright 2011 - Tan Viet Securities Incorporation (TVSI) - www.tvsi.com.vn" />
    <meta name="coverage" content="Worldwide" />
    <meta name="identifier" content="https://www.tvsi.com.vn" />
    <meta name="language" content="English, en, Vietnamese,vn" />
    <meta name="robots" content="follow" />
    <meta name="googlebot" content="index, follow" />
    <link rel="icon" href="@Url.Content("~/images/favicon.png")" />
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic&subset=latin,vietnamese,latin-ext'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic&subset=latin,vietnamese,latin-ext'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,vietnamese,latin-ext'
          rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/asset/css/bootstrap-theme.min.css" />
    <link type="text/css" rel="stylesheet" href="/asset/css/bootstrap.min.css" />
    <link href="/asset/css/jquery-ui.css" rel="stylesheet" />


    <!--[if IE 7]>
    <link rel="stylesheet" href="/asset/css/fontello-ie7.css">
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="/asset/css/style.css" />
    <link type="text/css" rel="stylesheet" href="/asset/css/customize.css" />

    <script src="/asset/js/jquery.min.js"></script>
    <script src="/asset/js/jquery-ui.js"></script>
    <script type='text/javascript' src="/asset/js/bootstrap.min.js"></script>


    <style>
        .bg-img1 {
            background-position: center;
        }
        .overlay1::before {
            content: "";
            display: block;
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: -webkit-linear-gradient(bottom,#ab1c5e,#777aef);
            background: -o-linear-gradient(bottom,#b224ef,#7579ff);
            background: -moz-linear-gradient(bottom,#b224ef,#7579ff);
            background: linear-gradient(bottom,#b224ef,#7579ff);
            opacity: .9;
        }
        .modal-body{
        padding: 1px;
        }
        
    </style>

</head>
<body style="margin: 0 0 0 0;background-image: url(/images/crm_bg.jpg);" >
    <section>
        <div style="text-align: center;margin-left: auto;margin-right: auto;">
            <div class="bg-img1 size1 overlay1" >
            </div>
        </div>
    </section>

</body>
</html>
<script>
    $(function () {
        $("#succesModal").modal('show');
    });
</script>
<div class="modal fade col-xs-12 col-md-12" id="succesModal" tabindex="-1" role="dialog" aria-labelledby="succesModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" aria-label="Close" onclick="ClosePopup();"><span aria-hidden="true"></span></button>
                <div class="messages-cnt">
                    <section id="wrapper-content" class="inner-page">
                            <div class="row">
                                <div class="col-sm-12 col-md-12" style="padding: 50px;text-align: center">
                                    @using (Html.BeginForm("ConfirmEkyc", "User", FormMethod.Post, new { @id = "frmConfirmEkyc" }))
                                    {
                                        if(ViewBag.IsConfirmed == false)
                                        {

                                            @Html.HiddenFor(m => m.Code)
                                            @Html.HiddenFor(m => m.CodeM)
                                            @Html.HiddenFor(m => m.Sms)
                                            <h3>KÍCH HOẠT TÀI KHOẢN</h3>
                                            <br />
                                            <div class="row">
                                                <div class="col-sm-12 m-t-5 text-center">
                                                <p></p><div style="font-size:16px;line-height:25px;">Để hoàn thành xác thực tài khoản Quý khách vui lòng ấn nút Kích hoạt tài khoản phía dưới</div><p></p>
                                            </div>
                                            </div>
                                            @*<div class="row">
                                                <div class="col-sm-4 m-t-5 text-left"><span style="color: red;font-size:16px;line-height:25px;">Nhập mã OTP :  *</span></div>
                                                <div class="col-sm-8">
                                                    @Html.RadioButtonFor(m => m.Otp, new { @class = "form-control", @placeholder = "Vui lòng nhập mã OTP", @required = "true", @maxlength = "6" })
                                                </div>
                                            </div>*@
                                            <div class="row" style="margin-top:10px;">
                                                <div class="col-sm-12 m-t-5 text-center">
                                                    <input type='button' class='btn btn-next-step-1 btn-fill btn-warning btn-wd btn-step-1' name='next-step-1' id="btnConfirm" value='Kích hoạt tài khoản' />
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top:10px;">
                                                <div class="col-sm-12 m-t-5 text-left"><span style="color: red;font-size:16px;line-height:25px;"><label id="lblMessage"></label></span></div>
                                            </div>
                                        }
                                        else
                                        {
                                            <section class="inner-page">
                                                    <div class="row">
                                                        <div class="col-sm-12" style="color:red;">
                                                            <h3>XÁC THỰC THÔNG TIN TÀI KHOẢN</h3>
                                                            <br />
                                                            <div class="row">
                                                                <div class="col-sm-12 m-t-5 text-left">
                                                                    <p></p><div style="color:#0026ff;font-size:16px;line-height:25px;">Tài khoản này hiện tại đã được xác thực hoặc mã xác thực đã hết hiệu lực. Quý khách có thắc mắc vui lòng liên hệ tổng đài <span style="color:red;"> 1900 1885</span>!</div><p></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </section>
                                        }
                                    }
                                </div>
                            </div>
                    </section>
                    <section id="message-confirm" class="inner-page" style="padding: 50px;">
                        <div class="">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">                            
                                        <h3>XÁC THỰC THÔNG TIN TÀI KHOẢN</h3>
                                        <br />
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12 m-t-5 text-center">
                                                <p></p><div style="color:#0026ff;font-size:16px;line-height:25px;">Chúc mừng Quý khách đã kích hoạt thành công tài khoản tại TVSI. Quý khách vui lòng kiểm tra email để nhận user và password đăng nhập tài khoản!</div><p></p>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function ClosePopup() {
        $('#succesModal').modal('hide');
        window.location.replace("https://www.tvsi.com.vn/");
    }
    $('#message-confirm').css("display", "none");
    $('#btnConfirm').click(function () {
        var sms = $("#Sms").val();
        var code = $("#Code").val() ;
        var codeM = $("#CodeM").val();
        var hashCode = (code != '') ? code : codeM;
        if (sms == "" || hashCode == "")
        {
            $('#lblMessage').text('Không thành công!')
         
        }
        else{
            CheckOtp(sms,hashCode);
        }
    });

/*    $('#Otp').on('keypress', function (e) {
        if (e.which == 13) {
            e.preventDefault();
            var sms = $("#Sms").val();
            var code = $("#CodeM").val();
            if (otp_no == "") {
                $('#lblMessage').text('Bạn hãy nhập mã OTP!')
                $('#Otp').focus();
            }
            else {
                CheckOtp(otp_no);
            }
        }
    });*/


    function CheckOtp(sms,code) {
        if (sms.length == 6 && code != "") {
            $.ajax({
                url: '/User/ConfirmEkyc',
                data: { Code: $('#Code').val(),CodeM: $('#CodeM').val(), Otp: $('#Otp').val(),Sms : $('#Sms').val() },
                datatype: "json",
                type: "POST",
                success: function (data) {
                	console.log("adasdasda");
                    if (data.status == true) {
                        $('#wrapper-content').css("display", "none");
                        $('#message-confirm').css("display", "block");

                    } else {
                        $('#lblMessage').text(data.message);
                    }
                }
            });
        }
    }
</script>
