﻿@{
    Layout = null;
    var market = (Website_tvsi_v1.Models.StockMarketModel)ViewBag.market;
    var name_market = ViewBag.name_market;
    var exchange = ViewBag.exchange;
}
<div role="tabpanel" class="tab-pane active" id="tab3">
    <input type="hidden" id="exchange" value="@exchange" />
    <div class="statechart">
        <div>
            <span class="name">@name_market</span>
            <span style="color:@market.colorIndex">
                <span class="point">@market.vnIndex</span>
                <i class="@market.arrowIndex"></i>
                <span class="degree-change">@market.changeIndex (@market.percentIndex%)</span>
            </span>
            <span><span>KLGD</span>:@market.volumnIndex (@Website_tvsi_v1.App_Resources.Website.Text_MillionsShares)</span>&nbsp;
            <span class="exchangeable-value"><span>GTGD</span>: @market.valueIndex (@Website_tvsi_v1.App_Resources.Website.Text_BillionsSharesM)</span>
        </div>
        <a href="http://finance.tvsi.com.vn/">
            <div class="chart xs" id="chartMarketId" style="height:150px;width:350px;">
            </div>
        </a> 
    </div>
    <input type="hidden" id="titleChart" value="@Website_tvsi_v1.App_Resources.Website.Txt_TanVietSecurities" />
</div>
<script>
    var titleChart = document.getElementById("titleChart").value;
    chartMarket();
    function chartMarket() {
        
        var date = new Date();
        var year = date.getFullYear();
        var formatDate = '%H:%M %p';
        var dps = [];
        $.ajax({
            url: "/Upload/chartMarket",
            dataType: "json",
            data: { exchange: '@exchange' },
            type: "POST",
            success: function (res) {
                var j = 0, timejs = "", time = 0, tempClose = 0;
                var xtimeMin = 0, xtimeMax = 0, xpotline=0;
                $.each(res.data, function (i, item) {
                    timejs = item.Date.toString();
                    timejs = timejs.replace('/Date(', '');
                    time = new Date(parseInt(timejs));
                    tempClose = roundToTwo(item.Close);
                    if (j == 0) {
                        xtimeMin = Date.UTC(time.getFullYear(), time.getMonth(), time.getDay(), 9);
                        xpotline = Date.UTC(time.getFullYear(), time.getMonth(), time.getDay(), 9,30);
                        xtimeMax = Date.UTC(time.getFullYear(), time.getMonth(), time.getDay(), 15);
                    }
                    dps.push({ x: Date.UTC(time.getFullYear(), time.getMonth(), time.getDay(), time.getHours(), time.getMinutes()), y: tempClose, x1: item.Volume });
                    j++;
                });
                //endDate = time;
                $('#chartMarketId').highcharts({
                    chart: {
                        renderTo: 'chartMarketId',
                        zoomType: 'x',
                        spacingLeft: 0,
                        spacingRight: 0,
                        style: {
                            fontFamily: "Roboto Condensed", // default font
                            fontSize: '12px'
                        }
                    },
                    title: {
                        text: null
                    },
                    subtitle: {
                        align: "left",
                        floating: false,
                        style: { "color": "#666666" },
                        text: "©" + year +" "+ titleChart,
                        verticalAlign: "middle",
                        widthAdjust: 44,
                        x: 30,
                        y: 35
                    },
                    xAxis: {
                        type: 'datetime',

                        //lineWidth: 1,
                        dateTimeLabelFormats: {
                            //second: '%Y-%m-%d<br/>%H:%M:%S',
                            //minute: '%Y-%m-%d<br/>%H:%M',
                            hour: '%H:%M'
                        },
                        gridLineWidth: 1,
                        gridZIndex: 0,
                        min: xtimeMin,
                        max: xtimeMax,
                        lineWidth: 1,
                        plotLines: [{
                            value: xpotline,
                            color: 'DarkGray',
                            dashStyle: 'line',
                            width: 1,
                            zIndex: 1
                        }]
                    },
                    yAxis:
                        {
                            title: {
                                text: null
                            },
                            height: '100%',
                            lineWidth: 1,
                            opposite: true
                        },
                    //tooltip: {
                    //    crosshairs: true,
                    //    shared: true,
                    //    valueSuffix: '°C'
                    //},
                    tooltip:
                    {
                        enabled: false,
                        //useHTML: true,
                        //formatter: function () {
                        //    return Highcharts.dateFormat(formatDate, this.x) + '<br/>' + '<b>Chỉ số:</b> ' + this.y + '<br><b>KLGD:</b> ' + Highcharts.numberFormat(this.point.x1, 0, '.', ',');
                        //}
                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            turboThreshold: 2000//set it to a larger threshold, it is by default to 1000
                        },
                        area: {
                            fillColor: {
                                linearGradient: {
                                    x1: 0,
                                    y1: 0,
                                    x2: 0,
                                    y2: 1
                                },
                                stops: [
                                    [0, Highcharts.getOptions().colors[2]],
                                    [1, Highcharts.Color(Highcharts.getOptions().colors[2]).setOpacity(0).get('rgba')]
                                ]
                            },
                            lineColor: Highcharts.getOptions().colors[2],
                            marker: {
                                radius: 2
                            },
                            lineWidth: 1,
                            states: {
                                hover: {
                                    lineWidth: 1
                                }
                            },
                            threshold: null
                        }
                    },
                    series: [{
                        type: 'area',
                        decimalPoint: "#0.##",
                        marker: {
                            enabled: false//,
                            //lineWidth: 2,
                            //lineColor: Highcharts.getOptions().colors[3],
                            //fillColor: 'white'
                        },
                        data: dps
                    }]
                });
            }
        });
    }
    function roundToTwo(num) {
        return +(Math.round(num + "e+2") + "e-2");
    }

</script>