﻿@{
    Layout = "~/Views/Home/Share/_Layout.cshtml";
    var chi_tiet_kien_thuc = (System.Data.DataTable)ViewBag.chi_tiet_kien_thuc;
}

<section id="wrapper-top-content">
    <div class="banner">
        <img src="/images/upload/HoTro_KienThucHoiDap_banner.png" alt="" class="background-banner">

        @*<div class="container">
            <h1 class="title-page gray">@Website_tvsi_v1.App_Resources.Website.Txt_knowledge</h1>
        </div>*@
    </div>
</section>
<section id="wrapper-content" class="inner-page">
    <div class="container">
        <div class="row di-table">
            <div class="sidebar di-table-cell vertical-top desktop">
                <div class="sidebar-box">
                    <div class="title">
                        @Website_tvsi_v1.App_Resources.Website.Txt_CustomerServices
                    </div>
                    @{Html.RenderAction("NavigationKienthuc", "hotro");}
                </div>
            </div>
            <div class="main-content di-table-cell vertical-top" style="font-size:18px">
                <p><strong>@chi_tiet_kien_thuc.Rows[0]["tieu_de"]</strong></p>
                @Html.Raw(chi_tiet_kien_thuc.Rows[0]["noi_dung"].ToString())
               <div class="sidebar di-table-cell vertical-top mobile">
                <div class="sidebar-box">
                    <div class="title">
                        Hỗ trợ
                    </div>
                    @{Html.RenderAction("NavigationKienthuc", "hotro");}
                </div>
            </div>
            </div>
        </div>
    </div>
 </section>

