﻿@{
    Layout = "~/Views/Home/Share/_Layout.cshtml";
    var thong_tin_ho_tro = (System.Data.DataTable)ViewBag.thong_tin_ho_tro;
}
<section id="wrapper-top-content">
    <div class="banner">
        <img src="/images/banner/Huongdangiaodichtien.png" alt="" class="background-banner">
        @*<div class="container">
            <h1 class="title-page">@thong_tin_ho_tro.Rows[0]["tieu_de"]</h1>
        </div>*@
    </div>
</section>
<section id="wrapper-content" class="inner-page">
    <div class="container">
        <div class="row di-table">
            <div class="sidebar di-table-cell vertical-top">
                <div class="sidebar-box">
                    <div class="title">
                        @Website_tvsi_v1.App_Resources.Website.Txt_CustomerServices
                    </div>
                    @{Html.RenderAction("navigationHDgiaodichtien", "hotro");}
                </div>
            </div>
            <div class="main-content di-table-cell vertical-top">
                @Html.Raw(thong_tin_ho_tro.Rows[0]["noi_dung"].ToString())
                <script>
                    $(".panel-title a").attr("data-toggle", "collapse");
                    $(".panel-title a").attr("data-parent", "#accordion");
                </script>
           </div>
        </div>
    </div>
</section>
