﻿@{
    Layout = "~/Views/Home/Share/_Layout.cshtml";
}

<section id="wrapper-top-content">
    <div class="banner">
        <img src="/beta/images/upload/hotro_HDGiaoDich_HDMoTK_banner.png" alt="" class="background-banner">

        <div class="container">
            <h1 class="title-page dark">Hướng dẫn giao dịch tiền</h1>
        </div>
    </div>
</section>
<section id="wrapper-content" class="inner-page">
    <div class="container">
        <div class="row di-table">
            <div class="sidebar di-table-cell vertical-top">
                <div class="sidebar-box">
                    <div class="title">
                        Hỗ trợ
                    </div>
                    @{Html.RenderAction("NavigationHDgiaodichtien", "hotro");}
                </div>
            </div>
            <div class="main-content di-table-cell vertical-top">
                Nội dung hướng dẫn nộp tiền tại quầy
            </div>
        </div>
    </div>
</section>

