﻿@{
    Layout = "~/Views/Home/Share/_Layout.cshtml";
    var record = ViewBag.record;
    var cauHoiDap = (System.Data.DataTable)ViewBag.cauHoiDap;
}
@using PagedList.Mvc;
@model PagedList.IPagedList<Website_tvsi_v1.Models.HoidapModel>
<style>
    #list-faqa .tab-cnt .correct{
    font-weight: bold;
    color: #f60101;
}
    #list-faqa .tab-cnt{
    font-size: 16px;
    font-weight: 300;
}
    #list-faqa .tab-cnt ol{
    list-style-type: lower-alpha;
}
</style>
<section id="wrapper-top-content">
    <div class="banner">
        <img src="/images/upload/HoTro_KienThucHoiDap_banner.png" alt="" class="background-banner">

        @*<div class="container">
            <h1 class="title-page gray">@Website_tvsi_v1.App_Resources.Website.Txt_FAQs</h1>
        </div>*@
    </div>
</section>
<section id="wrapper-content" class="inner-page">
    <div class="container">
        <div class="row di-table">
            <div class="sidebar di-table-cell vertical-top">
                <div class="sidebar-box">
                    <div class="title">
                        @Website_tvsi_v1.App_Resources.Website.Txt_CustomerServices
                    </div>
                        @{Html.RenderAction("NavigationHoidap", "hotro");}
                </div>
            </div>
            <div class="main-content di-table-cell vertical-top">
                <div class="detail-content has-title-part">
                    <div class="part">
                        <h3 class="title di-table">
                            <span class="di-table-cell">@Website_tvsi_v1.App_Resources.Website.Txt_FAQs</span>
                            <div class="search-keyword di-table-cell">
                                <div class="search-box ">
                                    @using(Html.BeginForm("HoidapFAQ","Hotro", FormMethod.Get)){
                                        <input type="text" class="search-input" name="search" value="@ViewBag.search" placeholder="@Website_tvsi_v1.App_Resources.Website.Txt_Keywordrequired">
                                        <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
                                    }
                                </div>
                            </div>
                        </h3>
                           @if(Model==null)
                           {                                                              
                               <div class="wrapper">
                                    @Html.Raw(cauHoiDap.Rows[0]["noi_dung"].ToString())
                                </div>
                           }  
                          @if(Model!=null)
                          {
                            <div class="wrapper">
                            <div class="tab-list list-item-tab action-click" id="list-faq">
                              
                                    @foreach(var item in Model)
                                    {
                                        <div class="item">
                                            <div class="tab-top">
                                                <strong><span class="number">Câu @item.stt: @item.question</span></strong>
                                            </div>
                                            <div class="tab-cnt">
                                                <ul>
                                                    <li>@item.answer</li>
                                                </ul>
                                            </div>
                                        </div>
                                    }
                             
                            </div>
                                @if (record>5){
                                    <div class="pager">
                                <ul class="list-unstyled">
                                    <li>
                                        @Html.PagedListPager(Model, page => Url.Action("HoidapFAQ","Hotro", new {page, @search=@ViewBag.search}),PagedListRenderOptions.OnlyShowFivePagesAtATime)
                                    </li>
                                </ul>
                            </div>
                                }
                        </div>
                          }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
