﻿@{
    Layout = "~/Views/Home/Share/_Layout.cshtml";
    int total_record = ViewBag.total_record;
    var beta = "";
}
@model PagedList.IPagedList<System.Data.DataRow>
@using PagedList.Mvc;
<section id="wrapper-top-content">
    <div class="banner">
        <img src="@beta/images/upload/hotro_KienThucHoiDap_banner.png" alt="" class="background-banner">

        @*<div class="container">
            <h1 class="title-page gray">@Website_tvsi_v1.App_Resources.Website.Txt_knowledge</h1>
        </div>*@
    </div>
</section>
<section id="wrapper-content" class="inner-page">
    <div class="container">
        <div class="row di-table">
            <div class="sidebar di-table-cell vertical-top">
                <div class="sidebar-box">
                    <div class="title">
                        @Website_tvsi_v1.App_Resources.Website.Txt_CustomerServices
                    </div>
                    @{Html.RenderAction("NavigationKienthuc", "hotro");}
                </div>
            </div>
            <div class="main-content di-table-cell vertical-top">
                <div class="detail-content has-title-part">
                    <div class="part">
                        <h3 class="title di-table">
                            <span class="di-table-cell">@Website_tvsi_v1.App_Resources.Website.Txt_knowledge</span>
                            <div class="search-keyword di-table-cell">
                                <div class="search-box ">
                                    @using (Html.BeginForm("HoidapKienthuc", "Hotro", FormMethod.Get))
                                            {
                                                <input type="text" class="search-input" name="search" value="@ViewBag.search" placeholder="@Website_tvsi_v1.App_Resources.Website.Txt_Keywordrequired">
                                                                                                                        <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
                                            }
                                </div>
                            </div>
                        </h3>

                        @if(Model!=null){
                            <div class="wrapper">
                            <ul class="simple-list" id="knowledge">
                                @foreach( var item in Model)
                                {
                                <li>
                                    <a href="@beta/customer-support/detail-answer-knowledge/@item["thong_tin_kien_thucid"]">@item["tieu_de"]</a>
                                </li>
                                }
                            </ul>
                            <div class="pager">
                                <ul class="list-unstyled">
                                    @if(total_record>10)
                                    {
                                        <li>@Html.PagedListPager(Model, page => Url.Action("HoidapKienthuc","Hotro", new {page, @search=@ViewBag.search}),PagedListRenderOptions.OnlyShowFivePagesAtATime)</li>
                                    }
                                </ul>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
            </div>
        </div>
</section>