﻿@{
    Layout = "~/Views/Home/Share/_Layout.cshtml";
    var thong_tin_ho_tro_selected = (System.Data.DataTable)ViewBag.thong_tin_ho_tro_selected;
    var huong_dan_giao_dich = (System.Data.DataTable)ViewBag.huong_dan_giao_dich;

    var huong_dan_giao_dich_tien = (System.Data.DataTable)ViewBag.huong_dan_giao_dich_tien;

    var huong_dan_tra_cuu = (System.Data.DataTable)ViewBag.huong_dan_tra_cuu;

    var cac_bieu_mau = (System.Data.DataTable)ViewBag.cac_bieu_mau;

    var kien_thuc_va_hoi_dap = (System.Data.DataTable)ViewBag.kien_thuc_va_hoi_dap;
}

<section id="wrapper-top-content">
    <div class="banner">
        <img src="/images/banner/@thong_tin_ho_tro_selected.Rows[0]["logo_ho_tro"]" alt="" class="background-banner">
        @*<div class="container">
            @if (thong_tin_ho_tro_selected.Rows[0]["logo_ho_tro"].ToString().Trim() == "Huongdangiaodich.png" || thong_tin_ho_tro_selected.Rows[0]["logo_ho_tro"].ToString().Trim() == "Huongdangiaodichtien.png")
            {
                <h1 class="title-page">@thong_tin_ho_tro_selected.Rows[0]["tieu_de"]</h1>
                
            }
            else
            {
                <h1 class="title-page dark">@thong_tin_ho_tro_selected.Rows[0]["tieu_de"]</h1>
            }
        </div>*@
    </div>
</section>
<section id="wrapper-content" class="inner-page">
    <div class="container">
        <div class="row di-table">
            <div class="sidebar di-table-cell vertical-top desktop">
                <div class="sidebar-box">
                    <div class="title dark">
                        @Website_tvsi_v1.App_Resources.Website.Txt_CustomerServices
                    </div>
                    <div class="wrapper">
                        <ul class="list-unstyled">
                            @if (thong_tin_ho_tro_selected.Rows[0]["danh_muc_ho_troid"].ToString().Trim() == huong_dan_giao_dich.Rows[0]["danh_muc_ho_troid"].ToString().Trim())
                            {
                                <li class="active"><a href="/customer-support/guide-tvsi/@huong_dan_giao_dich.Rows[0]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Txt_GuideOnTradinghotro</a>
                                    <ul class="list-unstyled sub">
                                        @for (int i = 0; i < huong_dan_giao_dich.Rows.Count; i++)
                                        {
                                            if (thong_tin_ho_tro_selected.Rows[0]["thong_tin_ho_troid"].ToString().Trim() == huong_dan_giao_dich.Rows[i]["thong_tin_ho_troid"].ToString().Trim())
                                            {
                                            <li class="active"><a href="/customer-support/guide-tvsi/@huong_dan_giao_dich.Rows[i]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i>@huong_dan_giao_dich.Rows[i]["tieu_de"]</a></li>
                                            }
                                            else
                                            {
                                            <li><a href="/customer-support/guide-tvsi/@huong_dan_giao_dich.Rows[i]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i>@huong_dan_giao_dich.Rows[i]["tieu_de"]</a></li>
                                            }
                                        }
                                    </ul>
                                </li>     
                            }
                            else
                            {
                                <li><a href="/customer-support/guide-tvsi/@huong_dan_giao_dich.Rows[0]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Txt_GuideOnTradinghotro</a></li>                                
                            }

                            @if (thong_tin_ho_tro_selected.Rows[0]["danh_muc_ho_troid"].ToString().Trim() == huong_dan_giao_dich_tien.Rows[0]["danh_muc_ho_troid"].ToString().Trim())
                            {
                                <li class="active"><a href="/customer-support/guide-tvsi/@huong_dan_giao_dich_tien.Rows[0]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Txt_GuideMoneyTradinghotro</a>
                                    <ul class="list-unstyled sub">
                                        <li><a href="/TVSIDocument/TVSI_HD-nop-tien-chung-khoan-tu-VPB.PDF"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Txt_PayVPB</a></li>
                                        @for (int i = 0; i < huong_dan_giao_dich_tien.Rows.Count; i++)
                                        {
                                            if (thong_tin_ho_tro_selected.Rows[0]["thong_tin_ho_troid"].ToString().Trim() == huong_dan_giao_dich_tien.Rows[i]["thong_tin_ho_troid"].ToString().Trim())
                                            {
                                                <li class="active"><a href="/customer-support/guide-tvsi/@huong_dan_giao_dich_tien.Rows[i]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i>@huong_dan_giao_dich_tien.Rows[i]["tieu_de"]</a></li>
                                            }
                                            else
                                            {
                                                <li><a href="/customer-support/guide-tvsi/@huong_dan_giao_dich_tien.Rows[i]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i>@huong_dan_giao_dich_tien.Rows[i]["tieu_de"]</a></li>
                                            }

                                        }
                                    </ul>
                                </li>     
                            }
                            else
                            {
                                <li><a href="/customer-support/guide-tvsi/@huong_dan_giao_dich_tien.Rows[0]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i>@Website_tvsi_v1.App_Resources.Website.Txt_GuideMoneyTradinghotro</a></li>                                
                            }
                            
                            @if (thong_tin_ho_tro_selected.Rows[0]["danh_muc_ho_troid"].ToString().Trim() == huong_dan_tra_cuu.Rows[0]["danh_muc_ho_troid"].ToString().Trim())
                            {
                                <li class="active"><a href="/customer-support/guide-tvsi/@huong_dan_tra_cuu.Rows[0]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i>@huong_dan_tra_cuu.Rows[0]["tieu_de"]</a></li>
                            }
                            else
                            {
                                <li><a href="/customer-support/guide-tvsi/@huong_dan_tra_cuu.Rows[0]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i>@huong_dan_tra_cuu.Rows[0]["tieu_de"]</a></li>
                            }
                            @if (thong_tin_ho_tro_selected.Rows[0]["danh_muc_ho_troid"].ToString().Trim() == cac_bieu_mau.Rows[0]["danh_muc_ho_troid"].ToString().Trim())
                            {
                                <li class="active"><a href="/customer-support/guide-tvsi/@cac_bieu_mau.Rows[0]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i>@cac_bieu_mau.Rows[0]["tieu_de"]</a></li>    
                            }
                            else
                            {
                                <li><a href="/customer-support/guide-tvsi/@cac_bieu_mau.Rows[0]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i>@cac_bieu_mau.Rows[0]["tieu_de"]</a></li>    
                            }

                            @if (thong_tin_ho_tro_selected.Rows[0]["danh_muc_ho_troid"].ToString().Trim() == kien_thuc_va_hoi_dap.Rows[0]["danh_muc_ho_troid"].ToString().Trim())
                            {
                                <li class="active"><a href="/customer-support/guide-tvsi/@kien_thuc_va_hoi_dap.Rows[0]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i>@kien_thuc_va_hoi_dap.Rows[0]["tieu_de"]</a></li>
                            }
                            else
                            {
                                <li><a href="/customer-support/guide-tvsi/@kien_thuc_va_hoi_dap.Rows[0]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i>@kien_thuc_va_hoi_dap.Rows[0]["tieu_de"]</a></li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
            <div class="main-content di-table-cell vertical-top">
                @Html.Raw(thong_tin_ho_tro_selected.Rows[0]["noi_dung"].ToString())
                <script>
                    $(".panel-title a").attr("data-toggle", "collapse");
                    $(".panel-title a").attr("data-parent", "#accordion");
                </script>
                <div class="sidebar di-table-cell vertical-top mobile">
                    <div class="sidebar-box">
                        <div class="title dark">
                            Hỗ trợ
                        </div>
                        <div class="wrapper">
                            <ul class="list-unstyled">
                                @if (thong_tin_ho_tro_selected.Rows[0]["danh_muc_ho_troid"].ToString().Trim() == huong_dan_giao_dich.Rows[0]["danh_muc_ho_troid"].ToString().Trim())
                                {
                                    <li class="active"><a href="/customer-support/guide-tvsi/@huong_dan_giao_dich.Rows[0]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i>Hướng dẫn giao dịch</a>
                                        <ul class="list-unstyled sub">
                                            @for (int i = 0; i < huong_dan_giao_dich.Rows.Count; i++)
                                            {
                                                if (thong_tin_ho_tro_selected.Rows[0]["thong_tin_ho_troid"].ToString().Trim() == huong_dan_giao_dich.Rows[i]["thong_tin_ho_troid"].ToString().Trim())
                                                {
                                                <li class="active"><a href="/customer-support/guide-tvsi/@huong_dan_giao_dich.Rows[i]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i>@huong_dan_giao_dich.Rows[i]["tieu_de"]</a></li>
                                                }
                                                else
                                                {
                                                <li><a href="/customer-support/guide-tvsi/@huong_dan_giao_dich.Rows[i]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i>@huong_dan_giao_dich.Rows[i]["tieu_de"]</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>     
                                }
                                else
                                {
                                    <li><a href="/customer-support/guide-tvsi/@huong_dan_giao_dich.Rows[0]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i>Hướng dẫn giao dịch</a></li>                                
                                }

                                @if (thong_tin_ho_tro_selected.Rows[0]["danh_muc_ho_troid"].ToString().Trim() == huong_dan_giao_dich_tien.Rows[0]["danh_muc_ho_troid"].ToString().Trim())
                                {
                                    <li class="active"><a href="/customer-support/guide-tvsi/@huong_dan_giao_dich_tien.Rows[0]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i>Hướng dẫn giao dịch tiền</a>
                                        <ul class="list-unstyled sub">
                                            @for (int i = 0; i < huong_dan_giao_dich_tien.Rows.Count; i++)
                                            {
                                                if (thong_tin_ho_tro_selected.Rows[0]["thong_tin_ho_troid"].ToString().Trim() == huong_dan_giao_dich_tien.Rows[i]["thong_tin_ho_troid"].ToString().Trim())
                                                {
                                                <li class="active"><a href="/customer-support/guide-tvsi/@huong_dan_giao_dich_tien.Rows[i]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i>@huong_dan_giao_dich_tien.Rows[i]["tieu_de"]</a></li>
                                                }
                                                else
                                                {
                                                <li><a href="/customer-support/guide-tvsi/@huong_dan_giao_dich_tien.Rows[i]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i>@huong_dan_giao_dich_tien.Rows[i]["tieu_de"]</a></li>
                                                }

                                            }
                                        </ul>
                                    </li>     
                                }
                                else
                                {
                                    <li><a href="/customer-support/guide-tvsi/@huong_dan_giao_dich_tien.Rows[0]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i>Hướng dẫn giao dịch tiền</a></li>                                
                                }
                                @if (thong_tin_ho_tro_selected.Rows[0]["danh_muc_ho_troid"].ToString().Trim() == huong_dan_tra_cuu.Rows[0]["danh_muc_ho_troid"].ToString().Trim())
                                {
                                    <li class="active"><a href="/customer-support/guide-tvsi/@huong_dan_tra_cuu.Rows[0]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i>@huong_dan_tra_cuu.Rows[0]["tieu_de"]</a></li>
                                }
                                else
                                {
                                    <li><a href="/customer-support/guide-tvsi/@huong_dan_tra_cuu.Rows[0]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i>@huong_dan_tra_cuu.Rows[0]["tieu_de"]</a></li>
                                }
                                @if (thong_tin_ho_tro_selected.Rows[0]["danh_muc_ho_troid"].ToString().Trim() == cac_bieu_mau.Rows[0]["danh_muc_ho_troid"].ToString().Trim())
                                {
                                    <li class="active"><a href="/customer-support/guide-tvsi/@cac_bieu_mau.Rows[0]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i>@cac_bieu_mau.Rows[0]["tieu_de"]</a></li>    
                                }
                                else
                                {
                                    <li><a href="/customer-support/guide-tvsi/@cac_bieu_mau.Rows[0]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i>@cac_bieu_mau.Rows[0]["tieu_de"]</a></li>    
                                }

                                @if (thong_tin_ho_tro_selected.Rows[0]["danh_muc_ho_troid"].ToString().Trim() == kien_thuc_va_hoi_dap.Rows[0]["danh_muc_ho_troid"].ToString().Trim())
                                {
                                    <li class="active"><a href="/customer-support/guide-tvsi/@kien_thuc_va_hoi_dap.Rows[0]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i>@kien_thuc_va_hoi_dap.Rows[0]["tieu_de"]</a></li>
                                }
                                else
                                {
                                    <li><a href="/customer-support/guide-tvsi/@kien_thuc_va_hoi_dap.Rows[0]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i>@kien_thuc_va_hoi_dap.Rows[0]["tieu_de"]</a></li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
