﻿            
@{
    var huong_dan_giao_dich = (System.Data.DataTable)ViewBag.huong_dan_giao_dich;

    var huong_dan_giao_dich_tien = (System.Data.DataTable)ViewBag.huong_dan_giao_dich_tien;

    var huong_dan_tra_cuu = (System.Data.DataTable)ViewBag.huong_dan_tra_cuu;

    var cac_bieu_mau = (System.Data.DataTable)ViewBag.cac_bieu_mau;

    var kien_thuc_va_hoi_dap = (System.Data.DataTable)ViewBag.kien_thuc_va_hoi_dap;
}
        
           <div class="wrapper">
               <ul class="list-unstyled">
                   <li><a href="/customer-support/guide-tvsi/@huong_dan_giao_dich.Rows[0]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_GuideOnTradinghotro</a></li>
                   <li><a href="/customer-support/guide-tvsi/@huong_dan_giao_dich_tien.Rows[0]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_GuideMoneyTradinghotro</a></li>
                   <li><a href="/customer-support/guide-tvsi/@huong_dan_tra_cuu.Rows[0]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_GuideSearchManagementhotro</a></li>
                   <li><a href="/customer-support/guide-tvsi/@cac_bieu_mau.Rows[0]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Text_DocumentForm</a></li>
                   <li class="active">
                       <a href="/customer-support/guide-tvsi/@kien_thuc_va_hoi_dap.Rows[0]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_KnowledgeFaqshotro</a>
                       <ul class="list-unstyled sub">
                           <li ><a href="/customer-support/answer-faq"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_FAQs</a></li>
                           <li class="active"><a href="/customer-support/answer-knowledge"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_knowledge</a></li>
                           <li><a href="/customer-support/answer-experience"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_Sharing</a></li>
                       </ul>
                   </li>
               </ul>
            </div>