﻿            
@{
    var huong_dan_giao_dich = (System.Data.DataTable)ViewBag.huong_dan_giao_dich;

    var huong_dan_giao_dich_tien = (System.Data.DataTable)ViewBag.huong_dan_giao_dich_tien;

    var huong_dan_tra_cuu = (System.Data.DataTable)ViewBag.huong_dan_tra_cuu;

    var cac_bieu_mau = (System.Data.DataTable)ViewBag.cac_bieu_mau;

    var kien_thuc_va_hoi_dap = (System.Data.DataTable)ViewBag.kien_thuc_va_hoi_dap;
}
        
           <div class="wrapper">
                        <ul class="list-unstyled">
                            <li class="active">
                                <a href="/customer-support/guide-tvsi/@huong_dan_giao_dich.Rows[0]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_GuideOnTradinghotro</a>
                                <ul class="list-unstyled sub">
                                    @for (int i = 0; i < huong_dan_giao_dich.Rows.Count; i++)
                                    {
                                        if (huong_dan_giao_dich.Rows[i]["thu_tu_hien_thi"].ToString() == "2")
                                        {
                                            <li class="active"><a href="/customer-support/guide-tvsi/@huong_dan_giao_dich.Rows[i]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i> @huong_dan_giao_dich.Rows[i]["tieu_de"]</a></li>        
                                        }else
                                        {
                                            <li><a href="/customer-support/guide-tvsi/@huong_dan_giao_dich.Rows[i]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i> @huong_dan_giao_dich.Rows[i]["tieu_de"]</a></li>        
                                        }    
                                    }
                                </ul>
                            </li>
                            <li><a href="/customer-support/guide-tvsi/@huong_dan_giao_dich_tien.Rows[0]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_GuideMoneyTradinghotro</a></li>
                            <li><a href="/customer-support/guide-tvsi/@huong_dan_tra_cuu.Rows[0]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_GuideSearchManagementhotro</a></li>
                            <li><a href="/customer-support/guide-tvsi/@cac_bieu_mau.Rows[0]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Text_DocumentForm</a></li>
                            <li><a href="/customer-support/guide-tvsi/@kien_thuc_va_hoi_dap.Rows[0]["thong_tin_ho_troid"]"><i class="fa fa-caret-right"></i> @Website_tvsi_v1.App_Resources.Website.Txt_KnowledgeFaqshotro</a></li>
                        </ul>
            </div>