﻿@{
    Layout = "~/Views/Home/Share/_Layout.cshtml";
    var thong_tin_ho_tro = (System.Data.DataTable)ViewBag.thong_tin_ho_tro;
    var beta = "";
}
<section id="wrapper-top-content">
    <div class="banner">
        <img src="@beta/images/banner/Huongdangiaodichtien.png" alt="" class="background-banner">
        <div class="container">
            <h1 class="title-page">Hướng dẫn giao dịch tiền</h1>
        </div>
    </div>
</section>
<section id="wrapper-content" class="inner-page">
    <div class="container">
        <div class="row di-table">
            <div class="sidebar di-table-cell vertical-top">
                <div class="sidebar-box">
                    <div class="title">
                        Hỗ trợ
                    </div>
                    @{Html.RenderAction("navigationHDgiaodichtien", "hotro");}
                </div>
            </div>
            <div class="detail-content has-title-part">

                <div class="part">
                    <p style="font-size: 18px; color: #414141"><strong>Khách hàng có thể nộp tiền vào tài khoản chứng khoán tại TVSI dưới hai hình thức: Nộp tiền mặt hoặc chuyển khoản</strong></p>
                    <h3 class="title">NỘP TIỀN MẶT TRỰC TIẾP</h3>
                    <div class="wrapper">
                        <p>
                            <strong>> Nộp tiền mặt trực tiếp tại các điểm giao dịch của TVSI</strong><br>
                            Khách hàng đến các địa điểm giao dịch của TVSI và làm theo hướng dẫn <a style="color:blue;" onclick="openMangLuoi();" href="#mangluoi_container">Tại đây</a>.<br>
                            <strong>> Nộp tiền mặt vào tài khoản phục vụ nhà đầu tư mà TVSI mở tại các Ngân hàng</strong><br>
                            Khách hàng có thể đến các Ngân hàng trên toàn quốc và nộp tiền vào tài khoản phục vụ nhà đầu tư mà TVSI mở tại các Ngân hàng (Danh sách tài khoản xem tại <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" id="a_collapseOne" onclick="gotoPhuLuc('a_collapseOne');">
                                <span style="color:blue;">Phụ lục dưới đây</span>
                            </a>).<br>
                            Nội dung giấy nộp tiền ghi như sau:<br>
                            &nbsp;&nbsp;- Tên người hưởng: Công ty Cổ phần Chứng khoán Tân Việt<br>
                            &nbsp;&nbsp;- Số tài khoản   : <br>
                            &nbsp;&nbsp;- Tại Ngân hàng  : <br>
                            &nbsp;&nbsp;- Nội dung	: Chuyển tiền cho ……… (tên khách hàng) ….. Số tài khoản…..(số tài khoản giao dịch của khách hàng tại TVSI)<br>
                            Ví dụ: Khách hàng Nguyễn Văn A có tài khoản giao dịch số 044C000001 chuyển 10 triệu đồng đến tài khoản của mình tại TVSI như sau:<br>
                            Số tiền&nbsp;&nbsp;: 10 triệu đồng<br>
                            Tên người hưởng&nbsp;&nbsp;: Công ty Cổ phần Chứng khoán Tân Việt<br>
                            Số tài khoản&nbsp;&nbsp;: 0430100092100002<br>
                            Tại&nbsp;&nbsp;: Ngân hàng TMCP Sài Gòn - Chi nhánh Hai Bà Trưng, Hà Nội<br>
                            Nội dung&nbsp;&nbsp;: Chuyển tiền cho Nguyễn Văn A, số tài khoản 044C000001<br>
                        </p>
                    </div>
                    <h3 class="title">CHUYỂN KHOẢN VÀO TÀI KHOẢN NGÂN HÀNG</h3>
                    <div class="wrapper">
                        <p>
                            Khách hàng chuyển tiền vào các tài khoản phục vụ nhà đầu tư mà TVSI mở tại các Ngân hàng (Danh sách tài khoản xem tại <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" id="a_collapseOne">
                                <span style="color:blue;">Phụ lục</span>
                            </a>). Nội dung chuyển tiền viết giống như hướng dẫn nêu trên.<br>
                            Khách hàng cũng có thể chuyển tiền vào tài khoản từ một tài khoản chứng khoán khác mở cùng tại TVSI.<br>
                        </p>
                    </div>

                    <div class="wrapper">
                        <div class="panel-group guide-panels" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel item" id="panel_item">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" id="a_collapseOne">
                                            <i class="fa fa-angle-right"></i><span><strong>Phụ lục : Danh sách các tài khoản phục vụ nhà đầu tư TVSI mở tại các Ngân hàng</strong></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingOne">
                                    <div class="table" id="table_collapseOne">
                                        <table class="table table-default hs-stt">
                                            <thead>
                                                <tr>
                                                    <th>Tỉnh, Thành phố</th>
                                                    <th>Ngân hàng</th>
                                                    <th>Số tài khoản</th>
                                                    <th>Tên tài khoản</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td rowspan="8"><strong>Hà Nội</strong> </td>
                                                    <td style="text-align:left">Ngân hàng TMCP Sài Gòn - Chi nhánh Hai Bà Trưng, Hà Nội</td>
                                                    <td>0430100092100002</td>
                                                    <td>CTCP Chứng khoán Tân Việt</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left">Ngân hàng TMCP Ngoại Thương Viêt Nam – Hội Sở Chính</td>
                                                    <td>0011001954698</td>
                                                    <td>CTCP Chứng khoán Tân Việt</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left">Ngân hàng TMCP Đầu tư và Phát triển VN - Chi nhánh Hà Thành</td>
                                                    <td>12210000647380</td>
                                                    <td>CTCP Chứng khoán Tân Việt</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left">Ngân hàng TMCP Đầu tư và Phát triển VN - Chi nhánh Ba Đình</td>
                                                    <td>12610000161365</td>
                                                    <td>CTCP Chứng khoán Tân Việt</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left">Ngân hàng TMCP Quân đội – Chi nhánh Xuân Thủy, Cầu Giấy Hà Nội</td>
                                                    <td>0081111368368</td>
                                                    <td>CTCP Chứng khoán Tân Việt</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left">Ngân hàng TMCP Quân đội – Chi nhánh Hoàn Kiếm, Hà Nội</td>
                                                    <td>0571102713009</td>
                                                    <td>CTCP Chứng khoán Tân Việt</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left">Ngân hàng TMCP Bảo Việt – Chi nhánh Hà Nội</td>
                                                    <td>0061066868003</td>
                                                    <td>CTCP Chứng khoán Tân Việt</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left">Techcom bank – Chi nhánh Thụy Khuê, Tây Hồ, Hà Nội</td>
                                                    <td>19025894473022</td>
                                                    <td>CTCP Chứng khoán Tân Việt</td>
                                                </tr>
                                                <tr>
                                                    <td rowspan="1"><strong>Đà Nẵng</strong> </td>
                                                    <td style="text-align:left">
                                                        Ngân hàng TMCP Đông Nam Á (SeaBank) - Chi nhánh Đà Nẵng
                                                    </td>
                                                    <td>40400000222268</td>
                                                    <td>CTCP Chứng khoán Tân Việt</td>
                                                </tr>
                                                <tr>
                                                    <td rowspan="2"><strong>Hải Phòng</strong></td>
                                                    <td style="text-align:left">Ngân hàng TMCP Ngoại Thương Viêt Nam - Chi nhánh Hải Phòng</td>
                                                    <td>0031000911590</td>
                                                    <td>CTCP Chứng khoán Tân Việt</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left">Ngân hàng TMCP Sài Gòn - Chi nhánh Hải Phòng</td>
                                                    <td>0910100092100001</td>
                                                    <td>CTCP Chứng khoán Tân Việt</td>
                                                </tr>
                                                <tr>
                                                    <td rowspan="1"><strong>Bình Định</strong></td>
                                                    <td style="text-align:left">Ngân hàng TMCP Sài Gòn - Chi nhánh Quy Nhơn</td>
                                                    <td>0600100092100001</td>
                                                    <td>CTCP Chứng khoán Tân Việt</td>
                                                </tr>
                                                <tr>
                                                    <td rowspan="4"><strong>Hồ Chí Minh</strong></td>
                                                    <td style="text-align:left">Ngân hàng TMCP Ngoại Thương Viêt Nam - Chi nhánh Hồ Chí Minh </td>
                                                    <td>0071004663960</td>
                                                    <td>CTCP Chứng khoán Tân Việt</td>

                                                </tr>
                                                <tr>
                                                    <td style="text-align:left">Ngân hàng TMCP Sài Gòn – Chi nhánh Cống Quỳnh</td>
                                                    <td>0010100092100002</td>
                                                    <td>CTCP Chứng khoán Tân Việt</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left">Ngân hàng TMCP Sài Gòn – Chi nhánh Chợ Lớn</td>
                                                    <td>0030100092100001</td>
                                                    <td>CTCP Chứng khoán Tân Việt</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left">Ngân hàng TMCP Sài Gòn – Chi nhánh Tân Bình</td>
                                                    <td>0350100092100001</td>
                                                    <td>CTCP Chứng khoán Tân Việt</td>
                                                </tr>
                                                <tr>
                                                    <td rowspan="1"><strong>ĐakLak</strong></td>
                                                    <td style="text-align:left">Ngân hàng TMCP Ngoại Thương Việt Nam – Chi nhánh ĐakLak</td>
                                                    <td>0231000562496</td>
                                                    <td>CTCP Chứng khoán Tân Việt</td>
                                                </tr>
                                                <tr>
                                                    <td rowspan="1"><strong>Vĩnh Long</strong></td>
                                                    <td style="text-align:left">Ngân hàng TMCP Sài Gòn – Chi nhánh Vĩnh Long</td>
                                                    <td>0550100092100001</td>
                                                    <td>CTCP Chứng khoán Tân Việt</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
